#UI BMS4, created by Revientor and Amraam (2009)
#Modified by Dee-Jay 25/08/2019 : Clock window ZULU / LOCAL TIME update
#This window displays the "Squadron Info".

[WINDOW]
[SETUP] AIR_UNIT_WIN C_TYPE_NORMAL 356 488
[XY] "centralized" 
[RANGES] 0 0 1920 1080 356 488
[FONT] HAETTEN_18
[CLIENTAREA] 22 318 10 87 0
[CLIENTAREA] 149 155 183 175 1 "pilot list"
[GROUP] 7600
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 353 22 2 "Titlebar"

[TILE] 
[SETUP] NID 0 SQUADRON 
[XYWH] 0 0 356 488
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 330 4
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7600
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON

[TEXT] "Aircraft Type + Squadron ie F-16C Squadron"
[SETUP] UNIT_TITLE C_TYPE_LEFT
[FIXEDWIDTH] 60
[SETTEXT] TXT_EMPTY
[XY] 10 0
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] OCR_EXT_24

[TEXT] "Squadron designation: 111st Fighter Squadron" 
[SETUP] UNIT_NAME C_TYPE_LEFT
[FIXEDWIDTH] 60
[SETTEXT] TXT_EMPTY
[XY] 204 34
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FONT] OCR_EXT_14

[BITMAP]
[SETUP] UNIT_ICON 0 0
[XY] 36 58
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER
[FLAGBITON] C_BIT_ABSOLUTE

#[TEXT] "ie Pukin Puppies" 
#[SETUP] UNIT_MOTTO C_TYPE_LEFT
#[SETTEXT] TXT_EMPTY
#[XY] 180 62
#[FGCOLOR] 0 0 0
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_HCENTER
#[FONT] OCR_EXT_12

[BUTTON]
[SETUP] UNIT_SQUADRON_TAB, C_TYPE_RADIO, 81 267
[IMAGES] SQNBUT3A, SQNBUT3, NULL, NULL
[STATE] 1
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 7600 "Enable"
[USERDATA] C_STATE_1 7601 "Disable the rest"
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] UNIT_PILOT_TAB, C_TYPE_RADIO, 81 364
[IMAGES] SQNBUT4A, SQNBUT4, NULL, NULL
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 7601 "Enable"
[USERDATA] C_STATE_1 7600 "Disable the rest"
[CURSOR] CRSR_F16_ON

#[BITMAP]
#[SETUP] NID 0 AF_SYMBOL
#[XY] 30 162
#[COLOR] 66 132 173
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_HCENTER
#[CLUSTER] 7600

[BITMAP] "Patch"
[SETUP] UNIT_PATCH
[XY] 60 208
[COLOR] 57 74 107
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER
[CLUSTER] 7600

[BITMAP] "Picture"
[SETUP] UNIT_PICTURE
[XY] 60 208
[COLOR] 57 74 107
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER
[CLUSTER] 7601

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_OWNER
[XY] 6 90
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] UNIT_OWNER C_TYPE_RIGHT
[FIXEDWIDTH] 20
[SETTEXT] TXT_EMPTY
[XY] 84 90
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_BASE
[XY] 6 110
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON] 
[SETUP] UNIT_AIRBASE C_TYPE_RIGHT
[XY] 84 110
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_ROLE
[XY] 6 130
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] UNIT_ROLE C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 84 130
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AIRCRAFT
[XY] 110 153
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

[TEXT] 
[SETUP] UNIT_NUM_AIRCRAFT C_TYPE_RIGHT
[FIXEDWIDTH] 10
[SETTEXT] TXT_EMPTY
[XY] 233 153
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PILOTS
[XY] 110 173
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

[TEXT] 
[SETUP] UNIT_NUM_PILOTS C_TYPE_RIGHT
[FIXEDWIDTH] 10
[SETTEXT] TXT_EMPTY
[XY] 233 173
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_EXPERIENCE
[XY] 110 193
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

[LISTBOX] 
[SETUP] UNIT_EXPERIENCE 0
[XYWH] 228 193 117 16
[NORMCOLOR] 230 230 230
[SELCOLOR] 200 240 250
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[ADDITEM] C_STATE_5 C_TYPE_ITEM TXT_ELITE
[ADDITEM] C_STATE_4 C_TYPE_ITEM TXT_VETERANS
[ADDITEM] C_STATE_3 C_TYPE_ITEM TXT_REGULARS
[ADDITEM] C_STATE_2 C_TYPE_ITEM TXT_RESERVES
[ADDITEM] C_STATE_1 C_TYPE_ITEM TXT_RECRUITS
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600
[SOUNDBITE] SND_MENU C_STATE_DOWN
[FLAGBITOFF] C_BIT_ENABLED
[CURSOR] CRSR_LIST_F16

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_MORALE
[XY] 110 213
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

[LISTBOX] 
[SETUP] UNIT_MORALE 0
[XYWH] 228 213 117 16
[NORMCOLOR] 230 230 230
[SELCOLOR] 200 240 250
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[ADDITEM] MORALE_HIGH C_TYPE_ITEM TXT_HIGH
[ADDITEM] MORALE_NORMAL C_TYPE_ITEM TXT_NORMAL
[ADDITEM] MORALE_LOW C_TYPE_ITEM TXT_LOW
[ADDITEM] MORALE_BROKEN C_TYPE_ITEM TXT_BROKEN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600
[FLAGBITOFF] C_BIT_ENABLED
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16

#SUPPLY LEVEL
[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SUPPLY
[XY] 110 233
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

[LISTBOX] 
[SETUP] UNIT_SUPPLY 0
[XYWH] 228 233 117 16
[NORMCOLOR] 230 230 230
[SELCOLOR] 200 240 250
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[ADDITEM] SUPPLY_FULL C_TYPE_ITEM TXT_FULL
[ADDITEM] SUPPLY_NORMAL C_TYPE_ITEM TXT_NORMAL
[ADDITEM] SUPPLY_LOW C_TYPE_ITEM TXT_LOW
[ADDITEM] SUPPLY_CRITICAL C_TYPE_ITEM TXT_CRITICAL
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600
[SOUNDBITE] SND_MENU C_STATE_DOWN
[FLAGBITOFF] C_BIT_ENABLED
[CURSOR] CRSR_LIST_F16

#NEXT SUPPLY DATE
[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_NEXT_RESUPPLY_DATE
[XY] 110 253
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

[TEXT] 
[SETUP] UNIT_RESUPPLY_DATE C_TYPE_RIGHT
[FIXEDWIDTH] 10
[SETTEXT] TXT_EMPTY
[XY] 233 253
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_ZULU_TIME
[XY] 280 253
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_14
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

#LAST SUPPLIED AIRCRAFT
[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_LAST_RESUPPLY
[XY] 110 273
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

[TEXT] 
[SETUP] UNIT_LAST_AIRCRAFT_RECEIVED C_TYPE_RIGHT
[FIXEDWIDTH] 2
[SETTEXT] TXT_EMPTY
[XY] 233 273
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AIRCRAFT
[XY] 336 273
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT
[CLUSTER] 7600

#AIRCRAFT LOSSES
[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AIRCRAFT_LOSSES
[XY] 110 293
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

[TEXT] 
[SETUP] UNIT_AIRCRAFT_LOSSES C_TYPE_RIGHT
[FIXEDWIDTH] 10
[SETTEXT] TXT_EMPTY
[XY] 233 293
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

#PILOT LOSSES
[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PILOT_LOSSES
[XY] 110 313
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

[TEXT] 
[SETUP] UNIT_PILOT_LOSSES C_TYPE_RIGHT
[FIXEDWIDTH] 10
[SETTEXT] TXT_EMPTY
[XY] 233 313
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 7600

#MISSION FLOWN
[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_MISSIONSFLOWN
[XY] 110 333
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] UNIT_NUM_MISSIONS C_TYPE_RIGHT
[FIXEDWIDTH] 10
[SETTEXT] TXT_EMPTY
[XY] 233 333
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_MISSIONRATING
[XY] 110 353
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] UNIT_AVG_RATING C_TYPE_RIGHT
[FIXEDWIDTH] 10
[SETTEXT] TXT_EMPTY
[XY] 233 353
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AA_KILLS
[XY] 110 373
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] UNIT_A_A_KILLS C_TYPE_RIGHT
[FIXEDWIDTH] 10
[SETTEXT] TXT_EMPTY
[XY] 233 373
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AG_KILLS
[XY] 110 393
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] UNIT_A_G_KILLS C_TYPE_RIGHT
[FIXEDWIDTH] 10
[SETTEXT] TXT_EMPTY
[XY] 233 393
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_NAVALKILLS
[XY] 110 413
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] UNIT_NAVAL_KILLS C_TYPE_RIGHT
[FIXEDWIDTH] 10
[SETTEXT] TXT_EMPTY
[XY] 233 413
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_STATICTARGETS
[XY] 110 433
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] UNIT_STATIC_KILLS C_TYPE_RIGHT
[FIXEDWIDTH] 10
[SETTEXT] TXT_EMPTY
[XY] 233 433
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PLAYERS_COLON
[XY] 14 414
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] UNIT_PLAYERS C_TYPE_RIGHT
[FIXEDWIDTH] 10
[SETTEXT] TXT_EMPTY
[XY] 39 432
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER

[BUTTON] 
[SETUP] FIND_UNIT, C_TYPE_NORMAL, 248 458
[IMAGES] SQNBUT2 SQNBUT2 NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_FIND
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

[BOX] "Pilot list"
[SETUP] NID 0
[XYWH] 147 153 183 176
[COLOR] 180 180 180 GREY
[CLUSTER] 7601
[FLAGBITON] C_BIT_ABSOLUTE

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 336 153 13 176 
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 1
[CLUSTER] 7601
[INCREMENT] 17
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON

[TREELIST]
[SETUP] UNIT_PILOTLIST
[FONT] OCR_EXT_12
[XY] 5 2
[CLIENT] 1
[XOFFSET] 0
[YOFFSET] 17
[CLUSTER] 7601
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] SQD_HUMAN_TAB C_TYPE_TOGGLE 125 65
[IMAGES] BID_CHK1_OFF BID_CHK1_ON NULL NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[LABELFLAGBITON] C_BIT_RIGHT
[LABELALL] TXT_HQ_FLAG
[TEXTCOLOR] C_STATE_0 230 230 230
[TEXTCOLOR] C_STATE_1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 230 230 230
[TEXTOFFSET] C_STATE_UP -25 0
[TEXTOFFSET] C_STATE_DOWN -25 0
[TEXTOFFSET] C_STATE_DISABLED -25 0
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] SQD_AUTO_RELOCATE_TAB C_TYPE_TOGGLE 240 65
[IMAGES] BID_CHK1_OFF BID_CHK1_ON NULL NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[LABELFLAGBITON] C_BIT_RIGHT
[LABELALL] TXT_AUTO_RELOCATE
[TEXTCOLOR] C_STATE_0 230 230 230
[TEXTCOLOR] C_STATE_1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 230 230 230
[TEXTOFFSET] C_STATE_UP -25 0
[TEXTOFFSET] C_STATE_DOWN -25 0
[TEXTOFFSET] C_STATE_DISABLED -25 0
[CURSOR] CRSR_F16_ON

[BUTTON] 
[SETUP] UNIT_JOIN_SQD, C_TYPE_NORMAL, 140 458
[IMAGES] SQNBUT1 SQNBUT1 NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_JOIN
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON
