#UI BMS4, created by Revientor and Amraam (2009)
#This window displays the ATO window in Campaign and TE.

[WINDOW]
[SETUP] ATO_WIN C_TYPE_NORMAL 456 708
[XY] 118 60
[DRAGH] 25
[RANGES] 0 0 1024 768 456 708
[CLIENTAREA] 9 37 417 632 0
[CLIENTAREA] 2 2 452 22 3 "Titlebar"
[FONT] OCR_EXT_14
[GROUP] 7001
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT

[TILE]
[SETUP] NID 0 ATO
[XYWH] 0 0 456 708
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ATO_TITLE
[XY] 6 3
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 432 38 13 630
[FLAGBITON] C_BIT_ABSOLUTE
[CLIENT] 0
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLUSTER] 100
[INCREMENT] 22
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON

[BUTTON]
[SETUP] ALL_CTRL C_TYPE_TOGGLE 317 678
[IMAGES] BID_CHK1_OFF BID_CHK1_ON NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[USERDATA] C_STATE_0 100
[USERDATA] C_STATE_1 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ATO_1
[XY] 143 678
[FGCOLOR] 230 230 230
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 429 3
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7001
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE

#[BUTTON] "Request"
#[SETUP] ATO_REQUEST, C_TYPE_NORMAL, 290 524
#[IMAGES] BID_COMMS_LARGE_UP, BID_COMMS_LARGE_DOWN NULL, BID_COMMS_LARGE_UP
#[FLAGBITON] C_BIT_ABSOLUTE
#[LABELALL] TXT_REQUEST
#[FONT] BANK_GOTHIC_16
#[UPCOLOR] 191 191 191
#[DOWNCOLOR] 0 255 0 GREEN
#[DISCOLOR] 102 102 102
#[TEXTOFFSET] C_STATE_UP 0 -1
#[TEXTOFFSET] C_STATE_DOWN -1 0
#[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN

#[TEXT]
#[SETUP] NID C_TYPE_LEFT
#[SETTEXT] TXT_AIRBASES NULL
#[XY] 15 348
#[FGCOLOR] 81 160 217 LIGHT BLUE BLUE
#[FONT] HAETTEN_16
#[FLAGBITON] C_BIT_ABSOLUTE

#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_FLT_SIZE
#[XY] 158 524
#[FGCOLOR] 81 160 217 LIGHT BLUE BLUE
#[FONT] HAETTEN_16
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_RIGHT

#[LISTBOX]
#[SETUP] ATO_FLT_SIZE 0
#[XYWH] 173 524 35 20
#[FLAGBITON] C_BIT_USEBGFILL
#[FLAGBITON] C_BIT_ABSOLUTE
#[NORMCOLOR] 0 255 0 GREEN
#[SELCOLOR] 255 255 0 YELLOW
#[FONT] OCR_EXT_12
#[DROPDOWN] BID_DROPDOWN
#[BGIMAGE] LISTBACK_TGA
#[IMAGES] LYT_LISTBOX_UP,LYT_LISTBOX_DOWN,LYT_LISTBOX_SEL,LYT_LISTBOX_DIS
#[ADDITEM] ONE_SHIP C_TYPE_ITEM TXT_ONE
#[ADDITEM] TWO_SHIP C_TYPE_ITEM TXT_TWO
#[ADDITEM] THREE_SHIP C_TYPE_ITEM TXT_THREE
#[ADDITEM] FOUR_SHIP C_TYPE_ITEM TXT_FOUR
#[SOUNDBITE] SND_MENU C_STATE_DOWN

#[BOX]
#[SETUP] NID 0
#[XYWH] 163 524 51 21
#[FLAGBITON] C_BIT_ABSOLUTE
#[COLOR] 65 128 173

#[BOX]
#[SETUP] NID 0
#[XYWH] 408 367 0 154
#[FLAGBITON] C_BIT_ABSOLUTE
#[COLOR] 65 128 173

#[SCROLLBAR]
#[SETUP] NID,C_TYPE_VERTICAL
#[XYWH] 402 367 13 155
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLIENT] 1
#[SLIDERIMAGE] BID_SCROLL
#[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
#[BGLINE] 134 134 134
#[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
#[CURSOR] CRSR_VDRAG_ON
#[DRAGCURSOR] CRSR_VDRAG_ON

[TREELIST]
[SETUP] ATO_PACKAGE_TREE 0
[FONT] OCR_EXT_12
[XY] 5 3
[CLIENT] 0
[XOFFSET] 15
[YOFFSET] 17
[CLUSTER] 100
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[CURSOR] CRSR_F16_ON

[TREELIST]
[SETUP] ATO_ALL_TREE 0
[FONT] OCR_EXT_12
[XY] 5 3
[CLIENT] 0
[XOFFSET] 15
[YOFFSET] 17
[CLUSTER] 200
[FLAGBITON] C_BIT_INVISIBLE
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[CURSOR] CRSR_F16_ON

[TREELIST]
[SETUP] ALL_SQUADRON_TREE 0
[XY] 5 3
[CLIENT] 1
[FONT] OCR_EXT_12
[XOFFSET] 15
[YOFFSET] 17
[CLUSTER] 300
[FLAGBITON] C_BIT_INVISIBLE
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[CURSOR] CRSR_F16_ON