#UI BMS4, created by Revientor (2009)
#Modified by Dee-Jay 28/02/2018

[WINDOW]
[SETUP] CSECT_LIN_WIN C_TYPE_NORMAL 740 603
[XY] 8 81
[CLIENTAREA] 0 0 740 603 0
[CLIENTAREA] 0 0 726 589 1
[FONT] HAETTEN_18
[GROUP] 6402
#[FLAGBITON] C_BIT_TRANSLUCENT
#[RANGES] 0 0 1024 768 740 603
#[FLAGBITON] C_BIT_DRAGABLE
#[DRAGH] 603

[LINE] "Bottom Black Rectangle"
[SETUP] NID 0
[XYWH] 0 589 740 14
[COLOR] 0 0 0
[CLIENT] 0

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_CSECT_1_COLON
[XY] 178 589
[FONT] OCR_EXT_12
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 0

[TEXT]
[SETUP] DISTANCE_FIELD C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XY] 178 589
[FONT] OCR_EXT_12
[FGCOLOR] 230 230 230
[CLIENT] 0

#Commented out cause it weren't implemented
#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_CSECT_2_COLON
#[XY] 370 589
#[FONT] OCR_EXT_12
#[FGCOLOR] 230 230 230
#[FLAGBITON] C_BIT_RIGHT


#[TEXT]
#[SETUP] FUEL_FIELD C_TYPE_LEFT
#[SETTEXT] TXT_EMPTY
#[XY] 370 589
#[FONT] OCR_EXT_12
#[FGCOLOR] 230 230 230

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_CSECT_3_COLON
[XY] 562 589
[FONT] OCR_EXT_12
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 0

[TEXT]
[SETUP] DURATION_FIELD C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XY] 562 589
[FONT] OCR_EXT_12
[FGCOLOR] 230 230 230
[CLIENT] 0
[FILL]
[SETUP] NID 0
[XYWH] 0 39 747 31
[COLOR] 23 35 104
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 100

[LINE]
[SETUP] NID 0
[XYWH] 0 50 740 1
[COLOR] 0 0 0
[CLUSTER] 100

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_10K
[XY] 0 48
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLUSTER] 100

[LINE]
[SETUP] NID 0
[XYWH] 0 38 740 1
[COLOR] 43 86 114
[CLUSTER] 100

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_20K
[XY] 0 36
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLUSTER] 100

[FILL]
[SETUP] NID 0
[XYWH] 0 25 740 13
[COLOR] 22 28 93
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 100

[LINE]
[SETUP] NID 0
[XYWH] 25 30 715 1
[COLOR] 43 86 114
[CLUSTER] 100

[LINE]
[SETUP] NID 0
[XYWH] 0 24 740 1
[COLOR] 43 86 114
[CLUSTER] 100

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_40K
[XY] 0 22
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLUSTER] 100

[FILL]
[SETUP] NID 0
[XYWH] 0 15 740 9
[COLOR] 21 19 80
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 100

[LINE]
[SETUP] NID 0
[XYWH] 25 18 715 1
[COLOR] 43 86 114
[CLUSTER] 100

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_60K
[XY] 0 12
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLUSTER] 100

[LINE] "60k"
[SETUP] NID 0
[XYWH] 0 14 740 1
[COLOR] 43 86 114
[CLUSTER] 100

[FILL]
[SETUP] NID 0
[XYWH] 0 1 740 13
[COLOR] 20 10 67
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 100

[LINE]
[SETUP] NID 0
[XYWH] 25 10 715 1
[COLOR] 43 86 114
[CLUSTER] 100

[LINE]
[SETUP] NID 0
[XYWH] 25 7 715 1
[COLOR] 43 86 114
[CLUSTER] 100

[LINE]
[SETUP] NID 0
[XYWH] 25 4 715 1
[COLOR] 43 86 114
[CLUSTER] 100

[LINE] "100k"
[SETUP] NID 0
[XYWH] 0 2 740 1
[COLOR] 43 86 114
[CLUSTER] 100

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_100K
[XY] 0 0
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLUSTER] 100

[LINE]
[SETUP] NID 0
[XYWH] 0 0 740 1
[COLOR] 43 86 114
[CLUSTER] 100

#The linear CSECTION starts here

#Everything from here down is different than the log window
[LINE] "Altitude area"
[SETUP] NID, C_TYPE_VERTICAL
[XYWH] 725 0 15 589
[COLOR] 0 0 0
[FLAGBITON] C_BIT_ABSOLUTE
[CLIENT] 1
[CLUSTER] 200

#[LINE] "Altitude area"
#[SETUP] NID, C_TYPE_VERTICAL
#[XYWH] 732 1 1 588
#[COLOR] 65 128 173 BLUE
#[FLAGBITON] C_BIT_ABSOLUTE

#[CLUSTER] 200

[SCROLLBAR]
[SETUP] NID, C_TYPE_VERTICAL
[XYWH] 726 1 13 600
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_BOTTOM
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[INCREMENT] 49
[CLIENT] 1
[CLUSTER] 200
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON

#Altitude: 1000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 991 725 10
[COLOR] 32 44 113
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 990 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_1K
[XY] 0 990
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 2000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 981 725 9
[COLOR] 31 43 112
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 980 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_2K
[XY] 0 980
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 3000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 971 725 9
[COLOR] 30 42 111
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 970 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_3K
[XY] 0 970
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 4000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 961 725 9
[COLOR] 29 41 110
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 960 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_4K
[XY] 0 960
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 5000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 951 725 9
[COLOR] 28 40 109
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 950 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_5K
[XY] 0 950
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 10000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 901 725 49
[COLOR] 23 35 104
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 900 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_10K
[XY] 0 900
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 15000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 851 725 49
[COLOR] 18 30 99
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 850 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_15K
[XY] 0 850
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 20000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 801 725 49
[COLOR] 13 25 94
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 800 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_20K
[XY] 0 800
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 25000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 751 725 49
[COLOR] 8 20 89
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 750 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_25K
[XY] 0 750
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 30000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 701 725 49
[COLOR] 3 15 84
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 700 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_30K
[XY] 0 700
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 35000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 651 725 49
[COLOR] 0 10 79
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 650 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_35K
[XY] 0 650
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 40000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 601 725 49
[COLOR] 0 5 74
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 600 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_40K
[XY] 0 600
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 45000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 551 725 49
[COLOR] 0 0 69
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 550 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_45K
[XY] 0 550
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 50000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 501 725 49
[COLOR] 0 0 64
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 500 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_50K
[XY] 0 500
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 55000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 451 725 49
[COLOR] 0 0 59
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 450 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_55K
[XY] 0 450
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 60000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 401 725 49
[COLOR] 0 0 54
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 400 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_60K
[XY] 0 400
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 65000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 351 725 49
[COLOR] 0 0 49
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 350 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_65K
[XY] 0 350
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 70000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 301 725 49
[COLOR] 0 0 44
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 300 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_70K
[XY] 0 300
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 75000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 251 725 49
[COLOR] 0 0 39
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 250 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_75K
[XY] 0 250
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 80000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 201 725 49
[COLOR] 0 0 34
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 200 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_80K
[XY] 0 200
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 85000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 151 725 49
[COLOR] 0 0 29
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 150 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_85K
[XY] 0 150
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 90000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 101 725 49
[COLOR] 0 0 24
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 100 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_90K
[XY] 0 100
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 95000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 51 725 49
[COLOR] 0 0 19
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 50 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_95K
[XY] 0 50
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200

#Altitude: 100000 ft per pixel: 100 Range: 100000
[FILL]
[SETUP] NID 0
[XYWH] 0 1 725 49
[COLOR] 0 0 14
[CLIENT] 1
[PERCENT] 75
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 0 0 725 1
[COLOR] 43 86 114
[CLIENT] 1
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_100K
[XY] 0 0
[FONT] OCR_EXT_10
[FGCOLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1
[CLUSTER] 200