#UI BMS4, created by Revientor and Amraam (2009)

[WINDOW]
[SETUP] DEBRIEF_WIN C_TYPE_NORMAL 770 740
[XY] 131 5
[RANGES] 0 0 1024 768 770 740
[CLIENTAREA] 8 31 735 760
[CLIENTAREA] 2 2 766 22 1 "Titlebar"
[FONT] ARIAL_12
[GROUP] 7002
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT

[TILE]
[SETUP] NID 0 BRIEFING
[XYWH] 0 0 770 740
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TEXT]
[SETUP] NID C_TYPE_LEFT
[FIXEDWIDTH] 50
[SETTEXT] TXT_DEBRIEF_TITLE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[XY] 6 3
[FONT] BANK_GOTHIC_20

[SCROLLBAR]
[SETUP] NID,C_TYPE_VERTICAL
[XYWH] 749 32 13 710
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[INCREMENT] 12
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON

[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 743 3
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7002
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON