[WINDOW]
[SETUP] FLIGHT_ACFT_WIN C_TYPE_NORMAL 196 297
[XY] 179 253
[RANGES] 0 0 1024 768 188 297
[FONT] HAETTEN_18
[GROUP] 7004

[BITMAP]
[SETUP] NID 0 FLTPLN_TGA
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] FLIGHT_TITLE C_TYPE_LEFT "VIPER 1"
[XYWH] 4 0 1 1
[FGCOLOR] 66 132 173
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] OCR_EXT_24

[BUTTON]
[SETUP] AIRCRAFT_TAB, C_TYPE_NORMAL, 5 28
[IMAGES] TAB_AIRCRAFT_ON, TAB_AIRCRAFT_OFF, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] "Aircraft"
[FONT] OCR_EXT_14
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_PUSH C_STATE_DOWN

[BUTTON]
[SETUP] STPT_TAB, C_TYPE_NORMAL, 87 28
[IMAGES] TAB_STPTS_ON, TAB_STPTS_OFF, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] "Steerpoints"
[FONT] OCR_EXT_14
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_PUSH C_STATE_DOWN

[BUTTON]
[SETUP] FLTPLN_MINIMIZE, C_TYPE_NORMAL, 153 6
[IMAGES] BID_ATO_MIN BID_ATO_MIN NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 173 6
[IMAGES] BID_CLOSE BID_CLOSE NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7000


[BITMAP]
[SETUP] NID 0 AIRCRAFT_FADE_DOWN
[XY] 16 121

[LINE]
[SETUP] NID 0
[XYWH] 32 82 132 22
[COLOR] 24 47 122

[LINE]
[SETUP] NID 0
[XYWH] 32 248 132 22
[COLOR] 0 0 0

[BUTTON]
[SETUP] TL_BRACKET_UP 0 16 61
[IMAGES] BID_HOOK_DOWN_LEFT BID_HOOK_DOWN_LEFT NULL NULL

[LINE]
[SETUP] NID 0
[XYWH] 32 61 66 1
[COLOR] 65 128 173

[LINE]
[SETUP] NID 0
[XYWH] 98 61 1 61
[COLOR] 65 128 173

[LINE]
[SETUP] NID 0
[XYWH] 98 122 66 1
[COLOR] 65 128 173

[BUTTON]
[SETUP] TR_BRACKET_DOWN 0 163 122
[IMAGES] BID_HOOK_DOWN_RIGHT BID_HOOK_DOWN_RIGHT NULL NULL

[BUTTON]
[SETUP] AC_1 C_TYPE_TOGGLE 43 63
[IMAGES] BID_ATO_F16 BID_ATO_F16 NULL NULL
[FONT] OCR_EXT_12
[LABELALL] "Desperados"
[UPCOLOR] 65 128 173
[DOWNCOLOR] 0 255 0 GREEN
[LABELFLAGBITON] C_BIT_BOTTOM

[BUTTON]
[SETUP] AC_2 C_TYPE_TOGGLE 128 85
[IMAGES] BID_ATO_F16 BID_ATO_F16 NULL NULL
[FONT] OCR_EXT_12
[LABELALL] "Canker but"
[UPCOLOR] 65 128 173
[DOWNCOLOR] 0 255 0 GREEN
[LABELFLAGBITON] C_BIT_TOP
[TEXTOFFSET] C_STATE_0 0 -14
[TEXTOFFSET] C_STATE_1 0 -14

[BUTTON]
[SETUP] AC_3 C_TYPE_TOGGLE 44 230
[IMAGES] BID_ATO_F16 BID_ATO_F16 NULL NULL
[FONT] OCR_EXT_12
[LABELALL] "Blinky"
[UPCOLOR] 65 128 173
[DOWNCOLOR] 0 255 0 GREEN
[LABELFLAGBITON] C_BIT_BOTTOM

[BUTTON]
[SETUP] AC_4 C_TYPE_TOGGLE 128 250
[IMAGES] BID_ATO_F16 BID_ATO_F16 NULL NULL
[FONT] OCR_EXT_12
[LABELALL] "Wiggums"
[UPCOLOR] 65 128 173
[DOWNCOLOR] 0 255 0 GREEN
[LABELFLAGBITON] C_BIT_TOP
[TEXTOFFSET] C_STATE_0 0 -14
[TEXTOFFSET] C_STATE_1 0 -14

[TEXT]
[SETUP] NID C_TYPE_CENTER "Flight Lead"
[XYWH] 99 136 82 10
[FONT] OCR_EXT_12
[FGCOLOR] 230 230 230

[TEXT]
[SETUP] PILOT C_TYPE_CENTER "Lt. George Cambell"
[XYWH] 99 150 140 11
[FONT] OCR_EXT_12
[FGCOLOR] 0 255 0 GREEN

[TEXT]
[SETUP] WEIGHT_LABEL C_TYPE_CENTER "Takeoff Weight"
[XYWH] 99 164 104 10
[FONT] OCR_EXT_12
[FGCOLOR] 230 230 230

[TEXT]
[SETUP] WEIGHT_FIELD C_TYPE_CENTER "29,675lbs"
[XYWH] 99 178 70 10
[FONT] OCR_EXT_12
[FGCOLOR] 0 255 0 GREEN

[TEXT]
[SETUP] NID C_TYPE_CENTER "Fuel"
[XYWH] 99 192 34 9
[FONT] OCR_EXT_12
[FGCOLOR] 230 230 230

[TEXT]
[SETUP] FUEL_FIELD C_TYPE_CENTER "4,560lbs"
[XYWH] 99 206 34 10
[FONT] OCR_EXT_12
[FGCOLOR] 0 255 0 GREEN

