#UI BMS4, created by Revientor and Amraam (2009)
#This window displays the "Flight Plan Tab" for mission's track planning.

[WINDOW]
[SETUP] FLIGHT_PLAN_WIN C_TYPE_NORMAL 220 309
[XY] 755 117
[RANGES] 0 0 1024 768 220 29
[FONT] HAETTEN_18
[CLIENTAREA] 0 20 220 289 0
[CLIENTAREA] 2 2 216 22 1
[GROUP] 7003
[DRAGH] 30
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT

[TILE]
[SETUP] NID 0 FLIGHTPLAN
[XYWH] 0 0 220 309
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[BUTTON]
[SETUP] CLOSE_WINDOW C_TYPE_NORMAL 193 4
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7003
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE

[TEXT]
[SETUP] FLIGHT_TITLE C_TYPE_LEFT
[FIXEDWIDTH] 20
[SETTEXT] TXT_EMPTY
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[XY] 10 3
[FONT] BANK_GOTHIC_20

[BUTTON]
[SETUP] MINIMIZE_WINDOW C_TYPE_TOGGLE 173 12
[IMAGES] BID_ATO_MIN BID_ATO_MIN NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_WINDOW C_TYPE_LMOUSEUP

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_FLIGHT_COLON
[XY] 84 30
[FONT] OCR_EXT_12
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE

[TILE]
[SETUP] NID 0 FLGPLNLIST1
[XYWH] 88 30 117 14
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[LISTBOX]
[SETUP] LID_FLIGHT_CALLSIGN 0
[XYWH] 88 30 117 14
[NORMCOLOR] 230 230 230 WHITE
[SELCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_MENU C_STATE_DOWN

[LISTBOX]
[SETUP] STPT_LABEL 0
[XYWH] 12 30 40 16
[NORMCOLOR] 230 230 230 WHITE
[SELCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[FLAGBITOFF] C_BIT_ENABLED
[ADDITEM] STPT_WP C_TYPE_ITEM TXT_STPT_COLON
[ADDITEM] IP_WP C_TYPE_ITEM TXT_IP_COLON
[ADDITEM] CP_WP C_TYPE_ITEM TXT_CP_COLON
[ADDITEM] TGT_WP C_TYPE_ITEM TXT_TGT_COLON
[ADDITEM] ALT_WP C_TYPE_ITEM TXT_ALT_COLON
[ADDITEM] FUEL_WP C_TYPE_ITEM TXT_FUEL_COLON
[SOUNDBITE] SND_MENU C_STATE_DOWN

[EDITBOX]
[SETUP] STPT_FIELD C_TYPE_INTEGER
[XYWH] 93 30 16 16
[FGCOLOR] 230 230 230 WHITE
[MAXLEN] 4
[INTEGER] 1
[FLAGBITOFF] C_BIT_ENABLED
[CURSORCOLOR] 230 230 230
[CURSOR] MOUSE_IBEAM
[FONT] OCR_EXT_14

#Delete button
[BUTTON]
[SETUP] DELETE_WAYPOINT C_TYPE_NORMAL 156 30
[IMAGES] FLGPLNBUT1 FLGPLNBUT1 NULL FLGPLNNBUT1
[LABELALL] TXT_DEL
[FONT] BANK_GOTHIC_14
[FGCOLOR] 230 230 230
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[USERDATA] C_STATE_1

[BITMAP]
[SETUP] NID 0 BID_HOOK_UP_LEFT
[XY] 13 41

[LINE]
[SETUP] NID 0
[XYWH] 32 49 120 1
[COLOR] 180 180 180 GREY

[LINE]
[SETUP] NID 0
[XYWH] 152 46 1 4
[COLOR] 180 180 180 GREY

[BITMAP]
[SETUP] NID 0 BID_HOOK_VERT
[XY] 144 30

[BUTTON]
[SETUP] PREV_STPT C_TYPE_NORMAL 121 34
[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP

[BUTTON]
[SETUP] NEXT_STPT C_TYPE_NORMAL 134 34
[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP

#Time on Station Stuff
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_TOS
[XY] 76 54
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT

[BUTTON]
[SETUP] TOS_EARLIER C_TYPE_NORMAL 179 56
[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP
[USERDATA] 0 TOS_FIELD
[USERDATA] 1 -1

[BUTTON]
[SETUP] TOS_LATER C_TYPE_NORMAL 192 56
[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP
[USERDATA] 0 TOS_FIELD
[USERDATA] 1 1

[CLOCK]
[SETUP] TOS_FIELD 0
[XY] 88 54
[USEDAY]
[SEP0] TXT_CLOCK_DAY_SEP
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[NORMCOLOR] 230 230 230 WHITE
[SELCOLOR] 0 255 0 GREEN GREEN
[FONT] OCR_EXT_12

[BUTTON]
[SETUP] TOS_LOCK C_TYPE_TOGGLE 10 56
[IMAGES] LOCK_OFF LOCK_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP

[TEXT]
[SETUP] TOS_COLON C_TYPE_LEFT
[SETTEXT] TXT_COLON
[XY] 79 54
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12

[BOX] "Time warning box"
[SETUP] NID 0
[XYWH] 51 55 120 12
[COLOR] 255 0 0
[CLUSTER] 80

#AirSpeed TAS
[BUTTON]
[SETUP] AIRSPEED_DECR C_TYPE_NORMAL 179 87
[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP

[BUTTON]
[SETUP] AIRSPEED_INC C_TYPE_NORMAL 192 87
[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AIRSPEED_TAS
[XY] 76 86
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT

[TEXT]
[SETUP] AIRSPEED_TAS C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XY] 88 86
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_COLON
[XY] 79 86
[FGCOLOR] 255 255 255 WHITE
[FONT] OCR_EXT_12

[BOX] "Airspeed warning box"
[SETUP] NID 0
[XYWH] 51 103 89 12
[COLOR] 255 0 0
[CLUSTER] 81

#AirSpeed CAS
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AIRSPEED_CAS
[XY] 76 102
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT

[TEXT]
[SETUP] AIRSPEED_CAS C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XY] 88 102
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_COLON
[XY] 79 102
[FGCOLOR] 255 255 255 WHITE
[FONT] OCR_EXT_12

[BUTTON]
[SETUP] AIRSPEED_LOCK C_TYPE_TOGGLE 10 104
[IMAGES] LOCK_OFF LOCK_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP

#Altitude
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_ALTITUDE_ALT
[XY] 76 70
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT

[TEXT]
[SETUP] ALT_FIELD C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XY] 88 70
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12

[BUTTON]
[SETUP] ALT_DECR C_TYPE_NORMAL 179 72
[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP

[BUTTON]
[SETUP] ALT_INC C_TYPE_NORMAL 192 72
[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_COLON
[XY] 79 70
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12

#Climb/Descent field
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_CLIMB
[XY] 76 166
[BGFILL] 0 0 0 0
[NORMCOLOR] 0 255 0 GREEN GREEN
[SELCOLOR] 255 255 0 YELLOW
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_DESCENT
[XY] 76 166
[BGFILL] 0 0 0 0
[NORMCOLOR] 0 255 0 GREEN GREEN
[SELCOLOR] 255 255 0 YELLOW
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[CLUSTER] 300

[LISTBOX]
[SETUP] CLIMB_LISTBOX 0
[XYWH] 88 166 117 14
[FLAGBITON] C_BIT_USEBGFILL
[CLIENT] 0
[NORMCOLOR] 0 255 0 GREEN GREEN
[SELCOLOR] 255 255 0 YELLOW
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[BGIMAGE] FLGPLNLIST5
[IMAGES] LYT_LISTBOX_UP LYT_LISTBOX_DOWN LYT_LISTBOX_SEL LYT_LISTBOX_DIS
[ADDITEM] CLIMB_IMMEDIATE C_TYPE_ITEM TXT_IMMED
[ADDITEM] CLIMB_DELAY C_TYPE_ITEM TXT_DELAYED
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CLUSTER] 100

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_COLON
[XY] 79 166
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[CLUSTER] 100

#Formation
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_FORMATION
[XY] 76 118
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT

[LISTBOX]
[SETUP] FORM_LISTBOX 0
[SORTED] 1
[XYWH] 88 118 117 14
[FLAGBITON] C_BIT_USEBGFILL
[CLIENT] 0
[NORMCOLOR] 0 255 0 GREEN
[SELCOLOR] 255 255 0 YELLOW
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[BGIMAGE] FLGPLNLIST2
[IMAGES] LYT_LISTBOX_UP LYT_LISTBOX_DOWN LYT_LISTBOX_SEL LYT_LISTBOX_DIS
[ADDITEM] 1 C_TYPE_ITEM TXT_SPREAD
[ADDITEM] 2 C_TYPE_ITEM TXT_WEDGE
[ADDITEM] 3 C_TYPE_ITEM TXT_TRAIL
[ADDITEM] 4 C_TYPE_ITEM TXT_LADDER
[ADDITEM] 5 C_TYPE_ITEM TXT_STACK
[ADDITEM] 6 C_TYPE_ITEM TXT_RESCEL
[ADDITEM] 7 C_TYPE_ITEM TXT_BOX
[ADDITEM] 8 C_TYPE_ITEM TXT_ARROWHEAD
[ADDITEM] 9 C_TYPE_ITEM TXT_FLUIDFOUR
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_COLON
[XY] 79 118
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12

#Enroute Action
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_ENROUTE
[XY] 76 134
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT

[LISTBOX]
[SETUP] ENR_ACTION_LISTBOX 0
[SORTED] 1
[XYWH] 88 134 117 14
[FLAGBITON] C_BIT_USEBGFILL
[CLIENT] 0
[NORMCOLOR] 0 255 0 GREEN GREEN
[SELCOLOR] 255 255 0 YELLOW
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[BGIMAGE] FLGPLNLIST3
[IMAGES] LYT_LISTBOX_UP LYT_LISTBOX_DOWN LYT_LISTBOX_SEL LYT_LISTBOX_DIS
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_COLON
[XY] 79 134
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_ACTION
[XY] 76 150
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT

[LISTBOX]
[SETUP] ACTION_LISTBOX 0
[SORTED] 1
[XYWH] 88 150 117 14
[FLAGBITON] C_BIT_USEBGFILL
[CLIENT] 0
[NORMCOLOR] 0 255 0 GREEN GREEN
[SELCOLOR] 255 255 0 YELLOW
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[BGIMAGE] FLGPLNLIST4
[IMAGES] LYT_LISTBOX_UP LYT_LISTBOX_DOWN LYT_LISTBOX_SEL LYT_LISTBOX_DIS
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_COLON
[XY] 79 150
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12

[BITMAP]
[SETUP] NID 0 BID_HOOK_UP_LEFT
[XY] 14 271

[LINE]
[SETUP] NID 0
[XYWH] 211 118 1 70
[COLOR] 180 180 180 GREY

[LINE]
[SETUP] NID 0
[XYWH] 211 186 1 93
[COLOR] 180 180 180 GREY

[LINE]
[SETUP] NID 0
[XYWH] 32 279 180 1
[COLOR] 180 180 180 GREY

#Target info
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_OBJECTIVE_COLON
[XY] 16 188
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 13079

[TEXT]
[SETUP] OBJECTIVE_FIELD C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XYWH] 16 200 185 28
[FLAGBITON] C_BIT_WORDWRAP
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 13079

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_TARGET_COLON
[XY] 16 212
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 13079

[TEXT]
[SETUP] FEATURE_FIELD C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XYWH] 16 225 185 28
[FLAGBITON] C_BIT_WORDWRAP
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 13079

[BUTTON]
[SETUP] TGT_ASSIGN C_TYPE_NORMAL 60 245
[IMAGES] FLGPLNBUT2 FLGPLNBUT2 NULL FLGPLNBUT1
[LABELALL] TXT_ASSIGN
[GROUP] 7100
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CLUSTER] 13079

[BOX] "Target warning box"
[SETUP] NID 0
[XYWH] 12 187 187 50
[COLOR] 255 0 0
[CLUSTER] 82

#[TEXT]
#[SETUP] NID C_TYPE_LEFT
#[SETTEXT] TXT_LOITERTIME_COLON
#[XY] 16 193
#[FGCOLOR] 230 230 230 WHITE
#[FONT] OCR_EXT_12
#[CLUSTER] 13065

#[BUTTON]
#[SETUP] LOITER_LESS C_TYPE_NORMAL 135 208
#[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL NULL
#[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
#[CLUSTER] 13065

#[BUTTON]
#[SETUP] LOITER_LONGER C_TYPE_NORMAL 148 208
#[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL NULL
#[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
#[CLUSTER] 13065

#[CLOCK]
#[SETUP] LOITER_FIELD 0
#[XY] 64 208
#[NORMCOLOR] 230 230 230 WHITE
#[SELCOLOR] 0 255 0 GREEN GREEN
#[FONT] OCR_EXT_12
#[SEP1] TXT_CLOCK_HOUR_SEP
#[SEP2] TXT_CLOCK_MINUTE_SEP
#[CLUSTER] 13065

[TEXT]
[SETUP] NO_OPTIONS C_TYPE_LEFT
[SETTEXT] TXT_NOOPTIONS
[XY] 64 208
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 13063

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_LANDFIELD_COLON
[XY] 16 191
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 13068

[TEXT]
[SETUP] LANDING_FIELD C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XYWH] 16 203 185 28
[FLAGBITON] C_BIT_WORDWRAP
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 13068

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_TARGET_COLON
[XY] 16 191
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 13074

[TEXT]
[SETUP] UNIT_FIELD C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XYWH] 16 203 285 28
[FLAGBITON] C_BIT_WORDWRAP
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 13074

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_TIME_AT_LZ_COLON
[XY] 16 225
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 13075

[CLOCK]
[SETUP] LOITER_FIELD 0
[XY] 16 240
[NORMCOLOR] 230 230 230 WHITE
[SELCOLOR] 230 230 230 GREEN
[FONT] OCR_EXT_12
#[SEP0] TXT_CLOCK_DAY_SEP
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[CLUSTER] 13075

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_PATDURATION_COLON
[XY] 16 193
[FGCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 13070

[BUTTON]
[SETUP] PATROL_LESS C_TYPE_NORMAL 84 210
[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CLUSTER] 13070
[USERDATA] 0 PATROL_FIELD
[USERDATA] 1 -1

[BUTTON]
[SETUP] PATROL_LONGER C_TYPE_NORMAL 97 210
[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CLUSTER] 13070
[USERDATA] 0 PATROL_FIELD
[USERDATA] 1 1

[CLOCK]
[SETUP] PATROL_FIELD 0
[XY] 16 208
[NORMCOLOR] 230 230 230 WHITE
[SELCOLOR] 0 255 0 GREEN GREEN
[FONT] OCR_EXT_12
#[SEP0] TXT_CLOCK_DAY_SEP
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[CLUSTER] 13070