#UI BMS4, created by Revientor and Amraam (2009)
#This window shows the munition screen.

[WINDOW]
[SETUP] MUNITIONS_WIN C_TYPE_NORMAL 900 700
[XY] 55 39
[RANGES] 0 0 1024 768 900 700
[CLIENTAREA] 0 0 900 700 0 "Window"
[CLIENTAREA] 6 446 655 205 1 "Stores"
[CLIENTAREA] 7 59 805 363 2 "Aircraft"
[CLIENTAREA] 6 56 174 100 3 
[FONT] OCR_EXT_12
[DRAGH] 25
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_DRAGABLE
[GROUP] 7005

[BITMAP]
[SETUP] NID C_STATE_DOWN MUNITION
 
[LINE] 
[SETUP] NID 0 
[XYWH] 560 0 126 22
[COLOR] 0 0 0 
[CLIENT] 3

[TEXT] 
[SETUP] FLIGHT_CALLSIGN C_TYPE_LEFT 
[SETTEXT] TXT_MUNITIONS 
[XY] 7 3 
[FONT] BANK_GOTHIC_20 
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] FLIGHT_STATUS
[XY] 760 6
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] STATUS_FIELD 0
[XY] 780 6
[FONT] BANK_GOTHIC_16
[SETTEXT] TXT_EMPTY
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] AIR_1 C_TYPE_CUSTOM 7 28
[IMAGES] MUNBUT1 MUNBUT1A NULL NULL
[STATE] 1
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_EMPTY
[FONT] BANK_GOTHIC_14
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] AIR_2 C_TYPE_CUSTOM 177 28
[IMAGES] MUNBUT1 MUNBUT1A NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_EMPTY
[FONT] BANK_GOTHIC_14
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] AIR_3 C_TYPE_CUSTOM 347 28
[IMAGES] MUNBUT1 MUNBUT1A NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_EMPTY
[FONT] BANK_GOTHIC_14
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] AIR_4 C_TYPE_CUSTOM 517 28
[IMAGES] MUNBUT1 MUNBUT1A NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_EMPTY
[FONT] BANK_GOTHIC_14
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CURSOR] CRSR_F16_ON

####LIMITATIONS INFO

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_CLEAN_WEIGHT
[XYWH] 785 428 1 1 
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] CLEAN_WEIGHT 0
[SETTEXT] TXT_EMPTY NULL
[XYWH] 790 428 1 1
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_LBS
[XYWH] 878 428 1 1 
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_MUNITIONS
[XYWH] 785 448 488 1 1
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] MUNITIONS_WEIGHT 0
[SETTEXT] TXT_EMPTY NULL
[XYWH] 790 448 1 1
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_LBS
[XYWH] 878 448 1 1 
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_FUEL NULL
[XYWH] 713 468 1 1
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 719 476 63 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 781 473 1 7
[COLOR] 230 230 230 BLUE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER] "x y+h-5 w-16 13"
[SETUP] FUEL_FACTOR, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 713 470 75 15
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[TEXT] 
[SETUP] FUEL_WEIGHT 0
[SETTEXT] TXT_EMPTY NULL
[XYWH] 790 468 1 1
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_LBS
[XYWH] 878 468 1 1 
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_GROSS_WEIGHT
[XYWH] 785 488 1 1
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] CURRENT_WEIGHT 
[SETTEXT] TXT_EMPTY
[XYWH] 790 488 1 1
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_LBS
[XYWH] 878 488 1 1 
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_MAX_WEIGHT
[XYWH] 785 508 1 1
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] MAX_WEIGHT 2
[SETTEXT] TXT_EMPTY
[XYWH] 790 508 1 1
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_LBS
[XYWH] 878 508 1 1 
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_DRAGFACTOR
[XYWH] 785 528 1 1
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] DRAG_FACTOR 0
[SETTEXT] TXT_EMPTY 
[XYWH] 790 528 1 1
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_MAX_POS_G_LOAD
[XYWH] 785 548 1 1
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] MAX_POS_G_LOAD 0
[SETTEXT] TXT_EMPTY 
[XYWH] 790 548 1 1
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_MAX_NEG_G_LOAD
[XYWH] 785 568 1 1
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] MAX_NEG_G_LOAD 0
[SETTEXT] TXT_EMPTY 
[XYWH] 790 568 1 1
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_MAX_KIAS
[XYWH] 785 588 1 1
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] MAX_KIAS 0
[SETTEXT] TXT_EMPTY 
[XYWH] 790 588 1 1
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_MAX_MACH
[XYWH] 785 608 1 1
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] MAX_MACH 0
[SETTEXT] TXT_EMPTY 
[XYWH] 790 608 1 1
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_LOAD_CATEGORY
[XYWH] 785 628 1 1
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_14
[CLIENT] 0

[TEXT] 
[SETUP] LOAD_CATEGORY 0
[SETTEXT] TXT_EMPTY 
[XYWH] 790 628 1 1
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT
[FONT] OCR_EXT_14
[CLIENT] 0

####LIMITATIONS INFO END

#Laser code button (for LGBs dialed laser code)
[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_LASER_CODE
[XYWH] 685 648 1 1
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[FONT] OCR_EXT_14
[CLIENT] 0

[EDITBOX]
[SETUP] LGB_LASER_CODE C_TYPE_INTEGER
[XYWH] 789 648 37 14
[FONT] OCR_EXT_14
[MAXLEN] 4
[MININTEGER] 1511
[MAXINTEGER] 1788
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED
[FGCOLOR] 0 255 0 GREEN
[BGCOLOR] 0 63 30 DARK GREEN
[CURSORCOLOR] 230 230 230
[FGCOLOR] 0 255 0 GREEN
[CURSOR] CRSR_TEXT
[CURSORCOLOR] 230 230 230
[CLUSTER] 10003

[BUTTON]
[SETUP] LGB_LASER_CODE_BUTTON C_TYPE_NORMAL 788 669 0 -6
[IMAGES] MUNBUT8 MUNBUT8 NULL MUNBUT8
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_LGB_LASER_CODE_BUTTON
[FONT] BANK_GOTHIC_14
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] -100
[CURSOR] CRSR_F16_ON

[LINE] 
[SETUP] NID 0
[XYWH] 6 429 130 16
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 16 24 41

#Weapon list, inventory and quantity
[LISTBOX] 
[SETUP] WEAPON_LIST_CTRL 0
[XYWH] 5 428 130 16
[NORMCOLOR] 230 230 230 WHITE
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[ADDITEM] SHOW_LOADOUT C_TYPE_ITEM TXT_LOADOUT
[ADDITEM] SHOW_AA C_TYPE_ITEM TXT_AA
[ADDITEM] SHOW_AG C_TYPE_ITEM TXT_AG
[ADDITEM] SHOW_OTHER C_TYPE_ITEM TXT_OTHER
[ADDITEM] SHOW_ALL C_TYPE_ITEM TXT_ALL
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_LIST_F16

[LINE] "Perma Vertical 1"
[SETUP] NID 0
[XYWH] 6 444 1 210
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

[TEXT] 
[SETUP] WEAPON_LIST_INV 0
[SETTEXT] TXT_INVENTORY
[XYWH] 153 430 1 1
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_HCENTER
[FONT] OCR_EXT_14
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "Perma Vertical 2"
[SETUP] NID 0
[XYWH] 135 444 1 210
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

[TEXT] 
[SETUP] WEAPON_LIST_QTY 0
[SETTEXT] TXT_QUANTITY
[XYWH] 188 430 1 1
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_HCENTER
[FONT] OCR_EXT_14
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "Perma Vertical 3"
[SETUP] NID 0
[XYWH] 168 444 1 210
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

[LINE] "Perma Vertical 4"
[SETUP] NID 0
[XYWH] 205 444 1 210
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

[LINE] "Perma Vertical 5"
[SETUP] NID 0
[XYWH] 661 444 1 210
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

[LINE] "Top Line"
[SETUP] NID 0 
[XYWH] 6 444 655 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

[LINE] "Bottom Line"
[SETUP] NID 0
[XYWH] 6 653 655 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

#Weapon list scroll bar
[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 655 444 13 210
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 1
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 26

#Close window
[BUTTON]
[SETUP] CLOSE_WINDOW C_TYPE_NORMAL 873 4
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7005
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON

#Save as button
[BUTTON]
[SETUP] SAVE_AS C_TYPE_NORMAL 7 669
[IMAGES] MUNBUT2 MUNBUT2 NULL MUNBUT2
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SAVEAS
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] -100
[CURSOR] CRSR_F16_ON

#Load configuration button
[BUTTON]
[SETUP] LOAD C_TYPE_NORMAL 113 669
[IMAGES] MUNBUT3 MUNBUT3 NULL MUNBUT3
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_LOAD
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] -100
[CURSOR] CRSR_F16_ON

#Restore configuration button
[BUTTON]
[SETUP] RESTORE C_TYPE_NORMAL 219 669
[IMAGES] MUNBUT4 MUNBUT4 NULL MUNBUT4
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_RESTORE
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] -100
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] CLEAR C_TYPE_NORMAL 325 669
[IMAGES] MUNBUT5 MUNBUT5 NULL MUNBUT5
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_CLEAR2
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] -100
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] CANCEL C_TYPE_NORMAL 572 669
[IMAGES] MUNBUT5 MUNBUT5 NULL MUNBUT5
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_CANCEL
[FONT] BANK_GOTHIC_16
[GROUP] 7005
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] OK C_TYPE_NORMAL 680 669
[IMAGES] MUNBUT7 MUNBUT7 NULL MUNBUT7
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_OK
[GROUP] 7005
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] -100
[CURSOR] CRSR_F16_ON

#Rotate model
[PANNER]
[SETUP] PLANE_PANNER C_TYPE_DRAGXY
[XY] 820 200
[DEADZONE] 20 20 10 10
[PANIMAGE] 0 BLUE_PAN_CENTER
[PANIMAGE] 1 BLUE_PAN_CENTER
[PANIMAGE] 3 BLUE_PAN_TDC
[PANIMAGE] 4 BLUE_PAN_315
[PANIMAGE] 6 BLUE_PAN_270
[PANIMAGE] 9 BLUE_PAN_225
[PANIMAGE] 8 BLUE_PAN_180
[PANIMAGE] 7 BLUE_PAN_135
[PANIMAGE] 5 BLUE_PAN_90
[PANIMAGE] 2 BLUE_PAN_45
[CLIENT] 2
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_ARROWS C_STATE_DOWN
[CURSOR] CRSR_DRAG 

#Zoom
[PANNER]
[SETUP] PLANE_ZOOMER C_TYPE_DRAGY
[XY] 825 270
[DEADZONE] 38 13 10 10
[PANIMAGE] 0 NH_ARROWS_DESELECTED
[PANIMAGE] 1 NH_ARROWS_DESELECTED
[PANIMAGE] 2 NH_ARROWS_FORWARDS 
[PANIMAGE] 3 NH_ARROWS_BACKWARDS 
[CLIENT] 2
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_ARROWS C_STATE_DOWN
[CURSOR] CRSR_VDRAG

#Change Skin
[BUTTON]
[SETUP] CHANGE_SKIN C_TYPE_NORMAL 431 669
[IMAGES] MUNBUT6 MUNBUT6 NULL MUNBUT6
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_CHANGE_SKIN
[FONT] BANK_GOTHIC_14
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] -100
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] LOAD_CFT C_TYPE_TOGGLE 280 428
[IMAGES] BID_CHK1_OFF BID_CHK1_ON NULL NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[LABELFLAGBITON] C_BIT_RIGHT
[LABELALL] TXT_LOAD_CFT
[TEXTCOLOR] C_STATE_0 120 460 173
[TEXTCOLOR] C_STATE_1 120 460 173
[TEXTCOLOR] C_STATE_DISABLED 120 460 173
[TEXTOFFSET] C_STATE_UP -25 0
[TEXTOFFSET] C_STATE_DOWN -25 0
[TEXTOFFSET] C_STATE_DISABLED -25 0
[CURSOR] CRSR_F16_ON
