#UI BMS4, created by Revientor and Amraam (2009)

[WINDOW]
[SETUP] OOB_WIN C_TYPE_NORMAL 425 557
[XY] 329 117 
[RANGES] 0 0 1024 768 425 557
[CLIENTAREA] 11 165 379 340 0
[FONT] OCR_EXT_14
[GROUP] 7009
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 422 22 1

[TILE] 
[SETUP] NID 0 OOB 
[XYWH] 0 0 425 557
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL 

[TEXT] 
[SETUP] NID C_TYPE_LEFT 
[SETTEXT] TXT_ORDER_O_BATTLE 
[XY] 6 3 
[FONT] BANK_GOTHIC_20 
[FGCOLOR] 230 230 230 
[FLAGBITON] C_BIT_ABSOLUTE 

[LINE] "Left line"
[SETUP] NID 0
[XYWH] 11 50 1 54
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "Left line"
[SETUP] NID 0
[XYWH] 11 103 388 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE

[BITMAP]
[SETUP] NID 0 BID_HOOK_DOWN_RIGHT
[XY] 395 103
[FLAGBITON] C_BIT_ABSOLUTE

[BITMAP]
[SETUP] NID 0 BID_HOOK_VERT_RIGHT
[XY] 11 38
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] AF_FILTER C_TYPE_TOGGLE 15 110
[IMAGES] AF_OFF AF_ON NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HELPTEXT] TXT_AIRFORCES
[STATE] 1

[BUTTON]
[SETUP] ARMY_FILTER C_TYPE_TOGGLE 110 110
[IMAGES] ARMY_OFF ARMY_ON NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HELPTEXT] TXT_GROUNDFORCES
[STATE] 1

[BUTTON]
[SETUP] NAVY_FILTER C_TYPE_TOGGLE 205 110
[IMAGES] NAVY_OFF NAVY_ON NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HELPTEXT] TXT_NAVALFORCES
[STATE] 1

[BUTTON]
[SETUP] OBJECTIVE_FILTER C_TYPE_TOGGLE 300 110
[IMAGES] OBJ_OFF OBJ_ON NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HELPTEXT] TXT_INSTALLATIONS
[STATE] 1

[LINE] "GROUP 1 color"
[SETUP] GROUP1_COLOR 0
[XYWH] 27 38 45 62
[COLOR] 0 160 255
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP1_FLAG C_TYPE_SELECT 34 42
[BUTTONIMAGE] C_STATE_0 OOB_FLAGS_NONE_DRK
[BUTTONIMAGE] C_STATE_1 OOB_FLAGS_NONE
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "GROUP 2 color"
[SETUP] GROUP2_COLOR 0
[XYWH] 75 38 45 62
[COLOR] 255 0 0
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP2_FLAG C_TYPE_SELECT 82 42
[BUTTONIMAGE] C_STATE_0 OOB_FLAGS_USA_DRK
[BUTTONIMAGE] C_STATE_1 OOB_FLAGS_USA
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "GROUP 3 color"
[SETUP] GROUP3_COLOR 0
[XYWH] 123 38 45 62
[COLOR] 0 160 0
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP3_FLAG C_TYPE_SELECT 130 42
[BUTTONIMAGE] C_STATE_0 OOB_FLAGS_SKOREA_DRK
[BUTTONIMAGE] C_STATE_1 OOB_FLAGS_SKOREA
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "GROUP 4 color"
[SETUP] GROUP4_COLOR 0
[XYWH] 171 38 45 62
[COLOR] 255 168 0
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP4_FLAG C_TYPE_SELECT 178 42
[BUTTONIMAGE] C_STATE_0 OOB_FLAGS_JAPAN_DRK
[BUTTONIMAGE] C_STATE_1 OOB_FLAGS_JAPAN
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "GROUP 5 color"
[SETUP] GROUP5_COLOR 0
[XYWH] 219 38 45 62
[COLOR] 255 255 0 YELLOW
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP5_FLAG C_TYPE_SELECT 226 42
[BUTTONIMAGE] C_STATE_0 OOB_FLAGS_CIS_DRK
[BUTTONIMAGE] C_STATE_1 OOB_FLAGS_CIS
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "GROUP 6 color"
[SETUP] GROUP6_COLOR 0
[XYWH] 267 38 45 62
[COLOR] 255 10 255
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP6_FLAG C_TYPE_SELECT 274 42
[BUTTONIMAGE] C_STATE_0 OOB_FLAGS_CHINA_DRK
[BUTTONIMAGE] C_STATE_1 OOB_FLAGS_CHINA
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "GROUP 7 color"
[SETUP] GROUP7_COLOR 0
[XYWH] 315 38 45 62
[COLOR] 57 132 140
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP7_FLAG C_TYPE_SELECT 322 42
[BUTTONIMAGE] C_STATE_0 OOB_FLAGS_NKOREA_DRK
[BUTTONIMAGE] C_STATE_1 OOB_FLAGS_NKOREA
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "GROUP 8 color"
[SETUP] GROUP8_COLOR 0
[XYWH] 363 38 45 62
[COLOR] 178 113 55
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP8_FLAG C_TYPE_SELECT 370 42
[BUTTONIMAGE] C_STATE_0 OOB_FLAGS_NONE_DRK
[BUTTONIMAGE] C_STATE_1 OOB_FLAGS_NONE
[FLAGBITON] C_BIT_ABSOLUTE

[BOX] "Client border"
[SETUP] NID 0
[XYWH] 11 164 379 341
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE

[SCROLLBAR] "Right"
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 400 164 13 342
[FLAGBITON] C_BIT_ABSOLUTE
[CLIENT] 0
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[INCREMENT] 37
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON

[BUTTON]
[SETUP] CLOSE_WINDOW C_TYPE_NORMAL 399 3
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7009
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE

#Dunc 20161118: added CLUSTER
[BUTTON] 
[SETUP] OOB_UNIT_FIND C_TYPE_NORMAL 230 527
[IMAGES] OOBBUT2 OOBBUT2 NULL OOBBUT2 
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_FIND
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CLUSTER] 44

#Dunc 20161118: added CLUSTER
[BUTTON] 
[SETUP] OOB_UNIT_INFO C_TYPE_NORMAL 106 527
[IMAGES] OOBBUT1 OOBBUT1 NULL OOBBUT1 
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_INFO
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CLUSTER] 45

[TREELIST]
[SETUP] OOB_TREE
[FONT] OCR_EXT_12
[XY] 5 3
[CLIENT] 0
[XOFFSET] 21
[YOFFSET] 17
[CLUSTER] 100
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[CURSOR] CRSR_F16_ON