#UI BMS4, created by Revientor (2009)

[WINDOW]
[SETUP] PPT_WIN C_TYPE_NORMAL 420 209
[XY] 179 253 
[RANGES] 0 0 1024 768 420 29
[FONT] HAETTEN_18
[CLIENTAREA] 0 20 420 189 0
[CLIENTAREA] 2 2 416 22 1
[GROUP] 7007
[DRAGH] 30
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT

[TILE] 
[SETUP] NID 0 PPT 
[XYWH] 0 0 420 209
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL 

[TEXT] 
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_PPT_TITLE
[XY] 10 0
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] OCR_EXT_24

###### Close Window widget
[BUTTON]
[SETUP] CLOSE_WINDOW C_TYPE_NORMAL 397 4
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7007
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE

###### Threat Selection ListBox
[TILE] 
[SETUP] NID 0 PPTLIST1 
[XYWH] 88 31 147 14
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

[LISTBOX] 
[SETUP] PPT_WIN_THREAT_SEL_LISTBOX 0
[XYWH] 88 30 175 14
[NORMCOLOR] 230 230 230 WHITE
[SELCOLOR] 230 230 230 WHITE
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_MENU C_STATE_DOWN
[SCROLLITEMCOUNT] 40

###### Accept Button
[BUTTON]
[SETUP] PPT_WIN_THREAT_ACCEPT C_TYPE_NORMAL 170 152
[IMAGES] PPTBUT1 PPTBUT1 NULL PPTBUT1 
[LABELALL] TXT_ACCEPT_TARGET_STPT
[FONT] BANK_GOTHIC_16
[UPCOLOR] 250 250 250
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 250 250 250
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON

###### STPT Index Fluff
[EDITBOX]
[SETUP] PPT_WIN_EDITBOX_INDEX C_TYPE_INTEGER
[XYWH] 20 27 40 16
[FONT] BANK_GOTHIC_16
[MAXLEN] 2
[MAXINTEGER] 70
#[MININTEGER] 56
#[INTEGER] 56
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_ENABLED
[FGCOLOR] 0 255 0 GREEN
[BGCOLOR] 0 63 30 DARK GREEN
[CURSORCOLOR] 230 230 230
[FGCOLOR] 0 255 0 GREEN
[CURSOR] CRSR_TEXT
[CURSORCOLOR] 230 230 230

[BUTTON] 
[SETUP] PPT_WIN_SET_PREV_INDEX C_TYPE_NORMAL 60 12
[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP

[BUTTON] 
[SETUP] PPT_WIN_SET_NEXT_INDEX C_TYPE_NORMAL 73 12
[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP

###### STPTS Info
[TEXT]
[SETUP] PPT_WIN_STPT_INFO C_TYPE_LEFT
[XY] 20 75
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

###### STPTS Coord
[TEXT]
[SETUP] PPT_WIN_STPT_TEXT C_TYPE_LEFT
#[SETTEXT] TXT_TGT_STPT
[XY] 20 125
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001