#UI BMS5, created by Revientor (2010)

[POPUPMENU]
[SETUP] PPT_STPT_POP C_TYPE_EXCLUSIVE POP_SUBMENU BID_DROPORB 
[NORMCOLOR] 230 230 230
[SELCOLOR] 230 230 230
[DISCOLOR] 100 100 100
[BARCOLOR] 0
[BGCOLOR] 49 49 49
[BORDERCOLOR] 0
[OPAQUE] 85
[FONT] OCR_EXT_12

[ADDITEM] MID_HEADER C_TYPE_ITEM TXT_PPT_TITLE
[ITEMFLAGOFF] MID_HEADER C_BIT_ENABLED
[ADDITEM] MID_HEADER_SEP C_TYPE_NOTHING TXT_SPACE 0 
[ADDITEM] MID_STATUS C_TYPE_ITEM TXT_STATUS 0
[ADDITEM] PPT_STPT_POP_REMOVE_ENTRY C_TYPE_ITEM TXT_DELETE 0
#[ADDITEM] MID_DELETE_UNIT C_TYPE_ITEM TXT_DELETE 0

[ADDITEM] MID_SEND_SIGNAL C_TYPE_ITEM TXT_MID_SEND_SIGNAL
