#UI BMS4, created by Revientor and Naldo (2009)

[WINDOW]
[SETUP] RECON_LIST_WIN C_TYPE_NORMAL 574 340
[XY] 229 338
[DRAGH] 25
[RANGES] 0 0 1024 768 574 340
[CLIENTAREA] 13 30 478 219 0
[CLIENTAREA] 14 50 529 145 1
[FONT] HAETTEN_18
[GROUP] 7101
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 0 0 574 22 2 "Titlebar"

[TILE] 
[SETUP] NID 0 RECON2
[XYWH] 0 0 574 340
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL 

[TEXT] 
[SETUP] NID C_TYPE_LEFT 
[SETTEXT] TXT_RECON_TARGETS_TITLE 
[XY] 14 0 
[FONT] OCR_EXT_24 
[FGCOLOR] 230 230 230 
[FLAGBITON] C_BIT_ABSOLUTE 

#Cluster 10 is for Objective only items
#Cluster 20 is for Unit only items (none so far)

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_TARGET
[XY] 19 30
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_CONDITION
[XY] 340 30
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_VALUE
[XY] 451 30
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10

[SCROLLBAR]
[SETUP] NID,C_TYPE_VERTICAL
[XYWH] 548 50 13 145
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 1
[INCREMENT] 17
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON

[BUTTON]
[SETUP] CLOSE_WINDOW C_TYPE_NORMAL 547 4
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] SET_TARGET C_TYPE_NORMAL 458 217
[IMAGES] BUTRECONTAR1 BUTRECONTAR1 NULL BUTRECONTAR1 
[LABELALL] TXT_ASSIGN
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10
[CURSOR] CRSR_F16_ON

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_AIRCRAFT
[XY] 58 217
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10

[LISTBOX]
[SETUP] DESIGNATE_TARGET_SLOT 0
[XYWH] 158 217 50 14
[NORMCOLOR] 0 255 0 GREEN
[SELCOLOR] 0 255 0 GREEN
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] 1 C_TYPE_ITEM TXT_AIRCRAFT_1 
[ADDITEM] 2 C_TYPE_ITEM TXT_AIRCRAFT_2 
[ADDITEM] 3 C_TYPE_ITEM TXT_AIRCRAFT_3 
[ADDITEM] 4 C_TYPE_ITEM TXT_AIRCRAFT_4 
[CLUSTER] 10

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_WAYPOINT
[XY] 225 217
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10

[EDITBOX]
[SETUP] STPT_FIELD C_TYPE_INTEGER
[XYWH] 255 217 16 16
[FGCOLOR]  0 255 0 GREEN
[MAXLEN] 4
[INTEGER] 1
[CURSORCOLOR] 230 230 230
[CURSOR] MOUSE_IBEAM
[FONT] OCR_EXT_14
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10

[BUTTON]
[SETUP] PREV_STPT C_TYPE_NORMAL 285 219
[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] NEXT_STPT C_TYPE_NORMAL 298 219
[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10
[CURSOR] CRSR_F16_ON

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_AIRCRAFT_1
[XY] 28 245
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_OBJECTIVE_COLON
[XY] 60 245
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10


[TEXT]
[SETUP] DESIGNATED_OBJECTIVE_FIELD_1 C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XYWH] 135 245 185 28
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR]  255 255 255 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 10

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_TARGET_COLON
[XY] 60 260
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10


[TEXT]
[SETUP] DESIGNATED_FEATURE_FIELD_1 C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XYWH] 115 260 185 28
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR]  255 255 255 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 10

######

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_AIRCRAFT_2
[XY] 28 280
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_OBJECTIVE_COLON
[XY] 60 280
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10


[TEXT]
[SETUP] DESIGNATED_OBJECTIVE_FIELD_2 C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XYWH] 135 280 185 28
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR]  255 255 255 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 10

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_TARGET_COLON
[XY] 60 295
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10


[TEXT]
[SETUP] DESIGNATED_FEATURE_FIELD_2 C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XYWH] 115 295 185 28
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR]  255 255 255 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 10

######

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_AIRCRAFT_3
[XY] 300 245
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_OBJECTIVE_COLON
[XY] 332 245
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10


[TEXT]
[SETUP] DESIGNATED_OBJECTIVE_FIELD_3 C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XYWH] 407 245 185 28
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR]  255 255 255 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 10

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_TARGET_COLON
[XY] 332 260
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10


[TEXT]
[SETUP] DESIGNATED_FEATURE_FIELD_3 C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XYWH] 387 260 185 28
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR]  255 255 255 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 10

######

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_AIRCRAFT_4
[XY] 300 280
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_OBJECTIVE_COLON
[XY] 332 280
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10


[TEXT]
[SETUP] DESIGNATED_OBJECTIVE_FIELD_4 C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XYWH] 407 280 185 28
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR]  255 255 255 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 10

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_TARGET_COLON
[XY] 332 295
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10


[TEXT]
[SETUP] DESIGNATED_FEATURE_FIELD_4 C_TYPE_LEFT
[SETTEXT] TXT_EMPTY
[XYWH] 387 295 185 28
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR]  255 255 255 WHITE
[FONT] OCR_EXT_12
[CLUSTER] 10
[BUTTON]

[SETUP] SET_VC C_TYPE_NORMAL 458 217
[IMAGES] BUTRECONTAR1 BUTRECONTAR1 NULL BUTRECONTAR1
[LABELALL] TXT_ASSIGN
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[FLAGBITON] C_BIT_INVISIBLE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10
[CURSOR] CRSR_F16_ON

[TREELIST]
[SETUP] RECON_TREE
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[XY] 5 1
[CLIENT] 1
[XOFFSET] 21
[YOFFSET] 17
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] OPEN_RECON C_TYPE_NORMAL 347 217
[IMAGES] BUTRECONLIST1 BUTRECONLIST1 NULL BUTRECONLIST1 
[LABELALL] TXT_RECON
[FONT] BANK_GOTHIC_16
[UPCOLOR] 255 255 255 WHITE
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 255 255 255 WHITE
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON