#UI BMS5, created by Revientor (2010)

[POPUPMENU]
[SETUP] STEERPOINT_POP C_TYPE_EXCLUSIVE POP_SUBMENU BID_DROPORB 
[NORMCOLOR] 230 230 230
[SELCOLOR] 230 230 230
[DISCOLOR] 100 100 100
[BARCOLOR] 0
[BGCOLOR] 49 49 49
[BORDERCOLOR] 0
[OPAQUE] 85
[FONT] OCR_EXT_12

[ADDITEM] MID_HEADER C_TYPE_ITEM TXT_STEERPOINT_MENU
[ITEMFLAGOFF] MID_HEADER C_BIT_ENABLED
[ADDITEM] MID_HEADER_SEP C_TYPE_NOTHING TXT_SPACE 0 
[ADDITEM] MID_RECON C_TYPE_ITEM TXT_RECON 0
[ADDITEM] MID_LOCK_TOS C_TYPE_TOGGLE TXT_LOCK_TOS 0
[ADDITEM] MID_LOCK_SPEED C_TYPE_TOGGLE TXT_LOCK_SPEED 0
[ADDITEM] MID_CLIMB C_TYPE_MENU TXT_CLIMB_MODE 0
[ADDITEM] MID_FORMATION C_TYPE_MENU TXT_FORMATION 0
[ADDITEM] MID_ENR_ACTION C_TYPE_MENU TXT_ENROUTE_ACTION 0
[ADDITEM] MID_ACTION C_TYPE_MENU TXT_ACTION 0
[ADDITEM] MID_ADD_STPT C_TYPE_ITEM TXT_ADD 0
[ADDITEM] MID_HEADER_SEP C_TYPE_NOTHING TXT_SPACE 0 
[ADDITEM] MID_DELETE_STPT C_TYPE_ITEM TXT_DELETE 0

[ADDITEM] CLIMB_IMMEDIATE C_TYPE_RADIO TXT_IMMED MID_CLIMB 
[RADIOGROUP] CLIMB_IMMEDIATE 1
[ADDITEM] CLIMB_DELAY C_TYPE_RADIO TXT_DELAYED MID_CLIMB 
[RADIOGROUP] CLIMB_DELAY 1

[ADDITEM] 1 C_TYPE_RADIO TXT_SPREAD MID_FORMATION
[RADIOGROUP] 1 2
[ADDITEM] 2 C_TYPE_RADIO TXT_WEDGE MID_FORMATION
[RADIOGROUP] 2 2
[ADDITEM] 3 C_TYPE_RADIO TXT_LADDER MID_FORMATION
[RADIOGROUP] 3 2
[ADDITEM] 4 C_TYPE_RADIO TXT_STACK MID_FORMATION
[RADIOGROUP] 4 2
[ADDITEM] 5 C_TYPE_RADIO TXT_TRAIL MID_FORMATION
[RADIOGROUP] 5 2
[ADDITEM] 6 C_TYPE_RADIO TXT_RESCEL MID_FORMATION
[RADIOGROUP] 6 2
[ADDITEM] 7 C_TYPE_RADIO TXT_BOX MID_FORMATION
[RADIOGROUP] 7 2
[ADDITEM] 8 C_TYPE_RADIO TXT_ARROWHEAD MID_FORMATION
[RADIOGROUP] 8 2
#[ADDITEM] 9 C_TYPE_RADIO TXT_FLUIDFOUR MID_FORMATION
#[RADIOGROUP] 9 2

#[ADDITEM] EAC_NAV C_TYPE_RADIO TXT_NAV MID_ENR_ACTION
#[RADIOGROUP] EAC_NAV 3
#[ADDITEM] EAC_ESCORT C_TYPE_RADIO TXT_ESCORT MID_ENR_ACTION
#[RADIOGROUP] EAC_ESCORT 3
#[ADDITEM] EAC_SWEEP C_TYPE_RADIO TXT_SWEEP MID_ENR_ACTION
#[RADIOGROUP] EAC_SWEEP 3
#[ADDITEM] EAC_SAD C_TYPE_RADIO TXT_SAD MID_ENR_ACTION
#[RADIOGROUP] EAC_SAD 3
#[ADDITEM] EAC_SEAD C_TYPE_RADIO TXT_SEAD MID_ENR_ACTION
#[RADIOGROUP] EAC_SEAD 3
#[ADDITEM] EAC_ELINT C_TYPE_RADIO TXT_ELINT MID_ENR_ACTION
#[RADIOGROUP] EAC_ELINT 3
#[ADDITEM] EAC_TANKER C_TYPE_RADIO TXT_FUEL MID_ENR_ACTION
#[RADIOGROUP] EAC_TANKER 3

#[ADDITEM] AC_NAV C_TYPE_RADIO TXT_NAV MID_ACTION
#[RADIOGROUP] AC_NAV 4
#[ADDITEM] AC_TAKEOFF C_TYPE_RADIO TXT_TAKEOFF MID_ACTION
#[RADIOGROUP] AC_TAKEOFF 4
#[ADDITEM] AC_REFUEL C_TYPE_RADIO TXT_REFUEL MID_ACTION
#[RADIOGROUP] AC_REFUEL 4
#[ADDITEM] AC_REARM C_TYPE_RADIO TXT_REARM MID_ACTION
#[RADIOGROUP] AC_REARM 4
#[ADDITEM] AC_LAND C_TYPE_RADIO TXT_LAND MID_ACTION
#[RADIOGROUP] AC_LAND 4
#[ADDITEM] AC_PATROL C_TYPE_RADIO TXT_PATROL MID_ACTION
#[RADIOGROUP] AC_PATROL 4
#[ADDITEM] AC_ESCORT C_TYPE_RADIO TXT_ESCORT MID_ACTION
#[RADIOGROUP] AC_ESCORT 4
#[ADDITEM] AC_SWEEP C_TYPE_RADIO TXT_SWEEP MID_ACTION
#[RADIOGROUP] AC_SWEEP 4
#[ADDITEM] AC_CAP C_TYPE_RADIO TXT_CAP MID_ACTION
#[RADIOGROUP] AC_CAP 4
#[ADDITEM] AC_INTERCEPT C_TYPE_RADIO TXT_INTERCEPT MID_ACTION
#[RADIOGROUP] AC_INTERCEPT 4
#[ADDITEM] AC_GNDSTRIKE C_TYPE_RADIO TXT_GNDSTRIKE MID_ACTION
#[RADIOGROUP] AC_GNDSTRIKE 4
#[ADDITEM] AC_NAVSTRIKE C_TYPE_RADIO TXT_NAVSTRIKE MID_ACTION
#[RADIOGROUP] AC_NAVSTRIKE 4
#[ADDITEM] AC_SAD C_TYPE_RADIO TXT_SAD MID_ACTION
#[RADIOGROUP] AC_SAD 4
#[ADDITEM] AC_STRIKE C_TYPE_RADIO TXT_STRIKE MID_ACTION
#[RADIOGROUP] AC_STRIKE 4
#[ADDITEM] AC_BOMB C_TYPE_RADIO TXT_BOMB MID_ACTION
#[RADIOGROUP] AC_BOMB 4
#[ADDITEM] AC_SEAD C_TYPE_RADIO TXT_SEAD MID_ACTION
#[RADIOGROUP] AC_SEAD 4
#[ADDITEM] AC_ELINT C_TYPE_RADIO TXT_ELINT MID_ACTION
#[RADIOGROUP] AC_ELINT 4
#[ADDITEM] AC_RECON C_TYPE_RADIO TXT_RECON MID_ACTION
#[RADIOGROUP] AC_RECON 4
#[ADDITEM] AC_RESCUE C_TYPE_RADIO TXT_RESCUE MID_ACTION
#[RADIOGROUP] AC_RESCUE 4
#[ADDITEM] AC_ASW C_TYPE_RADIO TXT_ASW MID_ACTION
#[RADIOGROUP] AC_ASW 4
#[ADDITEM] AC_TANKER C_TYPE_RADIO TXT_FUEL MID_ACTION
#[RADIOGROUP] AC_TANKER 4
#[ADDITEM] AC_AIRDROP C_TYPE_RADIO TXT_AIRDROP MID_ACTION
#[RADIOGROUP] AC_AIRDROP 4
#[ADDITEM] AC_JAM C_TYPE_RADIO TXT_JAM MID_ACTION
#[RADIOGROUP] AC_JAM 4

[ADDITEM] MID_SEND_SIGNAL C_TYPE_ITEM TXT_MID_SEND_SIGNAL
