#UI BMS4, created by Revientor and Amraam (2009)
#Modified by Dee-Jay 25/08/2019 : Clock window ZULU / LOCAL TIME update
#This window displays the "Unit Info".

[WINDOW]
[SETUP] UNIT_WIN C_TYPE_NORMAL 366 396
[XY] 307 128 
[RANGES] 0 0 1024 768 366 396
[FONT] OCR_EXT_14
[CLIENTAREA] 12 260 301 116 0
[GROUP] 7500
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 362 22 1 "Titlebar"
[CLIENTAREA] 2 2 330 400 2 "Text Box Clipper"

[TILE] 
[SETUP] NID 0 STATUSBAT 
[XYWH] 0 0 366 396
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 339 3
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7500
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE

[BITMAP]
[SETUP] UNIT_ICON 0 0
[XY] 34 58
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] UNIT_TITLE C_TYPE_LEFT
[FIXEDWIDTH] 50
[SETTEXT] TXT_EMPTY
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[XY] 6 3 
[FONT] BANK_GOTHIC_20

[TEXT] 
[SETUP] UNIT_NAME C_TYPE_LEFT
[FIXEDWIDTH] 50
[SETTEXT] TXT_EMPTY
[XY] 212 34
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FONT] OCR_EXT_14

[TEXT] 
[SETUP] UNIT_PARENT C_TYPE_LEFT
[FIXEDWIDTH] 50
[SETTEXT] TXT_EMPTY
[XY] 212 58
[FGCOLOR] 0 0 0
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FONT] OCR_EXT_12

[TEXT] 
[SETUP] UNIT_GRANDPARENT C_TYPE_LEFT
[FIXEDWIDTH] 50
[SETTEXT] TXT_EMPTY
[XY] 212 72
[FGCOLOR] 0 0 0
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] OCR_EXT_12

[BOX] "Strength Outline"
[SETUP] NID 0
[XYWH] 341 90 13 159
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "Strength BG"
[SETUP] NID 0 
[XYWH] 342 91 12 158
[COLOR] 0 0 0
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "Strength bar"
[SETUP] UNIT_STRENGTH 0
[XYWH] 342 91 12 158
[COLOR] 255 0 0
[FLAGBITON] C_BIT_ABSOLUTE
[USERDATA] C_STATE_0 91 "100 % Y"
[USERDATA] C_STATE_1 158 "100 % Height"

#Owner
[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_OWNER
[XY] 16 90
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] UNIT_OWNER C_TYPE_RIGHT
[FIXEDWIDTH] 40
[SETTEXT] TXT_EMPTY
[XY] 66 90
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

#Orders
[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_ORDERS
[XY] 16 110
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[EDITBOX]
[SETUP] UNIT_OBJECTIVE C_TYPE_TEXT
[XYWH] 66 110 265 16
[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_WORDWRAP
[MAXLEN] 30
[STRING] TXT_EMPTY
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_14
[FLAGBITOFF] C_BIT_ENABLED
[CLIENT] 2

#Dunc 20161117: added TXT_UNKNOWN
[LISTBOX] 
[SETUP] UNIT_ORDERS 0
[XYWH] 6 235 94 16
[NORMCOLOR] 230 230 230 WHITE
[SELCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[ADDITEM] 1 C_TYPE_ITEM TXT_ORDER_RESERVE
[ADDITEM] 2 C_TYPE_ITEM TXT_ORDER_CAPTURE
[ADDITEM] 3 C_TYPE_ITEM TXT_ORDER_SECURE
[ADDITEM] 4 C_TYPE_ITEM TXT_ORDER_ATTACK
[ADDITEM] 5 C_TYPE_ITEM TXT_ORDER_AIRBORNE
[ADDITEM] 6 C_TYPE_ITEM TXT_ORDER_COMMANDO
[ADDITEM] 7 C_TYPE_ITEM TXT_ORDER_DEFEND
[ADDITEM] 8 C_TYPE_ITEM TXT_ORDER_SUPPORT
[ADDITEM] 9 C_TYPE_ITEM TXT_ORDER_REPAIR
[ADDITEM] 10 C_TYPE_ITEM TXT_ORDER_AIRDEFENSE
[ADDITEM] 11 C_TYPE_ITEM TXT_ORDER_RECON
[ADDITEM] 12 C_TYPE_ITEM TXT_ORDER_RADAR
[ADDITEM] 13 C_TYPE_ITEM TXT_UNKNOWN

#(Revientor 14 june 2015) Since this is a WIP feature this lines has been unabled to avoid by the public see this feature
#[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_INVISIBLE
#[SOUNDBITE] SND_MENU C_STATE_DOWN

#ETA
[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_ETA
[XY] 16 130
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] 
[SETUP] UNIT_ETA C_TYPE_RIGHT
[FIXEDWIDTH] 50
[SETTEXT] TXT_EMPTY
[XY] 66 130
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_ZULU_TIME
[XY] 140 130
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_14
[FLAGBITON] C_BIT_ABSOLUTE

#Experience
[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_EXPERIENCE
[XY] 104 153
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX] 
[SETUP] UNIT_EXPERIENCE 0
[XYWH] 200 153 136 16
[NORMCOLOR] 230 230 230 WHITE
[SELCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[ADDITEM] C_STATE_1 C_TYPE_ITEM TXT_RECRUITS
[ADDITEM] C_STATE_2 C_TYPE_ITEM TXT_RESERVES
[ADDITEM] C_STATE_3 C_TYPE_ITEM TXT_REGULARS
[ADDITEM] C_STATE_4 C_TYPE_ITEM TXT_VETERANS
[ADDITEM] C_STATE_5 C_TYPE_ITEM TXT_ELITE
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SUPPLY
[XY] 104 173
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX] 
[SETUP] UNIT_SUPPLY 0
[XYWH] 200 173 136 16
[NORMCOLOR] 230 230 230 WHITE
[SELCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[ADDITEM] C_STATE_1 C_TYPE_ITEM TXT_CRITICAL
[ADDITEM] C_STATE_2 C_TYPE_ITEM TXT_LOW
[ADDITEM] C_STATE_3 C_TYPE_ITEM TXT_NORMAL
[ADDITEM] C_STATE_4 C_TYPE_ITEM TXT_FULL
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_MORALE
[XY] 104 193
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX] 
[SETUP] UNIT_MORALE 0
[XYWH] 200 193 136 16
[NORMCOLOR] 230 230 230 WHITE
[SELCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[ADDITEM] C_STATE_1 C_TYPE_ITEM TXT_BROKEN
[ADDITEM] C_STATE_2 C_TYPE_ITEM TXT_LOW
[ADDITEM] C_STATE_3 C_TYPE_ITEM TXT_NORMAL
[ADDITEM] C_STATE_4 C_TYPE_ITEM TXT_HIGH
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_FATIGUE
[XY] 104 213
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX] 
[SETUP] UNIT_FATIGUE 0
[XYWH] 200 213 136 16
[NORMCOLOR] 230 230 230 WHITE
[SELCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[ADDITEM] C_STATE_1 C_TYPE_ITEM TXT_NORMAL
[ADDITEM] C_STATE_2 C_TYPE_ITEM TXT_SLIGHT
[ADDITEM] C_STATE_3 C_TYPE_ITEM TXT_TIRED
[ADDITEM] C_STATE_4 C_TYPE_ITEM TXT_EXHAUSTED
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_MENU C_STATE_DOWN

#EXPERIMENTAL
#[TEXT] 
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_OBJECTIVE
#[XY] 104 213
#[FONT] HAETTEN_14
#[FGCOLOR] 66 132 173
#[FLAGBITON] C_BIT_ABSOLUTE

#[LINE] "Field backing"
#[SETUP] NID 0
#[XYWH] 200 213 136 32
#[COLOR] 66 132 173
#[FLAGBITON] C_BIT_ABSOLUTE

#[EDITBOX]
#[SETUP] UNIT_OBJECTIVE C_TYPE_TEXT
#[XYWH] 205 213 136 32
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_WORDWRAP
#[MAXLEN] 30
#[STRING] TXT_EMPTY
#[FGCOLOR] 230 230 230
#[FONT] OCR_EXT_14
#[FLAGBITOFF] C_BIT_ENABLED

#FORMATION
[TEXT] 
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_FORMATION
[XY] 104 233
[FONT] HAETTEN_14
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX] 
[SETUP] UNIT_FORMATION 0
[XYWH] 200 233 136 16
[NORMCOLOR] 230 230 230 WHITE
[SELCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[ADDITEM] FORMATION_WEDGE C_TYPE_ITEM TXT_FORM_WEDGE
[ADDITEM] FORMATION_ECHELON C_TYPE_ITEM TXT_FORM_ECHELON
[ADDITEM] FORMATION_OVERWATCH C_TYPE_ITEM TXT_FORM_OVERWATCH
[ADDITEM] FORMATION_COLUMN C_TYPE_ITEM TXT_FORM_COLUMN
[ADDITEM] FORMATION_DEPLOYED C_TYPE_ITEM TXT_FORM_DEPLOYED
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_MENU C_STATE_DOWN

[BITMAP]
[SETUP] NID 0 ARMY_SYMBOL
[XY] 16 163
[FLAGBITON] C_BIT_ABSOLUTE

#[TEXT] 
#[SETUP] NID C_TYPE_LEFT
#[SETTEXT] TXT_TABLE_OF_EQUIPMENT
#[XY] 20 316
#[FGCOLOR] 230 230 230
#[FLAGBITON] C_BIT_ABSOLUTE
#[FONT] BANK_GOTHIC_16

#[LINE] "TOE Field backing"
#[SETUP] NID 0
#[XYWH] 200 316 136 16
#[COLOR] 66 132 173
#[FLAGBITON] C_BIT_ABSOLUTE

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 341 260 13 122
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 0
[INCREMENT] 14
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON

[BUTTON]
[SETUP] BATT_HUMAN_TAB C_TYPE_TOGGLE 73 220
[IMAGES] BID_CHK1_OFF BID_CHK1_ON NULL NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[LABELFLAGBITON] C_BIT_RIGHT
[LABELALL] TXT_HQ_FLAG
[TEXTCOLOR] C_STATE_0 230 230 230
[TEXTCOLOR] C_STATE_1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 230 230 230
[TEXTOFFSET] C_STATE_UP -25 0
[TEXTOFFSET] C_STATE_DOWN -25 0
[TEXTOFFSET] C_STATE_DISABLED -25 0
[CURSOR] CRSR_F16_ON