#UI BMS4, created by Revientor and Naldo (2009)
#This is the main TEAMS Editor Window when you click on TEAMS in the editor left side.


#UI BMS 4.38 update, May 2023, by Kolbe

#This controls the Teams settings in the TE Edit window.

It contains:
#- Team Flags
#- Team Settings
#- Mission Statement
#- Team Territory (Map)


##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] TAC_TEAM_WIN C_TYPE_NORMAL 1000 900
#[RANGES] 0 0 1024 768 630 479
[XY] 100 150
[CLIENTAREA] 8 52 184 215 0 "Team colors"
[CLIENTAREA] 602 226 305 120 1 "Mission statement"
[CLIENTAREA] 460 480 172 172 2 "Map"
[GROUP] 3800
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT
[DEPTH] 4

#########################################################

#Settings Lines

[LINE]
[SETUP] NID 0
[XYWH] 50 132 1 400
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[LINE]
[SETUP] NID 0
[XYWH] 50 315 140 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[LINE]
[SETUP] NID 0
[XYWH] 190 200 1 200
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230


#Team Territory lines

[LINE]
[SETUP] NID 0
[XYWH] 50 531 350 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[LINE]
[SETUP] NID 0
[XYWH] 400 455 1 200
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230


#Mission Statement lines

[LINE]
[SETUP] NID 0
[XYWH] 490 90 200 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[LINE]
[SETUP] NID 0
[XYWH] 690 90 1 105
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[LINE]
[SETUP] NID 0
[XYWH] 590 195 320 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

#########################################################

##################
#BUTTONS
##################

#Activate a new team
[BUTTON]
[SETUP] TAC_NEW, C_TYPE_NORMAL, 200 0
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, BTN_155_40_DARK
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_NEW
[FONT] BANK_GOTHIC_24
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 3200
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_NEW

#Deactivate current team
[BUTTON]
[SETUP] TAC_DELETE_TEAM, C_TYPE_NORMAL, 400 0
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, BTN_155_40_DARK
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_DELETE
[FONT] BANK_GOTHIC_24
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 19500
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_DELETE


#########################################################

##################
#TEAMS
##################

#Flag Box

[TEXT] 
[SETUP] NID, 0
[SETTEXT] TXT_TEAMS
[XY] 10 0
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 10 50 480 81
[PERCENT] 15
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_TRANSLUCENT

[BOX]
[SETUP] NID 0
[XYWH] 10 50 480 81
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE


#Active Teams

#Team 1
[LINE] "GROUP 1 color"
[SETUP] GROUP1_COLOR 0
[XYWH] 20 60 45 62
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP1_FLAG C_TYPE_RADIO 27 64
[GROUP] 1
[FLAGBITON] C_BIT_ABSOLUTE


#Team 2
[LINE] "GROUP 2 color"
[SETUP] GROUP2_COLOR 0
[XYWH] 80 60 45 62
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP2_FLAG C_TYPE_RADIO 87 64
[GROUP] 1
[FLAGBITON] C_BIT_ABSOLUTE


#Team 3
[LINE] "GROUP 3 color"
[SETUP] GROUP3_COLOR 0
[XYWH] 140 60 45 62
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP3_FLAG C_TYPE_RADIO 147 64
[GROUP] 1
[FLAGBITON] C_BIT_ABSOLUTE


#Team 4
[LINE] "GROUP 4 color"
[SETUP] GROUP4_COLOR 0
[XYWH] 200 60 45 62
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP4_FLAG C_TYPE_RADIO 207 64
[GROUP] 1
[FLAGBITON] C_BIT_ABSOLUTE


#Team 5
[LINE] "GROUP 5 color"
[SETUP] GROUP5_COLOR 0
[XYWH] 260 60 45 62
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP5_FLAG C_TYPE_RADIO 267 64
[GROUP] 1
[FLAGBITON] C_BIT_ABSOLUTE


#Team 6
[LINE] "GROUP 6 color"
[SETUP] GROUP6_COLOR 0
[XYWH] 320 60 45 62
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP6_FLAG C_TYPE_RADIO 327 64
[GROUP] 1
[FLAGBITON] C_BIT_ABSOLUTE


#Team 7
[LINE] "GROUP 7 color"
[SETUP] GROUP7_COLOR 0
[XYWH] 380 60 45 62
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] GROUP7_FLAG C_TYPE_RADIO 387 64
[GROUP] 1
[FLAGBITON] C_BIT_ABSOLUTE


#Team 8 (unused)
#[LINE] "GROUP 8 color"
#[SETUP] GROUP8_COLOR 0
#[XYWH] 440 60 45 62
#[COLOR] 178 113 55
#[FLAGBITON] C_BIT_ABSOLUTE

#[BUTTON]
#[SETUP] GROUP8_FLAG C_TYPE_RADIO 447 64
#[GROUP] 1
#[FLAGBITON] C_BIT_ABSOLUTE


#########################################################

##################
#SETTINGS
##################

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_SETTINGS
[XY] 200 200
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE


###Team attributes
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_NAME
[XY] 330 230
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 350 228 125 24
[PERCENT] 15
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_TRANSLUCENT

[BOX]
[SETUP] NID 0
[XYWH] 350 228 125 24
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE

[EDITBOX]
[SETUP] CURRENT_NAME C_TYPE_TEXT
[XYWH] 352 231 116 21
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[STRING] TXT_TEAM_BLUE
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[CURSOR] CRSR_TEXT
[FLAGBITON] C_BIT_ABSOLUTE


###FLAG

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_FLAG
[XY] 330 270
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT

#Cycle available flags
[BUTTON]
[SETUP] PREV_FLAG C_TYPE_NORMAL 350 275
[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] NEXT_FLAG C_TYPE_NORMAL 365 275
[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP
[FLAGBITON] C_BIT_ABSOLUTE


###COLORS

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_COLORS
[XY] 330 290
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT


#Cycle available colors
[BUTTON]
[SETUP] PREV_COLOR C_TYPE_NORMAL 350 295
[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] NEXT_COLOR C_TYPE_NORMAL 365 295
[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP
[FLAGBITON] C_BIT_ABSOLUTE

[FILL] "Current team color"
[SETUP] CURRENT_COLOR 0
[XYWH] 399 272 60 38
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] CURRENT_FLAG C_TYPE_CUSTOM 403 276
[CURSOR] CRSR_F16_ON
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_ABSOLUTE


###SKILLS

#Base team pilot skill
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PILOTSKILL
[XY] 330 330
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT

[LISTBOX]
[SETUP] PILOT_SKILL 0
[XYWH] 350 330 104 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 255 255 0 YELLOW
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[ADDITEM] ACE_LEVEL C_TYPE_ITEM TXT_ACE
[ADDITEM] VETERAN_LEVEL C_TYPE_ITEM TXT_VETERAN
[ADDITEM] ROOKIE_LEVEL C_TYPE_ITEM TXT_ROOKIE
[ADDITEM] CADET_LEVEL C_TYPE_ITEM TXT_CADET
[ADDITEM] RECRUIT_LEVEL C_TYPE_ITEM TXT_RECRUIT
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE

[LINE]
[SETUP] NID 0
[XYWH] 350 350 104 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[LINE]
[SETUP] NID 0
[XYWH] 454 343 1 8
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230


#BASE team SAM/AAA skill
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SAM_AAASKILL
[XY] 330 370
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT

[LISTBOX]
[SETUP] SAM_SKILL 0
[XYWH] 350 370 104 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 255 255 0 YELLOW
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[ADDITEM] ACE_LEVEL C_TYPE_ITEM TXT_ACE
[ADDITEM] VETERAN_LEVEL C_TYPE_ITEM TXT_VETERAN
[ADDITEM] ROOKIE_LEVEL C_TYPE_ITEM TXT_ROOKIE
[ADDITEM] CADET_LEVEL C_TYPE_ITEM TXT_CADET
[ADDITEM] RECRUIT_LEVEL C_TYPE_ITEM TXT_RECRUIT
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE

[LINE]
[SETUP] NID 0
[XYWH] 350 390 104 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[LINE]
[SETUP] NID 0
[XYWH] 454 383 1 8
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230


#########################################################

##################
#MISSION STATEMENT
##################

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_MISS_STATEMENT
[XY] 600 200
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE

[EDITBOX]
[SETUP] MISSION_STATEMENT C_TYPE_TEXT
[MAXLEN] 200
[NUMLINES] 7
[STRING] TXT_EMPTY
[XYWH] 0 0 305 150
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[BGCOLOR] 0 63 30 DARK GREEN
[CURSOR] CRSR_TEXT
[FONT] OCR_EXT_16
[FLAGBITON] C_BIT_WORDWRAP
[CLIENT] 1

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 600 224 307 121
[PERCENT] 15
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_TRANSLUCENT

[BOX]
[SETUP] NID 0
[XYWH] 600 224 307 121
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE


#########################################################

##################
#TEAM TERRITORY
##################

#Map
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_TEAM_TERRITORY
[XY] 410 450
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE

[FILL]
[SETUP] NID 0
[XYWH] 458 478 175 175
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BITMAP]
[SETUP] NID 0 IA_MAP_TGA
[CLIENT] 2

[BUTTON]
[SETUP] TAC_MAP_TE C_TYPE_CUSTOM
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITOFF] C_BIT_MOUSEOVER
[PERCENT] 50
[CLIENT] 2
[XY] 1 1


#Map controls
[BUTTON]
[SETUP] DRAW_TERRITORY,C_TYPE_RADIO, 410 490
[IMAGES] TOOL_DRAW_UP TOOL_DRAW_DOWN NULL TOOL_DRAW_UP
[STATE] C_STATE_1
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SET_TERRITORY
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[GROUP] 50

[BUTTON]
[SETUP] ERASE_TERRITORY,C_TYPE_RADIO, 410 520
[IMAGES] TOOL_ERASE_UP TOOL_ERASE_DOWN NULL TOOL_ERASE_UP
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_ERASE_TERRITORY
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[GROUP] 50

[BUTTON]
[SETUP] CLEAR_TERRITORY,C_TYPE_NORMAL, 410 550
[IMAGES] TOOL_CLEAR_UP TOOL_CLEAR_DOWN NULL TOOL_CLEAR_UP
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_CLEAR_ALL
[SOUNDBITE] SND_PUSH C_STATE_DOWN

[BUTTON]
[SETUP] UNDO_TERRITORY,C_TYPE_NORMAL, 410 580
[IMAGES] TOOL_UNDO_UP TOOL_UNDO_DOWN NULL TOOL_UNDO_UP
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_UNDO
[SOUNDBITE] SND_PUSH C_STATE_DOWN