#USNUED? I have no idea what this one's for!?

[WINDOW]
[SETUP] LOGFONT_WIN C_TYPE_NORMAL 100 180
[XY] 450 40
[DRAGH] 30
[GROUP] 6100
[FONT] OCR_EXT_12
[RANGES] 0 0 1024 768 422 312
# [FLAGBITON] C_BIT_TRANSLUCENT

# [FILL]
# [SETUP] NID C_TYPE_VERTICAL
# [WH] 100 180
# [GRADIENT] 70 30
# [COLOR] 0 0 100
# [FLAGBITON] C_BIT_TRANSLUCENT

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] CAMP_HACK_TXT_TITLE
[XY] 5 5
[FONT] OCR_EXT_16
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] CAMP_HACK_BTN_1 C_TYPE_NORMAL 5 30
[IMAGES] BID_FILE_OUT BID_FILE_IN NULL BID_FILE_OUT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] CAMP_HACK_TXT_1
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] CAMP_HACK_BTN_2 C_TYPE_NORMAL 5 60
[IMAGES] BID_FILE_OUT BID_FILE_IN NULL BID_FILE_OUT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] CAMP_HACK_TXT_2
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] CAMP_HACK_BTN_3 C_TYPE_NORMAL 5 90
[IMAGES] BID_FILE_OUT BID_FILE_IN NULL BID_FILE_OUT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] CAMP_HACK_TXT_3
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] CAMP_HACK_BTN_4 C_TYPE_NORMAL 5 120
[IMAGES] BID_FILE_OUT BID_FILE_IN NULL BID_FILE_OUT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] CAMP_HACK_TXT_4
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] CAMP_HACK_BTN_5 C_TYPE_NORMAL 5 150
[IMAGES] BID_FILE_OUT BID_FILE_IN NULL BID_FILE_OUT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] CAMP_HACK_TXT_5
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[CURSOR] CRSR_F16_ON