#This displays your team colors.

[WINDOW] TEAM DISPLAY
[SETUP] DF_TEAM_WIN C_TYPE_NORMAL 328 272
[RANGES] 0 0 1024 768 328 268
[XY] 456 255
[GROUP] 2000
[FLAGBITON] C_BIT_CANTMOVE

[BITMAP]
[SETUP] NID, 0 DF_TEAM_TGA