#UI BMS 4.38 update, February 20243, by Kolbe

#This displays the full screen campaign map when you click on the map expand button in the campaign module.

[WINDOW]
[SETUP] CB_FULLMAP_WIN C_TYPE_NORMAL 1860 1080
[RANGES] 0 0 1920 1080 1860 1080
[XY] 0 0
[CLIENTAREA] 0 0 1860 1065
[GROUP] 6400
[FLAGBITON] C_BIT_CANTMOVE
[DEPTH] 15
[OPENMENU] CAMP_POP

#####  Background image
[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 1065 1860 1080
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

##### Copyrights for SkyVector.com
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_COPYRIGHTS
[XY] 1633 1065
[FONT] OCR_EXT_14
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE