#UI BMS 4.38 update, February 2024, by Kolbe

#This window displays the toolbar on the right side of the full screen map display when playing a campaign.
#It contains following buttons:
#- Exit
#- Help
#- Map buttons
#- Team, Add, Flight buttons
#- Tools, Weather, DTC buttion
#- Fly button

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] CB_FULLRIGHT_WIN C_TYPE_NORMAL 60 1080
[RANGES] 0 0 1920 1080 60 1080
[XY] 1860 0
[GROUP] 6400
[FLAGBITON] C_BIT_CANTMOVE
[DEPTH] 15

[TILE]
[SETUP] NID 0 BACKBUILDER
[XYWH] 0 0 60 1080
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

#########################################################

#########################################################

##################
#EXIT BUTTON
##################

[BUTTON]
[SETUP] CAMP_CLOSE_CTRL C_TYPE_NORMAL 10 2
[IMAGES] CLOSE_BTN CLOSE_BTN CLOSE_BTN CLOSE_BTN
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_EXIT_GAME C_TYPE_LMOUSEDOWN
[GROUP] 3900
[CURSOR] CRSR_F16_ON

#########################################################

##################
#HELP
##################

[LINE]
[SETUP] NID 0
[XYWH] 0 100 60 16
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[TEXT] 
[SETUP] NID, 0
[SETTEXT] TXT_HELP
[XY] 30 100
[FGCOLOR] 130 130 130
[FONT] HAETTEN_14
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER

#Help Button

[BUTTON]
[SETUP] UI_HELP_GUIDE C_TYPE_NORMAL 17 120
[BUTTONIMAGE] C_STATE_0 TOOL_BLANK_UP
[BUTTONIMAGE] C_STATE_1 TOOL_BLANK_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 400043
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_HELP

#########################################################

##################
#MAP
##################

[LINE]
[SETUP] NID 0
[XYWH] 0 180 60 16
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[TEXT] 
[SETUP] NID, 0
[SETTEXT] TXT_MAP_CAPITAL
[XY] 30 180
[FGCOLOR] 130 130 130
[FONT] HAETTEN_14
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER

#Map Minimize Button

[BUTTON]
[SETUP] CB_FULLMAP_CLOSE_CTRL C_TYPE_NORMAL 17 200
[BUTTONIMAGE] C_STATE_0 BID_MAP_MAX
[BUTTONIMAGE] C_STATE_1 BID_MAP_MAX_LIT
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6400
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_CLOSE C_STATE_DOWN
[HELPTEXT] HELP_MAP_MINIMIZE

#Map Zoom Out Button

[BUTTON]
[SETUP] BI_ZOUT_CTRL C_TYPE_NORMAL 17 230
[IMAGES] BID_MAP_MIN BID_MAP_MIN_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6500
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_MAP_ZOOM_OUT C_STATE_DOWN
[HELPTEXT] HELP_MAP_ZOOM_OUT

#Map Zoom In Button

[BUTTON]
[SETUP] BI_ZIN_CTRL C_TYPE_NORMAL 17 260
[IMAGES] BID_MAP_PLUS BID_MAP_PLUS_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6500
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_MAP_ZOOM_IN C_STATE_DOWN
[HELPTEXT] HELP_MAP_ZOOM_IN

#Map Fit Button

[BUTTON]
[SETUP] BI_FIT_CTRL C_TYPE_NORMAL 17 290
[IMAGES] BID_MAP_FIT BID_MAP_FIT_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6500
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_MAP_FIT_PLAN

#Map Sel Button

[BUTTON]
[SETUP] BI_MSEL_CTRL C_TYPE_NORMAL 17 320
[IMAGES] BID_MAP_SEL BID_MAP_SEL_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6500
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN

#########################################################

##################
#INTEL
##################

[LINE]
[SETUP] NID 0
[XYWH] 0 380 60 16
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[TEXT] 
[SETUP] NID, 0
[SETTEXT] TXT_CAMP_INTEL_CAPITAL
[XY] 30 380
[FGCOLOR] 130 130 130
[FONT] HAETTEN_14
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER

#Priorities Button

[BUTTON]
[SETUP] SET_PRIORITIES C_TYPE_NORMAL 17 400
[BUTTONIMAGE] C_STATE_0 FMAP_REV_PRI
[BUTTONIMAGE] C_STATE_1 FMAP_REV_PRI_PSH
[GROUP] 6210
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_PRIORITY

#Squadron Info Button

[BUTTON]
[SETUP] SQUADRON_BUTTON C_TYPE_NORMAL 17 430
[BUTTONIMAGE] C_STATE_0 FMAP_REV_REC
[BUTTONIMAGE] C_STATE_1 FMAP_REV_REC_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7600
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_SQUAD_RECORDS_ICON

#Sierra Hotel Button

[BUTTON]
[SETUP] SIERRA_HOTEL C_TYPE_NORMAL 17 460
[BUTTONIMAGE] C_STATE_0 FMAP_REV_ACE
[BUTTONIMAGE] C_STATE_1 FMAP_REV_ACE_PSH
[BUTTONIMAGE] C_STATE_DISABLED ACE_DISABLED
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6300
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_SIERRA_HOTEL_ICON

#Force Level Button

[BUTTON]
[SETUP] FORCE_LEVELS_BUTTON C_TYPE_NORMAL 17 490
[BUTTONIMAGE] C_STATE_0 FMAP_REV_FORCE
[BUTTONIMAGE] C_STATE_1 FMAP_REV_FORCE_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6205
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_FORCE_LEVELS_ICON

#Campaign History / Intel Button

[BUTTON]
[SETUP] CAMP_HISTORY_BUTTON C_TYPE_NORMAL 17 520
[BUTTONIMAGE] C_STATE_0 FMAP_REV_HISTORY
[BUTTONIMAGE] C_STATE_1 FMAP_REV_HISTORY_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6203
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_JSTARS_ICON

#########################################################

##################
#FLIGHT
##################

[LINE]
[SETUP] NID 0
[XYWH] 0 580 60 16
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[TEXT] 
[SETUP] NID, 0
[SETTEXT] TXT_FLIGHT_CAPITAL
[XY] 30 580
[FGCOLOR] 130 130 130
[FONT] HAETTEN_14
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER


#Flight Plan Button

[BUTTON]
[SETUP] FLIGHT_PLAN_BUTTON C_TYPE_NORMAL 17 600
[BUTTONIMAGE] C_STATE_0 FMAP_REV_PLAN
[BUTTONIMAGE] C_STATE_1 FMAP_REV_PLAN_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7003
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_FLIGHT_PLAN_ICON

#Briefing Page Button

[BUTTON]
[SETUP] BRIEF_BUTTON C_TYPE_NORMAL 17 630
[BUTTONIMAGE] C_STATE_0 FMAP_REV_BRIEFING
[BUTTONIMAGE] C_STATE_1 FMAP_REV_BRIEFING_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7000
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_BRIEF_ICON

#Loadout Page Button

[BUTTON]
[SETUP] MUNITIONS_BUTTON C_TYPE_NORMAL 17 650
[BUTTONIMAGE] C_STATE_0 FMAP_REV_SQUAD
[BUTTONIMAGE] C_STATE_1 FMAP_REV_SQUAD_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7005
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_MUNITIONS_ICON

#Linear Scale Flight Profile

[BUTTON]
[SETUP] BI_LIN_CTRL C_TYPE_NORMAL 17 680
[IMAGES] BID_MAP_LIN BID_MAP_LIN_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6401
[USERDATA] C_STATE_0 200
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_MAP_LIN_ALT

#########################################################

##################
#TOOLS
##################

[LINE]
[SETUP] NID 0
[XYWH] 0 740 60 16
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[TEXT] 
[SETUP] NID, 0
[SETTEXT] TXT_TOOLS_CAPITAL
[XY] 30 740
[FGCOLOR] 130 130 130
[FONT] HAETTEN_14
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER

#Order Of Battle Button

[BUTTON]
[SETUP] CAMP_OOB_BUTTON C_TYPE_NORMAL 17 760
[BUTTONIMAGE] C_STATE_0 FMAP_REV_OOB
[BUTTONIMAGE] C_STATE_1 FMAP_REV_OOB_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7009
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_OOB_ICON

#Air Task Order Button

[BUTTON]
[SETUP] ATO_BUTTON C_TYPE_NORMAL 17 790
[BUTTONIMAGE] C_STATE_0 FMAP_REV_ATO
[BUTTONIMAGE] C_STATE_1 FMAP_REV_ATO_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7001
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_ATO_ICON

#########################################################

##################
#WEATHER
##################

[LINE]
[SETUP] NID 0
[XYWH] 0 850 60 16
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[TEXT] 
[SETUP] NID, 0
[SETTEXT] TXT_WTH_WEATHER
[XY] 30 850
[FGCOLOR] 130 130 130
[FONT] HAETTEN_14
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER

#Weather Button

[BUTTON]
[SETUP] BI_SHOW_WEATHER C_TYPE_NORMAL 17 870
[IMAGES] BID_MAP_WTH BID_MAP_WTH_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6401
[USERDATA] C_STATE_0 100
[USERDATA] C_STATE_1 200
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_MAP_WTH

#########################################################

##################
#DTC
##################

[LINE]
[SETUP] NID 0
[XYWH] 0 930 60 16
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[TEXT] 
[SETUP] NID, 0
[SETTEXT] TXT_DATA_CARD_CAPITAL
[XY] 30 930
[FGCOLOR] 130 130 130
[FONT] HAETTEN_14
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER

#DTC Button

[BUTTON]
[SETUP] BI_SHOW_DTC C_TYPE_NORMAL 17 950
[IMAGES] BID_MAP_MAP BID_MAP_MAP_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6401
[USERDATA] C_STATE_0 100
[USERDATA] C_STATE_1 200
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_MAP_DTC

#########################################################

##################
#TAKE OFF
##################

[LINE]
[SETUP] NID 0
[XYWH] 0 1010 60 16
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[TEXT] 
[SETUP] NID, 0
[SETTEXT] TXT_SAVE_TAKEOFF_CAPITAL
[XY] 30 1010
[FGCOLOR] 130 130 130
[FONT] HAETTEN_14
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER

#Fly Button

#SP
[BUTTON]
[SETUP] SINGLE_FLY_CTRL C_TYPE_NORMAL 17 1030
[BUTTONIMAGE] C_STATE_0 FMAP_REV_FLY
[BUTTONIMAGE] C_STATE_1 FMAP_REV_FLY_PSH
[BUTTONIMAGE] C_STATE_DISABLED NONE
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_FLY_ICON

#MP
[BUTTON]
[SETUP] COMMS_FLY_CTRL C_TYPE_NORMAL 17 1030
[BUTTONIMAGE] C_STATE_0 FMAP_REV_FLY
[BUTTONIMAGE] C_STATE_1 FMAP_REV_FLY_PSH
[BUTTONIMAGE] C_STATE_DISABLED NONE
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_FLY_ICON