#UI BMS 4.38 update, January 2024, by Kolbe

#This is the Main Menu in the Campaign Play Window.

#It contains:
#- Mission Schedule
#- Intel
#- Save
#- Logbook
#- ACMI
#- Tact. Reference
#- Comms
#- Setup
#- Exit

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] CB_MAIN_SCREEN C_TYPE_NORMAL 1920 1080
[XY] 0 0
[RANGES] 0 0 1920 1080 1920 1080
[GROUP] 200
[FLAGBITON] C_BIT_CANTMOVE
[DEPTH] 2


##################
#BACKGROUND IMAGES
##################
[TILE]
[SETUP] NID 0 BG_MAIN_BRIGHT
[XYWH] 0 0 1920 48
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[BITMAP]
[SETUP] NID C_STATE_DOWN BASEBG
[XY] 0 47

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 48 1920 1032
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE


##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 0 47 1920 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


###########c#######
#MISSION
##################
[BUTTON]
[SETUP] MISSION_MAIN_CTRL C_TYPE_NORMAL 25 4
[BUTTONIMAGE] C_STATE_0 BTN_270_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_270_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_270_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_270_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_CAMP_MISSION_SCHEDULE
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 230 230 230
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 6100
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES, C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON


##################
#INTEL
##################
[BUTTON]
[SETUP] INTEL_MAIN_CTRL C_TYPE_NORMAL 295 4
[BUTTONIMAGE] C_STATE_0 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_130_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_CAMP_INTEL
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 230 230 230
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 6200
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES, C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON


##################
#SAVE
##################
[BUTTON]
[SETUP] CAMP_SAVE_CTRL C_TYPE_NORMAL 425 4
[BUTTONIMAGE] C_STATE_0 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_130_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SAVE
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 230 230 230
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON
[GROUP] 2021


##################
#LOGBOOK
##################
[BUTTON]
[SETUP] LB_MAIN_CTRL C_TYPE_NORMAL 555 4
[BUTTONIMAGE] C_STATE_0 BTN_155_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_155_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_155_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_155_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_LOWERCASE_LOGBOOK
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 230 230 230
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 5000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON


##################
#ACMI
##################
[BUTTON]
[SETUP] ACMI_CTRL C_TYPE_NORMAL 710 4
[BUTTONIMAGE] C_STATE_0 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_130_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_ACMI_TITLE
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 230 230 230
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[GROUP] 200000
[CURSOR] CRSR_F16_ON


##################
#TACTICAL REFERENCE
##################
[BUTTON]
[SETUP] TACREF_CTRL C_TYPE_NORMAL 840 4
[BUTTONIMAGE] C_STATE_0 BTN_270_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_270_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_270_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_270_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TACREF_LOWERCASE
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 230 230 230
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 10000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON


##################
#COMMS
##################
[BUTTON]
[SETUP] CO_MAIN_CTRL C_TYPE_NORMAL 1110 4
[BUTTONIMAGE] C_STATE_0 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_130_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_COMMS_HDR
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 230 230 230
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 6000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[USERDATA] C_STATE_0 6000
[USERDATA] C_STATE_1 6001
[CURSOR] CRSR_F16_ON


##################
#SETUP
##################
[BUTTON]
[SETUP] SP_MAIN_CTRL C_TYPE_NORMAL 1240 4
[BUTTONIMAGE] C_STATE_0 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_130_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SETUP_HDR
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 230 230 230
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 8000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON


##################
#CLOSE
##################
[BUTTON]
[SETUP] CAMP_CLOSE_CTRL C_TYPE_NORMAL 1860 4
[BUTTONIMAGE] C_STATE_0 CLOSE_BTN
[BUTTONIMAGE] C_STATE_1 CLOSE_BTN
[BUTTONIMAGE] C_STATE_2 CLOSE_BTN
[BUTTONIMAGE] C_STATE_3 CLOSE_BTN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 3000
[CURSOR] CRSR_F16_ON
