#UI BMS 4.38 update, February 2024, by Kolbe

#This controls the small Campaign map and the toolbar buttons on the right side next to it.

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] CP_PUA_MAP C_TYPE_NORMAL 1512 938
[RANGES] 0 0 1920 1080 1510 938
[XY] 408 55
[CLIENTAREA] 0 0 1475 920
[GROUP] 200
[FLAGBITON] C_BIT_CANTMOVE
[OPENCLIENTMENU] 0 CAMP_POP
[DEPTH] 3


##### White frame around the map
#[LINE]
#[SETUP] NID 0
#[XYWH] 408 43 1504 887
#[COLOR] 230 230 230
#[FLAGBITON] C_BIT_ABSOLUTE

#####  Background image
[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 0 1512 938
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

##### Copyrights for SkyVector.com
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_COPYRIGHTS
[XY] 1250 921
[FONT] OCR_EXT_14
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE

#########################################################

#NOTE:
#All buttons moved to Cp_Sua (clock area)

#Map Maximize Button

[BUTTON]
[SETUP] BI_M_MX_CTRL C_TYPE_NORMAL 1479 9
[BUTTONIMAGE] C_STATE_0 BID_MAP_MAX
[BUTTONIMAGE] C_STATE_1 BID_MAP_MAX_LIT
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6400
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_CLOSE C_STATE_DOWN
[HELPTEXT] HELP_MAP_MAXIMIZE

#########################################################

#Help Button

[BUTTON]
[SETUP] UI_HELP_GUIDE C_TYPE_NORMAL 1479 39
[BUTTONIMAGE] C_STATE_0 TOOL_BLANK_UP
[BUTTONIMAGE] C_STATE_1 TOOL_BLANK_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 400043
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_HELP

#########################################################

#Priorities Button
#NOTE: This button must be active (behind the map or outside the window). 
#      Otherwise BMS crashes!

[BUTTON]
[SETUP] SET_PRIORITIES C_TYPE_NORMAL 1479 69
[BUTTONIMAGE] C_STATE_0 FMAP_REV_PRI
[BUTTONIMAGE] C_STATE_1 FMAP_REV_PRI_PSH
[GROUP] 6210
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_PRIORITY

#########################################################

#Order Of Battle Button

[BUTTON]
[SETUP] CAMP_OOB_BUTTON C_TYPE_NORMAL 1479 129
[BUTTONIMAGE] C_STATE_0 FMAP_REV_OOB
[BUTTONIMAGE] C_STATE_1 FMAP_REV_OOB_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7009
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_OOB_ICON

#########################################################

#Squadron Info Button

[BUTTON]
[SETUP] SQUADRON_BUTTON C_TYPE_NORMAL 1479 159
[BUTTONIMAGE] C_STATE_0 FMAP_REV_REC
[BUTTONIMAGE] C_STATE_1 FMAP_REV_REC_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7600
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_SQUAD_RECORDS_ICON

#########################################################

#Sierra Hotel Button

[BUTTON]
[SETUP] SIERRA_HOTEL C_TYPE_NORMAL 1479 189
[BUTTONIMAGE] C_STATE_0 FMAP_REV_ACE
[BUTTONIMAGE] C_STATE_1 FMAP_REV_ACE_PSH
[BUTTONIMAGE] C_STATE_DISABLED ACE_DISABLED
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6300
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_SIERRA_HOTEL_ICON

#########################################################

#Force Level Button

[BUTTON]
[SETUP] FORCE_LEVELS_BUTTON C_TYPE_NORMAL 1479 219
[BUTTONIMAGE] C_STATE_0 FMAP_REV_FORCE
[BUTTONIMAGE] C_STATE_1 FMAP_REV_FORCE_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6205
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_FORCE_LEVELS_ICON

#########################################################

#Campaign History / Intel Button

[BUTTON]
[SETUP] CAMP_HISTORY_BUTTON C_TYPE_NORMAL 1479 249
[BUTTONIMAGE] C_STATE_0 FMAP_REV_HISTORY
[BUTTONIMAGE] C_STATE_1 FMAP_REV_HISTORY_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6203
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_JSTARS_ICON

#########################################################

#Air Task Order Button

[BUTTON]
[SETUP] ATO_BUTTON C_TYPE_NORMAL 1479 309
[BUTTONIMAGE] C_STATE_0 FMAP_REV_ATO
[BUTTONIMAGE] C_STATE_1 FMAP_REV_ATO_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7001
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_ATO_ICON

#########################################################

#Flight Plan Button

[BUTTON]
[SETUP] FLIGHT_PLAN_BUTTON C_TYPE_NORMAL 1479 339
[XY] 10 10
[BUTTONIMAGE] C_STATE_0 FMAP_REV_PLAN
[BUTTONIMAGE] C_STATE_1 FMAP_REV_PLAN_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7003
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_FLIGHT_PLAN_ICON

#########################################################

#Briefing Page Button

[BUTTON]
[SETUP] BRIEF_BUTTON C_TYPE_NORMAL 1479 369
[BUTTONIMAGE] C_STATE_0 FMAP_REV_BRIEFING
[BUTTONIMAGE] C_STATE_1 FMAP_REV_BRIEFING_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7000
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_BRIEF_ICON

#########################################################

#Loadout Page Button

[BUTTON]
[SETUP] MUNITIONS_BUTTON C_TYPE_NORMAL 1479 399
[BUTTONIMAGE] C_STATE_0 FMAP_REV_SQUAD
[BUTTONIMAGE] C_STATE_1 FMAP_REV_SQUAD_PSH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7005
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_MUNITIONS_ICON

#########################################################

#Map Zoom Out Button

[BUTTON]
[SETUP] BI_ZOUT_CTRL C_TYPE_NORMAL 1479 459
[IMAGES] BID_MAP_MIN BID_MAP_MIN_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6500
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_MAP_ZOOM_OUT C_STATE_DOWN
[HELPTEXT] HELP_MAP_ZOOM_OUT

#########################################################

#Map Zoom In Button

[BUTTON]
[SETUP] BI_ZIN_CTRL C_TYPE_NORMAL 1479 489
[IMAGES] BID_MAP_PLUS BID_MAP_PLUS_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6500
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_MAP_ZOOM_IN C_STATE_DOWN
[HELPTEXT] HELP_MAP_ZOOM_IN


#########################################################

#Map Fit Button

[BUTTON]
[SETUP] BI_FIT_CTRL C_TYPE_NORMAL 1479 519
[IMAGES] BID_MAP_FIT BID_MAP_FIT_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6500
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_MAP_FIT_PLAN

#########################################################

#Map Sel Button

[BUTTON]
[SETUP] BI_MSEL_CTRL C_TYPE_NORMAL 1479 549
[IMAGES] BID_MAP_SEL BID_MAP_SEL_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6500
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN

#########################################################

#Linear Scale Flight Profile

[BUTTON]
[SETUP] BI_LIN_CTRL C_TYPE_NORMAL 1479 579
[IMAGES] BID_MAP_LIN BID_MAP_LIN_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6401
[USERDATA] C_STATE_0 200
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_MAP_LIN_ALT

#########################################################

#Logarithm Scale Flight Profile

#Dee-Jay 2018/24/02 - Log Profile temporarily removed#[BUTTON]
#Dee-Jay 2018/24/02 - Log Profile temporarily removed#[SETUP] BI_LOG_CTRL C_TYPE_NORMAL 1479 609
#Dee-Jay 2018/24/02 - Log Profile temporarily removed#[IMAGES] BID_MAP_LOG BID_MAP_LOG_LIT NULL NULL
#Dee-Jay 2018/24/02 - Log Profile temporarily removed#[FLAGBITON] C_BIT_ABSOLUTE
#Dee-Jay 2018/24/02 - Log Profile temporarily removed#[GROUP] 6401
#Dee-Jay 2018/24/02 - Log Profile temporarily removed#[USERDATA] C_STATE_0 100
#Dee-Jay 2018/24/02 - Log Profile temporarily removed#[USERDATA] C_STATE_1 200
#Dee-Jay 2018/24/02 - Log Profile temporarily removed#[CURSOR] CRSR_F16_ON
#Dee-Jay 2018/24/02 - Log Profile temporarily removed#[SOUNDBITE] SND_PUSH C_STATE_DOWN
#Dee-Jay 2018/24/02 - Log Profile temporarily removed#[HELPTEXT] HELP_MAP_LOG_ALT

#########################################################

#DTC Button

[BUTTON]
[SETUP] BI_SHOW_DTC C_TYPE_NORMAL 1479 639
[IMAGES] BID_MAP_MAP BID_MAP_MAP_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6401
[USERDATA] C_STATE_0 100
[USERDATA] C_STATE_1 200
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_MAP_DTC

#########################################################

#Weather Button

[BUTTON]
[SETUP] BI_SHOW_WEATHER C_TYPE_NORMAL 1479 669
[IMAGES] BID_MAP_WTH BID_MAP_WTH_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6401
[USERDATA] C_STATE_0 100
[USERDATA] C_STATE_1 200
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_MAP_WTH

#########################################################

#Fly Button

[BUTTON]
#[SETUP] SINGLE_FLY_CTRL C_TYPE_NORMAL 1479 729
[BUTTONIMAGE] C_STATE_0 FMAP_REV_FLY
[BUTTONIMAGE] C_STATE_1 FMAP_REV_FLY_PSH
[BUTTONIMAGE] C_STATE_DISABLED NONE
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_FLY_ICON

[BUTTON]
#[SETUP] COMMS_FLY_CTRL C_TYPE_NORMAL 1479 729
[BUTTONIMAGE] C_STATE_0 FMAP_REV_FLY
[BUTTONIMAGE] C_STATE_1 FMAP_REV_FLY_PSH
[BUTTONIMAGE] C_STATE_DISABLED NONE
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[HELPTEXT] HELP_FLY_ICON
