#UI BMS 4.38 update, February 2024, by Kolbe

#This window displays the clock, occupation map, and update window in the Campaign Play Window.
#I moved the map buttons (usually in Cp_MsPua) to the clock area.

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] CP_SUA C_TYPE_NORMAL 407 300
[RANGES] 0 0 1920 1080 1920 300
[XY] 0 55
[CLIENTAREA] 5 90 172 172 0 "Update"
[CLIENTAREA] 233 75 340 340 1 "Map"
[GROUP] 200
[FONT] OCR_EXT_16
[FLAGBITON] C_BIT_CANTMOVE
#[FLAGBITON] C_BIT_TRANSLUCENT
[DEPTH] 3

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 0 407 300
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

##################
#CLOCK BG & BOX
##################
[BOX]
[SETUP] NID,0
[XYWH] 3 4 400 31
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID,0
[XYWH] 325 40 78 27
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE

#########################################################

##################
#CLOCK SETUP
##################

##### DD/HH/MM/SS Zulu

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_DAY
[XY] 60 9
[FONT] BANK_GOTHIC_20
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE

[CLOCK]
[SETUP] TIME_ID 0
[USEDAY]
[XY] 55 9
[NORMCOLOR] 255 255 255 WHITE
[SELCOLOR] 255 255 0 YELLOW
[FONT] BANK_GOTHIC_20
[SEP0] TXT_CLOCK_DAY_SEP
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_ENABLED

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_ZULU_TIME
[XY] 215 12
[FONT] BANK_GOTHIC_16
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE

#########################################################

##### DD/HH/MM/SS Local

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_PARENTHESE_IN
[XY] 242 10
[FONT] BANK_GOTHIC_20
[FGCOLOR] 235 235 235
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE

[CLOCK]
[SETUP] TIME_ID_LOCAL 0
[XY] 240 10
[NORMCOLOR] 235 235 235
[SELCOLOR] 235 235 235
[FONT] BANK_GOTHIC_20
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_LOCAL_TIME
[XY] 368 13
[FONT] BANK_GOTHIC_16
[FGCOLOR] 235 235 235
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_PARENTHESE_OUT
[XY] 375 10
[FONT] BANK_GOTHIC_20
[FGCOLOR] 235 235 235
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE

#########################################################

##### Acceleration dropdown

[LISTBOX]
[SETUP] ACCELERATION 0
[XYWH] 327 44 74 20
[FLAGBITON] C_BIT_ABSOLUTE
[NORMCOLOR] 255 255 255 WHITE
[SELCOLOR] 255 255 0 YELLOW
[FONT] BANK_GOTHIC_20
[DROPDOWN] GRN_DROP_DOWN
[ADDITEM] ACCEL_FULLSTOP C_TYPE_ITEM TXT_FULLSTOP
[ADDITEM] ACCEL_0 C_TYPE_ITEM TXT_STOP
[ADDITEM] 1 C_TYPE_ITEM TXT_X1
[ADDITEM] 2 C_TYPE_ITEM TXT_X2
[ADDITEM] 4 C_TYPE_ITEM TXT_X4
[ADDITEM] 8 C_TYPE_ITEM TXT_X8
[ADDITEM] 16 C_TYPE_ITEM TXT_X16
[ADDITEM] 32 C_TYPE_ITEM TXT_X32
[ADDITEM] 64 C_TYPE_ITEM TXT_X64
[VALUE] ACCEL_1
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN
[HELPTEXT] HELP_TIME_ACCELERATE

#########################################################

##################
#UPDATE
##################

#NOTE:
# The overlay / event mark on the map is not working correctly.
# Seems to code rather than data. We have the event mark on the 
# map now but not the color overlay. We can't have both atm.

#### Campaign's updates messages ####
[TEXT]
[SETUP] NID C_TYPE_NORMAL
[SETTEXT] TXT_UPDATE_COLON
[XY] 5 70
[FONT] BANK_GOTHIC_20
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[CLUSTER] 15

[TEXT]
[SETUP] NID C_TYPE_NORMAL
[SETTEXT] TXT_UPDATE_COLON
[XY] 5 70
[FONT] BANK_GOTHIC_20
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] CP_EVENT 0
[XYWH] 0 5 165 165
[FONT] OCR_EXT_16
[FGCOLOR] 222 222 222
[FLAGBITON] C_BIT_WORDWRAP
[CLIENT] 0

[BUTTON]
[SETUP] NEWS_FLASH C_TYPE_NORMAL 117 138
[FONT] OCR_EXT_16
[XY] 5 228
[BUTTONTEXT] C_STATE_0 TXT_NEWS_FLASH
[BUTTONTEXT] C_STATE_1 TXT_NEWS_FLASH
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_USELINE
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON
[GROUP] 4011
[SOUNDBITE] SND_NEWS_REPORT C_STATE_UP

#########################################################

#### Campaign's update map ####

[BITMAP]
[SETUP] NID 0 IA_MAP_TGA
[CLIENT] 1

[BITMAP]
[SETUP] CP_SUA 0 NULL
#[XY] 201 66
[XY] 1 1
[CLIENT] 1
[PERCENT] 40
[FLAGBITON] C_BIT_TRANSLUCENT



















