#UI BMS 4.38 update, February 2024, by Kolbe

#This controls the toolbar at the bottom of the campaign play screen 
#on the Mission Schedule and Intel pages.
#It contains:
#- MISSION PAGE
#-- OOB
#-- ATO
#-- Briefing
#-- Loadout
#-- Flight Plan
#-- Datacard
#-- Take Off
#
#- INTEL PAGE
#-- Sierra Hotel
#-- Squadron
#-- JSTARs
#-- Force Levels


##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] CP_TOOLBAR C_TYPE_NORMAL 1920 87
[RANGES] 0 0 1920 1080 1920 87
[XY] 0 993
[GROUP] 200
[FLAGBITON] C_BIT_CANTMOVE
[DEPTH] 3

[TILE]
[SETUP] NID 0 BASEBG
[XYWH] 0 0 408 87
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TILE]
[SETUP] NID 0 TE_TOOL
[XYWH] 408 0 1520 87
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL


#Clusters
#Always on: None
#Miss.Sched: 6100
#Intel: 6200

#########################################################

##################
#MISSION SCHEDDULE PAGE BUTTONS
##################

##### OOB Button
[BUTTON]
[SETUP] CAMP_OOB_BUTTON, C_TYPE_NORMAL, 470 5
[IMAGES] TOOL_TAC_OOB, TOOL_TAC_OOB, NULL, TOOL_TAC_OOB
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_ICON_OOB C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[GROUP] 7009
[FLAGBITON] C_BIT_INVISIBLE
[CLUSTER] 6100
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_OOB_ICON

##### ATO Button
[BUTTON]
[SETUP] ATO_BUTTON C_TYPE_NORMAL 650 5
[IMAGES] TOOL_TAC_ATO TOOL_TAC_ATO NULL TOOL_TAC_ATO
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7001
[SOUNDBITE] SND_ICON_ATO C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[CLUSTER] 6100
[FLAGBITON] C_BIT_INVISIBLE
[HELPTEXT] HELP_ATO_ICON

##### Briefing button
[BUTTON]
[SETUP] BRIEF_BUTTON C_TYPE_NORMAL 830 5
[IMAGES] TOOL_TAC_BRIF TOOL_TAC_BRIF NULL TOOL_TAC_BRIF
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7000
[SOUNDBITE] SND_ICON_BRIEF C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[FLAGBITON] C_BIT_INVISIBLE
[CLUSTER] 6100
[HELPTEXT] HELP_BRIEF_ICON

##### Munitions button
[BUTTON]
[SETUP] MUNITIONS_BUTTON C_TYPE_NORMAL 1010 5
[IMAGES] TOOL_TAC_PLOD TOOL_TAC_PLOD NULL TOOL_TAC_PLOD
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7005
[SOUNDBITE] SND_OVER_MUNITIONS C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[FLAGBITON] C_BIT_INVISIBLE
[CLUSTER] 6100
[HELPTEXT] HELP_MUNITIONS_ICON

##### Flight Plan Button
[BUTTON]
[SETUP] FLIGHT_PLAN_BUTTON C_TYPE_NORMAL 1190 5
[IMAGES] TOOL_TAC_FLPH TOOL_TAC_FLPH NULL TOOL_TAC_FLPH
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7003
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[FLAGBITON] C_BIT_INVISIBLE
[CLUSTER] 6100
[HELPTEXT] HELP_FLIGHT_PLAN_ICON

##### DTC button
[BUTTON]
[SETUP] BI_SHOW_DTC, C_TYPE_NORMAL, 1370 5
[IMAGES] TOOL_TAC_DTC, TOOL_TAC_DTC, NULL, TOOL_TAC_DTC
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6401
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[FLAGBITON] C_BIT_INVISIBLE
[CLUSTER] 6100
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_MAP_DTC

##### Take Off button - SP
[BUTTON] "Activated automatically"
[SETUP] SINGLE_FLY_CTRL,C_TYPE_NORMAL 1740 5
[BUTTONIMAGE] C_STATE_0 TOOL_TAC_FLY
[BUTTONIMAGE] C_STATE_1 TOOL_TAC_FLY
[BUTTONIMAGE] C_STATE_DISABLED TOOL_TAC_FLY
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLY_ICON
[CLUSTER] 6100

##### Take Off button - MP
[BUTTON] "Activated automatically"
[SETUP] COMMS_FLY_CTRL,C_TYPE_NORMAL 1740 5
[BUTTONIMAGE] C_STATE_0 TOOL_TAC_FLY
[BUTTONIMAGE] C_STATE_1 TOOL_TAC_FLY
[BUTTONIMAGE] C_STATE_DISABLED TOOL_TAC_FLY
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLY_ICON
[CLUSTER] 6100

#########################################################

##################
#INTEL PAGE BUTTONS
##################

##### Sierra Hotel
[BUTTON]
[SETUP] SIERRA_HOTEL C_TYPE_NORMAL 470 5
[BUTTONIMAGE] C_STATE_0 TOOL_CAMP_SIHO
[BUTTONIMAGE] C_STATE_1 TOOL_CAMP_SIHO
[BUTTONIMAGE] C_STATE_DISABLED TOOL_CAMP_SIHO
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6300
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON
[CLUSTER] 6200
[HELPTEXT] HELP_SIERRA_HOTEL_ICON

##### Squadron
[BUTTON]
[SETUP] SQUADRON_BUTTON, C_TYPE_NORMAL, 650 5
[IMAGES] TOOL_CAMP_SQND, TOOL_CAMP_SQND, NULL, TOOL_CAMP_SQND
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7600
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[FLAGBITON] C_BIT_INVISIBLE
[CLUSTER] 6200
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SQUAD_RECORDS_ICON

##### History
[BUTTON]
[SETUP] CAMP_HISTORY_BUTTON, C_TYPE_NORMAL, 830 5
[IMAGES] TOOL_CAMP_REPL, TOOL_CAMP_REPL, NULL, HISTORY_DISABLED
[GROUP] 6203
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CLUSTER] 6200
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_JSTARS_ICON

##### Force Levels
[BUTTON]
[SETUP] FORCE_LEVELS_BUTTON, C_TYPE_NORMAL, 1010 5
[IMAGES] TOOL_CAMP_FLEV, TOOL_CAMP_FLEV, NULL, TOOL_CAMP_FLEV
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6205
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[FLAGBITON] C_BIT_INVISIBLE
[CLUSTER] 6200
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FORCE_LEVELS_ICON

#########################################################

##################
#HELP BUTTONS
##################

[BUTTON]
[SETUP] UI_HELP_GUIDE C_TYPE_NORMAL 1625 15
[BUTTONIMAGE] C_STATE_0 HELP_BTN
[BUTTONIMAGE] C_STATE_1 HELP_BTN
[BUTTONIMAGE] C_STATE_DISABLED HELP_BTN
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_HELP
[USERDATA] 0 400045
[USERDATA] 6100 400041
[USERDATA] 6200 400042
