#UI BMS4, created by Revientor (2010)
#This controls the "wait screen" when you click on "fly" from the main campaign screen.

[WINDOW]
[SETUP] CP_COUNTDOWN_WIN C_TYPE_NORMAL 1920 1080
[XY] 0 0
[RANGES] 0 0 0 0 1920 1080

[BITMAP]
[SETUP] NID,C_STATE_DOWN, COUNTDOWN_SCREEN3
[TYPE] C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_T_MINUS
[XY] 890 320
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 0 255 0 GREEN

[TEXT]
[SETUP] COUNTDOWN_ID 0
[XY] 920 320
[FGCOLOR] 0 255 0 GREEN
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_24

[BUTTON]
[SETUP] WAIT_BACK, C_TYPE_NORMAL, 570 520
#[HOTSPOT] -5 -5 5 5
[BUTTONIMAGE] C_STATE_0 COUNTDOWN_CANCEL
[BUTTONIMAGE] C_STATE_1 COUNTDOWN_CANCEL
[BUTTONIMAGE] C_STATE_2 COUNTDOWN_CANCEL
[BUTTONIMAGE] C_STATE_3 COUNTDOWN_CANCEL
[SOUNDBITE] SND_EXIT_GAME C_TYPE_LMOUSEDOWN
[FLAGBITON] C_BIT_ABSOLUTE
#[GROUP] 2020
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] WAIT_RAMP, C_TYPE_RADIO, 790 520
#[HOTSPOT] -5 -5 5 5
[BUTTONIMAGE] C_STATE_0 COUNTDOWN_RAMP0
[BUTTONIMAGE] C_STATE_1 COUNTDOWN_RAMP1
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 212
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] WAIT_TAXI, C_TYPE_RADIO, 1010 520
#[HOTSPOT] -5 -5 5 5
[BUTTONIMAGE] C_STATE_0 COUNTDOWN_TAXI0
[BUTTONIMAGE] C_STATE_1 COUNTDOWN_TAXI1
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 212
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] WAIT_TAKEOFF, C_TYPE_RADIO, 1230 520
#[HOTSPOT] -5 -5 5 5
[BUTTONIMAGE] C_STATE_0 COUNTDOWN_RUNWAY0
[BUTTONIMAGE] C_STATE_1 COUNTDOWN_RUNWAY1
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 212
[STATE] 1
# [USERDATA] C_STATE_0 6023 "disable"
# [USERDATA] C_STATE_1 6021 "enable"
[CURSOR] CRSR_F16_ON

[TREELIST]
[SETUP] WAIT_PLAYERS
[FONT] OCR_EXT_12
[XY] 10 10
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[CLIENT] 1
[XOFFSET] 18
[CURSOR] CRSR_F16_ON
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON

# [BITMAP]
# [SETUP] WAIT_FULL_TAKEOFF, COUNTDOWN_SCREEN3, 0 0
# #[GROUP] 212
# [CLUSTER] 6021
# [TYPE] C_STATE_UP
# 
# [BITMAP]
# [SETUP] WAIT_FULL_TAKEOFF, COUNTDOWN_SCREEN2, 0 0
# #[GROUP] 212
# [CLUSTER] 6023
# [TYPE] C_STATE_DOWN

#[BUTTON]
#[SETUP] WAIT_TAKEOFF, C_TYPE_RADIO, 493 497
#[IMAGES] BID_FILE_OUT, BID_FILE_IN, NULL, BID_FILE_DIS
#[FLAGBITON] C_BIT_ABSOLUTE
#[LABELALL] TXT_TAKEOFF
#[FONT] BANK_GOTHIC_16
#[UPCOLOR] 191 191 191
#[DOWNCOLOR] 0 255 0 GREEN
#[DISCOLOR] 102 102 102
#[TEXTOFFSET] C_STATE_UP 0 -1
#[TEXTOFFSET] C_STATE_DOWN -1 0
#[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
#[CURSOR] CRSR_F16_ON
#[HELPTEXT] HELP_START_ON_RUNWAY
#[GROUP] 212

#Chat Button - Added by Revientor (2010) (NEED EXE EDIT)
#[BUTTON]
#[SETUP] CO_MAIN_CTRL C_TYPE_NORMAL 630 14
#[BUTTONIMAGE] C_STATE_0 MAIN_COMMS
#[BUTTONIMAGE] C_STATE_1 MAIN_COMMS
#[BUTTONIMAGE] C_STATE_2 MAIN_COMMS
#[BUTTONIMAGE] C_STATE_3 MAIN_COMMS
#[FLAGBITON] C_BIT_VCENTER
#[GROUP] 6000
#[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
#[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
#[USERDATA] C_STATE_0 6000
#[USERDATA] C_STATE_1 6001
#[CURSOR] CRSR_F16_ON

#[BUTTON]
#[SETUP] CHAT_WINDOW_SELECT C_TYPE_NORMAL 10 566
#[BUTTONIMAGE] C_STATE_0 MAIN_COMMS
#[BUTTONIMAGE] C_STATE_1 MAIN_COMMS
#[BUTTONIMAGE] C_STATE_DISABLED MAIN_COMMS
#[BUTTONIMAGE] C_STATE_3 MAIN_COMMS
#[USERDATA] C_STATE_0 6000
#[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
#[CURSOR] CRSR_F16_ON