#UI BMS4, created by Revientor and Naldo (2009)
#This controls the window for the main "news flash" updates.

[WINDOW]
[SETUP] NEWS_FLASH_WIN C_TYPE_NORMAL 400 200
[XY] 360 282
[RANGES] 0 0 1024 768 400 200
[FONT] OCR_EXT_12
[DRAGH] 25
[GROUP] 4011
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 5 26 390 170 1
[CLIENTAREA] 2 2 396 22 2 "Titlebar"

[TILE]
[SETUP] NID 0 NEWS
[XYWH] 0 0 400 200
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TEXT]
[SETUP] MODAL_TITLE C_TYPE_LEFT
[SETTEXT] TXT_NEWS_FLASH
[XY] 10 0
[FONT] OCR_EXT_24
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] CLOSE_WINDOW,C_TYPE_NORMAL,372,4
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[GROUP] 4011
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 373 26 13 170
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[FLAGBITON] C_BIT_INVISIBLE
[CLUSTER] 4002
[CLIENT] 1
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON