#UI BMS4, created by Revientor and Naldo (2009)
#When you start a new campaign. the Start Button.

[WINDOW]
[SETUP] STARTCAMP_WIN C_TYPE_NORMAL 222 110
[XY] 849 485
[RANGES] 0 0 1920 1080 222 110
[CLIENTAREA] 0 0 222 110 0
[CLIENTAREA] 2 2 218 22 1 "titlestrip"
[GROUP] 6213
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT

[TILE]
[SETUP] NID 0 STARTCAMP
[XYWH] 0 0 222 110
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_START_CAMPAIGN
[XY] 10 0
[FONT] OCR_EXT_24
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] START_CAMP C_TYPE_NORMAL 58 58
[IMAGES] STARTCAMPBUT STARTCAMPBUT NULL STARTCAMPBUT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[GROUP] 6213
[CURSOR] CRSR_F16_ON
