#UI BMS4, created by Revientor and Naldo (2009)
#Some day, we will get this implemented, so you can move a squadron somewhere else.

[WINDOW]
[SETUP] TRANSFER_WIN C_TYPE_NORMAL 348 315
[XY] 226 152
[RANGES] 0 0 1024 768 348 295
[FONT] OCR_EXT_14
[GROUP] 207
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 8 28 332 80 0
[CLIENTAREA] 89 109 172 172 2
[CLIENTAREA] 2 2 344 22 1 "Titlebar"

[TILE]
[SETUP] NID 0 ORDERS
[XYWH] 0 0 348 315
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_TRANSFER_TITLE
[XY] 10 0
[FONT] OCR_EXT_24
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_REDEPLOYMENT
[XY] 179 0
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[CLIENT] 0
[FLAGBITON] C_BIT_HCENTER

#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_SQUADRON
#[XY] 0 20
#[FGCOLOR] 230 230 230
#[FONT] BANK_GOTHIC_16
#[CLIENT] 0
#[FLAGBITON] C_BIT_RIGHT

[TEXT]
[SETUP] MY_SQUADRON C_TYPE_RIGHT
[FIXEDWIDTH] 60
[SETTEXT] TXT_MUI
[XY] 179 20
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_14
[CLIENT] 0
[FLAGBITON] C_BIT_HCENTER

#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_AIRBASE
#[XY] 0 40
#[FGCOLOR] 230 230 230
#[FONT] BANK_GOTHIC_16
#[CLIENT] 0
#[FLAGBITON] C_BIT_RIGHT

[TEXT]
[SETUP] NEW_BASE C_TYPE_RIGHT
[FIXEDWIDTH] 80
[SETTEXT] TXT_MUI
[XYWH] 179 40 332 40
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_14
[CLIENT] 0
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_WORDWRAP

#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_TIME
#[XY] 174 80
#[FGCOLOR] 230 230 230
#[FONT] BANK_GOTHIC_16
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_RIGHT

#[TEXT]
#[SETUP] REDEPLOY_TIME C_TYPE_RIGHT
#[FIXEDWIDTH] 40
#[SETTEXT] TXT_MUI
#[XY] 178 80
#[FGCOLOR] 230 230 230
#[FONT] OCR_EXT_16
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_LEFT

[BITMAP]
[SETUP] NID 0 IA_MAP_TGA
[CLIENT] 2

[BITMAP]
[SETUP] CS_MAP_WIN 0 0
[PERCENT] 50
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENT] 2

[BITMAP]
[SETUP] BASE_ICON 0 0
[CLIENT] 2
[FLAGBITON] C_BIT_VCENTER
[FLAGBITON] C_BIT_HCENTER

[BUTTON]
[SETUP] CLOSE_WINDOW C_TYPE_NORMAL, 219 285
[IMAGES] ORDERSBUT1, ORDERSBUT1, NULL, ORDERSBUT1
[LABELALL] TXT_OK
[GROUP] 207
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[FLAGBITOFF C_BIT_ENABLED
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON