#UI BMS 4.38 update, March 2023, by Kolbe

#This is the Dogfight Load content
#It contains
#- Header
#- Exit button
#- Background image

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] DF_HEADER_WIN C_TYPE_NORMAL 1660 1023
[XY] 260 0
#[RANGES] 0 0 1024 768 299 30
[GROUP] 2000
[FLAGBITON] C_BIT_CANTMOVE
[FONT] HAETTEN_18
[DEPTH] 2

##################
#BACKGROUND IMAGES
##################
[TILE]
[SETUP] NID 0 BG_DOGFIGHT_LOAD
[XYWH] 0 0 1660 1023
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 0 0 1660 47
[PERCENT] 15
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

##################
#HEADER TEXT
##################
[TEXT]
[SETUP] NID C_TYPE_CENTER
[SETTEXT] TXT_DOGFIGHT_HEADER
[XY] 800 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER

##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 0 48 1660 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

##################
#EXIT BUTTON
##################
[BUTTON]
[SETUP] CLOSE_WINDOW,C_TYPE_NORMAL,1600,2
[IMAGES] CLOSE_BTN CLOSE_BTN NULL NULL
[ID] CLOSE_WINDOW
[TYPE] C_TYPE_NORMAL
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[GROUP] 2000
[CURSOR] CRSR_F16_ON

##################
#LINES
##################
[LINE]
[SETUP] NID 0
[XYWH] 497 180 150 1
[COLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_ABSOLUTE

[LINE]
[SETUP] NID 0
[XYWH] 647 155 1 50
[COLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_ABSOLUTE

#Fill for the listbox. 
#Put here because it constantly flashes when set in Df_Load.scf.
[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 170 120 325 350
[PERCENT] 15
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE