#UI BMS 4.38 update, March 2023, by Kolbe

#This is the Dogfight Load part part
#It contains
#- file lists (online / offline) incl. frame
#- buttons (saved, online, delete)
#- toolabar

#######################
#  MAIN WINDOW SETUP  #
#######################

[WINDOW] GAME PANEL
[SETUP] DF_LOAD_WIN, C_TYPE_NORMAL, 350 540
[XY] 430 70
[GROUP] 2000
[FONT] OCR_EXT_14
[CLIENTAREA] 3 50 315 350 0
[CLIENTAREA] 3 50 315 350 1
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT
[OPENCLIENTMENU] 0 DELETE_POPUP
[OPENCLIENTMENU] 1 DELETE_POPUP

###### BUTTON: LOAD DF ######
[BUTTON]
[SETUP] DF_LOAD_CTRL, C_TYPE_RADIO, 1 3
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, NULL
[LABELALL] TXT_SAVED
[STATE] 1
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 200
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

###### BUTTON: JOIN DF (New popup window) ######
[BUTTON] JOIN
[SETUP] DF_JOIN_CTRL, C_TYPE_RADIO, 170 3
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, NULL
[LABELALL] TXT_ONLINE
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 100
[USERDATA] C_STATE_1 200
[CURSOR] CRSR_F16_ON

###### BUTTON: DELETE TE ######
#[BUTTON]
#[SETUP] DGFT_DELETE, C_TYPE_NORMAL, 170 420
#[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, NULL
#[LABELALL] TXT_DELETE
#[FONT] BANK_GOTHIC_24
#[FLAGBITON] C_BIT_ABSOLUTE
#[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
#[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
#[CURSOR] CRSR_F16_ON
#[HELPTEXT] HELP_DELETE

#WHITE FRAME
[BOX]
[SETUP] NID 0
[XYWH] 0 50 325 350
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED

#Scroll bars
[SCROLLBAR]
[SETUP] NID,C_TYPE_VERTICAL
[XYWH] 317 52 13 348
[CLIENT] 0
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL_WHITE
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 15
[CLUSTER] 100

[SCROLLBAR]
[SETUP] NID,C_TYPE_VERTICAL
[XYWH] 317 52 13 348
[CLIENT] 1
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL_WHITE
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 15
[CLUSTER] 200

#Treelist offline
#FILE LIST: SAVED DF
[TREELIST]
[SETUP] FILELIST_TREE
[FONT] HAETTEN_18
[XY] 5 2
[CLIENT] 1
[CLUSTER] 200
[CURSOR] CRSR_F16_ON

#FILE LIST: ON-LINE SESSIONS
[TREELIST]
[SETUP] DOGFIGHT_TREE
[FONT] HAETTEN_18
[XY] 5 2
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[CLIENT] 1
[XOFFSET] 18
[CLUSTER] 100
[CURSOR] CRSR_F16_ON
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON