#UI BMS 4.38 update, April 2023, by Kolbe

#This is the Dogfight Toolbar

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] DF_PLAY_TOOLBAR_WIN C_TYPE_NORMAL 380 83
[RANGES] 0 0 1920 1080 380 83
[XY] 1470 900
[GROUP] 2020
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT

##################
#BACKGROUND
##################
[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 0 0 380 83
[COLOR] 22 53 70
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID 0
[XYWH] 0 0 379 82
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED

##################
#FLY BUTTON SP
##################
[BUTTON]
[SETUP] SINGLE_FLY_CTRL C_TYPE_NORMAL 0 0
[XYWH] 200 9 143 73
[BUTTONIMAGE] C_STATE_0 TAKE_OFF_BUTTON_SP
[BUTTONIMAGE] C_STATE_1 TAKE_OFF_BUTTON_SP
[BUTTONIMAGE] C_STATE_DISABLED TAKE_OFF_BUTTON_SP
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLY_ICON
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER

##################
#FLY BUTTON MP
##################
[BUTTON]
[SETUP] COMMS_FLY_CTRL C_TYPE_NORMAL 0 0
[XYWH] 200 9 143 73
[BUTTONIMAGE] C_STATE_0 TAKE_OFF_BUTTON_MP
[BUTTONIMAGE] C_STATE_1 TAKE_OFF_BUTTON_MP
[BUTTONIMAGE] C_STATE_DISABLED TAKE_OFF_BUTTON_MP
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLY_ICON
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER

##################
#HELP BUTTON
##################
[BUTTON]
[SETUP] UI_HELP_GUIDE C_TYPE_NORMAL 0 0
[XYWH] 50 12 60 60
[GROUP] 400021
[BUTTONIMAGE] C_STATE_0 HELP_BTN
[BUTTONIMAGE] C_STATE_1 HELP_BTN
[BUTTONIMAGE] C_STATE_DISABLED HELP_BTN
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_HELP
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN