#UI BMS4, created by Revientor and Naldo (2009)
#Modified by Dee-Jay 28/02/2018
#This is the pilot (Sierra Hotel) Intel window.

[WINDOW]
[SETUP] CAMP_SH C_TYPE_NORMAL 509 340
[XY] 316 172
[RANGES] 0 0 1920 1080 530 340
[CLIENTAREA] 220 77 250 250 0
[GROUP] 6300
[FONT] BANK_GOTHIC_16
[FGCOLOR] 230 230 230
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 505 22 1

[TILE]
[SETUP] NID 0 SIERRAHOTEL
[XYWH] 0 0 509 340
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_SIERRA_CAMP
[XY] 6 3
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE


#Stat background
#[LINE]
#[SETUP] NID 0
#[XYWH] 13 70 166 257
#[COLOR] 57 74 107
#[FLAGBITON] C_BIT_ABSOLUTE

#Top Jock background
#[LINE]
#[SETUP] NID 0
#[XYWH] 13 39 485 31
#[COLOR] 57 74 107
#[FLAGBITON] C_BIT_ABSOLUTE

#[BITMAP]
#[SETUP] NID 0 CAMP_SH_TOP
#[XY] 170 77
#[FLAGBITON] C_BIT_ABSOLUTE

#[BITMAP]
#[SETUP] NID 0 IA_SH_BOTTOM
#[XY] 170 117
#[FLAGBITON] C_BIT_ABSOLUTE

#[BITMAP]
#[SETUP] NID 0 SH_ARROW
#[XY] 21 39
#[FLAGBITON] C_BIT_ABSOLUTE

[BITMAP]
[SETUP] PILOT_PIC 0 NOFACE
[XY] 98 132
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER

[TEXT]
[SETUP] TOP_JOCK C_TYPE_LEFT
[FIXEDWIDTH] 25
[SETTEXT] TXT_MUI
[XY] 220 41
[FONT] BANK_GOTHIC_18
[FGCOLOR] 0 255 0 GREEN
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] TOP_SCORE C_TYPE_RIGHT
[FIXEDWIDTH] 15
[SETTEXT] TXT_MUI
[XY] 450 41
[FONT] BANK_GOTHIC_18
[FGCOLOR] 0 255 0 GREEN
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ACE_OF_BASE
[XY] 16 41
[FONT] BANK_GOTHIC_16
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 482 4
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6300
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON

#Pilot list scroll
#[LINE]
#[SETUP] NID, C_TYPE_VERTICAL
#[XYWH] 490 77 1 250
#[COLOR] 65 128 173 BLUE
#[FLAGBITON] C_BIT_ABSOLUTE

[SCROLLBAR]
[SETUP] NID, C_TYPE_VERTICAL
[XYWH] 484 77 13 250
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 0
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 18

#PLAYER Stats - Cluster 1
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_COMMISSIONED
[XY] 21 201
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT] "Month/Year logbook created"
[SETUP] COMMISSIONED_FIELD C_TYPE_RIGHT
[FIXEDWIDTH] 10
[SETTEXT] TXT_EMPTY
[XY] 171 201
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_CAMPAIGNS
[XY] 21 213
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] CAMP_CAMPAIGNS_FIELD 0
[FIXEDWIDTH] 8
[SETTEXT] TXT_NULL
[XY] 171 213
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_FLTHOURS
[XY] 21 225
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] HOURS_FIELD C_TYPE_RIGHT
[XY] 171 225
[FIXEDWIDTH] 6
[SETTEXT] TXT_NULL
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_ENABLED
[CLUSTER] 1

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_MISSIONS
[XY] 21 237
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] CAMP_MISS_FIELD 0
[FIXEDWIDTH] 6
[SETTEXT] TXT_NULL
[XY] 171 237
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_RATING
[XY] 21 249
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] CAMP_RATING_FIELD 0
[FIXEDWIDTH] 14
[SETTEXT] TXT_NULL
[XY] 171 249
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AA_KILLS_LB
[XY] 21 261
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] CAMP_AA_KILLS_FIELD 0
[FIXEDWIDTH] 6
[SETTEXT] TXT_NULL
[XY] 171 261
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AG_KILLS_LB
[XY] 21 273
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] CAMP_AG_KILLS_FIELD 0
[FIXEDWIDTH] 6
[SETTEXT] TXT_NULL
[XY] 171 273
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_STATIC_LB
[XY] 21 285
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] CAMP_STATIC_KILLS_FIELD 0
[FIXEDWIDTH] 6
[SETTEXT] TXT_NULL
[XY] 171 285
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_NAVAL_LB
[XY] 21 297
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

[TEXT]
[SETUP] CAMP_NAVAL_KILLS_FIELD 0
[FIXEDWIDTH] 6
[SETTEXT] TXT_NULL
[XY] 171 297
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 1

#AI STATS - Cluster 2
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_MISSIONS
[XY] 21 201
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 2

[TEXT]
[SETUP] AI_MISS_FIELD 0
[FIXEDWIDTH] 6
[SETTEXT] TXT_NULL
[XY] 171 201
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 2

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_RATING
[XY] 21 213
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 2

[TEXT]
[SETUP] AI_RATING_FIELD 0
[FIXEDWIDTH] 6
[SETTEXT] TXT_NULL
[XY] 171 213
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 2

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AA_KILLS_LB
[XY] 21 237
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 2

[TEXT]
[SETUP] AI_AA_KILLS_FIELD 0
[FIXEDWIDTH] 6
[SETTEXT] TXT_NULL
[XY] 171 237
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 2

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AG_KILLS_LB
[XY] 21 249
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 2

[TEXT]
[SETUP] AI_AG_KILLS_FIELD 0
[FIXEDWIDTH] 6
[SETTEXT] TXT_NULL
[XY] 171 249
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 2

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_STATIC_LB
[XY] 21 261
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 2

[TEXT]
[SETUP] AI_STATIC_KILLS_FIELD 0
[FIXEDWIDTH] 6
[SETTEXT] TXT_NULL
[XY] 171 261
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 2

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_NAVAL_LB
[XY] 21 273
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 2

[TEXT]
[SETUP] AI_NAVAL_KILLS_FIELD 0
[FIXEDWIDTH] 6
[SETTEXT] TXT_NULL
[XY] 171 273
[FGCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 2

[TREELIST]
[SETUP] SH_PILOT_LIST 0
[XY] 0 0
[YOFFSET] 18
[FONT] BANK_GOTHIC_18
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 230
