#UI BMS4, created by Revientor and Amraam (2009)
#Modified by Dee-Jay 28/02/2018
#This is the force level history diagram.

[WINDOW]
[SETUP] FORCE_WIN C_TYPE_NORMAL 422 312
[XY] 357 304
[RANGES] 0 0 1920 1080 422 312
[CLIENTAREA] 0 0 422 312 0
[CLIENTAREA] 79 66 304 161 1
[GROUP] 6205
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 418 22 2

[TILE]
[SETUP] NID 0 FORCELEVELS
[XYWH] 0 0 422 312
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_FORCE_LEVELS
[XY] 6 3
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] LOW_Y 0
[FIXEDWIDTH] 18
[SETTEXT] TXT_LOW_Y
[XY] 67 218
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_10
[CLIENT] 0

#[TEXT]
#[SETUP] THIRD_Y 0
#[FIXEDWIDTH] 18
#[SETTEXT] TXT_THIRD_Y
#[XY] 67 167
#[FGCOLOR] 230 230 230
#[FLAGBITON] C_BIT_RIGHT
#[FONT] OCR_EXT_10
#[CLIENT] 0

[TEXT]
[SETUP] HALF_Y 0
[FIXEDWIDTH] 18
[XY] 67 141
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_10
[CLIENT] 0

#[TEXT]
#[SETUP] TWO_THIRDS_Y 0
#[FIXEDWIDTH] 18
#[SETTEXT] TXT_TWOTHIRDS_Y
#[XY] 67 116
#[FGCOLOR] 230 230 230
#[FLAGBITON] C_BIT_RIGHT
#[FONT] OCR_EXT_10
#[CLIENT] 0

[TEXT]
[SETUP] HIGH_Y 0
[FIXEDWIDTH] 18
[SETTEXT] TXT_HIGH_Y
[XY] 67 65
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_10
[CLIENT] 0

[TEXT]
[SETUP] LOW_X 0
[FIXEDWIDTH] 18
[SETTEXT] TXT_LOW_X
[XY] 81 234
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[FONT] OCR_EXT_10
[CLIENT] 0

#[TEXT]
#[SETUP] HALF_X 0
#[FIXEDWIDTH] 18
#[SETTEXT] TXT_HALF_X
#[XY] 231 234
#[FGCOLOR] 230 230 230
#[FLAGBITON] C_BIT_HCENTER
#[FONT] OCR_EXT_10
#[CLIENT] 0

[TEXT]
[SETUP] HIGH_X 0
[FIXEDWIDTH] 18
[SETTEXT] TXT_HIGH_X
[XY] 382 234
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_RIGHT
[FONT] OCR_EXT_10
[CLIENT] 0

[BOX]
[SETUP] NID 0
[XYWH] 78 65 0 161
[COLOR] 180 180 180 GREY
[CLIENT] 0

[BOX]
[SETUP] NID 0
[XYWH] 78 226 304 0
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

#Suppressed because of new scenarios which imply difference nations and forces making it not correct, replaced by Select Category for the graph display
#[TEXT]
#[SETUP] TEAM_01 0
#[SETTEXT] TXT_ALLIED_FORCES
#[XY] 67 256
#[FGCOLOR] 2 245 245
#[FLAGBITON] C_BIT_LEFT
#[FONT] OCR_EXT_14
#[CLIENT] 0

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_SELECTED_GRAPH
[XY] 67 276
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[FONT] OCR_EXT_14
[CLIENT] 0

[TILE]
[SETUP] NID 0 FORCELEVELLIST1
[XYWH] 242 276 156 14
[CLIENT] 0
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[LISTBOX]
[SETUP] CHART 0
[XYWH] 242 276 156 14
[CLIENT] 0
[NORMCOLOR] 230 230 230
[SELCOLOR] 255 255 0 YELLOW
[FONT] OCR_EXT_14
[DROPDOWN] BID_DROPDOWN
[ADDITEM] STAT_1 C_TYPE_ITEM TXT_AIRDEFENSES
[ADDITEM] STAT_2 C_TYPE_ITEM TXT_NAVALPOWER
[ADDITEM] STAT_3 C_TYPE_ITEM TXT_SUPPLY
[ADDITEM] STAT_4 C_TYPE_ITEM TXT_FUEL
[ADDITEM] STAT_5 C_TYPE_ITEM TXT_AIRBASES
[ADDITEM] STAT_6 C_TYPE_ITEM TXT_AIRCRAFT_PLURAL
[ADDITEM] STAT_7 C_TYPE_ITEM TXT_GROUNDVEHICLES
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN

[BUTTON]
[SETUP] CLOSE_WINDOW C_TYPE_NORMAL 395 4
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[GROUP] 6205
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_CLOSE