#UI BMS4, created by Revientor and Amraam (2009)
#This is the JSTAR Window.

[WINDOW]
[SETUP] HISTORY_WIN C_TYPE_NORMAL 423 483
[XY] 345 137
[RANGES] 0 0 1920 1080 483 483
[CLIENTAREA] 26 42 371 371 1
[FONT] HAETTEN_18
[GROUP] 6203
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 419 22 2 "titlebar"

[TILE]
[SETUP] NID 0 JSTAR
[XYWH] 1 1 423 483
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_JSTARS
[XY] 6 3
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BITMAP]
[SETUP] NID 0 JSTARS_MAP
[CLIENT] 1

[LINE] "line behind ball"
[SETUP] NID 0
[XYWH] 31 435 361 2
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] PLAYBALL, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 31 429 361 13
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[BUTTON]
[SETUP] STOP C_TYPE_NORMAL 185 449
[IMAGES] STOP_CTRL STOP_CTRL_LIT NULL NULL
[GROUP] -200
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_STOP

[BUTTON]
[SETUP] REVERSE C_TYPE_SELECT 209 449
[IMAGES] REVERSE_CTRL REVERSE_CTRL_LIT NULL NULL
[GROUP] -200
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_REVERSE

[BUTTON]
[SETUP] FAST_REVERSE C_TYPE_SELECT 254 449
[IMAGES] FASTREVERSE_CTRL FASTREVERSE_LIT NULL NULL
[GROUP] -200
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FR

[BUTTON]
[SETUP] STEP_REVERSE C_TYPE_NORMAL 317 449
[IMAGES] FRAMESTEP_REVERSE FRAMESTEP_REVERSE_LIT NULL NULL
[GROUP] -200
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SS

[BUTTON]
[SETUP] PLAY C_TYPE_SELECT 229 449
[IMAGES] PLAY_CTRL PLAY_CTRL_LIT NULL NULL
[GROUP] -200
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_PLAY

[BUTTON]
[SETUP] FAST_FORWARD C_TYPE_SELECT 283 449
[IMAGES] FASTFORWARD_CTRL FASTFORWARD_LIT NULL NULL
[GROUP] -200
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FF

[BUTTON]
[SETUP] STEP_FORWARD C_TYPE_NORMAL 336 449
[IMAGES] FRAMESTEP_FORWARD FRAMESTEP_FORWARD_LIT NULL NULL
[GROUP] -200
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SS

[TEXT]
[SETUP] COUNTER,C_TYPE_CENTER
[FIXEDWIDTH] 25
[SETTEXT] TXT_EMPTY
[FGCOLOR] 0 255 0 GREEN
[BGCOLOR] 0 0 0
[FONT] BANK_GOTHIC_14
[ID] COUNTER
[XY] 31 450
[FLAGBITON] C_BIT_ABSOLUTE
[HELPTEXT] HELP_TIME

[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 396 4
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6203
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_CLOSE