#UI BMS 4.38 update, February 2024, by Kolbe

#This is the top-left of the Intel Window, that shows the current mode (offensive / defensive / etc).
#This is the upper part of the Intel Window. It contains:
#- Situation
#- Air Operations
#- Ground Operations
#- Force Ratios

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] CB_INTEL_WIN C_TYPE_NORMAL 408 605
[XY] 0 125
[RANGES] 0 0 1920 1080 408 605
[GROUP] 6200
[FLAGBITON] C_BIT_CANTMOVE
[CLIENTAREA] 11 140 408 410 1 "Bars"
[CLIENTAREA] 0 50 408 220 2 "Operation"

#[TILE]
#[SETUP] NID 0 BASEBG
#[XYWH] 0 0 408 605
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_HORIZONTAL

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 0 408 605
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

#########################################################

##################
#SITUATION
##################

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_SITUATION
[XY] 11 0
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_24

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_COLON
[XY] 139 0
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_24

[LISTBOX]
[SETUP] SIT_TEXT 0
[XY] 195 0
[NORMCOLOR] 230 230 230
[SELCOLOR] 230 230 230
[FLAGBITOFF] C_BIT_ENABLED
[FONT] OCR_EXT_24 
[ADDITEM] C_STATE_1 C_TYPE_ITEM TXT_SIT_BAD
[ADDITEM] C_STATE_2 C_TYPE_ITEM TXT_SIT_POOR
[ADDITEM] C_STATE_3 C_TYPE_ITEM TXT_SIT_AVERAGE
[ADDITEM] C_STATE_4 C_TYPE_ITEM TXT_SIT_GOOD
[ADDITEM] C_STATE_5 C_TYPE_ITEM TXT_SIT_GREAT

#########################################################

##################
#AIR OPERATION
##################

### Air Operation Headline
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_AIR_OPERATIONS
[XY] 11 0
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[CLIENT] 2

### Defensive Priority
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_DEFENSIVE_PRIORITY
[XY] 21 25
[FGCOLOR] 230 230 230
[FONT] HAETTEN_18
[CLIENT] 2

[TEXT]
[SETUP] OBJ_1 0
[SETTEXT] TXT_OBJECTIVEONE
[XY] 200 25
[FGCOLOR] 200 240 250
[FONT] HAETTEN_18
[CLIENT] 2

### Offensive Operations
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_OFFENSIVE_OPERATIONS
[XY] 21 45
[FGCOLOR] 230 230 230
[FONT] HAETTEN_18
[CLIENT] 2

[TEXT]
[SETUP] OBJ_2 0
[SETTEXT] TXT_OBJECTIVETWO
[XY] 200 45
[FGCOLOR] 200 240 250
[FONT] HAETTEN_18
[CLIENT] 2

### Operation starting...
[LISTBOX]
[SETUP] OFFENSIVE_AIR_TEXT 0
[XY] 16 65
[NORMCOLOR] 230 230 230
[SELCOLOR] 81 160 217 LIGHT BLUE
[FLAGBITOFF] C_BIT_ENABLED
[FONT] HAETTEN_18
[ADDITEM] 0 C_TYPE_ITEM TXT_NONE
[ADDITEM] C_STATE_1 C_TYPE_ITEM TXT_DCA_OPERATION
[ADDITEM] C_STATE_2 C_TYPE_ITEM TXT_OCA_OPERATION
[ADDITEM] C_STATE_3 C_TYPE_ITEM TXT_INT_OPERATION
[ADDITEM] C_STATE_4 C_TYPE_ITEM TXT_CAS_OPERATION
[CLUSTER] 3
[CLIENT] 2

[TEXT]
[SETUP] TIME_AIR_OP 0
[SETTEXT] TXT_OBJECTIVEONE
[XY] 200 65
[FGCOLOR] 200 240 250
[FONT] HAETTEN_18
[CLUSTER] 3
[CLIENT] 2

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_ZULU_TIME
[XY] 233 67
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[CLUSTER] 3
[CLIENT] 2

#########################################################

##################
#GROUND OPERATION
##################

### Ground operations headline
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_GROUND_OPERATIONS
[XY] 11 100
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[CLIENT] 2

### Ground Posture
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_GROUNDPOSTURE
[XY] 21 125
[FGCOLOR] 230 230 230
[FONT] HAETTEN_18
[CLIENT] 2

[LISTBOX]
[SETUP] POSTURE_TEXT 0
[XY] 195 125
[NORMCOLOR] 200 240 250
[SELCOLOR] 81 160 217 LIGHT BLUE
[FLAGBITOFF] C_BIT_ENABLED
[FONT] HAETTEN_18
[ADDITEM] 0 C_TYPE_ITEM TXT_NONE
[ADDITEM] C_STATE_1 C_TYPE_ITEM TXT_POST_DEFENSIVEONLY
[ADDITEM] C_STATE_2 C_TYPE_ITEM TXT_POST_CONSOLIDATION
[ADDITEM] C_STATE_3 C_TYPE_ITEM TXT_POST_MINOROFFENSIVE
[ADDITEM] C_STATE_4 C_TYPE_ITEM TXT_POST_MAJOROFFENSIVE
[CLIENT] 2

### Defensive Priority
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_DEFENSIVE_PRIORITY
[XY] 21 150
[FGCOLOR] 230 230 230
[FONT] HAETTEN_18
[CLUSTER] 1
[CLIENT] 2

[TEXT]
[SETUP] OBJ_3 0
[SETTEXT] TXT_OBJECTIVETHREE
[XY] 200 150
[FGCOLOR] 200 240 250
[FONT] HAETTEN_18
[CLUSTER] 1
[CLIENT] 2

### Offensive Operations
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_OFFENSIVE_OPERATIONS
[XY] 21 150
[FGCOLOR] 230 230 230
[FONT] HAETTEN_18
[CLUSTER] 2
[CLIENT] 2

[TEXT]
[SETUP] OBJ_4 0
[SETTEXT] TXT_OBJECTIVEFOUR
[XY] 200 150
[FGCOLOR] 200 240 250
[FONT] HAETTEN_18
[CLUSTER] 2
[CLIENT] 2

### Offensive starting...
[LISTBOX]
[SETUP] OFFENSIVE_GROUND_TEXT 0
[XY] 21 175
[NORMCOLOR] 230 230 230
[SELCOLOR] 81 160 217 LIGHT BLUE
[FLAGBITOFF] C_BIT_ENABLED
[FONT] HAETTEN_18
[ADDITEM] 0 C_TYPE_ITEM TXT_NONE
[ADDITEM] C_STATE_1 C_TYPE_ITEM TXT_MINOR_OFFENSIVE_OPERATION
[ADDITEM] C_STATE_2 C_TYPE_ITEM TXT_MINOR_OFFENSIVE_OPERATION
[ADDITEM] C_STATE_3 C_TYPE_ITEM TXT_MINOR_OFFENSIVE_OPERATION
[ADDITEM] C_STATE_4 C_TYPE_ITEM TXT_MAJOR_OFFENSIVE_OPERATION
[CLUSTER] 2
[CLIENT] 2

[TEXT]
[SETUP] TIME_GROUND_OP 0
[SETTEXT] TXT_OBJECTIVEONE
[XY] 200 175
[FGCOLOR] 200 240 250
[FONT] HAETTEN_18
[CLUSTER] 2
[CLIENT] 2

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_ZULU_TIME
[XY] 233 177
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[CLUSTER] 2
[CLIENT] 2

#########################################################

##################
#FORCE RATIOS
##################

### Headline
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_FORCERATIO
[XY] 0 140
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[CLIENT] 1

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_COLON
[XY] 147 140
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[CLIENT] 1

### Team Flag Enemy
[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 5 244 57 83
[COLOR] 231 99 66
[PERCENT] 40
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENT] 1

[BOX]
[SETUP] NID 0
[XYWH] 4 243 58 84
[COLOR] 0 0 0
[CLIENT] 1

[BITMAP]
[SETUP] ENEMY_FLAG 0 OOB_FLAGS_NKOREA
[XY] 18 259
[CLIENT] 1

### Team Flag Friendly
[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 320 244 57 83
[COLOR] 82 165 222
[PERCENT] 40
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENT] 1

[BOX]
[SETUP] NID 0
[XYWH] 319 243 58 84
[COLOR] 0 0 0
[CLIENT] 1

[BITMAP]
[SETUP] FRIENDLY_FLAG 0 OOB_FLAGS_SKOREA
[XY] 333 259
[CLIENT] 1

### 1st Bar
[FILL]
[SETUP] NID C_TYPE_HORIZONTAL
[XYWH] 76 168 229 20
[COLOR] 57 74 107
[PERCENT] 50
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENT] 1

[LISTBOX]
[SETUP] BAR_1 0
[XYWH] 80 168 220 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 255 255 0 YELLOW
[FONT] HAETTEN_18
[DROPDOWN] BID_DROPDOWN_WHITE
[ADDITEM] STAT_2 C_TYPE_ITEM TXT_AIRDEFENSES
[ADDITEM] STAT_1 C_TYPE_ITEM TXT_AIR_POWER
[ADDITEM] STAT_3 C_TYPE_ITEM TXT_GROUNDPOWER
[ADDITEM] STAT_4 C_TYPE_ITEM TXT_NAVALPOWER
[ADDITEM] STAT_5 C_TYPE_ITEM TXT_SUPPLY
[ADDITEM] STAT_6 C_TYPE_ITEM TXT_AIRBASES
[ADDITEM] STAT_7 C_TYPE_ITEM TXT_AIRCRAFT_PLURAL
[ADDITEM] STAT_8 C_TYPE_ITEM TXT_GROUNDVEHICLES
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CLIENT] 1

[BOX]
[SETUP] BLUE_BOX_1 0
[XYWH] 76 190 228 13
[COLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1

[LINE]
[SETUP] BLUE_BAR_1 0
[XYWH] 77 191 227 12
[COLOR] 0 0 255 BLUE
[CLIENT] 1

[BOX]
[SETUP] RED_BOX_1 0
[XYWH] 76 206 228 13
[COLOR] 225 103 69 LIGHT ORANGE
[CLIENT] 1

[LINE]
[SETUP] RED_BAR_1 0
[XYWH] 77 207 227 12
[COLOR] 255 0 0
[CLIENT] 1

### 2nd Bar
[FILL]
[SETUP] NID C_TYPE_HORIZONTAL
[XYWH] 76 229 229 20
[COLOR] 57 74 107
[PERCENT] 50
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENT] 1

[LISTBOX]
[SETUP] BAR_2 0
[XYWH] 80 229 220 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 255 255 0 YELLOW
[FONT] HAETTEN_18
[DROPDOWN] BID_DROPDOWN_WHITE
[ADDITEM] STAT_3 C_TYPE_ITEM TXT_GROUNDPOWER
[ADDITEM] STAT_1 C_TYPE_ITEM TXT_AIR_POWER
[ADDITEM] STAT_2 C_TYPE_ITEM TXT_AIRDEFENSES
[ADDITEM] STAT_4 C_TYPE_ITEM TXT_NAVALPOWER
[ADDITEM] STAT_5 C_TYPE_ITEM TXT_SUPPLY
[ADDITEM] STAT_6 C_TYPE_ITEM TXT_AIRBASES
[ADDITEM] STAT_7 C_TYPE_ITEM TXT_AIRCRAFT_PLURAL
[ADDITEM] STAT_8 C_TYPE_ITEM TXT_GROUNDVEHICLES
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CLIENT] 1

[BOX]
[SETUP] BLUE_BOX_2 0
[XYWH] 76 251 228 13
[COLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1

[LINE]
[SETUP] BLUE_BAR_2 0
[XYWH] 77 252 227 12
[COLOR] 0 0 255 BLUE
[CLIENT] 1

[BOX]
[SETUP] RED_BOX_2 0
[XYWH] 76 267 228 13
[COLOR] 225 103 69 LIGHT ORANGE
[CLIENT] 1

[LINE]
[SETUP] RED_BAR_2 0
[XYWH] 77 268 227 12
[COLOR] 255 0 0
[CLIENT] 1

### 3rd Bar
[FILL]
[SETUP] NID C_TYPE_HORIZONTAL
[XYWH] 76 290 229 20
[COLOR] 57 74 107
[PERCENT] 50
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENT] 1

[LISTBOX]
[SETUP] BAR_3 0
[XYWH] 80 290 220 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 255 255 0 YELLOW
[FONT] HAETTEN_18
[DROPDOWN] BID_DROPDOWN_WHITE
[ADDITEM] STAT_5 C_TYPE_ITEM TXT_SUPPLY
[ADDITEM] STAT_1 C_TYPE_ITEM TXT_AIR_POWER
[ADDITEM] STAT_2 C_TYPE_ITEM TXT_AIRDEFENSES
[ADDITEM] STAT_3 C_TYPE_ITEM TXT_GROUNDPOWER
[ADDITEM] STAT_4 C_TYPE_ITEM TXT_NAVALPOWER
[ADDITEM] STAT_6 C_TYPE_ITEM TXT_AIRBASES
[ADDITEM] STAT_7 C_TYPE_ITEM TXT_AIRCRAFT_PLURAL
[ADDITEM] STAT_8 C_TYPE_ITEM TXT_GROUNDVEHICLES
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CLIENT] 1

[BOX]
[SETUP] BLUE_BOX_3 0
[XYWH] 76 312 228 13
[COLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1

[LINE]
[SETUP] BLUE_BAR_3 0
[XYWH] 77 313 227 12
[COLOR] 0 0 255 BLUE
[CLIENT] 1

[BOX]
[SETUP] RED_BOX_3 0
[XYWH] 76 328 228 13
[COLOR] 225 103 69 LIGHT ORANGE
[CLIENT] 1

[LINE]
[SETUP] RED_BAR_3 0
[XYWH] 77 329 227 12
[COLOR] 255 0 0
[CLIENT] 1

### 4th Bar
[FILL]
[SETUP] NID C_TYPE_HORIZONTAL
[XYWH] 76 351 229 20
[COLOR] 57 74 107
[PERCENT] 30
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENT] 1

[LISTBOX]
[SETUP] BAR_4 0
[XYWH] 80 351 220 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 255 255 0 YELLOW
[FONT] HAETTEN_18
#[DROPDOWN] SMALL_LIST
[DROPDOWN] BID_DROPDOWN_WHITE
[ADDITEM] STAT_1 C_TYPE_ITEM TXT_AIR_POWER
[ADDITEM] STAT_2 C_TYPE_ITEM TXT_AIRDEFENSES
[ADDITEM] STAT_3 C_TYPE_ITEM TXT_GROUNDPOWER
[ADDITEM] STAT_4 C_TYPE_ITEM TXT_NAVALPOWER
[ADDITEM] STAT_5 C_TYPE_ITEM TXT_SUPPLY
[ADDITEM] STAT_6 C_TYPE_ITEM TXT_AIRBASES
[ADDITEM] STAT_7 C_TYPE_ITEM TXT_AIRCRAFT_PLURAL
[ADDITEM] STAT_8 C_TYPE_ITEM TXT_GROUNDVEHICLES
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CLIENT] 1

[BOX]
[SETUP] BLUE_BOX_4 0
[XYWH] 76 373 228 13
[COLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1

[LINE]
[SETUP] BLUE_BAR_4 0
[XYWH] 77 374 227 12
[COLOR] 0 0 255 BLUE
[CLIENT] 1

[BOX]
[SETUP] RED_BOX_4 0
[XYWH] 76 389 228 13
[COLOR] 225 103 69 LIGHT ORANGE
[CLIENT] 1

[LINE]
[SETUP] RED_BAR_4 0
[XYWH] 77 390 227 12
[COLOR] 255 0 0
[CLIENT] 1

### Red Lines
[BOX]
[SETUP] RED_TRAIL_1 0
[XYWH] 63 285 8 0
[COLOR] 225 103 69 LIGHT ORANGE
[CLIENT] 1

[BOX]
[SETUP] RED_TRAIL_2 0
[XYWH] 71 213 0 180
[COLOR] 225 103 69 LIGHT ORANGE
[CLIENT] 1

[BOX]
[SETUP] RED_TRAIL_3 0
[XYWH] 71 213 5 0
[COLOR] 225 103 69 LIGHT ORANGE
[CLIENT] 1

[BOX]
[SETUP] RED_TRAIL_4 0
[XYWH] 71 274 5 0
[COLOR] 225 103 69 LIGHT ORANGE
[CLIENT] 1

[BOX]
[SETUP] RED_TRAIL_5 0
[XYWH] 71 335 5 0
[COLOR] 225 103 69 LIGHT ORANGE
[CLIENT] 1

[BOX]
[SETUP] RED_TRAIL_6 0
[XYWH] 71 394 5 0
[COLOR] 225 103 69 LIGHT ORANGE
[CLIENT] 1

### Blue Lines
[BOX]
[SETUP] BLUE_TRAIL_1 0
[XYWH] 310 285 8 0
[COLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1

[BOX]
[SETUP] BLUE_TRAIL_2 0
[XYWH] 310 197 0 182
[COLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1

[BOX]
[SETUP] BLUE_TRAIL_3 0
[XYWH] 304 197 5 0
[COLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1

[BOX]
[SETUP] BLUE_TRAIL_4 0
[XYWH] 304 258 5 0
[COLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1

[BOX]
[SETUP] BLUE_TRAIL_5 0
[XYWH] 304 319 5 0
[COLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1

[BOX]
[SETUP] BLUE_TRAIL_6 0
[XYWH] 304 380 5 0
[COLOR] 81 160 217 LIGHT BLUE
[CLIENT] 1

#########################################################

##################
#CURRENTLY UNUSED
##################

#[TEXT]
#[SETUP] NID 0
#[SETTEXT] TXT_ARMYOBJECTIVES
#[XY] 11 220
#[FGCOLOR] 230 230 230
#[FONT] BANK_GOTHIC_20

#[TEXT]
#[SETUP] OBJ_1 0
#[SETTEXT] TXT_OBJECTIVEONE
#[XY] 76 242
#[FGCOLOR] 230 230 230
#[FONT] OCR_EXT_10

#[TEXT]
#[SETUP] OBJ_2 0
#[SETTEXT] TXT_DEFENDOBJTWO
#[XY] 76 254
#[FGCOLOR] 230 230 230
#[FONT] OCR_EXT_10

#[TEXT]
#[SETUP] OBJ_3 0
#[SETTEXT] TXT_OBJECTIVETHREE
#[XY] 76 266
#[FGCOLOR] 230 230 230
#[FONT] OCR_EXT_10

#[TEXT]
#[SETUP] OBJ_4 0
#[SETTEXT] TXT_OBJECTIVEFOUR
#[XY] 76 278
#[FGCOLOR] 230 230 230
#[FONT] OCR_EXT_10

#[TEXT]
#[SETUP] OBJ_5 0
#[SETTEXT] TXT_OBJECTIVEFIVE
#[XY] 76 290
#[FGCOLOR] 230 230 230
#[FONT] OCR_EXT_10
