#UI BMS 4.38 update, February 2024, by Kolbe 

#Not Used, Toolbar to be changed in Cp_Tool
#This controls the toolbar at the bottom of the window when you're in the Intel area.

[WINDOW]
#[SETUP] CB_INTEL_TOOL C_TYPE_NORMAL 824 65
[XY] 179 680
[RANGES] 0 0 1920 1080 1024 768
[GROUP] 6200
[FLAGBITON] C_BIT_CANTMOVE
[1GROUP] 99234
[FLAGBITON] C_BIT_TRANSLUCENT

[BUTTON]
#[SETUP] ATO_BUTTON C_TYPE_NORMAL 264 1
[IMAGES] ATO_UP ATO_DOWN NULL ATO_DISABLED
[BUTTONANIM] C_STATE_MOUSE ATO_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7001
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON
[CLUSTER] 3

[BUTTON]
#[SETUP] FORCE_LEVELS_BUTTON C_TYPE_NORMAL 426 0
[IMAGES] FORCE_UP, FORCE_DOWN, NULL, FORCE_DISABLED
[BUTTONANIM] C_STATE_MOUSE FORCEL_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6205
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CLUSTER] 2
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON

[BUTTON]
#[SETUP] SQUADRON_BUTTON C_TYPE_NORMAL 596 1
[IMAGES] SQUAD_UP, SQUAD_DOWN, NULL, SQUAD_DISABLED
[BUTTONANIM] C_STATE_MOUSE SQUAD_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7005
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CLUSTER] 2
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON

[BUTTON]
#[SETUP] CAMP_OOB_BUTTON C_TYPE_NORMAL 215 12
[IMAGES] OOB_UP, OOB_DOWN, NULL, OOB_DISABLED
[BUTTONANIM] C_STATE_MOUSE OOB_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 7009
[CLUSTER] 2
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON

[BUTTON]
#[SETUP] CAMP_HISTORY_BUTTON C_TYPE_NORMAL 94 3
[IMAGES] HISTORY_UP, HISTORY_DOWN, NULL, HISTORY_DISABLED
[BUTTONANIM] C_STATE_MOUSE HISTORY_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[GROUP] 6203
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CLUSTER] 2
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON

[BUTTON]
#[SETUP] IA_ACMI_CTRL C_TYPE_NORMAL 0 0
[XYWH] 560 2 106 88
[IMAGES] BID_ACMI_UP BID_ACMI_DOWN NULL NULL
[BUTTONANIM] C_STATE_MOUSE ACMI_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[GROUP] 200000
[CURSOR] CRSR_F16_ON