#UI BMS 4.38 update, February 2024, by Kolbe

#This is the Recent Updates list (lower part) of the Intel Window. 

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] RVNTS_WIN C_TYPE_NORMAL 408 350
[XY] 0 730
[RANGES] 0 0 1920 1080 408 350
[CLIENTAREA] 16 26 370 305 0 "Events"
[FONT] HAETTEN_18
[GROUP] 6200
[FLAGBITON] C_BIT_CANTMOVE

#[TILE]
#[SETUP] NID 0 BASEBG
#[XYWH] 0 0 408 350
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_HORIZONTAL

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 0 408 350
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

#########################################################

#### Campaign Events ####
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_RECENTUPDATES
[XY] 11 0
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_COLON
[XY] 192 0
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID 0
[XYWH] 12 24 380 310
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[SCROLLBAR]
[SETUP] C_DONT_CARE C_TYPE_VERTICAL
[XYWH] 395 24 13 310
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 12

