#UI BMS 4.38 update, January 2024, by Kolbe

#This is the "Intel" header at the top menu of the Campaign 
#Play Window when it is selected (green font).

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] CB_INTEL_HEADER C_TYPE_NORMAL 130 40
[XY] 295 4
[RANGES] 0 0 1920 1080 300 47
[GROUP] 6200
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT



###########c#######
#INTEL
##################
[BUTTON]
[SETUP] INTEL_MAIN_CTRL C_TYPE_NORMAL 0 0
[BUTTONIMAGE] C_STATE_0 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_130_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_CAMP_INTEL
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 0 255 0
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 6200
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES, C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON