#UI BMS4, created by Revientor and Naldo (2009)
#That PAK Screen modifier window.

[WINDOW]
[SETUP] STRAT_WIN C_TYPE_NORMAL 422 410
[XY] 749 335
[RANGES] 0 0 1920 1080 422 410
[CLIENTAREA] 0 0 422 422 0
[CLIENTAREA] 2 2 418 22 1 "titlestrip"
[GROUP] 6210
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT

[TILE]
[SETUP] NID 0 PAK
[XYWH] 0 0 422 410
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_TASKING_PRIORITIES
[XY] 6 3
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] CLOSE_WINDOW C_TYPE_NORMAL 395 3
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[GROUP] 6210
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_CLOSE

[BUTTON]
[SETUP] TARGET_PRIORITIES C_TYPE_RADIO 5 28
[IMAGES] PAKBUT1 PAKBUT1 NULL PAKBUT1
[STATE] 1
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TARGET_PRIORITY
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CURSOR] CRSR_F16_ON
[GROUP] 6210
[USERDATA] C_STATE_0 6211 "Enable"
[USERDATA] C_STATE_1 6212 "Disable the rest"
[USERDATA] C_STATE_2 6213

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_AIRCRAFT
[XY] 52 56
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 52 80 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_1 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 52 74 138 13
[CLUSTER] 6211
[STEPS] 100
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_AIRFIELDS
[XY] 52 95
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 52 119 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_2 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 52 113 138 13
[STEPS] 100
[CLUSTER] 6211
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_AIRDEFENSES
[XY] 52 134
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 52 158 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_3 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 52 152 138 13
[STEPS] 100
[CLUSTER] 6211
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_RADAR
[XY] 52 173
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 52 197 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_4 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 52 191 138 13
[STEPS] 100
[CLUSTER] 6211
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ARMY
[XY] 52 212
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 52 236 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_5 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 52 230 138 13
[STEPS] 100
[CLUSTER] 6211
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_CCC
[XY] 52 251
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 52 275 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_6 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 52 269 138 13
[STEPS] 100
[CLUSTER] 6211
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_INFRASTRUCTURE
[XY] 52 290
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 52 314 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_7 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 52 308 138 13
[STEPS] 100
[CLUSTER] 6211
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_LOGISTICS
[XY] 52 329
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 52 353 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_8 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 52 347 138 13
[STEPS] 100
[CLUSTER] 6211
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN




[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_WARPRODUCTION
[XY] 231 56
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 231 80 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_9 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 231 74 138 13
[STEPS] 100
[CLUSTER] 6211
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_NAVAL_BASES
[XY] 231 95
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 231 119 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_10 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 231 113 138 13
[STEPS] 100
[CLUSTER] 6211
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ARMORED_UNITS
[XY] 231 134
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 231 158 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_11 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 231 152 138 13
[STEPS] 100
[CLUSTER] 6211
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_INFANTRY_UNITS
[XY] 231 173
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 231 197 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_12 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 231 191 138 13
[CLUSTER] 6211
[STEPS] 100
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ARTILLERY_UNITS
[XY] 231 212
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 231 236 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_13 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 231 230 138 13
[CLUSTER] 6211
[STEPS] 100
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_SUPPORT_UNITS
[XY] 231 251
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 231 275 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_14 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 231 269 138 13
[CLUSTER] 6211
[STEPS] 100
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_NAVAL_UNITS
[XY] 231 290
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6211

[LINE]
[SETUP] NID 0
[XYWH] 231 314 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6211

[SLIDER]
[SETUP] TARGET_15 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 231 308 138 13
[CLUSTER] 6211
[STEPS] 100
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[BUTTON]
[SETUP] MISSION_PRIORITIES C_TYPE_RADIO 144 28
[IMAGES] PAKBUT2 PAKBUT2 NULL PAKBUT2
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_MISSION_PRIORITY
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CURSOR] CRSR_F16_ON
[GROUP] 6210
[USERDATA] C_STATE_0 6212 "Enable"
[USERDATA] C_STATE_1 6211 "Disable the rest"
[USERDATA] C_STATE_2 6213

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_OFFENSIVE_COUNTER_AIR
[XY] 142 56
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[LINE]
[SETUP] NID 0
[XYWH] 142 80 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[SLIDER]
[SETUP] MISSION_1 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 142 74 138 13
[CLUSTER] 6212
[STEPS] 100
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_SAM_SUPPRESSION
[XY] 142 95
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[LINE]
[SETUP] NID 0
[XYWH] 142 119 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[SLIDER]
[SETUP] MISSION_2 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 142 113 138 13
[CLUSTER] 6212
[STEPS] 100
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_INTERDICTION
[XY] 142 134
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[LINE]
[SETUP] NID 0
[XYWH] 142 158 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[SLIDER]
[SETUP] MISSION_3 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 142 152 138 13
[CLUSTER] 6212
[STEPS] 100
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_CLOSE_AIR_SUPPORT
[XY] 142 173
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[LINE]
[SETUP] NID 0
[XYWH] 142 197 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[SLIDER]
[SETUP] MISSION_4 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 142 191 138 13
[CLUSTER] 6212
[STEPS] 100
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_STRATEGIC_STRIKES
[XY] 142 212
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[LINE]
[SETUP] NID 0
[XYWH] 142 236 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[SLIDER]
[SETUP] MISSION_5 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 142 230 138 13
[CLUSTER] 6212
[STEPS] 100
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ANTI_SHIPPING
[XY] 142 251
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[LINE]
[SETUP] NID 0
[XYWH] 142 275 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[SLIDER]
[SETUP] MISSION_6 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 142 269 138 13
[CLUSTER] 6212
[STEPS] 100
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_DEFENSIVE_COUNTER_AIR
[XY] 142 290
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[LINE]
[SETUP] NID 0
[XYWH] 142 314 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[SLIDER]
[SETUP] MISSION_7 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 142 308 138 13
[CLUSTER] 6212
[STEPS] 100
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_RECONNAISSANCE
[XY] 142 329
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[LINE]
[SETUP] NID 0
[XYWH] 142 353 138 1
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6212
[FLAGBITON] C_BIT_INVISIBLE

[SLIDER]
[SETUP] MISSION_8 C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_LEFT_OFF BID_SCROLLCAP_LEFT_ON BID_SCROLLCAP_RIGHT_OFF BID_SCROLLCAP_RIGHT_ON
[XYWH] 142 347 138 13
[CLUSTER] 6212
[STEPS] 100
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN
[FLAGBITON] C_BIT_INVISIBLE


[BUTTON]
[SETUP] PAK_PRIORITIES C_TYPE_RADIO 283 28
[IMAGES] PAKBUT3 PAKBUT3 NULL PAKBUT3
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_PAK_PRIORITY
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CURSOR] CRSR_F16_ON
[GROUP] 6210
[USERDATA] C_STATE_0 6213 "Enable"
[USERDATA] C_STATE_1 6212 "Disable the rest"
[USERDATA] C_STATE_2 6211

[BUTTON]
[SETUP] THEATER_256 C_TYPE_NORMAL 68 67
[IMAGES] KOREA_256 KOREA_256 KOREA_256 KOREA_256
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_MOUSEOVER
[CLUSTER] 6213

#[BITMAP]
#[SETUP] THEATER_256 0 KOREA_256
#[XY] 68 67
#[CLUSTER] 6213
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_INVISIBLE

[BITMAP]
[SETUP] PAK_REGION 0 PAK_REGION_OVERLAY
[XY] 69 68
[CLUSTER] 6213
[PERCENT] 68
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[FLAGBITON] C_BIT_TIMER

[BITMAP]
[SETUP] PAK_OUTLINE 0 PAK_OUTLINE_OVERLAY
[XY] 69 68
[CLUSTER] 6213
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE

[BITMAP]
[SETUP] NID 0 PRIORITY_RANGE_BAR
[XY] 339 88
[CLUSTER] 6213
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE

[SLIDER]
[SETUP] PAK_SLIDER C_TYPE_VERTICAL
[SLIDERIMAGE] BID_PRIORITY_SCROLL
[XYWH] 335 85 17 226
[CLUSTER] 6213
[STEPS] 100
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_VDRAG
[DRAGCURSOR] CRSR_VDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_HIGH
[XY] 331 66
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6213
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_LOW
[XY] 333 310
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 6213
[FLAGBITON] C_BIT_INVISIBLE

#[TEXT]
#[SETUP] PAK_TITLE C_TYPE_LEFT
#[SETTEXT] TXT_EMPTY
#[XY] 68 337
#[FONT] HAETTEN_16
#[FLAGBITON] C_BIT_ABSOLUTE
#[FGCOLOR] 230 230 230
#[FLAGBITON] C_BIT_LEFT
#[CLUSTER] 6213
#[FLAGBITON] C_BIT_INVISIBLE

[TILE]
[SETUP] NID 0 PAKLIST1
[XYWH] 83 334 230 19
[CLUSTER] 6213
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[LISTBOX]
[SETUP] PAK_TITLE
[XYWH] 83 334 230 18
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] HAETTEN_16
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 6213
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#[LINE]
#[SETUP] NID 0
#[XYWH] 68 352 286 1
#[COLOR] 65 128 173
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 6213
#[FLAGBITON] C_BIT_INVISIBLE

#[SLIDER]
#[SETUP] PAK_SLIDER C_TYPE_HORIZONTAL
#[SLIDERIMAGE] BID_SCROLL
#[XYWH] 68 346 286 13
#[CLUSTER] 6213
#[STEPS] 255
#[FLAGBITON] C_BIT_ABSOLUTE
#[CURSOR] CRSR_HDRAG
#[SOUNDBITE] SND_SLIDER C_STATE_DOWN
#[FLAGBITON] C_BIT_INVISIBLE

#[BUTTON]
#[SETUP] RESET C_TYPE_NORMAL 50 375
#[IMAGES] BID_COMMS_LARGE_UP BID_COMMS_LARGE_DOWN NULL BID_COMMS_LARGE_UP
#[FLAGBITON] C_BIT_ABSOLUTE
#[LABELALL] TXT_RESET
#[FONT] BANK_GOTHIC_16
#[UPCOLOR] 191 191 191
#[DOWNCOLOR] 0 255 0 GREEN
#[DISCOLOR] 102 102 102
#[TEXTOFFSET] C_STATE_UP 0 -1
#[SOUNDBITE] SND_PUSH C_STATE_DOWN
#[GROUP] 6210
#[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] HQ_FLAG C_TYPE_TOGGLE 125 378
[IMAGES] BID_CHK1_OFF BID_CHK1_ON NULL NULL
[STATE] 1
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[LABELFLAGBITON] C_BIT_RIGHT
[LABELALL] TXT_HQ_FLAG
[TEXTCOLOR] C_STATE_0 230 230 230
[TEXTCOLOR] C_STATE_1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 230 230 230
[TEXTOFFSET] C_STATE_UP -25 0
[TEXTOFFSET] C_STATE_DOWN -25 0
[TEXTOFFSET] C_STATE_DISABLED -25 0
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] CANCEL C_TYPE_NORMAL 156 375
[IMAGES] PAKBUT4 PAKBUT4 NULL PAKBUT4
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_CANCEL
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[GROUP] 6210
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] OK C_TYPE_NORMAL 262 375
[IMAGES] PAKBUT5 PAKBUT5 NULL PAKBUT5
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[GROUP] 6210
[CURSOR] CRSR_F16_ON
