#UI BMS 4.38 update, March 2023, by Kolbe

#This is the Tactical Engagement Header
#It contains
#- Header
#- Exit button
#- Background image


##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] TAC_HEADER_WIN C_TYPE_NORMAL 1660 1023
[XY] 260 0
#[RANGES] 0 0 1024 768 299 30
[GROUP] 3000
[FLAGBITON] C_BIT_CANTMOVE
[DEPTH] 3


##################
#BACKGROUND IMAGE
##################
[TILE]
[SETUP] NID 0 BG_TE_SEL
[XYWH] 0 0 1660 1023
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 0 0 1660 47
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE 

#Background treelist (put here to avoid flashing)
[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 270 120 409 599
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE 

# background Tac_Ltul
[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 1210 900 380 83
[COLOR] 22 53 70
[FLAGBITON] C_BIT_ABSOLUTE 


##################
#HEADER TEXT
##################
[TEXT]
[SETUP] NID C_TYPE_CENTER
[SETTEXT] TXT_TE_HEADER
[XY] 800 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER


##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 0 48 1660 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#EXIT BUTTON
##################
[BUTTON]
[SETUP] CLOSE_WINDOW,C_TYPE_NORMAL,1600,2
[IMAGES] CLOSE_BTN CLOSE_BTN NULL NULL
[ID] CLOSE_WINDOW
[TYPE] C_TYPE_NORMAL
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[GROUP] 3000
[CURSOR] CRSR_F16_ON