#UI BMS 4.38 update, April 2023, by Kolbe

#This is the Tactical Engagement Treelist section
#It contains
#- Training, Saved, Online Buttons
#- TE Builder and Edit Buttons
#- Background image
#- Delete Button

##################
#WINDOW SETUP
##################

[WINDOW] TAC LOAD PANEL
[SETUP] TAC_MISSION_WIN, C_TYPE_NORMAL, 600 700
[XY] 350 120
[GROUP] 3000
[FONT] OCR_EXT_24
[CLIENTAREA] 10 10 580 580 1
[XYWH] 0 0 560 700
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE
[DEPTH] 3


##################
#FRAME AND SCROLLBAR
##################

#Background (FILL) moved to Tac_Head.scf

[BOX]
[SETUP] NID 0
[XYWH] 180 0 410 600
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED

[SCROLLBAR]
[SETUP] TAC_MISSION_SCROLL C_TYPE_VERTICAL
[XYWH] 575 10 13 580
[CLIENT] 1
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 15


################################################
#TRAINING, LOAD, JOIN, NEW, EDIT, DELETE BUTTONS
################################################

######BUTTON: TRAINING TE
[BUTTON]
[SETUP] TAC_TRAIN_CTRL, C_TYPE_RADIO, 0 0
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, NULL
[STATE] 1
[GROUP] 3100
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TRAINING
[FONT] BANK_GOTHIC_24
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 3003
[USERDATA] C_STATE_1 3001
[USERDATA] C_STATE_2 3002
[CURSOR] CRSR_F16_ON

######BUTTON: LOAD TE (SAVED)
[BUTTON]
[SETUP] TAC_LOAD_CTRL, C_TYPE_RADIO, 0 50
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, NULL
[STATE] 0
[GROUP] 3100
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SAVED
[FONT] BANK_GOTHIC_24
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 3001
[USERDATA] C_STATE_1 3002
[USERDATA] C_STATE_2 3003
[CURSOR] CRSR_F16_ON

######BUTTON: JOIN TE (ONLINE - New popup window when offline)
[BUTTON]
[SETUP] TAC_JOIN_CTRL, C_TYPE_RADIO, 0 100
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, NULL
[STATE] 0
[GROUP] 3100
[LABELALL] TXT_ONLINE
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 3002
[USERDATA] C_STATE_1 3001
[USERDATA] C_STATE_2 3003
[CURSOR] CRSR_F16_ON

######BUTTON: NEW TE (TE BUILDER)
[BUTTON]
[SETUP] TAC_NEW_MISSION, C_TYPE_NORMAL, 180 610
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, BID_FILE_DIS
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TE_BUILDER
[FONT] BANK_GOTHIC_24
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 3900
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_NEW

######BUTTON: EDIT TE
[BUTTON]
[SETUP] TAC_EDIT, C_TYPE_NORMAL, 360 610
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_EDIT
[FONT] BANK_GOTHIC_24
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 3900
[CURSOR] CRSR_F16_ON
[CLUSTER] 3001

######BUTTON: DELETE TE
[BUTTON]
[SETUP] TAC_DELETE, C_TYPE_NORMAL, 0 150
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_DELETE
[FONT] BANK_GOTHIC_24
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 19500
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_DELETE
[CLUSTER] 3001


################################################
#TREELISTS
################################################

#File list: On-line sessions
[TREELIST]
[SETUP] TACTICAL_TREE
[FONT] HAETTEN_18
[XY] 180 0
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[CLIENT] 1
[XOFFSET] 18
[CLUSTER] 3002
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON

#File list: Saved TE
[TREELIST]
[SETUP] FILELIST_TREE
[FONT] HAETTEN_18
[XY] 180 0
[CLIENT] 1
[CLUSTER] 3001
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON

#File list: Training TE
[TREELIST]
[SETUP] TRAINLIST_TREE
[FONT] HAETTEN_18
[XY] 180 0
[CLIENT] 1
[CLUSTER] 3003
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON
