#UI BMS 4.38 update, April 2023, by Kolbe

#This shows the teams info below ther clock and map in the TE screen.


##################
#WINDOW SETUP
##################
[WINDOW] TAC PUA
[SETUP] TAC_PUA_WIN, C_TYPE_NORMAL, 600 270
#[RANGES] 0 0 1024 768 600 270
[XY] 1100 500
[CLIENTAREA] 12 10 280 245
[GROUP] 3050
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE
[DEPTH] 3

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 0 600 270
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID 0
[XYWH] 0 0 599 269
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED


##################
#MISSION NAME
##################
[TEXT]
[SETUP] MISSION_NAME C_TYPE_TEXT
[XY] 300 9 300 23
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] OCR_EXT_24
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_HCENTER

[LINE]
[SETUP] NID 0
[XYWH] 10 35 580 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#TEAMS
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_TEAMS
[XY] 30 190
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] HAETTEN_18
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_COLON
[XY] 140 190
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_HCENTER

[TEXT]
[SETUP] TAC_TEAMS C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 243 190
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] OCR_EXT_16
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_RIGHT

[LINE]
[SETUP] NID C_TYPE_HORIZONTAL
[XYWH] 30 210 213 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

[LINE]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 242 206 1 4
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#F-16s
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_F16S
[XY] 30 220
[CLIENT] 0
[FONT] HAETTEN_18
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_COLON
[XY] 140 220
[CLIENT] 0
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] TAC_F16S C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 243 220
[FONT] OCR_EXT_16
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE

[LINE]
[SETUP] NID C_TYPE_HORIZONTAL
[XYWH] 30 240 213 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

[LINE]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 242 236 1 4
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#AIRCRAFT
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_AIRCRAFT_PLURAL
[XY] 290 190
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] HAETTEN_18
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_COLON
[XY] 400 190
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT

[TEXT]
[SETUP] TAC_AIRCRAFT C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 503 190
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] OCR_EXT_16
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_RIGHT

[LINE]
[SETUP] NID C_TYPE_HORIZONTAL
[XYWH] 290 210 213 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

[LINE]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 502 206 1 4
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#PLAYERS
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_PLAYERS
[XY] 290 220
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] HAETTEN_18
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_LEFT

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_COLON
[XY] 400 220
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT

[TEXT]
[SETUP] TAC_PLAYERS C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 503 220
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] OCR_EXT_16
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_RIGHT

[LINE]
[SETUP] NID C_TYPE_HORIZONTAL
[XYWH] 290 240 213 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

[LINE]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 502 236 1 4
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#UNIT MOTTO / MISSION DESCRIPTION
##################
[TEXT]
[SETUP] UNIT_MOTTO
[MAXLEN] 200
[SETTEXT] TXT_SPACE
[XYWH] 270 60 280 100
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] OCR_EXT_16
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_WORDWRAP

[BOX]
[SETUP] NID,0
[XYWH] 265 55 290 110
[COLOR] 180 180 180 GREY
[FLAGBITON] C_BIT_ABSOLUTE


##################
#TEAM FLAG AND NAME
##################
[BUTTON]
[SETUP] TAC_FLAG, C_TYPE_CUSTOM, 140 80
[BUTTONIMAGE] C_STATE_0 OOB_FLAGS_USA_HRZ
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_MOUSEOVER
[FLAGBITON] C_BIT_HCENTER

[TEXT]
[SETUP] TAC_TEAM_NAME C_TYPE_CENTER
[XY] 140 130
[W] 90
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] HAETTEN_18
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_WORDWRAP

