#UI BMS 4.38 update, April 2023, by Kolbe

#This is the Tactical Engagement Toolbar
#It contains
#- Help Button
#- SP/MP buttons
#- Background
#- Training Script selection

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] TAC_LOAD_TOOLBAR C_TYPE_NORMAL 820 83
#[RANGES] 0 0 1660 1023 380 83
[XY] 1100 900
[GROUP] 3000
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT
[DEPTH] 3


##################
#BACKGROUND 
##################

#Background (FILL) moved to Tac_Head.scf

[BOX]
[SETUP] NID 0
[XYWH] 370 0 379 82
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED


##################
#ENABLE TRAINING SCRIPTS
##################
[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 0 0 350 83
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE 
[CLUSTER] 10001

[BOX]
[SETUP] NID 0
[XYWH] 0 0 349 82
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED
[CLUSTER] 10001

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_TRAINING_SCRIPT_CTRL
[XY] 20 37
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
#[FLAGBITOFF] C_BIT_ENABLED
[CLUSTER] 10001

[BUTTON]
[SETUP] TRAINING_SCRIPT_CTRL, C_TYPE_TOGGLE 320 38
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[USERDATA] C_STATE_2 10001
[CURSOR] CRSR_F16_ON

[LINE]
[SETUP] NID, 0
[XYWH] 20 57 317 1
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 336 54 1 3
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001

##################
#HELP BUTTON
##################
[BUTTON]
[SETUP] UI_HELP_GUIDE C_TYPE_NORMAL 0 0
[XYWH] 430 12 119 63
[GROUP] 40003
[BUTTONIMAGE] C_STATE_0 HELP_BTN
[BUTTONIMAGE] C_STATE_1 HELP_BTN
[BUTTONIMAGE] C_STATE_DISABLED HELP_BTN
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_HELP


##################
#COMMIT BUTTONS
##################
[BUTTON]
[SETUP] SINGLE_COMMIT_CTRL C_TYPE_NORMAL
[XYWH] 570 9 143 73
[BUTTONIMAGE] C_STATE_0 TAKE_OFF_BUTTON_SP
[BUTTONIMAGE] C_STATE_1 TAKE_OFF_BUTTON_SP
[BUTTONIMAGE] C_STATE_DISABLED TAKE_OFF_BUTTON_SP
#[BUTTONANIM] C_STATE_MOUSE TACENG_ANIM C_TYPE_PINGPONG 1
#[FLAGBITOFF] C_BIT_MOUSEOVER
[GROUP] 3025
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] TXT_ACCEPT

[BUTTON]
[SETUP] COMMS_COMMIT_CTRL C_TYPE_NORMAL
[XYWH] 570 9 143 73
[BUTTONIMAGE] C_STATE_0 TAKE_OFF_BUTTON_MP
[BUTTONIMAGE] C_STATE_1 TAKE_OFF_BUTTON_MP
[BUTTONIMAGE] C_STATE_DISABLED TAKE_OFF_BUTTON_MP
#[BUTTONANIM] C_STATE_MOUSE MULTI_TACENG_ANIM C_TYPE_PINGPONG 1
#[FLAGBITOFF] C_BIT_MOUSEOVER
[GROUP] 3025
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] TXT_ACCEPT


##################
#STILL USED???
##################
[BUTTON]
[SETUP] TAC_HOST C_TYPE_NORMAL 636 20
#[HOTSPOT] -5 -5 5 5
[BUTTONIMAGE] C_STATE_0 EXIT_LABEL_SHDW
[BUTTONIMAGE] C_STATE_1 EXIT_LABEL_SHDW
[BUTTONIMAGE] C_STATE_DISABLED
[BUTTONIMAGE] C_STATE_3 EXIT_LABEL_SHDW
[FLAGBITON] C_BIT_VCENTER
[GROUP] 6000
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
#[HELPTEXT] HELP_FLY_ICON
[CURSOR] CRSR_F16_ON