#UI BMS 4.38 update, April 2023, by Kolbe

#This is the Tactical Engagement Clock and Map section
#It contains
#- Clock
#- Map
#- Team selection


##################
#WINDOW SETUP
##################
[WINDOW] TAC SUA PANEL
[SETUP] TAC_SUA_WIN, C_TYPE_NORMAL, 600 300
[XY] 1200 120
[RANGES] 0 0 1024 768 346 288
[GROUP] 3050
[FONT] OCR_EXT_16
[CLIENTAREA] 0 0 600 300 0
[CLIENTAREA] 5 50 136 140 1
[CLIENTAREA] 300 100 172 172 2 "Map"
[CLIENTAREA] 10 100 123 170 3 "Teams"
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT
[DEPTH] 3

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 0 600 300
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID 0
[XYWH] 0 0 599 299
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED


##################
#CLOCK
##################
[BOX]
[SETUP] NID,0
[XYWH] 38 10 524 40
[COLOR] 230 230 230

[TILE]
[SETUP] NID 0 BG_MAIN_BRIGHT
[XYWH] 39 11 523 39
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_START_TIME_COLON
[XY] 53 20
[FONT] BANK_GOTHIC_20
[FGCOLOR] 255 255 255 WHITE

[CLOCK]
[SETUP] TIME_ID 0
[USEDAY]
[XY] 198 20
[NORMCOLOR] 255 255 255 WHITE
[SELCOLOR] 255 255 255 WHITE
[FONT] BANK_GOTHIC_20
[SEP0] TXT_CLOCK_DAY_SEP
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[FLAGBITOFF] C_BIT_ENABLED

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_ZULU_TIME
[XY] 348 23
[FONT] BANK_GOTHIC_16
[FGCOLOR] 255 255 255 WHITE

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_PARENTHESE_IN
[XY] 368 20
[FONT] BANK_GOTHIC_20
[FGCOLOR] 235 235 235

[CLOCK]
[SETUP] TIME_ID_LOCAL 0
[XY] 378 20
[NORMCOLOR] 235 235 235
[SELCOLOR] 235 235 235
[FONT] BANK_GOTHIC_20
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[FLAGBITOFF] C_BIT_ENABLED

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_LOCAL_TIME
[XY] 488 23
[FONT] BANK_GOTHIC_16
[FGCOLOR] 235 235 235

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_PARENTHESE_OUT
[XY] 513 20
[FONT] BANK_GOTHIC_20
[FGCOLOR] 235 235 235


##################
#MAP
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_TEAM_TERRITORY
[XY] 300 75
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE

[BITMAP]
[SETUP] NID 0 IA_MAP_TGA
[CLIENT] 2

[BITMAP]
[SETUP] TAC_OVERLAY 0 NULL
[CLIENT] 2
[PERCENT] 20
[FLAGBITON] C_BIT_TRANSLUCENT

[BOX]
[SETUP] NID,0
[XYWH] 299 99 172 172
[COLOR] 230 230 230


##################
#TEAMS 
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_CHOOSE_TEAM
[XY] 10 75
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE


#First Team
[LINE]
[SETUP] GROUP1_COLOR 0
[XYWH] 0 0 26 18
[COLOR] 230 0 0
[CLUSTER] 1
[CLIENT] 3

[BOX]
[SETUP] NID 0
[XYWH] 2 2 21 13
[COLOR] 0 0 0
[CLUSTER] 1
[CLIENT] 3

[BUTTON]
[SETUP] GROUP1_FLAG C_TYPE_RADIO 3 3
[BUTTONIMAGE] C_STATE_0 SMFLGS_SWISS
[BUTTONIMAGE] C_STATE_1 SMFLGS_SWISS
[GROUP] 1
[LABELFLAGBITON] C_TYPE_LEFT
[LABELALL] TXT_EMPTY
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 25 0
[TEXTOFFSET] C_STATE_DOWN 25 0
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SELECT_TEAM
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[CLUSTER] 1
[CLIENT] 3

#Second Team
[LINE]
[SETUP] GROUP2_COLOR 0
[XYWH] 0 22 26 18
[COLOR] 230 0 0
[CLUSTER] 2
[CLIENT] 3

[BOX]
[SETUP] NID 0
[XYWH] 2 24 21 13
[COLOR] 0 0 0
[CLUSTER] 2
[CLIENT] 3

[BUTTON]
[SETUP] GROUP2_FLAG C_TYPE_RADIO 3 25
[BUTTONIMAGE] C_STATE_0 SMFLGS_SWISS
[BUTTONIMAGE] C_STATE_1 SMFLGS_SWISS
[GROUP] 1
[LABELFLAGBITON] C_TYPE_LEFT
[LABELALL] TXT_EMPTY
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 25 0
[TEXTOFFSET] C_STATE_DOWN 25 0
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SELECT_TEAM
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[CLUSTER] 2
[CLIENT] 3

#Third Team
[LINE]
[SETUP] GROUP3_COLOR 0
[XYWH] 0 44 26 18
[COLOR] 230 0 0
[CLUSTER] 3
[CLIENT] 3

[BOX]
[SETUP] NID 0
[XYWH] 2 46 21 13
[COLOR] 0 0 0
[CLUSTER] 3
[CLIENT] 3

[BUTTON]
[SETUP] GROUP3_FLAG C_TYPE_RADIO 3 47
[BUTTONIMAGE] C_STATE_0 SMFLGS_SWISS
[BUTTONIMAGE] C_STATE_1 SMFLGS_SWISS
[GROUP] 1
[LABELFLAGBITON] C_TYPE_LEFT
[LABELALL] TXT_EMPTY
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 25 0
[TEXTOFFSET] C_STATE_DOWN 25 0
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SELECT_TEAM
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[CLUSTER] 3
[CLIENT] 3

#Forth Team
[LINE]
[SETUP] GROUP4_COLOR 0
[XYWH] 0 66 26 18
[COLOR] 230 0 0
[CLUSTER] 4
[CLIENT] 3

[BOX]
[SETUP] NID 0
[XYWH] 2 68 21 13
[COLOR] 0 0 0
[CLUSTER] 4
[CLIENT] 3

[BUTTON]
[SETUP] GROUP4_FLAG C_TYPE_RADIO 3 69
[BUTTONIMAGE] C_STATE_0 SMFLGS_SWISS
[BUTTONIMAGE] C_STATE_1 SMFLGS_SWISS
[GROUP] 1
[LABELFLAGBITON] C_TYPE_LEFT
[LABELALL] TXT_EMPTY
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 25 0
[TEXTOFFSET] C_STATE_DOWN 25 0
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SELECT_TEAM
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[CLUSTER] 4
[CLIENT] 3

#Fifth Team
[LINE]
[SETUP] GROUP5_COLOR 0
[XYWH] 0 88 26 18
[COLOR] 230 0 0
[CLUSTER] 5
[CLIENT] 3

[BOX]
[SETUP] NID 0
[XYWH] 2 90 21 13
[COLOR] 0 0 0
[CLUSTER] 5
[CLIENT] 3

[BUTTON]
[SETUP] GROUP5_FLAG C_TYPE_RADIO 3 91
[BUTTONIMAGE] C_STATE_0 SMFLGS_SWISS
[BUTTONIMAGE] C_STATE_1 SMFLGS_SWISS
[GROUP] 1
[LABELFLAGBITON] C_TYPE_LEFT
[LABELALL] TXT_EMPTY
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 25 0
[TEXTOFFSET] C_STATE_DOWN 25 0
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SELECT_TEAM
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[CLUSTER] 5
[CLIENT] 3

#SIXTH Team
[LINE]
[SETUP] GROUP6_COLOR 0
[XYWH] 0 110 26 18
[COLOR] 230 0 0
[CLUSTER] 6
[CLIENT] 3

[BOX]
[SETUP] NID 0
[XYWH] 2 112 21 13
[COLOR] 0 0 0
[CLUSTER] 6
[CLIENT] 3

[BUTTON]
[SETUP] GROUP6_FLAG C_TYPE_RADIO 3 113
[BUTTONIMAGE] C_STATE_0 SMFLGS_SWISS
[BUTTONIMAGE] C_STATE_1 SMFLGS_SWISS
[GROUP] 1
[LABELFLAGBITON] C_TYPE_LEFT
[LABELALL] TXT_EMPTY
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 25 0
[TEXTOFFSET] C_STATE_DOWN 25 0
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SELECT_TEAM
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[CLUSTER] 6
[CLIENT] 3

#Seventh Team
[LINE]
[SETUP] GROUP7_COLOR 0
[XYWH] 0 132 26 18
[COLOR] 230 0 0
[CLUSTER] 7
[CLIENT] 3

[BOX]
[SETUP] NID 0
[XYWH] 2 134 21 13
[COLOR] 0 0 0
[CLUSTER] 7
[CLIENT] 3

[BUTTON]
[SETUP] GROUP7_FLAG C_TYPE_RADIO 3 135
[BUTTONIMAGE] C_STATE_0 SMFLGS_SWISS
[BUTTONIMAGE] C_STATE_1 SMFLGS_SWISS
[GROUP] 1
[LABELFLAGBITON] C_TYPE_LEFT
[LABELALL] TXT_EMPTY
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 25 0
[TEXTOFFSET] C_STATE_DOWN 25 0
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SELECT_TEAM
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[CLUSTER] 7
[CLIENT] 3


##################
#CURRENTLY UNUSED
##################
#[LISTBOX]
#[SETUP] TAC_THEATER 0
#[XYWH] 35 274 172 18
#[NORMCOLOR] 230 230 230
#[SELCOLOR] 255 255 0 YELLOW
#[FONT] OCR_EXT_16
#[DROPDOWN] BID_DROPDOWN
#[FLAGBITON] C_BIT_ABSOLUTE
#[ADDITEM] TAC_KOREA C_TYPE_ITEM TXT_KOREA
#[CURSOR] CRSR_LIST_F16
#[SOUNDBITE] SND_MENU C_STATE_DOWN
#[FLAGBITON] C_BIT_ABSOLUTE