#UI BMS 4.38 update, March 2023, by Kolbe

#This is the Advanced Setup content
#It contains
#- View Control
#- Flight Control
#- Avionics Control
#- Audio Control
#- Advanced Options (Axis settings)


##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] SETUP_CONTROL_ADVANCED_WIN C_TYPE_EXCLUSIVE 1145 850
[XY] "centralized"
#[RANGES] 0 0 1920 1080 1145 850
[CLIENTAREA] 0 0 1145 850 0 "entire window"
[CLIENTAREA] 2 2 679 22 4
[GROUP] 500
[DRAGH] 47
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT


##################
#BACKGROUND IMAGE
##################
[TILE]
[SETUP] NID 0 BG_SETUP_ADVANCED
[XYWH] 0 0 1145 850
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 0 0 1145 47
[PERCENT] 15
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_TRANSLUCENT


##################
#HEADER LINE
##################
[LINE]
[SETUP] NID 0
[XYWH] 0 48 1145 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#WIN BOXES
##################
[BOX]
[SETUP] NID,0
[XYWH] 0 0 1144 849
[COLOR] 255 255 255

[BOX]
[SETUP] NID,0
[XYWH] 1 1 1142 847
[COLOR] 255 255 255


##################
#HEADER TEXT
##################
[TEXT]
[SETUP] TITLE_LABEL C_TYPE_LEFT
[SETTEXT] TXT_GRAPHICS_ADVANCED_TITLE
[XY] 572 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER


##################
#EXIT BUTTON
##################
[BUTTON]
[SETUP] CANCEL,C_TYPE_NORMAL,1082 4
[IMAGES] CLOSE_BTN CLOSE_BTN NULL NULL
[GROUP] 500
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON


##################
#OK BUTTON
##################
[BUTTON]
[SETUP] AAPPLY C_TYPE_NORMAL, 900 750
[IMAGES] BTN_155_40_DARK BTN_155_40_DARK NULL BTN_155_40_DARK
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_24
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[GROUP] 500
[CURSOR] CRSR_F16_ON


##############################################################################################
#VIEW CONTROL
##################
[BUTTON]
[SETUP] SETUP_ADVANCED_GENERAL_TAB, C_TYPE_RADIO, 25 70
[IMAGES] BTN_255_40_BRIGHT, BTN_255_40_DARK, NULL, NULL
[STATE] 1
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SETUP_ADVANCED_GENERAL_CONTROL
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 10001 "Enable"
[USERDATA] C_STATE_1 10002 "Disable the rest"
[USERDATA] C_STATE_2 10003
[USERDATA] C_STATE_3 10004
[CURSOR] CRSR_F16_ON


##################
#Headers
##################

######Axis Settings Text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AXIS_SETTINGS
[XY] 25 120
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10001

######Saturation Text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_SATURATION
[XY] 825 120
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10001

######Reverse Text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_REVERSE
[XY] 1000 120
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10001


##################
#FIELD OF VIEW
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_FOV
[XY] 25 160
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10001

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_FOV 0
[XYWH] 25 181 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 165 115 12
[COLOR] 230 230 230
[CLUSTER] 10001

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_FOV_VAL 0
[XYWH] 501 166 114 11
[COLOR] 16 24 41
[CLUSTER] 10001

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_FOV 0
[XYWH] 825 181 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_FOV, C_TYPE_TOGGLE 1040 181
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 200 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 625 197 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 955 197 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 1056 197 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10001


##################
#VIEW ZOOM
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_ZOOM
[XY] 25 210
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10001

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_ZOOM 0
[XYWH] 25 231 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 215 115 12
[COLOR] 230 230 230
[CLUSTER] 10001

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_ZOOM_VAL 0
[XYWH] 501 216 114 11
[COLOR] 16 24 41
[CLUSTER] 10001

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_ZOOM 0
[XYWH] 825 231 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_ZOOM, C_TYPE_TOGGLE 1040 231
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 250 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 625 247 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 955 247 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 1056 247 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10001


##################
#DYNAMIC HEAD SENSIVITY SLIDER
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_DYNAMICHEAD_SENS
[XY] 25 300
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001

[LINE]
[SETUP] NID 0
[XYWH] 500 311 600 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE


[SLIDER]
[SETUP] SETUP_ADVANCED_DYNHEAD_SENS, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 500 306 600 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 140
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_ENGINE_INTERNAL_GROUP

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 500 312 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 560 312 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 620 312 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 680 312 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 740 312 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 800 312 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 860 312 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 920 312 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 980 312 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1040 312 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE


#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1100 304 1 8
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE


##################
#MOUSELOOK SENSIVITY SLIDER
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_MOUSELOOK_SENS
#[SETTEXT] TXT_MOUSEWHEEL_SENSTXT_KEYPOV_SENS
[XY] 25 350
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001

[LINE]
[SETUP] NID 0
[XYWH] 500 361 600 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE


[SLIDER]
[SETUP] SETUP_ADVANCED_MOUSELOOK_SENS, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 500 356 600 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 140
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_ENGINE_INTERNAL_GROUP

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 500 362 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 560 362 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 620 362 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 680 362 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 740 362 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 800 362 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 860 362 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 920 362 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 980 362 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1040 362 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE


#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1100 354 1 8
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE


##################
#MOUSEWHEEL SENSIVITY SLIDER
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_MOUSEWHEEL_SENS
[XY] 25 400
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001

[LINE]
[SETUP] NID 0
[XYWH] 500 411 600 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE


[SLIDER]
[SETUP] SETUP_ADVANCED_MOUSEWHEEL_SENS, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 500 406 600 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 140
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_ENGINE_INTERNAL_GROUP

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 500 412 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 560 412 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 620 412 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 680 412 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 740 412 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 800 412 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 860 412 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 920 412 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 980 412 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1040 412 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE


#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1100 404 1 8
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE


##################
#KEYBOARD / POV SENSIVITY SLIDER
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_KEYPOV_SENS
[XY] 25 450
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001

[LINE]
[SETUP] NID 0
[XYWH] 500 461 600 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE


[SLIDER]
[SETUP] SETUP_ADVANCED_KEYPOV_SENS, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 500 456 600 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 140
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_ENGINE_INTERNAL_GROUP

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 500 462 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 560 462 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 620 462 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 680 462 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 740 462 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 800 462 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 860 462 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 920 462 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 980 462 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1040 462 1 3
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE


#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1100 454 1 8
[COLOR] 255 255 255
[CLUSTER] 10001
[FLAGBITON] C_BIT_ABSOLUTE


##################
#ENABLE NATURAL HEAD
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_ENABLE_NATURAL_HEAD
[XY] 25 520
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 25 540 360 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 384 534 1 6
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[BUTTON]
[SETUP] SETUP_ADVANCED_ENABLE_NATURAL_HEAD, C_TYPE_TOGGLE 368 521
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON


##################
#ENABLE EXTERNAL MOUSELOOK
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_ENABLE_MOUSELOOK
[XY] 25 570
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 25 590 360 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 384 584 1 6
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[BUTTON]
[SETUP] SETUP_ADVANCED_ENABLE_MOUSELOOK, C_TYPE_TOGGLE 368 571
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON


##################
#TOGGLE 3D PIT 
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_3DCOCKPIT_DEFAULT
[XY] 25 620
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 25 640 360 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 384 634 1 6
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[BUTTON]
[SETUP] SETUP_ADVANCED_3DCOCKPIT_DEFAULT, C_TYPE_TOGGLE 368 621
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON


##################
#ENABLE 3D TIR 
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_ENABLE_3DTIR
[XY] 25 670
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 25 690 360 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 384 684 1 6
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[BUTTON]
[SETUP] SETUP_ADVANCED_ENABLE_3DTIR, C_TYPE_TOGGLE 368 671
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON


##################
#CUSTOM AXIS SHAPING
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_ENABLE_AXISSHAPING
[XY] 450 520
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 450 540 360 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 809 534 1 6
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[BUTTON]
[SETUP] SETUP_ADVANCED_ENABLE_AXISSHAPING, C_TYPE_TOGGLE 793 521
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON


##################
#ENABLE FORCE FEEDBACK
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_ENABLE_FFB
[XY] 450 570
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 450 590 360 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 809 584 1 6
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[BUTTON]
[SETUP] SETUP_ADVANCED_ENABLE_FFB, C_TYPE_TOGGLE 793 571
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON


##################
#ENABLE ROLL-LINKED NWS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_ENABLE_RLNWS
[XY] 450 620
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 450 640 360 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 809 634 1 6
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[BUTTON]
[SETUP] SETUP_ADVANCED_ROLL_LINKED_NWS, C_TYPE_TOGGLE 793 621
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON


##################
#ENABLE TIR VECTOR
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_ENABLE_VETIR
[XY] 450 670
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 450 690 360 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 809 684 1 6
[COLOR] 230 230 230 BLUE
[CLUSTER] 10001

[BUTTON]
[SETUP] SETUP_ADVANCED_ENABLE_VETIR, C_TYPE_TOGGLE 793 671
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON


##################
#TIR VECTOR Z AXIS CONTROL SELECTOR (TM)
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_VE_Z
[XY] 450 720
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10001

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 450 760 360 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10001

[LINE]
[SETUP] NID, 0
[XYWH] 809 757 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10001

[LISTBOX]
[SETUP] SETUP_ADVANCED_TRACKIRZAXIS 0
[XYWH] 450 741 360 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10001
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_TRACKIR_Z C_TYPE_ITEM TXT_SETUP_ADVANCED_VE_Z_Z
[ADDITEM] SETUP_ADVANCED_TRACKIR_FOV C_TYPE_ITEM TXT_SETUP_ADVANCED_VE_Z_FOV
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN


##############################################################################################
#FLIGHT CONTROL
##################
[BUTTON]
[SETUP] SETUP_ADVANCED_FLIGHT_TAB, C_TYPE_RADIO,305 70
[IMAGES] BTN_255_40_BRIGHT, BTN_255_40_DARK, NULL, NULL
[STATE] 0
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SETUP_ADVANCED_FLIGHT_CONTROL
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 10002 "Enable"
[USERDATA] C_STATE_1 10001 "Disable the rest"
[USERDATA] C_STATE_2 10003
[USERDATA] C_STATE_3 10004
[CURSOR] CRSR_F16_ON



##################
#HEADER
##################

######Axis Settings Text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AXIS_SETTINGS
[XY] 25 120
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10002

######Deadzone Text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_DEADZONE
[XY] 675 120
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10002

######Saturation Text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_SATURATION
[XY] 825 120
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10002

######Reverse Text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_REVERSE
[XY] 1000 120
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10002


##################
#RUDDER AXIS
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_RUDDER_AXIS
[XY] 25 160
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10002

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_RUDDER_AXIS 0
[XYWH] 25 181 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 165 115 12
[COLOR] 230 230 230
[CLUSTER] 10002

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_RUDDER_VAL 0
[XYWH] 501 166 114 11
[COLOR] 16 24 41
[CLUSTER] 10002

[LINE] "Center Mark"
[SETUP] NID, 0
[XYWH] 557 166 1 11
[COLOR] 230 230 230
[CLUSTER] 10002

#Deadzone
[LISTBOX]
[SETUP] SETUP_ADVANCED_RUDDER_AXIS_DEADZONE 0
[XYWH] 675 181 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_HUGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_YAW 0
[XYWH] 825 181 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_RUDDER, C_TYPE_TOGGLE 1040 181
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 200 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 805 197 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 625 197 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 955 197 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 1056 197 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002


##################
#LEFT / MAIN ENGINE THROTTLE AXIS
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_THROTTLE_AXIS
[XY] 25 210
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10002

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_THROTTLE_AXIS 0
[XYWH] 25 231 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 215 115 12
[COLOR] 230 230 230
[CLUSTER] 10002

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_THROTTLE_VAL 0
[XYWH] 501 216 114 11
[COLOR] 16 24 41
[CLUSTER] 10002

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_THROTTLE 0
[XYWH] 825 231 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_THROTTLE, C_TYPE_TOGGLE 1040 231
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 250 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 625 247 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 955 247 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 1056 247 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002


##################
#RIGHT ENGINE THROTTLE AXIS
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_THROTTLE2_AXIS
[XY] 25 260
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10002

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_THROTTLE2_AXIS 0
[XYWH] 25 281 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 265 115 12
[COLOR] 230 230 230
[CLUSTER] 10002

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_THROTTLE2_VAL 0
[XYWH] 501 266 114 11
[COLOR] 16 24 41
[CLUSTER] 10002

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_THROTTLE2 0
[XYWH] 825 281 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_THROTTLE2, C_TYPE_TOGGLE 1040 281
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 300 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 625 297 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 955 297 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 1056 297 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002


##################
#TRIM ROLL AXIS
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_AILERON_TRIM
[XY] 25 310
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10002

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_AILERON_TRIM 0
[XYWH] 25 331 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 315 115 12
[COLOR] 230 230 230
[CLUSTER] 10002

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_BANK_TRIM_VAL 0
[XYWH] 501 316 114 11
[COLOR] 16 24 41
[CLUSTER] 10002

[LINE] "Center Mark"
[SETUP] NID, 0
[XYWH] 557 316 1 11
[COLOR] 230 230 230
[CLUSTER] 10002

#Deadzone
[LISTBOX]
[SETUP] SETUP_ADVANCED_AILERON_TRIM_DEADZONE 0
[XYWH] 675 331 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_HUGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_BANKTRIM 0
[XYWH] 825 331 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_BANK_TRIM, C_TYPE_TOGGLE 1040 331
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 350 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 805 347 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 625 347 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 955 347 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 1056 347 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002


##################
#TRIM PITCH AXIS
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_TRIM_PITCH
[XY] 25 360
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10002

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_TRIM_PITCH 0
[XYWH] 25 381 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 365 115 12
[COLOR] 230 230 230
[CLUSTER] 10002

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_PITCH_TRIM_VAL 0
[XYWH] 501 366 114 11
[COLOR] 16 24 41
[CLUSTER] 10002

[LINE] "Center Mark"
[SETUP] NID, 0
[XYWH] 557 366 1 11
[COLOR] 230 230 230
[CLUSTER] 10002

#Deadzone
[LISTBOX]
[SETUP] SETUP_ADVANCED_TRIM_PITCH_DEADZONE 0
[XYWH] 675 381 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_HUGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_PITCHTRIM 0
[XYWH] 825 381 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_PITCH_TRIM, C_TYPE_TOGGLE 1040 381
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 400 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 805 397 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 625 397 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 955 397 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 1056 397 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002


##################
#TRIM YAW AXIS
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_TRIM_YAW
[XY] 25 410
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10002

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_TRIM_YAW 0
[XYWH] 25 431 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 415 115 12
[COLOR] 230 230 230
[CLUSTER] 10002

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_YAW_TRIM_VAL 0
[XYWH] 501 416 114 11
[COLOR] 16 24 41
[CLUSTER] 10002

[LINE] "Center Mark"
[SETUP] NID, 0
[XYWH] 557 416 1 11
[COLOR] 230 230 230
[CLUSTER] 10002

#Deadzone
[LISTBOX]
[SETUP] SETUP_ADVANCED_TRIM_YAW_DEADZONE 0
[XYWH] 675 431 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_HUGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_YAWTRIM 0
[XYWH] 825 431 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_YAW_TRIM, C_TYPE_TOGGLE 1040 431
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 450 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 805 447 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 625 447 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 955 447 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 1056 447 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002


##################
#LEFT / MAIN BRAKE AXIS
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_BRAKE_LEFT
[XY] 25 460
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10002

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_BRAKE_LEFT 0
[XYWH] 25 481 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 465 115 12
[COLOR] 230 230 230
[CLUSTER] 10002

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_BRAKE_LEFT_VAL 0
[XYWH] 501 466 114 11
[COLOR] 16 24 41
[CLUSTER] 10002

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_BRAKELEFT 0
[XYWH] 825 481 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_BRAKE_LEFT, C_TYPE_TOGGLE 1040 481
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 500 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 625 497 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 955 497 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 1056 497 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002


##################
#RIGHT BRAKE AXIS
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_BRAKE_RIGHT
[XY] 25 510
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10002

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_BRAKE_RIGHT 0
[XYWH] 25 531 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 515 115 12
[COLOR] 230 230 230
[CLUSTER] 10002

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_BRAKE_RIGHT_VAL 0
[XYWH] 501 516 114 11
[COLOR] 16 24 41
[CLUSTER] 10002

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_BRAKERIGHT 0
[XYWH] 825 531 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_BRAKE_RIGHT, C_TYPE_TOGGLE 1040 531
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 550 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 625 547 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 955 547 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 1056 547 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002


##################
#PITCH AXIS
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_PITCH
[XY] 25 560
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10002

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_PITCH 0
[XYWH] 25 581 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 565 115 12
[COLOR] 230 230 230
[CLUSTER] 10002

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_PITCH_VAL 0
[XYWH] 501 566 114 11
[COLOR] 16 24 41
[CLUSTER] 10002

[LINE] "Center Mark"
[SETUP] NID, 0
[XYWH] 557 566 1 11
[COLOR] 230 230 230
[CLUSTER] 10002

#Deadzone
[LISTBOX]
[SETUP] SETUP_ADVANCED_PITCH_DEADZONE 0
[XYWH] 675 581 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_HUGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_PITCH 0
[XYWH] 825 581 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_PITCH, C_TYPE_TOGGLE 1040 581
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 600 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 805 597 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 625 597 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 955 597 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 1056 597 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002


##################
#ROLL AXIS
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_BANK
[XY] 25 610
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10002

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_BANK 0
[XYWH] 25 631 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 615 115 12
[COLOR] 230 230 230
[CLUSTER] 10002

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_BANK_VAL 0
[XYWH] 501 616 114 11
[COLOR] 16 24 41
[CLUSTER] 10002

[LINE] "Center Mark"
[SETUP] NID, 0
[XYWH] 557 616 1 11
[COLOR] 230 230 230
[CLUSTER] 10002

#Deadzone
[LISTBOX]
[SETUP] SETUP_ADVANCED_BANK_DEADZONE 0
[XYWH] 675 631 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_HUGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_BANK 0
[XYWH] 825 631 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_BANK, C_TYPE_TOGGLE 1040 631
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10002
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 650 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 805 647 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 625 647 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 955 647 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002

[LINE]
[SETUP] NID, 0
[XYWH] 1056 647 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10002




























##############################################################################################
#AVIONICS CONTROL
##################
[BUTTON]
[SETUP] SETUP_ADVANCED_AVIONICS_TAB, C_TYPE_RADIO, 585 70
[IMAGES] BTN_255_40_BRIGHT, BTN_255_40_DARK, NULL, NULL
[STATE] 0
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SETUP_ADVANCED_AVIONICS_CONTROL
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 10003 "Enable"
[USERDATA] C_STATE_1 10001 "Disable the rest"
[USERDATA] C_STATE_2 10002
[USERDATA] C_STATE_3 10004
[CURSOR] CRSR_F16_ON


##################
#HEADER
##################

######Axis Settings Text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AXIS_SETTINGS
[XY] 25 120
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003

######Deadzone Text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_DEADZONE
[XY] 675 120
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003

######Saturation Text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_SATURATION
[XY] 825 120
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003

######Reverse Text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_REVERSE
[XY] 1000 120
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003


##################
#RADAR ANTENNA ELEVATION
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_ANT_ELEV
[XY] 25 160
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_ANT_ELEV 0
[XYWH] 25 181 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 165 115 12
[COLOR] 230 230 230
[CLUSTER] 10003

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_ANT_ELEV_VAL 0
[XYWH] 501 166 114 11
[COLOR] 16 24 41
[CLUSTER] 10003

[LINE] "Center Mark"
[SETUP] NID, 0
[XYWH] 557 166 1 11
[COLOR] 230 230 230
[CLUSTER] 10003

#Deadzone
[LISTBOX]
[SETUP] SETUP_ADVANCED_ANT_ELEV_DEADZONE 0
[XYWH] 675 181 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_HUGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_ANT_ELEV 0
[XYWH] 825 181 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_ANT_ELEV, C_TYPE_TOGGLE 1040 181
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 200 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 805 197 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 625 197 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 955 197 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 1056 197 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003


##################
#HOTAS CURSOR X
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_CURSOR_X
[XY] 25 210
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_CURSOR_X 0
[XYWH] 25 231 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 215 115 12
[COLOR] 230 230 230
[CLUSTER] 10003

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_CURSOR_X_VAL 0
[XYWH] 501 216 114 11
[COLOR] 16 24 41
[CLUSTER] 10003

[LINE] "Hotas X Cursor Center Mark"
[SETUP] NID, 0
[XYWH] 557 216 1 11
[COLOR] 230 230 230
[CLUSTER] 10003

#Deadzone
[LISTBOX]
[SETUP] SETUP_ADVANCED_CURSOR_X_DEADZONE 0
[XYWH] 675 231 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_HUGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_CURSOR_X 0
[XYWH] 825 231 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_CURSOR_X, C_TYPE_TOGGLE 1040 231
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 250 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 805 247 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 625 247 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 955 247 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 1056 247 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003


##################
#HOTAS CURSOR Y
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_CURSOR_Y
[XY] 25 260
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_CURSOR_Y 0
[XYWH] 25 281 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 265 115 12
[COLOR] 230 230 230
[CLUSTER] 10003

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_CURSOR_Y_VAL 0
[XYWH] 501 266 114 11
[COLOR] 16 24 41
[CLUSTER] 10003

[LINE] "Hotas Y Cursor Center Mark"
[SETUP] NID, 0
[XYWH] 557 266 1 11
[COLOR] 230 230 230
[CLUSTER] 10003

#Deadzone
[LISTBOX]
[SETUP] SETUP_ADVANCED_CURSOR_Y_DEADZONE 0
[XYWH] 675 281 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_HUGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_CURSOR_Y 0
[XYWH] 825 281 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_CURSOR_Y, C_TYPE_TOGGLE 1040 281
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 300 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 805 297 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 625 297 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 955 297 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 1056 297 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003


##################
#RANGE KNOB
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_RANGE_KNOB
[XY] 25 310
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_RANGE_KNOB 0
[XYWH] 25 331 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 315 115 12
[COLOR] 230 230 230
[CLUSTER] 10003

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_RANGE_KNOB_VAL 0
[XYWH] 501 316 114 11
[COLOR] 16 24 41
[CLUSTER] 10003

[LINE] "Hotas Y Cursor Center Mark"
[SETUP] NID, 0
[XYWH] 557 316 1 11
[COLOR] 230 230 230
[CLUSTER] 10003

#Deadzone
[LISTBOX]
[SETUP] SETUP_ADVANCED_RANGE_KNOB_DEADZONE 0
[XYWH] 675 331 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_HUGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_RNG_KNOB 0
[XYWH] 825 331 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_RANGE_KNOB, C_TYPE_TOGGLE 1040 331
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 350 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 805 347 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 625 347 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 955 347 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 1056 347 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003


##################
#HUD BRIGHTNESS
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_HUD_BRIGHT
[XY] 25 360
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_HUD_BRIGHT 0
[XYWH] 25 381 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 365 115 12
[COLOR] 230 230 230
[CLUSTER] 10003

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_HUD_BRIGHT_VAL 0
[XYWH] 501 366 114 11
[COLOR] 16 24 41
[CLUSTER] 10003

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_HUD_BRT 0
[XYWH] 825 381 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_HUD_BRIGHT, C_TYPE_TOGGLE 1040 381
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 400 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 625 397 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 955 397 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 1056 397 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003


##################
#RET DEPR
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_RET_DEPR
[XY] 25 410
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_RET_DEPR 0
[XYWH] 25 431 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 415 115 12
[COLOR] 230 230 230
[CLUSTER] 10003

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_RET_DEPR_VAL 0
[XYWH] 501 416 114 11
[COLOR] 16 24 41
[CLUSTER] 10003

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_RET_DEPR 0
[XYWH] 825 431 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_RET_DEPR, C_TYPE_TOGGLE 1040 431
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 450 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 625 447 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 955 447 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 1056 447 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003


##################
#HMS BRIGHTNESS
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_HMS_BRT
[XY] 25 460
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_HMS_BRT 0
[XYWH] 25 481 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 465 115 12
[COLOR] 230 230 230
[CLUSTER] 10003

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_HMS_BRT_VAL 0
[XYWH] 501 466 114 11
[COLOR] 16 24 41
[CLUSTER] 10003

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_HMS_BRT 0
[XYWH] 825 481 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_HMS_BRT, C_TYPE_TOGGLE 1040 481
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 500 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 625 497 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 955 497 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 1056 497 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003


##################
#FLIR BRIGHTNESS
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_HUD_FLIR_BRIGHT
[XY] 25 510
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_HUD_FLIR_BRIGHT 0
[XYWH] 25 531 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 515 115 12
[COLOR] 230 230 230
[CLUSTER] 10003

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_HUD_FLIR_BRIGHT_VAL 0
[XYWH] 501 516 114 11
[COLOR] 16 24 41
[CLUSTER] 10003

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_HUD_FLIR_BRT 0
[XYWH] 825 531 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_HUD_FLIR_BRIGHT, C_TYPE_TOGGLE 1040 531
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 550 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 625 547 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 955 547 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 1056 547 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003


##################
#HSI CRS KNOB
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_HSI_COURSE
[XY] 25 560
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_HSI_COURSE 0
[XYWH] 25 581 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 565 115 12
[COLOR] 230 230 230
[CLUSTER] 10003

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_HSI_COURSE_VAL 0
[XYWH] 501 566 114 11
[COLOR] 16 24 41
[CLUSTER] 10003

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_HSI_COURSE 0
[XYWH] 825 581 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_HSI_COURSE, C_TYPE_TOGGLE 1040 581
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 600 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 625 597 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 955 597 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 1056 597 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003


##################
#HSI HDG KNOB
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_HSI_HEADING
[XY] 25 610
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_HSI_HEADING 0
[XYWH] 25 631 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 605 115 12
[COLOR] 230 230 230
[CLUSTER] 10003

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_HSI_HEADING_VAL 0
[XYWH] 501 606 114 11
[COLOR] 16 24 41
[CLUSTER] 10003

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_HSI_HEADING 0
[XYWH] 825 631 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_HSI_HEADING, C_TYPE_TOGGLE 1040 631
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 650 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 625 647 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 955 647 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 1056 647 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003


##################
#ALTIMETER
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_ALTIMETER
[XY] 25 660
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10003

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_ALTIMETER 0
[XYWH] 25 681 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 655 115 12
[COLOR] 230 230 230
[CLUSTER] 10003

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_ALTIMETER_VAL 0
[XYWH] 501 656 114 11
[COLOR] 16 24 41
[CLUSTER] 10003

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_ALTIMETER 0
[XYWH] 825 681 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_ALTIMETER, C_TYPE_TOGGLE 1040 681
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10003
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 700 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 625 697 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 955 697 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

[LINE]
[SETUP] NID, 0
[XYWH] 1056 697 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10003

















##############################################################################################
#SOUND CONTROL
##################
[BUTTON]
[SETUP] SETUP_ADVANCED_SOUND_TAB, C_TYPE_RADIO, 865 70
[IMAGES] BTN_255_40_BRIGHT, BTN_255_40_DARK, NULL, NULL
[STATE] 0
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SETUP_ADVANCED_SOUND_CONTROL
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 10004 "Enable"
[USERDATA] C_STATE_1 10001 "Disable the rest"
[USERDATA] C_STATE_2 10002
[USERDATA] C_STATE_3 10003
[CURSOR] CRSR_F16_ON



##################
#Headers
##################

######Axis Settings Text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AXIS_SETTINGS
[XY] 25 120
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10004

######Saturation Text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_SATURATION
[XY] 825 120
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10004

######Reverse Text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_REVERSE
[XY] 1000 120
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10004


##################
#INTERCOM VOL
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_INTERCOM_VOL
[XY] 25 160
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10004

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_INTERCOM_VOL 0
[XYWH] 25 181 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 165 115 12
[COLOR] 230 230 230
[CLUSTER] 10004

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_INTERCOM_VOL_VAL 0
[XYWH] 501 166 114 11
[COLOR] 16 24 41
[CLUSTER] 10004

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_INTERCOM_VOL 0
[XYWH] 825 181 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_INTERCOM_VOL, C_TYPE_TOGGLE 1040 181
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 200 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 625 197 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 955 197 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 1056 197 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004


##################
#COM1 VOL
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_COMM1_VOL
[XY] 25 210
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10004

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_COMM1_VOL 0
[XYWH] 25 231 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 215 115 12
[COLOR] 230 230 230
[CLUSTER] 10004

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_COMM1_VOL_VAL 0
[XYWH] 501 216 114 11
[COLOR] 16 24 41
[CLUSTER] 10004

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_COMM1_VOL 0
[XYWH] 825 231 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_COMM1_VOL, C_TYPE_TOGGLE 1040 231
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 250 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 625 247 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 955 247 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 1056 247 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004


##################
#COM2 VOL
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_COMM2_VOL
[XY] 25 260
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10004

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_COMM2_VOL 0
[XYWH] 25 281 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 265 115 12
[COLOR] 230 230 230
[CLUSTER] 10004

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_COMM2_VOL_VAL 0
[XYWH] 501 266 114 11
[COLOR] 16 24 41
[CLUSTER] 10004

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_COMM2_VOL 0
[XYWH] 825 281 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_COMM2_VOL, C_TYPE_TOGGLE 1040 281
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 300 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 625 297 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 955 297 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 1056 297 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004


##################
#MSL VOL
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_MSL_VOL
[XY] 25 310
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10004

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_MSL_VOL 0
[XYWH] 25 331 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 315 115 12
[COLOR] 230 230 230
[CLUSTER] 10004

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_MSL_VOL_VAL 0
[XYWH] 501 316 114 11
[COLOR] 16 24 41
[CLUSTER] 10004

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_MSL_VOL 0
[XYWH] 825 331 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_MSL_VOL, C_TYPE_TOGGLE 1040 331
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 350 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 625 347 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 955 347 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 1056 347 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004


##################
#THREAT VOL
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_THREAT_VOL
[XY] 25 360
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10004

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_THREAT_VOL 0
[XYWH] 25 381 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 365 115 12
[COLOR] 230 230 230
[CLUSTER] 10004

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_THREAT_VOL_VAL 0
[XYWH] 501 366 114 11
[COLOR] 16 24 41
[CLUSTER] 10004

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_THREAT_VOL 0
[XYWH] 825 381 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_THREAT_VOL, C_TYPE_TOGGLE 1040 381
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 400 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 625 397 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 955 397 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 1056 397 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004


##################
#AI VS. IVC BALANCE
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_AIVSIVC_VOL
[XY] 25 410
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10004

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_AIVSIVC_VOL 0
[XYWH] 25 431 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 415 115 12
[COLOR] 230 230 230
[CLUSTER] 10004

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_AIVSIVC_VOL_VAL 0
[XYWH] 501 416 114 11
[COLOR] 16 24 41
[CLUSTER] 10004

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_AIVSIVC_VOL 0
[XYWH] 825 431 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_AIVSIVC_VOL, C_TYPE_TOGGLE 1040 431
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 450 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 625 447 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 955 447 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 1056 447 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004


##################
#ILS VOL
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_ILS_VOL
[XY] 25 460
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 10004

#Axis Dropdown
[LISTBOX]
[SETUP] SETUP_ADVANCED_ILS_VOL 0
[XYWH] 25 481 600 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

#Value Bar
[BOX] "ValueBar"
[SETUP] NID 0
[XYWH] 500 465 115 12
[COLOR] 230 230 230
[CLUSTER] 10004

[LINE] "ValueBar"
[SETUP] SETUP_ADVANCED_ILS_VOL_VAL 0
[XYWH] 501 466 114 11
[COLOR] 16 24 41
[CLUSTER] 10004

#Saturation
[LISTBOX]
[SETUP] SETUP_ADVANCED_SAT_ILS_VOL 0
[XYWH] 825 481 130 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[CURSOR] CRSR_LIST_F16
[ADDITEM] SETUP_ADVANCED_SAT_NONE C_TYPE_ITEM TXT_SETUP_ADVANCED_SAT_NONE
[ADDITEM] SETUP_ADVANCED_DZ_SMALL C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_SMALL
[ADDITEM] SETUP_ADVANCED_DZ_MEDIUM C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_MEDIUM
[ADDITEM] SETUP_ADVANCED_DZ_LARGE C_TYPE_ITEM TXT_SETUP_ADVANCED_DZ_LARGE

#Reverse
[BUTTON]
[SETUP] SETUP_ADVANCED_REVERSE_ILS_VOL, C_TYPE_TOGGLE 1040 481
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 10004
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

#Lines
[LINE]
[SETUP] NID, 0
[XYWH] 25 500 1032 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 625 497 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 955 497 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004

[LINE]
[SETUP] NID, 0
[XYWH] 1056 497 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 10004
















