#UI BMS 4.38 update, March 2023, by Kolbe

#This is the Main Setup content
#It contains
#- Header
#- Keyfile mappin area
#- selection of Main input device
#- btn to adv. settings
#- test area
#- axis settings area


##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] SETUP_WIN C_TYPE_NORMAL 1920 1080
[XY] 0 0
#[RANGES] 0 0 1024 768 299 30
[GROUP] 8000
[CLIENTAREA] 0 0 1920 1023 0 "Entire window"
[CLIENTAREA] 443 700 148 148 1 "Joystick calibration area"
[CLIENTAREA] 1161 403 420 384 2 "Graphics render area"
[CLIENTAREA] 1151 249 596 412 3 "Key list area"
[CLIENTAREA] 2 2 679 22 4 "header"
[FLAGBITON] C_BIT_CANTMOVE
#[FLAGBITON] C_BIT_TRANSLUCENT
[DEPTH] 99

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 0 0 1920 1080
[COLOR] 107 132 140
[FLAGBITON] C_BIT_ABSOLUTE

##################
#BACKGROUND IMAGES
##################
[TILE]
[SETUP] NID 0 BG_SETUP
[XYWH] 262 0 1660 1080
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 262 0 1660 47
[COLOR] 107 132 140
[FLAGBITON] C_BIT_ABSOLUTE


##################
#HEADER TEXT
##################
[TEXT]
[SETUP] NID C_TYPE_CENTER
[SETTEXT] TXT_SETUP
[XY] 1060 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER


##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 262 48 1660 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

##################
#LEFT AND BOTTOM LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 258 0 2 1023
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 255 255 255

[LINE]
[SETUP] NID 0
[XYWH] 258 1023 1662 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 255 255 255

##################
#EXIT BUTTON
##################
[BUTTON]
[SETUP] CANCEL,C_TYPE_NORMAL,1860 4
[IMAGES] CLOSE_BTN CLOSE_BTN NULL NULL
[GROUP] 8000
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON


##################
#SETTINGS FOR CALLSIGN 
##################
# "Settings for"
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETTINGS_FOR_COLON
[XY] 359 140
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT

[BUTTON]
[SETUP] SET_LOGBOOK C_TYPE_NORMAL 570 140
[FLAGBITON] C_BIT_USELINE
[BUTTONTEXT] C_STATE_0 TXT_EMPTY
[GROUP] 5000
[UPCOLOR] 0 255 0 GREEN
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[FLAGBITON] C_BIT_ENABLED
[CURSOR] CRSR_F16_ON


##################
#APPLY BUTTON
##################
[BUTTON]
[SETUP] APPLY C_TYPE_NORMAL, 1370 916
[IMAGES] BTN_155_40_DARK BTN_155_40_DARK NULL BTN_155_40_DARK
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_APPLY
[FONT] BANK_GOTHIC_24
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[GROUP] 8000
[CURSOR] CRSR_F16_ON


##################
#OK BUTTON
##################
[BUTTON]
[SETUP] OK C_TYPE_NORMAL, 1550 916
[IMAGES] BTN_155_40_DARK BTN_155_40_DARK NULL BTN_155_40_DARK
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_24
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[GROUP] 8000
[CURSOR] CRSR_F16_ON


##############################################################################################
#SIMULATION
##################
[BUTTON]
[SETUP] SIM_TAB, C_TYPE_RADIO, 285 70
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_DARK, NULL, NULL
[STATE] 1
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SIM
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 8001 "Enable"
[USERDATA] C_STATE_1 8002 "Disable the rest"
[USERDATA] C_STATE_2 8003
[USERDATA] C_STATE_3 8004
[CURSOR] CRSR_F16_ON


##################
#LINES
##################
#setting for lines (in all Tabs)
[LINE]
[SETUP] NID 0
[XYWH] 353 182 402 1
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE


[LINE]
[SETUP] NID 0
[XYWH] 557 183 1 45
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001

#non-realism settings lines
[LINE]
[SETUP] NID 0
[XYWH] 390 183 1 280
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001

[LINE]
[SETUP] NID 0
[XYWH] 365 463 400 1
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001

# realism setting lines
[LINE]
[SETUP] NID, 0
[XYWH] 856 245 284 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1140 220 1 460
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

##################
#REALISM
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_REALISM
[XY] 471 233
[FGCOLOR] 255 255 255
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[BOX]
[SETUP] NID,0
[XYWH] 453 228 403 35
[COLOR] 255 255 255
[CLUSTER] 8001

[EDITBOX]
[SETUP] REALISM_READOUT C_TYPE_INTEGER
[XYWH] 708 233 175 25
[FONT] BANK_GOTHIC_24
[MAXLEN] 4
[MAXINTEGER] 100
[INTEGER] 100
[FLAGBITOFF] C_BIT_ENABLED
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[CLUSTER] 8001


##################
#SKILL LEVEL
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SKILL_LEVEL
[XY] 1160 223
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1160 250 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1544 247 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LISTBOX]
[SETUP] SET_SKILL 0
[XYWH] 1387 224 147 25
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_24
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[ADDITEM] ACE_LEVEL C_TYPE_ITEM TXT_ACE
[ITEMUSERDATA] ACE_LEVEL C_STATE_0 79
[ADDITEM] VETERAN_LEVEL C_TYPE_ITEM TXT_VETERAN
[ITEMUSERDATA] VETERAN_LEVEL C_STATE_0 59
[ADDITEM] ROOKIE_LEVEL C_TYPE_ITEM TXT_ROOKIE
[ITEMUSERDATA] ROOKIE_LEVEL C_STATE_0 39
[ADDITEM] CADET_LEVEL C_TYPE_ITEM TXT_CADET
[ITEMUSERDATA] CADET_LEVEL C_STATE_0 19
[ADDITEM] RECRUIT_LEVEL C_TYPE_ITEM TXT_RECRUIT
[ITEMUSERDATA] RECRUIT_LEVEL C_STATE_0 0
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN


##################
#INVULNERABILITY === REALISM SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_INVULNERABILITY
[XY] 1160 332
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1160 352 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1544 349 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[BUTTON]
[SETUP] SET_INVULNERABILITY, C_TYPE_TOGGLE 1528 332
[IMAGES] BID_CHK2_OFF,BID_ORANGE_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 1
#[USERDATA] C_STATE_0 100
#[USERDATA] C_STATE_1 0
[CURSOR] CRSR_F16_ON


##################
#UNLIMITED FUEL === REALISM SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UNLIMITED_FUEL
[XY] 1160 370
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1160 390 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1544 387 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[BUTTON]
[SETUP] SET_FUEL, C_TYPE_TOGGLE 1528 370
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 10
[USERDATA] C_STATE_1 60
[CURSOR] CRSR_F16_ON


##################
#UNLIMITED CHAFF FLARES === REALISM SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UNLIMITED_CHAFFLARES
[XY] 1160 408
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1160 428 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1544 425 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[BUTTON]
[SETUP] SET_CHAFFLARES, C_TYPE_TOGGLE 1528 408
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 15
[USERDATA] C_STATE_1 80
[CURSOR] CRSR_F16_ON


##################
#NO COLLISIONS === REALISM SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_COLLISIONS
[XY] 1160 446
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1160 466 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1544 463 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[BUTTON]
[SETUP] SET_COLLISIONS, C_TYPE_TOGGLE 1528 446
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 5
[USERDATA] C_STATE_1 60
[CURSOR] CRSR_F16_ON


##################
#NO BLACKOUT === REALISM SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_BLACKOUT
[XY] 1160 484
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1160 504 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1544 501 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[BUTTON]
[SETUP] SET_BLACKOUT, C_TYPE_TOGGLE 1528 484
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 10
[USERDATA] C_STATE_1 80
[CURSOR] CRSR_F16_ON


##################
#LABELS === REALISM SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_IDTAGS
[XY] 1160 522
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1160 542 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1544 539 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[BUTTON]
[SETUP] SET_IDTAGS, C_TYPE_TOGGLE 1528 522
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 8
[USERDATA] C_STATE_1 80
[CURSOR] CRSR_F16_ON


##################
#FLIGHT MODEL === REALISM SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_FLTMODEL
[XY] 1160 583
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1160 603 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1544 600 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LISTBOX]
[SETUP] SET_FLTMOD 0
[XYWH] 1395 584 150 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[ADDITEM] SET_FLTMOD_1 C_TYPE_ITEM TXT_ACCURATE
[ITEMUSERDATA] SET_FLTMOD_1 C_STATE_0 0
[ITEMUSERDATA] SET_FLTMOD_1 C_STATE_1 100
[ADDITEM] SET_FLTMOD_2 C_TYPE_ITEM TXT_MODERATE
[ITEMUSERDATA] SET_FLTMOD_2 C_STATE_0 8
[ITEMUSERDATA] SET_FLTMOD_2 C_STATE_1 100
[ADDITEM] SET_FLTMOD_3 C_TYPE_ITEM TXT_SIMPLIFIED
[ITEMUSERDATA] SET_FLTMOD_3 C_STATE_0 20
[ITEMUSERDATA] SET_FLTMOD_3 C_STATE_1 100
[ADDITEM] SET_FLTMOD_4 C_TYPE_ITEM TXT_EASY
[ITEMUSERDATA] SET_FLTMOD_4 C_STATE_0 40
[ITEMUSERDATA] SET_FLTMOD_4 C_STATE_1 100
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN


##################
#REFUELING === REALISM SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_REFUELING
[XY] 1160 616
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1160 636 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1544 633 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LISTBOX]
[SETUP] SET_REFUELING 0
[XYWH] 1395 617 150 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[ADDITEM] SET_REFUEL_1 C_TYPE_ITEM TXT_REFUEL_REALISTIC
[ITEMUSERDATA] SET_REFUEL_1 C_STATE_0 0
[ITEMUSERDATA] SET_REFUEL_1 C_STATE_1 100
[ADDITEM] SET_REFUEL_2 C_TYPE_ITEM TXT_REFUEL_MODERATED
[ITEMUSERDATA] SET_REFUEL_2 C_STATE_0 1
[ITEMUSERDATA] SET_REFUEL_2 C_STATE_1 100
[ADDITEM] SET_REFUEL_3 C_TYPE_ITEM TXT_REFUEL_SIMPLIFIED
[ITEMUSERDATA] SET_REFUEL_3 C_STATE_0 3
[ITEMUSERDATA] SET_REFUEL_3 C_STATE_1 100
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16


##################
#PADLOCKING === REALISM SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PADLOCKING
[XY] 1160 649
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1160 669 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 1544 666 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LISTBOX]
[SETUP] SET_PADLOCK 0
[XYWH] 1395 650 150 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[ADDITEM] SET_PADLOCK_1 C_TYPE_ITEM TXT_PADLOCK_REALISTIC
[ITEMUSERDATA] SET_PADLOCK_1 C_STATE_0 0
[ITEMUSERDATA] SET_PADLOCK_1 C_STATE_1 100
[ADDITEM] SET_PADLOCK_2 C_TYPE_ITEM TXT_PADLOCK_ENHANCED
[ITEMUSERDATA] SET_PADLOCK_2 C_STATE_0 3
[ITEMUSERDATA] SET_PADLOCK_2 C_STATE_1 100
#[ADDITEM] SET_PADLOCK_3 C_TYPE_ITEM TXT_PADLOCK_SUPER
#[ITEMUSERDATA] SET_PADLOCK_3 C_STATE_0 3
#[ITEMUSERDATA] SET_PADLOCK_3 C_STATE_1 100
[ADDITEM] SET_PADLOCK_4 C_TYPE_ITEM TXT_PADLOCK_DISABLED
[ITEMUSERDATA] SET_PADLOCK_4 C_STATE_0 0
[ITEMUSERDATA] SET_PADLOCK_4 C_STATE_1 100
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16


##################
#SMART SCALING === NON-REALISM SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AUTO_SCALE
[XY] 371 497
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 371 517 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 756 514 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[BUTTON]
[SETUP] AUTO_SCALE, C_TYPE_TOGGLE 740 497
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON


##################
#BULLSEYE === NON-REALISM SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_BULLSEYE_CALLS
[XY] 371 535
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 371 555 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 756 552 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[BUTTON]
[SETUP] SET_BULLSEYE_CALLS, C_TYPE_TOGGLE 740 535
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON


##################
#INFOBAR === NON-REALISM SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_SIM_INFOBAR
[XY] 371 573
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 371 593 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 756 590 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[BUTTON]
[SETUP] SETUP_SIM_INFOBAR, C_TYPE_TOGGLE 740 573
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON


##################
#SUBTITLES === NON-REALISM SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_SIM_SUBTITLES
[XY] 371 611
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 371 631 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 756 628 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[BUTTON]
[SETUP] SETUP_SIM_SUBTITLES, C_TYPE_TOGGLE 740 611
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON


##################
#USER MESSAGES === NON-REALISM SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_SIM_USERMESSAGES
[XY] 371 649
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 371 669 385 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0
[XYWH] 756 666 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8001

[BUTTON]
[SETUP] SETUP_SIM_USERMESSAGES, C_TYPE_TOGGLE 740 649
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON


##############################################################################################
#GRAPHICS
##################
[BUTTON]
[SETUP] GRAPHICS_TAB, C_TYPE_RADIO, 465 70
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_DARK, NULL, NULL
[GROUP] 100
[STATE] 0
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_GRAPHICS
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 8002 "Enable"
[USERDATA] C_STATE_1 8001 "Disable the rest"
[USERDATA] C_STATE_2 8003
[USERDATA] C_STATE_3 8004
[CURSOR] CRSR_F16_ON


##################
#LINES & BOX
##################

#V Line below pilot callsign
[LINE]
[SETUP] NID 0
[XYWH] 557 183 1 45
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002


#Adapter Memory box
[BOX]
[SETUP] NID,0
[XYWH] 360 228 395 35
[COLOR] 255 255 255
[CLUSTER] 8002


#V Line besides Main Settings
[LINE]
[SETUP] NID, 0
[XYWH] 1029 150 1 180
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002

#H Line between Box and Main settigs
[LINE]
[SETUP] NID 0
[XYWH] 756 245 273 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002


#V Lines between Box and Radio btn options
[LINE]
[SETUP] NID 0
[XYWH] 660 264 1 75
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002

#H Line above radio btn options
[LINE]
[SETUP] NID 0
[XYWH] 605 339 265 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002


#V Lines besides Dropdown options
[LINE]
[SETUP] NID 0
[XYWH] 505 600 1 40
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002

#H Line besides Dropdown Options
[LINE]
[SETUP] NID 0
[XYWH] 390 620 115 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002


#V Lines between Box and sliders
[LINE]
[SETUP] NID 0
[XYWH] 390 264 1 561
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002

#H Line besides sliders
[LINE]
[SETUP] NID 0
[XYWH] 390 825 40 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002


#V Line besides sliders
[LINE]
[SETUP] NID, 0
[XYWH] 430 765 1 175
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002


##################
#ADAPTER MEMORY INFO
##################
[TEXT]
[SETUP] SETUP_GRAPHICS_ADAPTER_MEM 0
[XY] 370 233
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002


##################
#WINDOW === MAIN GRAPHIC SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_FULLSCREEN
[XY] 1062 149
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 1062 169 668 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 1729 166 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002

[LISTBOX]
[SETUP] SET_SETUP_FULLSCREEN 0
[XYWH] 1230 150 500 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[ADDSCROLLBAR] BID_SCROLL_WHITECAP_TOP_OFF BID_SCROLL_WHITECAP_TOP_ON BID_SCROLL_WHITECAP_BOTTOM_OFF BID_SCROLL_WHITECAP_BOTTOM_ON BID_SCROLL_WHITE
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN


##################
#ADAPTER === MAIN GRAPHIC SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_VIDEO_CARD
[XY] 1062 185
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 1062 205 668 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 1729 202 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002

[LISTBOX]
[SETUP] SET_VIDEO_CARD 0
[XYWH] 1230 186 500 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[ADDSCROLLBAR] BID_SCROLL_WHITECAP_TOP_OFF BID_SCROLL_WHITECAP_TOP_ON BID_SCROLL_WHITECAP_BOTTOM_OFF BID_SCROLL_WHITECAP_BOTTOM_ON BID_SCROLL_WHITE
[ADDITEM] VIDEO_CARDS C_TYPE_ITEM TXT_EMPTY
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN


##################
#OUTPUT === MAIN GRAPHIC SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_ADAPTER_OUTPUT
[XY] 1062 221
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 1062 241 668 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 1729 238 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002

[LISTBOX]
[SETUP] SET_SETUP_GRAPHICS_ADAPTER_OUTPUTS 0
[XYWH] 1230 222 500 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[ADDSCROLLBAR] BID_SCROLL_WHITECAP_TOP_OFF BID_SCROLL_WHITECAP_TOP_ON BID_SCROLL_WHITECAP_BOTTOM_OFF BID_SCROLL_WHITECAP_BOTTOM_ON BID_SCROLL_WHITE
[ADDITEM] SETUP_GRAPHICS_ADAPTER_OUTPUTS C_TYPE_ITEM TXT_EMPTY
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN


##################
#RESOLUTION === MAIN GRAPHIC SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_RESOLUTION
[XY] 1062 257
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 1062 277 668 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 1729 274 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002

[LISTBOX]
[SETUP] SET_RESOLUTION 0
[XYWH] 1230 258 500 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[ADDSCROLLBAR] BID_SCROLL_WHITECAP_TOP_OFF BID_SCROLL_WHITECAP_TOP_ON BID_SCROLL_WHITECAP_BOTTOM_OFF BID_SCROLL_WHITECAP_BOTTOM_ON BID_SCROLL_WHITE
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN


##################
#ANTIALIASING === MAIN GRAPHIC SETTINGS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_MSAA
[XY] 1062 293
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 1062 313 668 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002

# Samples
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_MSAA_QUALITY
[XY] 1291 293
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LISTBOX]
[SETUP] SET_SETUP_GRAPHICS_MSAA_QUALITY 0
[XYWH] 1410 294 54 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[ADDSCROLLBAR] BID_SCROLL_WHITECAP_TOP_OFF BID_SCROLL_WHITECAP_TOP_ON BID_SCROLL_WHITECAP_BOTTOM_OFF BID_SCROLL_WHITECAP_BOTTOM_ON BID_SCROLL_WHITE
[ADDITEM] SETUP_GRAPHICS_MSAA_QUALITY C_TYPE_ITEM TXT_EMPTY
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN

[LINE]
[SETUP] NID, 0
[XYWH] 1463 310 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002

# Quality
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_MSAA_LEVEL
[XY] 1555 293
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LISTBOX]
[SETUP] SET_SETUP_GRAPHICS_MSAA_LEVEL 0
[XYWH] 1676 294 54 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[ADDSCROLLBAR] BID_SCROLL_WHITECAP_TOP_OFF BID_SCROLL_WHITECAP_TOP_ON BID_SCROLL_WHITECAP_BOTTOM_OFF BID_SCROLL_WHITECAP_BOTTOM_ON BID_SCROLL_WHITE
[ADDITEM] SETUP_GRAPHICS_MSAA_LEVEL C_TYPE_ITEM TXT_EMPTY
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN

[LINE]
[SETUP] NID, 0
[XYWH] 1729 310 1 3
[COLOR] 255 255 255 WHITE
[CLUSTER] 8002


##################
#VERTICAL SYNC === RADIO OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_DISPLAY_VSYNC
[XY] 610 360
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 610 384 250 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 860 376 1 9
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002

[BUTTON]
[SETUP] SETUP_DISPLAY_VSYNC, C_TYPE_TOGGLE 844 359
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON


##################
#TRIPLE BUFFERING === RADIO OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_TRIPLEBUFFER
[XY] 610 396
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 610 420 250 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 860 412 1 9
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002

[BUTTON]
[SETUP] SETUP_GRAPHICS_TRIPLEBUFFER, C_TYPE_TOGGLE 844 395
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON


##################
#PILOT MODEL === RADIO OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_PILOT_MODEL
[XY] 610 432
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 610 456 250 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 860 448 1 9
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002

[BUTTON]
[SETUP] SETUP_PILOT_MODEL, C_TYPE_TOGGLE 844 431
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON


##################
#DRAW MIRRORS === RADIO OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_DRAW_MIRRORS
[XY] 610 468
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 610 492 250 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 860 484 1 9
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002

[BUTTON]
[SETUP] SETUP_DRAW_MIRRORS, C_TYPE_TOGGLE 844 467
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON


#
# Airtex 20250608: all canopy visual-cue options except VCReflection are deprecated
#
##################
#CANOPY CUES === DROPDOWN OPTIONS
##################
#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_CANOPY_CUES
#[XY] 535 589
#[FGCOLOR] 200 240 250
#[FONT] BANK_GOTHIC_20
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_LEFT
#[CLUSTER] 8002
#
#[LINE]
#[SETUP] NID, 0
#[XYWH] 535 613 436 1
#[COLOR] 230 230 230 BLUE
#[CLUSTER] 8002
#
#[LINE]
#[SETUP] NID, 0
#[XYWH] 970 610 1 3
#[COLOR] 230 230 230 BLUE
#[CLUSTER] 8002
#
#[LISTBOX]
#[SETUP] SET_CANOPY_CUE 0
#[XYWH] 700 591 270 20
#[NORMCOLOR] 230 230 230
#[SELCOLOR] 0 255 0 GREEN
#[FONT] BANK_GOTHIC_20
#[DROPDOWN] BID_DROPDOWN_WHITE
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 8002
#[ADDITEM] CUE_NONE C_TYPE_ITEM TXT_NONE
#[ADDITEM] CUE_LIFT_LINE C_TYPE_ITEM TXT_LIFT_LINE
#[ADDITEM] CUE_REFLECTION_MAP C_TYPE_ITEM TXT_REFLECTION
#[ADDITEM] CUE_BOTH C_TYPE_ITEM TXT_BOTH
#[CURSOR] CRSR_LIST_F16
#[SOUNDBITE] SND_MENU C_STATE_DOWN

##################
#SEASON === DROPDOWN OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_SEASON
[XY] 535 605
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 535 629 436 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0
[XYWH] 970 626 1 3
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002


[LISTBOX]
[SETUP] SETUP_SEASON 0
[XYWH] 700 607 270 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[ITEMUSERDATA] SETUP_SEASON_SUMMER C_STATE_0 SETUP_SEASON_SUMMER
[ITEMUSERDATA] SETUP_SEASON_FALL C_STATE_0 SETUP_SEASON_FALL
[ITEMUSERDATA] SETUP_SEASON_WINTER C_STATE_0 SETUP_SEASON_WINTER
[ITEMUSERDATA] SETUP_SEASON_SPRING C_STATE_0 SETUP_SEASON_SPRING
[ITEMUSERDATA] SETUP_SEASON_SPRING C_STATE_0 SETUP_DATE_SEASON
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN


##################
#OBJECT DETAIL === SLIDER OPTIONS
##################
[TEXT] "x y+1"
[SETUP] NID,0
[SETTEXT], TXT_OBJECT_DETAIL
[XY] 460 765
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[EDITBOX] "x+w-16 y+1 16 16"
[SETUP] OBJECT_DETAIL_READOUT C_TYPE_INTEGER
[XYWH] 630 765 16 16
[FONT] BANK_GOTHIC_20
[MAXLEN] 4
[MAXINTEGER] 99
[INTEGER] 4
[FGCOLOR] 0 255 0 GREEN
[FLAGBITOFF] C_BIT_ENABLED
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0
[XYWH] 460 789 250 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER] "x y+h-5 w-16 13"
[SETUP] OBJECT_DETAIL, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 460 784 249 13
[STEPS] 7
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

# Recommended object range line
[LINE]
[SETUP] NID 0
[XYWH] 702 784 1 16
[COLOR] 200 240 250
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v Obj. Det. 1
[LINE]
[SETUP] NID 0
[XYWH] 466 790 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v Obj. Det. 2
[LINE]
[SETUP] NID 0
[XYWH] 505 790 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v Obj. Det. 3
[LINE]
[SETUP] NID 0
[XYWH] 544 790 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v Obj. Det. 4
[LINE]
[SETUP] NID 0
[XYWH] 584 790 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v Obj. Det. 5
[LINE]
[SETUP] NID 0
[XYWH] 623 790 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v Obj. Det. 6
[LINE]
[SETUP] NID 0
[XYWH] 662 790 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v Obj. Det. 7
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 710 782 1 8
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

##################
#HDR BLOOM === SLIDER OPTIONS
##################
[TEXT] "x y+1"
[SETUP] NID,0
[SETTEXT] TXT_HDR_BLOOM
[XY] 460 801
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0
[XYWH] 460 824 250 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER] "x y+h-5 w-16 13"
[SETUP] HDR_BLUR, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 460 818 249 13
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

# Recommended bloom default line
[LINE]
[SETUP] NID 0
[XYWH] 622 818 1 16
[COLOR] 200 240 250
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 460 825 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 485 825 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 510 825 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 535 825 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 560 825 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 585 825 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 610 825 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 635 825 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 660 825 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 685 825 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 710 817 1 8
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE


##################
#HDR BLUR === SLIDER OPTIONS
##################
[TEXT] "x y+1"
[SETUP] NID,0
[SETTEXT] TXT_HDR_BLUR
[XY] 460 837
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0
[XYWH] 460 860 250 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER] "x y+h-5 w-16 13"
[SETUP] HDR_BLOOM, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 460 854 249 13
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

# Recommended blur default line
[LINE]
[SETUP] NID 0
[XYWH] 622 854 1 16
[COLOR] 200 240 250
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 460 861 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 485 861 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 510 861 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 535 861 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 560 861 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 585 861 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 610 861 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 635 861 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 660 861 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 685 861 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 710 853 1 8
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE


##################
#TREE DENSITY === SLIDER OPTIONS
##################
[TEXT] "x y+1"
[SETUP] NID,0
[SETTEXT] TXT_TREE_DENSITY
[XY] 460 873
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0
[XYWH] 460 896 250 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER] "x y+h-5 w-16 13"
[SETUP] TREE_DENSITY, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 460 890 249 13
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

# Recommended tree default line
[LINE]
[SETUP] NID 0
[XYWH] 560 890 1 16
[COLOR] 200 240 250
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 460 897 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 485 897 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 510 897 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 535 897 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 560 897 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 585 897 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 610 897 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 635 897 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 660 897 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 685 897 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 710 889 1 8
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE


##################
#GRASS DENSITY === SLIDER OPTIONS
##################
[TEXT] "x y+1"
[SETUP] NID,0
[SETTEXT] TXT_GRASS_DENSITY
[XY] 460 909
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0
[XYWH] 460 932 250 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER] "x y+h-5 w-16 13"
[SETUP] GRASS_DENSITY, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 460 926 249 13
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

# Recommended grass default line
[LINE]
[SETUP] NID 0
[XYWH] 571 926 1 16
[COLOR] 200 240 250
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 460 933 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 485 933 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 510 933 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 535 933 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 560 933 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 585 933 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 610 933 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 635 933 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 660 933 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 685 933 1 3
[COLOR] 255 255 255
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 710 925 1 8
[COLOR] 230 230 230 BLUE
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE


##################
#RENDER BOX
##################
#[BOX] "Render border"
#[SETUP] NID, 0
#[XYWH] 1160 402 421 385
#[COLOR] 57 74 107
#[COLOR] 225 225 225
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 8002

#[LINE]
#[SETUP] NID, 0
#[XYWH] 1166 828 413 1
#[COLOR] 255 255 255 WHITE
#[CLUSTER] 8002

#[LINE]
#[SETUP] NID, 0
#[XYWH] 1579 825 1 4
#[COLOR] 255 255 255 WHITE
#[CLUSTER] 8002

#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_PREVIEW
#[XY] 1166 809
#[FGCOLOR] 200 240 250
#[FONT] BANK_GOTHIC_20
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_LEFT
#[CLUSTER] 8002

#[BUTTON]
#[SETUP] RENDER, C_TYPE_TOGGLE 1563 809
#[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
#[SOUNDBITE] SND_RADIO C_STATE_DOWN
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 8002
#[CURSOR] CRSR_F16_ON


##################
#PREVIEW OPTION
##################
[TEXT]
[SETUP] LOADING C_TYPE_LEFT
[SETTEXT] TXT_LOADING
[XY] 1317 583
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_INVISIBLE


##############################################################################################
#SOUNDS
##################
[BUTTON]
[SETUP] SOUND_TAB, C_TYPE_RADIO, 645 70
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_DARK, NULL, NULL
[STATE] 0
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SOUND
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 8003 "Enable"
[USERDATA] C_STATE_1 8001 "Disable the rest"
[USERDATA] C_STATE_2 8002
[USERDATA] C_STATE_3 8004
[CURSOR] CRSR_F16_ON


##################
#LINES
##################

# Vertical line below pilot's name
[LINE]
[SETUP] NID 0
[XYWH] 557 183 1 58
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

# Horizontal line below pilot's name
[LINE]
[SETUP] NID 0
[XYWH] 390 240 780 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

# Vertical line besides radio btns
[LINE]
[SETUP] NID 0
[XYWH] 1170 160 1 140
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v line besides top sound sliders
[LINE]
[SETUP] NID 0
[XYWH] 430 400 1 310
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#H Line besides top sliders
[LINE]
[SETUP] NID 0
[XYWH] 390 450 40 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003

#V Left line
[LINE]
[SETUP] NID 0
[XYWH] 390 241 1 510
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003

#H Line besides bottom sliders
[LINE]
[SETUP] NID 0
[XYWH] 390 750 40 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003

#V Line besides bottom sliders
[LINE]
[SETUP] NID, 0
[XYWH] 430 740 1 100
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003


##################
#TEXT & SPKR
##################

#Test
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_TEST
[XY] 1425 370
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8003

#Volume
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_VOLUME
[XY] 1065 370
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[CLUSTER] 8003

#Recommended settings
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_MAX_REAL
[XY] 856 390
[FONT] OCR_EXT_18
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

#Spkr off
[BITMAP]
[SETUP] NID 0 SPEAKER_OFF
[XY] 720 361
[CLUSTER] 8003

#Spkr on
[BITMAP]
[SETUP] NID 0 SPEAKER_FULL
[XY] 1375 361
[CLUSTER] 8003

#H Line speaker off
[LINE]
[SETUP] NID 0
[XYWH] 770 381 240 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003

#H Line speaker full
[LINE]
[SETUP] NID 0
[XYWH] 1120 381 240 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003

##################
#PLAYER VOICE === RADIO OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PLAYERVOICE
[XY] 1190 160
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8003

[LINE]
[SETUP] NID, 0
[XYWH] 1190 184 310 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8003

[LINE]
[SETUP] NID, 0
[XYWH] 1500 176 1 9
[COLOR] 230 230 230 BLUE
[CLUSTER] 8003

[BUTTON]
[SETUP] PLAYERVOICE, C_TYPE_TOGGLE 1484 159
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON


##################
#UI RADIO CHATTER === RADIO OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UICOMMS
[XY] 1190 196
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8003

[LINE]
[SETUP] NID, 0
[XYWH] 1190 220 310 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8003

[LINE]
[SETUP] NID, 0
[XYWH] 1500 212 1 9
[COLOR] 230 230 230 BLUE
[CLUSTER] 8003

[BUTTON]
[SETUP] UICOMMS, C_TYPE_TOGGLE 1484 195
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON


##################
#INTL SND OUTSIDE PIT === RADIO OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UI_ENABLE_INTERNAL_SOUND
[XY] 1190 232
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8003

[LINE]
[SETUP] NID, 0
[XYWH] 1190 256 310 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8003

[LINE]
[SETUP] NID, 0
[XYWH] 1500 248 1 9
[COLOR] 230 230 230 BLUE
[CLUSTER] 8003

[BUTTON]
[SETUP] UI_ENABLE_INTERNAL_SOUND, C_TYPE_TOGGLE 1484 231
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON


##################
#MASK BREATHING SND === RADIO OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UI_ENABLE_MASK_BREATHING_SOUND
[XY] 1190 268
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8003

[LINE]
[SETUP] NID, 0
[XYWH] 1190 292 310 1
[COLOR] 230 230 230 BLUE
[CLUSTER] 8003

[LINE]
[SETUP] NID, 0
[XYWH] 1500 284 1 9
[COLOR] 230 230 230 BLUE
[CLUSTER] 8003

[BUTTON]
[SETUP] UI_ENABLE_MASK_BREATHING_SOUND, C_TYPE_TOGGLE 1484 267
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON


##################
#ENG INTERNAL === SLIDER OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ENGINE_INT
[XY] 460 400
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

[LINE]
[SETUP] NID 0
[XYWH] 710 411 711 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE


[SLIDER]
[SETUP] ENGINE_INTERNAL_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 710 406 711 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 140
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_ENGINE_INTERNAL_GROUP

#v line recommended settings
[LINE]
[SETUP] NID 0
[XYWH] 845 401 1 20
[COLOR] 200 240 250
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 710 412 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 781 412 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 852 412 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 923 412 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 994 412 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 1065 412 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 1136 412 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 1207 412 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 1278 412 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1349 412 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE


#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1421 404 1 8
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] ENGINE_INTERNAL_SND, C_TYPE_TOGGLE, 1440 396
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_20
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 140
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_ENGINE_INTERNAL_GROUP
[CURSOR] CRSR_F16_ON


##################
#ENG EXTERNAL === SLIDER OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ENGINE_EXT
[XY] 460 436
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

[LINE]
[SETUP] NID 0
[XYWH] 710 447 711 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] ENGINE_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 710 442 711 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 139
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_ENGINE_SOUND_GROUP

#v line recommended settings
[LINE]
[SETUP] NID 0
[XYWH] 1291 437 1 20
[COLOR] 200 240 250
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 710 448 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 781 448 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 852 448 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 923 448 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 994 448 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 1065 448 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 1136 448 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 1207 448 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 1278 448 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1349 448 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1421 440 1 8
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] ENGINE_SND, C_TYPE_TOGGLE, 1440 432
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_20
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 139
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_ENGINE_SOUND_GROUP
[CURSOR] CRSR_F16_ON

##################
#SIDEWINDER === SLIDER OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_SIDEWINDER
[XY] 460 472
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

[LINE]
[SETUP] NID 0
[XYWH] 710 483 711 1
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] SIDEWINDER_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 710 478 711 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 286
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_SIDEWINDER_SOUND_GROUP

#v line recommended settings
[LINE]
[SETUP] NID 0
[XYWH] 1140 473 1 20
[COLOR] 200 240 250
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 710 484 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 781 484 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 852 484 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 923 484 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 994 484 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 1065 484 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 1136 484 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 1207 484 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 1278 484 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1349 484 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1421 476 1 8
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] SIDEWINDER_SND, C_TYPE_TOGGLE, 1440 468
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_20
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 286
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_SIDEWINDER_SOUND_GROUP
[CURSOR] CRSR_F16_ON


##################
#RWR === SLIDER OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_RWR
[XY] 460 508
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

[LINE]
[SETUP] NID 0
[XYWH] 710 519 711 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] RWR_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 710 514 711 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 190
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_RWR_SOUND_GROUP

#v line recommended settings
[LINE]
[SETUP] NID 0
[XYWH] 1214 509 1 20
[COLOR] 200 240 250
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 710 520 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 781 520 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 852 520 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 923 520 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 994 520 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 1065 520 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 1136 520 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 1207 520 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 1278 520 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1349 520 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1421 512 1 8
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] RWR_SND, C_TYPE_TOGGLE, 1440 504
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_20
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 190
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_RWR_SOUND_GROUP
[CURSOR] CRSR_F16_ON


##################
#COCKPIT === SLIDER OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_COCKPIT
[XY] 460 544
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

[LINE]
[SETUP] NID 0
[XYWH] 710 555 711 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] COCKPIT_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 710 550 711 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 217
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_COCKPIT_SOUND_GROUP

#v line recommended settings
[LINE]
[SETUP] NID 0
[XYWH] 920 545 1 20
[COLOR] 200 240 250
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 710 556 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 781 556 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 852 556 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 923 556 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 994 556 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 1065 556 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 1136 556 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 1207 556 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 1278 556 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1349 556 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1421 548 1 8
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] COCKPIT_SND, C_TYPE_TOGGLE, 1440 540
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_20
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 217
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_COCKPIT_SOUND_GROUP
[CURSOR] CRSR_F16_ON


##################
#COM1 === SLIDER OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_OTHER_COMMS
[XY] 460 580
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

[LINE]
[SETUP] NID 0
[XYWH] 710 591 711 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] COM1_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 710 584 711 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 1
[USERDATA] C_STATE_2 SND_COM1_SOUND_GROUP

#v line recommended settings
[LINE]
[SETUP] NID 0
[XYWH] 1330 581 1 20
[COLOR] 200 240 250
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 710 592 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 781 592 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 852 592 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 923 592 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 994 592 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 1065 592 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 1136 592 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 1207 592 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 1278 592 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1349 592 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1421 584 1 8
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] COM1_SND, C_TYPE_TOGGLE, 1440 576
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_20
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 1
[USERDATA] C_STATE_2 SND_COM1_SOUND_GROUP
[CURSOR] CRSR_F16_ON


##################
#COM2 === SLIDER OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_FLIGHT_COMMS
[XY] 460 616
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

[LINE]
[SETUP] NID 0
[XYWH] 710 627 711 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] COM2_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 710 622 711 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 1
[USERDATA] C_STATE_1 1
[USERDATA] C_STATE_2 SND_COM2_SOUND_GROUP

#v line recommended settings
[LINE]
[SETUP] NID 0
[XYWH] 1330 617 1 20
[COLOR] 200 240 250
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 710 628 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 781 628 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 852 628 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 923 628 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 994 628 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 1065 628 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 1136 628 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 1207 628 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 1278 628 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1349 628 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1421 620 1 8
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] COM2_SND, C_TYPE_TOGGLE, 1440 612
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_20
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 1
[USERDATA] C_STATE_1 1
[USERDATA] C_STATE_2 SND_COM2_SOUND_GROUP
[CURSOR] CRSR_F16_ON


##################
#INTERCOM === SLIDER OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_INTERCOM
[XY] 460 652
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

[LINE]
[SETUP] NID 0
[XYWH] 710 663 711 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] INTERCOM_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 710 658 711 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 370
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_INTERCOM_SOUND_GROUP

#v line recommended settings
[LINE]
[SETUP] NID 0
[XYWH] 1414 653 1 20
[COLOR] 200 240 250
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 710 664 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 781 664 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 852 664 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 923 664 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 994 664 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 1065 664 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 1136 664 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 1207 664 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 1278 664 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1349 664 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1421 656 1 8
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] INTERCOM_SND, C_TYPE_TOGGLE, 1440 648
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_20
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 370
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_INTERCOM_SOUND_GROUP
[CURSOR] CRSR_F16_ON


##################
#SOUND FX === SLIDER OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_SOUNDFX
[XY] 460 688
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

[LINE]
[SETUP] NID 0
[XYWH] 710 699 711 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] SOUNDFX_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 710 694 711 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 132
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_FX_SOUND_GROUP

#v line recommended settings
[LINE]
[SETUP] NID 0
[XYWH] 920 690 1 20
[COLOR] 200 240 250
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 710 700 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 781 700 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 852 700 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 923 700 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 994 700 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 1065 700 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 1136 700 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 1207 700 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 1278 700 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1349 700 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1421 692 1 8
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] SOUNDFX_SND, C_TYPE_TOGGLE, 1440 684
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_20
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 132
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_FX_SOUND_GROUP
[CURSOR] CRSR_F16_ON


##################
#EXT SND IN CKPIT === MAIN SLIDER OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_EXTERNAL_SOUND_VOLUME
[XY] 460 740
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_IN_COCKPIT
[XY] 460 756
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

[LINE]
[SETUP] NID 0
[XYWH] 710 761 711 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] EXTERNAL_SOUND_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 710 756 751 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_1 3
[USERDATA] C_STATE_2 SND_MUSIC_SOUND_GROUP

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_EARPLUGS
[XY] 727 740
[FONT] OCR_EXT_18
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

#v line recommended settings
[LINE] Line with Earplugs
[SETUP] NID 0
[XYWH] 718 751 1 20
[COLOR] 200 240 250
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 710 762 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 781 762 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 852 762 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 923 762 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 994 762 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 1065 762 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 1136 762 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 1207 762 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 1278 762 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1349 762 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1421 754 1 8
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_WHTOUT_EARPLUGS
[XY] 1018 740
[FONT] OCR_EXT_18
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

#v line recommended settings
[LINE] Line without Earplugs
[SETUP] NID 0
[XYWH] 1009 751 1 20
[COLOR] 200 240 250
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE


##################
#MUSIC === MAIN SLIDER OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_MUSIC
[XY] 460 785
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

[LINE]
[SETUP] NID 0
[XYWH] 710 796 711 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] MUSIC_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 710 791 711 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_1 3
[USERDATA] C_STATE_2 SND_MUSIC_SOUND_GROUP

#v line recommended settings
[LINE]
[SETUP] NID 0
[XYWH] 1065 786 1 20
[COLOR] 200 240 250
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 710 797 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 781 797 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 852 797 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 923 797 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 994 797 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 1065 797 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 1136 797 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 1207 797 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 1278 797 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1349 797 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1421 789 1 8
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

##################
#GUI SOUND FX === MAIN SLIDER OPTIONS
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_UISOUNDFX
[XY] 460 820
[FONT] BANK_GOTHIC_20
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003

[LINE]
[SETUP] NID 0
[XYWH] 710 831 711 1
[COLOR] 255 255 255 WHITE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] UISOUNDFX_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
[XYWH] 712 826 711 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 SND_GAMES
[USERDATA] C_STATE_1 2
[USERDATA] C_STATE_2 SND_UI_SOUND_GROUP

#v line recommended settings
[LINE]
[SETUP] NID 0
[XYWH] 1416 821 1 20
[COLOR] 200 240 250
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 0% line
[LINE]
[SETUP] NID 0
[XYWH] 710 832 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 10% line
[LINE]
[SETUP] NID 0
[XYWH] 781 832 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 20% line
[LINE]
[SETUP] NID 0
[XYWH] 852 832 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 30% line
[LINE]
[SETUP] NID 0
[XYWH] 923 832 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 40% line
[LINE]
[SETUP] NID 0
[XYWH] 994 832 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 50% line
[LINE]
[SETUP] NID 0
[XYWH] 1065 832 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 60% line
[LINE]
[SETUP] NID 0
[XYWH] 1136 832 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 70% line
[LINE]
[SETUP] NID 0
[XYWH] 1207 832 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 80% line
[LINE]
[SETUP] NID 0
[XYWH] 1278 832 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 90% line
[LINE]
[SETUP] NID 0
[XYWH] 1349 832 1 3
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

#v 100% line
[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 1421 824 1 8
[COLOR] 255 255 255
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE


##############################################################################################
#CONTROLLERS
##################
[BUTTON]
[SETUP] CONTROLLERS_TAB, C_TYPE_RADIO, 825 70
[IMAGES] BTN_190_40_BRIGHT, BTN_190_40_DARK, NULL, NULL
[GROUP] 100
[STATE] 0
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_CONTROLLERS
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[TEXTOFFSET] C_STATE_UP 0 -3
[TEXTOFFSET] C_STATE_DOWN 0 -2
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 8004 "Enable"
[USERDATA] C_STATE_1 8001 "Disable the rest"
[USERDATA] C_STATE_2 8002
[USERDATA] C_STATE_3 8003


##################
#CONTROLLER LINES & BOX
##################

#V Line below pilot callsign
[LINE]
[SETUP] NID 0
[XYWH] 557 183 1 45
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8004


#Controller box
[BOX]
[SETUP] NID,0
[XYWH] 360 228 420 70
[COLOR] 255 255 255
[CLUSTER] 8004

#header text
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_CONTROLLER
[XY] 370 248
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_VCENTER
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

# device listbox
[LISTBOX]
[SETUP] JOYSTICK_SELECT 0
[XYWH] 370 270 400 25
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004
[ADDITEM] ACE_LEVEL C_TYPE_ITEM TXT_EMPTY
[SOUNDBITE] SND_MENU C_STATE_DOWN


##################
#ADV SETTINGS
##################

#V Line to Advanced
[LINE]
[SETUP] NID 0
[XYWH] 660 298 1 100
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8004

#ADVANCED header
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_ADV_VIEW_AXIS_TXT
[XY] 680 320
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

#New advanced controller menu setup BMS
[BUTTON]
[SETUP] SETUP_CONTROL_ADVANCED C_TYPE_NORMAL, 680 355
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_BRIGHT, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_GRAPHICS_ADVANCED
[FONT] BANK_GOTHIC_20
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8004
[CURSOR] CRSR_F16_ON


##################
#TEST JOYSTICK
##################

#V Line to test joystick
[LINE]
[SETUP] NID 0
[XYWH] 450 298 1 210
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8004


#H Line to test joystick
[LINE]
[SETUP] NID 0
[XYWH] 450 508 60 1
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8004

#V Line besides test joystick
[LINE]
[SETUP] NID 0
[XYWH] 510 465 1 100
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8004

#header
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_JOYBUTTONS
[XY] 529 464
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

#box
[BOX]
[SETUP] NID 0
[XYWH] 529 502 323 50
[COLOR] 230 230 230 BLUE
[CLUSTER] 8004

#buttons 1 to 8
[BUTTON]
[SETUP] J1 C_TYPE_CUSTOM, 542 508
[IMAGES] BID_SETUP_JOY_OFF BID_SETUP_JOY_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_S1
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[CLUSTER] 8004

[BUTTON]
[SETUP] J2 C_TYPE_CUSTOM, 582 508
[IMAGES] BID_SETUP_JOY_OFF BID_SETUP_JOY_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_S2
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[CLUSTER] 8004

[BUTTON]
[SETUP] J3 C_TYPE_CUSTOM, 622 508
[IMAGES] BID_SETUP_JOY_OFF BID_SETUP_JOY_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_S3
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[CLUSTER] 8004

[BUTTON]
[SETUP] J4 C_TYPE_CUSTOM, 662 508
[IMAGES] BID_SETUP_JOY_OFF BID_SETUP_JOY_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_S4
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[CLUSTER] 8004

[BUTTON]
[SETUP] J5 C_TYPE_CUSTOM, 702 508
[IMAGES] BID_SETUP_JOY_OFF BID_SETUP_JOY_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_S5
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[CLUSTER] 8004

[BUTTON]
[SETUP] J6 C_TYPE_CUSTOM, 742 508
[IMAGES] BID_SETUP_JOY_OFF BID_SETUP_JOY_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_S6
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[CLUSTER] 8004

[BUTTON]
[SETUP] J7 C_TYPE_CUSTOM, 782 508
[IMAGES] BID_SETUP_JOY_OFF BID_SETUP_JOY_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_S7
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[CLUSTER] 8004

[BUTTON]
[SETUP] J8 C_TYPE_CUSTOM, 822 508
[IMAGES] BID_SETUP_JOY_OFF BID_SETUP_JOY_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_S8
[FONT] HAETTEN_18
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[CLUSTER] 8004

#POV hat
[BUTTON]
[SETUP] RIGHT_HAT, C_TYPE_CUSTOM, 942 514
[IMAGES] BID_HIGHHAT_RIGHT_OFF BID_HIGHHAT_RIGHT_ON NULL, BID_HIGHHAT_RIGHT_DIS
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8004

[BITMAP]
[SETUP] CENTER_HAT 0 BID_HIGHHAT_CENTER
[XY] 907 513
[CLUSTER] 8004

[BUTTON]
[SETUP] LEFT_HAT, C_TYPE_CUSTOM, 890 514
[IMAGES] BID_HIGHHAT_LEFT_OFF BID_HIGHHAT_LEFT_ON NULL, BID_HIGHHAT_LEFT_DIS
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8004

[BUTTON]
[SETUP] UP_HAT, C_TYPE_CUSTOM, 909 495
[IMAGES] BID_HIGHHAT_UP_OFF BID_HIGHHAT_UP_ON NULL, BID_HIGHHAT_UP_DIS
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8004

[BUTTON]
[SETUP] DOWN_HAT, C_TYPE_CUSTOM, 909 546
[IMAGES] BID_HIGHHAT_DOWN_OFF BID_HIGHHAT_DOWN_ON NULL, BID_HIGHHAT_DOWN_DIS
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8004


##################
#AXIS SETTINGS
##################

#V Line to Axis settings
[LINE]
[SETUP] NID 0
[XYWH] 390 298 1 342
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8004

#H Line above axis settings
[LINE]
[SETUP] NID 0
[XYWH] 390 640 570 1
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8004

#V Line between buttons
[LINE]
[SETUP] NID 0
[XYWH] 710 690 1 250
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8004

#header
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AXIS_SETTINGS
[XY] 429 650
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

#Joystick Box
[BITMAP]
[SETUP] NID 0 JOYBOX
[XY] 429 686
[CLUSTER] 8004

[BITMAP]
[SETUP] JOY_INDICATOR 0 BID_SCROLL_WHITE
[XY] 0 0
[CLUSTER] 8004
[CLIENT] 1

#Rudder
[BITMAP]
[SETUP] NID 0 RUDDER_IMG
[XY] 622 693
[CLUSTER] 8004

[BOX] "RUDDER"
[SETUP] NID 0
[XYWH] 635 693 15 155
[COLOR] 180 180 180 GREY
[CLUSTER] 8004

[LINE] "RUDDER"
[SETUP] RUDDER 0
[XYWH] 636 694 14 154
[COLOR] 57 74 107
[CLUSTER] 8004

[LINE] "RUDDER CENTER MARK"
[SETUP] NID, 0
[XYWH] 636 771 14 1
[COLOR] 180 180 180 GREY
[CLUSTER] 8004

#Center rudder & joystick button
[BUTTON]
[SETUP] CALIBRATE C_TYPE_NORMAL,510 889
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_BRIGHT, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_CENTER
[FONT] BANK_GOTHIC_20
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8004

#Throttle
[BITMAP]
[SETUP] NID 0 THROTTLE_IMG
[XY] 771 693
[CLUSTER] 8004

[BOX] "Throttle"
[SETUP] NID 0
[XYWH] 784 693 15 155
[COLOR] 180 180 180 GREY
[CLUSTER] 8004

[LINE] "Throttle"
[SETUP] THROTTLE 0
[XYWH] 785 694 7 154
[COLOR] 57 74 107
[CLUSTER] 8004

[LINE]
[SETUP] THROTTLE2 0
[XYWH] 792 694 7 154
[COLOR] 180 180 180 GREY
[CLUSTER] 8004

[LINE] "Throttle"
[SETUP] AB_DETENT 0
[XYWH] 784 732 14 1
[COLOR] 0 255 0 GREEN
[CLUSTER] 8004

[LINE] "IdleCutoff"
[SETUP] SETUP_IDLE_CUTOFF 0
[XYWH] 785 733 14 1
[COLOR] 255 0 0
[CLUSTER] 8004

#throttle text right

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SET_AB_TXT
[XY] 820 710
[FGCOLOR] 230 230 230
[FONT] HAETTEN_18
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SET_IDLE_TXT
[XY] 820 820
[FGCOLOR] 230 230 230
[FONT] HAETTEN_18
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

#set throttle detents buttons
[BUTTON]
[SETUP] SET_AB_DETENT C_TYPE_NORMAL, 755 889
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_BRIGHT, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SET_AB_DETENT
[FONT] BANK_GOTHIC_20
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[HELPTEXT] HELP_SET_AB
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8004


##################
#KEYFILE SETTINGS
##################

#H Line to key input
[LINE]
[SETUP] NID 0
[XYWH] 781 263 350 1
[COLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8004

# Vertical line besides key box
[LINE]
[SETUP] NID 0
[XYWH] 1130 150 1 660
[COLOR] 255 255 255 WHITE
[CLUSTER] 8004
[FLAGBITON] C_BIT_ABSOLUTE


#header
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_KEYFILE_SETTINGS
[XY] 1153 160
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004


#LOAD button
[BUTTON]
[SETUP] KEYMAP_LOAD C_TYPE_NORMAL, 1610 160
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_BRIGHT, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_LOAD
[FONT] BANK_GOTHIC_20
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8004
[CURSOR] CRSR_F16_ON

#SAVE button
[BUTTON]
[SETUP] KEYMAP_SAVE C_TYPE_NORMAL, 1610 680
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_BRIGHT, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SAVE
[FONT] BANK_GOTHIC_20
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8004
[CURSOR] CRSR_F16_ON


#current Keyfile info
[TEXT]
[SETUP] SETUP_CONTROLLERS_KEYFILE C_TYPE_RIGHT
[SETTEXT] TXT_KEYFILE
[XY] 1153 206
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[TEXT]
[SETUP] SETUP_CONTROLLERS_KEYFILE_DATA C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 1350 206
[FGCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

#box headers
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_KEY
[XY] 1053 227
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_MAPPING
[XY] 1358 226
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

#key mapping area
[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 1151 249 596 412
[COLOR] 22 53 70
#[PERCENT] 15
[FLAGBITON] C_BIT_ABSOLUTE 
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 8004

[BOX]
[SETUP] NID, 0
[XYWH] 1151 249 596 412
[COLOR] 230 230 230 BLUE
[CLUSTER] 8004

[BUTTON]
[SETUP] KEYCODES C_TYPE_NORMAL 4 4
[BUTTONTEXT] C_STATE_0 TXT_SPACE
[CLIENT] 3
[GROUP] 8000
[CLUSTER] 8004
[UPCOLOR] 0 255 0 GREEN
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[FONT] HAETTEN_18
[FLAGBITON] C_BIT_LEFT
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FLAGBITON] C_BIT_ENABLED

[TEXT]
[SETUP] MAPPING C_TYPE_LEFT
[SETTEXT] TXT_SPACE
[XY] 204 4
[CLIENT] 3
[GROUP] 8000
[CLUSTER] 8004
[FGCOLOR] 200 240 250
[FONT] HAETTEN_18
[FLAGBITON] C_BIT_LEFT
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FLAGBITON] C_BIT_ENABLED

[LINE]
[SETUP] HLINE 0
[XYWH] 1 22 596 1
[COLOR] 230 230 230
[CLIENT] 3
[CLUSTER] 8004
[GROUP] 8000

[LINE]
[SETUP] VLINE 0
[XYWH] 199 1 1 21
[COLOR] 230 230 230
[CLIENT] 3
[CLUSTER] 8004
[GROUP] 8000

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 1752 249 13 413
[CLIENT] 3
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL_WHITE
[BUTTONIMAGES] BID_SCROLL_WHITECAP_TOP_OFF BID_SCROLL_WHITECAP_TOP_ON BID_SCROLL_WHITECAP_BOTTOM_OFF BID_SCROLL_WHITECAP_BOTTOM_ON
[BGLINE] 150 150 150
[CLUSTER] 8004
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 21

#Test area below box
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_INPUT
[XY] 1151 750
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[TEXT]
[SETUP] CONTROL_KEYS C_TYPE_LEFT
[SETTEXT] TXT_SPACE
[XY] 1231 750
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[TEXT]
[SETUP] USER_INPUT C_TYPE_LEFT
[SETTEXT] TXT_SPACE
[XY] 1345 750
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[TEXT]
[SETUP] FUNCTION_LIST C_TYPE_RIGHT
[SETTEXT] TXT_SPACE
[XY] 1231 786
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[TEXT]
[SETUP] FUNCTION_LIST2 C_TYPE_RIGHT
[SETTEXT] TXT_SPACE
[XY] 1405 786
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004
