#UI BMS 4.38 update, December 2023, by Kolbe

#Shows the ADD BATTALION window in TE Editor.

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] NEW_BATT_WIN C_TYPE_EXCLUSIVE 600 500
[XY] "centralized"
[RANGES] 0 0 1920 1080 600 500
[FONT] HAETTEN_18
[GROUP] 32000
[DRAGH] 47
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 300 220 250 200 1 "Table of equipment"
[CLIENTAREA] 200 75 400 175 2 "List box text clipper"
#[CLIENTAREA] 0 36 340 100 2 "List box text clipper"
[CLIENTAREA] 2 2 348 22 3 "Titlebar"


##################
#BACKGROUND IMAGES
##################

[TILE]
[SETUP] NID 0 BG_MAIN_BRIGHT
[XYWH] 0 0 600 48
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TILE]
[SETUP] NID 0 BG_ADD_BATTALION
[XYWH] 0 50 600 450
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL


##################
#WINDOW BOXES
##################
[BOX]
[SETUP] NID,0
[XYWH] 0 0 599 499
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE 

[BOX]
[SETUP] NID,0
[XYWH] 1 1 597 497
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE 


##################
#HEADER TEXT
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ADD_BATTALION_UC
[XY] 300 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER

##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 2 48 596 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#LINES
##################

#dropdown -> Roster
[LINE]
[SETUP] NID 0
[XYWH] 210 170 330 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[LINE]
[SETUP] NID 0
[XYWH] 230 170 1 90
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[LINE]
[SETUP] NID 0
[XYWH] 230 260 50 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

#Roster -> OK
[LINE]
[SETUP] NID 0
[XYWH] 310 360 230 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[LINE]
[SETUP] NID 0
[XYWH] 500 360 1 70
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

###########################################

##################
#UNIT NAME - CURRENTLY UNUSED
##################

#Unit name stuff - cool, but removed for sake of consistancy
#[LINE]
#[SETUP] NID 0
#[XYWH] 8 30 296 18
#[COLOR] 0 80 127
#[flagbiton] C_BIT_ABSOLUTE

#[TEXT] "Designation ie. 110th Fighter Bomber Squadron"
#[SETUP] UNIT_NAME C_TYPE_LEFT
#[SETTEXT] TXT_EMPTY
#[XY] 155 30
#[FGCOLOR] 0 0 0
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_HCENTER
#[FONT] OCR_EXT_16

#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_TEAM
#[XY] 18 54
#[FONT] HAETTEN_14
#[FGCOLOR] 66 132 173
#[FLAGBITON] C_BIT_ABSOLUTE

#[TEXT]
#[SETUP] UNIT_OWNER C_TYPE_RIGHT
#[SETTEXT] TXT_EMPTY
#[XY] 84 54
#[FONT] OCR_EXT_14
#[FGCOLOR] 230 230 230
#[FLAGBITON] C_BIT_ABSOLUTE


###########################################

##################
#EQUIPMENT TYPE
##################

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_EQUIPMENT
[XY] 0 0
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
[CLIENT] 2
[FLAGBITON] C_BIT_LEFT

[LINE]
[SETUP] NID 0
[XYWH] 0 20 350 19
[COLOR] 130 130 130
[CLIENT] 2

[LISTBOX]
[SETUP] UNIT_TOE 0
[SORTED] 1
[XYWH] 0 20 350 20
#[XYWH] 110 0 229 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 250 0
[FONT] OCR_EXT_16
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[DROPDOWN] BID_DROPDOWN_WHITE
#[BGIMAGE] ADDLIST1
[CLIENT] 2
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16

###########################################

##################
#UNIT SELECTION
##################

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_UNIT_TYPE
[XY] 0 50
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
[CLIENT] 2
[FLAGBITON] C_BIT_LEFT

[LINE]
[SETUP] NID 0
[XYWH] 0 70 350 19
[COLOR] 130 130 130
[CLIENT] 2

[LISTBOX]
[SETUP] UNIT_TYPE 0
[SORTED] 1
[XYWH] 0 70 350 20
#[XYWH] 110 22 229 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 250 0
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
#[BGIMAGE] ADDLIST1
[ADDITEM] NID C_TYPE_ITEM TXT_EMPTY
[CLIENT] 2
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN
[IMAGES] LYT_LISTBOX_UP LYT_LISTBOX_DOWN LYT_LISTBOX_SEL LYT_LISTBOX_DIS


###########################################

##################
#EQUIPMENT LIST
##################

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ROSTER
#[XY] 32 54
[XY] 300 200
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
#[CLIENT] 2

[TEXT]
[SETUP] BATT_VEH1 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 0
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230
[CLIENT] 1

[TEXT]
[SETUP] BATT_VEH2 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 16
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230
[CLIENT] 1

[TEXT]
[SETUP] BATT_VEH3 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 32
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230
[CLIENT] 1

[TEXT]
[SETUP] BATT_VEH4 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 48
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230
[CLIENT] 1

[TEXT]
[SETUP] BATT_VEH5 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 64
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230
[CLIENT] 1

[TEXT]
[SETUP] BATT_VEH6 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 80
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230
[CLIENT] 1

[TEXT]
[SETUP] BATT_VEH7 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 96
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230
[CLIENT] 1

[TEXT]
[SETUP] BATT_VEH8 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 112
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230
[CLIENT] 1


###########################################

##################
#EXIT BUTTON
##################
[BUTTON]
[SETUP] CANCEL_UNIT, C_TYPE_NORMAL, 540 2
[IMAGES] CLOSE_BTN, CLOSE_BTN, NULL, CLOSE_BTN
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 31000
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_ESCAPE
#[SETUP] CLOSE_WINDOW,C_TYPE_NORMAL, 1340 2
#[IMAGES] CLOSE_BTN CLOSE_BTN NULL NULL
#[FLAGBITON] C_BIT_ABSOLUTE
#[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
#[GROUP] 10000
#[CURSOR] CRSR_F16_ON
#[HELPTEXT] HELP_CLOSE


##################
#OK BUTTON
##################
[BUTTON]
[SETUP] CREATE_UNIT C_TYPE_NORMAL, 435 450
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_BRIGHT, NULL, BTN_155_40_BRIGHT
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_20
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 31000
[CURSOR] CRSR_F16_ON