#UI BMS4, created by Revientor and Amraam (2009)

[WINDOW]
[SETUP] NEW_BATT_WIN C_TYPE_EXCLUSIVE 352 319
[XY] 658 430
[RANGES] 0 0 1024 768 213 446
[FONT] HAETTEN_18
[GROUP] 32000
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 33 110 209 160 1 "Table of equipment"
[CLIENTAREA] 0 36 340 100 2 "List box text clipper"
[CLIENTAREA] 2 2 348 22 3 "Titlebar"

[TILE]
[SETUP] NID 0 ADDBATAILLON
[XYWH] 0 0 352 319
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ADD_BATTALION_UC
[XY] 6 3
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

#Unit name stuff - cool, but removed for sake of consistancy
#[LINE]
#[SETUP] NID 0
#[XYWH] 8 30 296 18
#[COLOR] 0 80 127
#[flagbiton] C_BIT_ABSOLUTE

#[TEXT] "Designation ie. 110th Fighter Bomber Squadron"
#[SETUP] UNIT_NAME C_TYPE_LEFT
#[SETTEXT] TXT_EMPTY
#[XY] 155 30
#[FGCOLOR] 0 0 0
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_HCENTER
#[FONT] OCR_EXT_16

#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_TEAM
#[XY] 18 54
#[FONT] HAETTEN_14
#[FGCOLOR] 66 132 173
#[FLAGBITON] C_BIT_ABSOLUTE

#[TEXT]
#[SETUP] UNIT_OWNER C_TYPE_RIGHT
#[SETTEXT] TXT_EMPTY
#[XY] 84 54
#[FONT] OCR_EXT_14
#[FGCOLOR] 230 230 230
#[FLAGBITON] C_BIT_ABSOLUTE

#Equipment Type
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_EQUIPMENT
[XY] 106 0
[FGCOLOR] 0 0 0
[FONT] BANK_GOTHIC_16
[CLIENT] 2
[FLAGBITON] C_BIT_RIGHT

[LISTBOX]
[SETUP] UNIT_TOE 0
[SORTED] 1
[XYWH] 110 0 229 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 250 0
[FONT] OCR_EXT_12
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[DROPDOWN] BID_DROPDOWN
[BGIMAGE] ADDLIST1
[CLIENT] 2
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16

#Unit selection
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UNIT_TYPE
[XY] 106 22
[FGCOLOR] 0 0 0
[FONT] BANK_GOTHIC_16
[CLIENT] 2
[FLAGBITON] C_BIT_RIGHT

[LISTBOX]
[SETUP] UNIT_TYPE 0
[SORTED] 1
[XYWH] 110 22 229 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 250 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[BGIMAGE] ADDLIST2
[ADDITEM] NID C_TYPE_ITEM TXT_EMPTY
[CLIENT] 2
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN
[IMAGES] LYT_LISTBOX_UP LYT_LISTBOX_DOWN LYT_LISTBOX_SEL LYT_LISTBOX_DIS

[BUTTON]
[SETUP] CREATE_UNIT C_TYPE_NORMAL, 228 282
[IMAGES] ADDBUT2, ADDBUT2, NULL, ADDBUT2
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 31000
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] CANCEL_UNIT, C_TYPE_NORMAL, 19 282
[IMAGES] ADDBUT1, ADDBUT1, NULL, ADDBUT1
[LABELALL] TXT_CANCEL
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 31000
[CURSOR] CRSR_F16_ON

#Equipment list
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ROSTER
[XY] 32 54
[FONT] BANK_GOTHIC_16
[FGCOLOR] 230 230 230
[CLIENT] 2

[TEXT]
[SETUP] BATT_VEH1 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 0
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLIENT] 1

[TEXT]
[SETUP] BATT_VEH2 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 16
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLIENT] 1

[TEXT]
[SETUP] BATT_VEH3 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 32
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLIENT] 1

[TEXT]
[SETUP] BATT_VEH4 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 48
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLIENT] 1

[TEXT]
[SETUP] BATT_VEH5 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 64
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLIENT] 1

[TEXT]
[SETUP] BATT_VEH6 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 80
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLIENT] 1

[TEXT]
[SETUP] BATT_VEH7 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 96
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLIENT] 1

[TEXT]
[SETUP] BATT_VEH8 C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
[XY] 0 112
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLIENT] 1