#UI BMS 4.38 update, December 2023, by Kolbe

#Add Squadron window.

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] NEW_SQUAD_WIN C_TYPE_EXCLUSIVE 500 350
[XY] "centralized" 
[RANGES] 0 0 1920 1080 1920 1080
[CLIENTAREA] 0 0 500 350 0
#[CLIENTAREA] 0 36 353 64 2 "List box text clipper"
[CLIENTAREA] 0 80 493 84 2 "List box text clipper"
[FONT] HAETTEN_18
[GROUP] 31000
[DRAGH] 47
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 296 22 1 "Titlebar"


##################
#BACKGROUND IMAGES
##################

[TILE]
[SETUP] NID 0 BG_MAIN_BRIGHT
[XYWH] 0 0 500 48
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TILE]
[SETUP] NID 0 BG_ADD_NEW_SQDR
[XYWH] 0 50 500 300
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL


##################
#WINDOW BOXES
##################
[BOX]
[SETUP] NID,0
[XYWH] 0 0 499 349
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE 

[BOX]
[SETUP] NID,0
[XYWH] 1 1 497 347
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE 


##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 2 48 496 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#HEADER TEXT
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ADD_SQUADRON_UC
[XY] 250 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER


###########################################

##################
#AIRCRAFT TYPE
##################
#Aircraft type
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AIRCRAFT
[XY] 20 60
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
#[CLIENT] 2
[FLAGBITON] C_BIT_LEFT

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 30 80 450 20
[PERCENT] 15
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE
[CLIENT] 2

[BOX]
[SETUP] NID,0
[XYWH] 30 80 450 20
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE 
[CLIENT] 2

[LISTBOX]
[SETUP] TAC_AIRCRAFT_TYPE 0
[XYWH] 30 0 450 19
[NORMCOLOR] 255 255 255 WHITE
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[SCROLLITEMCOUNT] 40
[DROPDOWN] BID_DROPDOWN_WHITE
[CLIENT] 2
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16


###########################################

##################
#AIRBASE
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AIRBASE
[XY] 20 110
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
#[CLIENT] 2
[FLAGBITON] C_BIT_LEFT

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 30 130 450 20
[PERCENT] 15
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE
[CLIENT] 2

[BOX]
[SETUP] NID,0
[XYWH] 30 130 450 20
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE 
[CLIENT] 2

[LISTBOX]
[SETUP] TAC_AIRBASE_LIST 0
[XYWH] 30 50 450 19
[NORMCOLOR] 255 255 255 WHITE
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[SCROLLITEMCOUNT] 40
[DROPDOWN] BID_DROPDOWN_WHITE
[CLIENT] 2
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16


##################
#BUTTONS
##################
[BUTTON]
[SETUP] CANCEL_UNIT, C_TYPE_NORMAL, 460 2
[IMAGES] CLOSE_BTN, CLOSE_BTN, NULL, CLOSE_BTN
#[LABELALL] TXT_CANCEL
#[FONT] BANK_GOTHIC_16
#[UPCOLOR] 191 191 191
#[DOWNCOLOR] 0 255 0 GREEN
#[DISCOLOR] 102 102 102
#[TEXTOFFSET] C_STATE_UP 0 -1
#[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 31000
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] CREATE_UNIT C_TYPE_NORMAL, 335 300
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_BRIGHT, NULL, BTN_155_40_BRIGHT
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_16
[UPCOLOR] 255 255 255 WHITE
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 31000
[CURSOR] CRSR_F16_ON


###########################################

##################
#UNUSED
##################
#Designation stuff removed for sake of consistancy
#[LINE]
#[SETUP] NID 0
#[XYWH] 8 30 304 18
#[COLOR] 0 80 127
#[flagbiton] C_BIT_ABSOLUTE

#[TEXT] "Designation ie. 110th Fighter Bomber Squadron"
#[SETUP] UNIT_NAME C_TYPE_LEFT
#[SETTEXT] TXT_EMPTY
#[XY] 160 30
#[FGCOLOR] 0 0 0
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_HCENTER
#[FONT] OCR_EXT_16

#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_TEAM
#[XY] 18 54
#[FONT] HAETTEN_14
#[FGCOLOR] 66 132 173
#[FLAGBITON] C_BIT_ABSOLUTE

#[TEXT]
#[SETUP] UNIT_OWNER C_TYPE_RIGHT
#[SETTEXT] TXT_EMPTY
#[XY] 84 54
#[FONT] OCR_EXT_14
#[FGCOLOR]230 230 230
#[FLAGBITON] C_BIT_ABSOLUTE

#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_BASE
#[XY] 18 74
#[FONT] HAETTEN_14
#[FGCOLOR] 66 132 173
#[FLAGBITON] C_BIT_ABSOLUTE

#[TEXT]
#[SETUP] UNIT_AIRBASE C_TYPE_RIGHT
#[SETTEXT] TXT_EMPTY
#[XY] 84 74
#[FONT] OCR_EXT_14
#[FGCOLOR] 230 230 230
#[FLAGBITON] C_BIT_ABSOLUTE

#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_TABLE_OF_EQUIPMENT
#[XY] 18 94
#[FONT] HAETTEN_14
#[FGCOLOR] 66 132 173
#[FLAGBITON] C_BIT_ABSOLUTE

####STYPE SPTYPE
#[LINE]
#[SETUP] NID 0
#[XYWH] 84 119 197 16
#[COLOR] 0 80 127
#[flagbiton] C_BIT_ABSOLUTE

#[LISTBOX]
#[SETUP] UNIT_STYPE 0
#[XYWH] 84 119 187 16
#[NORMCOLOR] 230 230 230
#[SELCOLOR] 230 230 230
#[FONT] OCR_EXT_14
#[DROPDOWN] BID_DROPDOWN
#[ADDITEM] NID C_TYPE_ITEM TXT_EMPTY
#[FLAGBITON] C_BIT_ABSOLUTE
#[CURSOR] CRSR_LIST_F16
#[SOUNDBITE] SND_MENU C_STATE_DOWN

#[LINE]
#[SETUP] NID 0
#[XYWH] 84 139 197 16
#[COLOR] 0 80 127
#[flagbiton] C_BIT_ABSOLUTE

#[LISTBOX]
#[SETUP] UNIT_SPTYPE 0
#[XYWH] 84 139 197 16
#[NORMCOLOR] 230 230 230
#[SELCOLOR] 230 230 230
#[FONT] OCR_EXT_14
#[DROPDOWN] BID_DROPDOWN
#[ADDITEM] NID C_TYPE_ITEM TXT_EMPTY
#[FLAGBITON] C_BIT_ABSOLUTE
#[CURSOR] CRSR_LIST_F16
#[SOUNDBITE] SND_MENU C_STATE_DOWN