#UI BMS 4.38 update, December 2023, by Kolbe

#Add New Package window.

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] PACKAGE_WIN C_TYPE_NORMAL 800 800
[XY] "centralized" 
[DRAGH] 47
[RANGES] 0 0 1920 1080 1920 1080
[CLIENTAREA] 0 0 426 852 0
[CLIENTAREA] 380 100 400 350 2 "Flight list"
[CLIENTAREA] 2 2 422 22 1 "Titlebar"
[FONT] OCR_EXT_14
[GROUP] 3274
[FLAGBITON] C_BIT_DRAGABLE
#[FLAGBITON] C_BIT_TRANSLUCENT

##################
#BACKGROUND IMAGES
##################

[TILE]
[SETUP] NID 0 BG_MAIN_BRIGHT
[XYWH] 0 0 800 48
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TILE]
[SETUP] NID 0 BG_ADD_PACKAGE
[XYWH] 0 50 800 750
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

##################
#WINDOW BOXES
##################
[BOX]
[SETUP] NID,0
[XYWH] 0 0 799 799
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE 

[BOX]
[SETUP] NID,0
[XYWH] 1 1 797 797
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE 


##################
#HEADER TEXT
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ADD_PACKAGE_UC
[XY] 400 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER

##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 2 48 796 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

###########################################

##################
#PACKAGE TYPE
##################

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PACKAGE_TYPE
[XY] 50 75
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX]
[SETUP] TAC_PACKAGE_TYPE 0
[XYWH] 60 100 262 17
[NORMCOLOR] 250 250 250
[SELCOLOR] 0 255 0 GREEN
[FONT] HAETTEN_18
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_ENABLED
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16
[ADDITEM] TAC_PACKAGE_NONE C_TYPE_ITEM TXT_NONE


##################
#TARGET
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_TARGET
[XY] 50 130
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] PACKAGE_TARGET 0
[FIXEDWIDTH] 60
[SETTEXT] TXT_EMPTY
[XYWH] 60 155 263 32
[FLAGBITON] C_BIT_WORDWRAP
[FGCOLOR] 250 250 250
[FONT] HAETTEN_18
[FLAGBITON] C_BIT_ABSOLUTE


##################
#FLIGHTS
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_FLIGHTS
[XY] 400 75
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 400 95 360 355
[PERCENT] 15
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID,0
[XYWH] 400 95 360 355
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE 

[SCROLLBAR]
[SETUP] NID,C_TYPE_VERTICAL
[XYWH] 762 95 13 356
[FLAGBITON] C_BIT_ABSOLUTE
[CLIENT] 2
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 180 180 180
[INCREMENT] 35
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON

#End of package initialization settings
[TREELIST]
[SETUP] ATO_PACKAGE_TREE 0
[FONT] OCR_EXT_16
[XY] 5 3
[CLIENT] 2
[XOFFSET] 21
[YOFFSET] 17
[CLUSTER] 100
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[CURSOR] CRSR_F16_ON


###########################################

##################
#PACKAGE PLANNING SETTINGS
##################

####Priority - Set by user
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PACKAGE_PRIORITY
[XY] 525 600
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 9

[LINE]
[SETUP] NID 0
[XYWH] 550 625 50 19
[COLOR] 130 130 130
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX]
[SETUP] PACKAGE_PRIORITY_LIST 0
[XYWH] 550 625 50 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CLUSTER] 9

[BOX]
[SETUP] NID,0
[XYWH] 515 590 215 70
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE 


####Base Takeoff Time
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_TAKEOFF
#[XY] 183 340
[XY] 100 220
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 11

[CLOCK]
[SETUP] PAK_TAKEOFF_TIME 0
#[XY] 198 361
[XY] 125 245
[USEDAY]
[NORMCOLOR] 0 255 0 GREEN
[SELCOLOR] 255 255 0 YELLOW
[FONT] OCR_EXT_16
[SEP0] TXT_CLOCK_DAY_SEP
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[FLAGBITON] C_BIT_ABSOLUTE
[HELPTEXT] HELP_MISSION_TIME
[CLUSTER] 11

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_ZULU_TIME
[XY] 243 247
[FONT] OCR_EXT_14
[FGCOLOR] 0 255 0 GREEN
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] PAK_TAKEOFF_DEC C_TYPE_NORMAL 261 249
[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL BID_NUM_LEFT_OFF
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP
[HELPTEXT] HELP_DEC_TIME
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[CLUSTER] 11
[USERDATA] 0 PAK_TAKEOFF_TIME
[USERDATA] 1 -1

[BUTTON]
[SETUP] PAK_TAKEOFF_INC C_TYPE_NORMAL 274 249
[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL BID_NUM_RIGHT_OFF
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP
[HELPTEXT] HELP_INC_TIME
[CURSOR] CRSR_F16_ON
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 11
[USERDATA] 0 PAK_TAKEOFF_TIME
[USERDATA] 1 1

[BUTTON]
[SETUP] PAK_TAKEOFF_LOCK C_TYPE_TOGGLE 289 248
[IMAGES] LOCK_OFF LOCK_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP
[CLUSTER] 11
[FLAGBITON] C_BIT_ABSOLUTE

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 120 240 185 25
[PERCENT] 10
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID 0
[XYWH] 120 240 185 25
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 255 255 255
[CLUSTER] 11


####Desired time on target
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_TIME_ON_TARGET
[XY] 100 280
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 13

[CLOCK]
[SETUP] PAK_TOT_TIME 0
[XY] 125 305
[USEDAY]
[NORMCOLOR] 0 255 0 GREEN
[SELCOLOR] 255 255 0 YELLOW
[FONT] OCR_EXT_16
[SEP0] TXT_CLOCK_DAY_SEP
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[FLAGBITON] C_BIT_ABSOLUTE
[HELPTEXT] HELP_MISSION_TIME
[CLUSTER] 13

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_ZULU_TIME
[XY] 243 307
[FONT] OCR_EXT_14
[FGCOLOR] 0 255 0 GREEN
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] PAK_TOT_DEC C_TYPE_NORMAL 261 309
[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL BID_NUM_LEFT_OFF
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP
[HELPTEXT] HELP_DEC_TIME
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[CLUSTER] 13
[USERDATA] 0 PAK_TOT_TIME
[USERDATA] 1 -1

[BUTTON]
[SETUP] PAK_TOT_INC C_TYPE_NORMAL 274 309
[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL BID_NUM_RIGHT_OFF
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP
[HELPTEXT] HELP_INC_TIME
[CURSOR] CRSR_F16_ON
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 13
[USERDATA] 0 PAK_TOT_TIME
[USERDATA] 1 1

[BUTTON]
[SETUP] PAK_TOT_LOCK C_TYPE_TOGGLE 289 308
[IMAGES] LOCK_OFF LOCK_ON NULL NULL
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP
[CLUSTER] 13
[FLAGBITON] C_BIT_ABSOLUTE

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 120 300 185 25
[PERCENT] 10
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID 0
[XYWH] 120 300 185 25
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 255 255 255
[CLUSTER] 13


####Desired Time on station (unused)
#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_PATROL_TIME
#[XY] 100 340
#[FGCOLOR] 230 230 230
#[FONT] BANK_GOTHIC_20
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_LEFT
#[CLUSTER] 12

#[CLOCK]
#[SETUP] PAK_TOS_TIME 0
#[XY] 125 365
#[NORMCOLOR] 0 255 0 GREEN
#[SELCOLOR] 255 255 0 YELLOW
#[FONT] OCR_EXT_16
#[SEP1] TXT_CLOCK_HOUR_SEP
#[SEP2] TXT_CLOCK_MINUTE_SEP
#[FLAGBITON] C_BIT_ABSOLUTE
#[HELPTEXT] HELP_MISSION_TIME
#[CLUSTER] 12

#[BUTTON]
#[SETUP] PAK_TOS_DEC C_TYPE_NORMAL 261 369
#[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL BID_NUM_LEFT_OFF
#[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
#[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP
#[HELPTEXT] HELP_DEC_TIME
#[FLAGBITON] C_BIT_ABSOLUTE
#[CURSOR] CRSR_F16_ON
#[CLUSTER] 12
#[USERDATA] 0 PAK_TOS_TIME
#[USERDATA] 1 -1

#[BUTTON]
#[SETUP] PAK_TOS_INC C_TYPE_NORMAL 274 369
#[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL BID_NUM_RIGHT_OFF
#[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
#[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP
#[HELPTEXT] HELP_INC_TIME
#[CURSOR] CRSR_F16_ON
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 12
#[USERDATA] 0 PAK_TOS_TIME
#[USERDATA] 0 PAK_TAKEOFF_TIME
#[USERDATA] 1 1

#[FILL]
#[SETUP] NID C_TYPE_VERTICAL
#[XYWH] 120 360 185 25
#[PERCENT] 15
#[FLAGBITON] C_BIT_TRANSLUCENT
#[FLAGBITON] C_BIT_ABSOLUTE

#[BOX]
#[SETUP] NID 0
#[XYWH] 120 360 185 25
#[FLAGBITON] C_BIT_ABSOLUTE
#[COLOR] 255 255 255
#[CLUSTER] 12


###########################################

##################
#BUTTONS
##################

####ADD FLIGHT
[BUTTON]
[SETUP] ADD_PACKAGE_FLIGHT, C_TYPE_NORMAL, 160 410
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_BRIGHT, NULL, BTN_155_40_BRIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_NEW
[FONT] BANK_GOTHIC_20
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 3275
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_NEW

####EDIT FLIGHT (Unused)
#[BUTTON]
#[SETUP] EDIT_PACKAGE_FLIGHT, C_TYPE_NORMAL, 400 460
#[IMAGES] BTN_155_40_BRIGHT BTN_155_40_BRIGHT NULL, BTN_155_40_BRIGHT
#[FLAGBITON] C_BIT_ABSOLUTE
#[LABELALL] TXT_EDIT
#[FONT] BANK_GOTHIC_20
#[UPCOLOR] 191 191 191
#[DOWNCOLOR] 0 255 0 GREEN
#[DISCOLOR] 102 102 102
#[TEXTOFFSET] C_STATE_UP 0 -1
#[TEXTOFFSET] C_STATE_DOWN -1 0
#[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
#[GROUP] 3275
#[CURSOR] CRSR_F16_ON

####DELETE FLIGHT
[BUTTON]
[SETUP] DELETE_PACKAGE_FLIGHT, C_TYPE_NORMAL, 600 460
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_BRIGHT, NULL, BTN_155_40_BRIGHT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_DELETE
[FONT] BANK_GOTHIC_20
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_DELETE

####CANCEL / CLOSE BTN
[BUTTON]
[SETUP] CANCEL_PACK, C_TYPE_NORMAL, 740 2
[IMAGES] CLOSE_BTN, CLOSE_BTN, NULL, CLOSE_BTN
#[LABELALL] TXT_CANCEL
#[FONT] BANK_GOTHIC_20
#[UPCOLOR] 191 191 191
#[DOWNCOLOR] 0 255 0 GREEN
#[DISCOLOR] 102 102 102
#[TEXTOFFSET] C_STATE_UP 0 -1
#[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 3274
[CURSOR] CRSR_F16_ON
[FLAGBITON] C_BIT_ABSOLUTE

####OK
[BUTTON]
[SETUP] OK_PACK C_TYPE_NORMAL, 635 750
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_BRIGHT, NULL, BTN_155_40_BRIGHT
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_20
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 3274
[CURSOR] CRSR_F16_ON
[FLAGBITON] C_BIT_ABSOLUTE

####ABORT PACKAGE
[BUTTON]
[SETUP] ABORT_PACK C_TYPE_NORMAL, 45 750
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_BRIGHT, NULL, BTN_155_40_BRIGHT
[LABELALL] TXT_ABORT
[FONT] BANK_GOTHIC_20
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 3274
[CURSOR] CRSR_F16_ON
[FLAGBITON] C_BIT_ABSOLUTE


##################
#UNUSED
##################
#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_PACKAGE_START_DAY
#[XY] 213 318
#[FGCOLOR] 230 230 230
#[FONT] BANK_GOTHIC_16
#[FLAGBITON] C_BIT_RIGHT
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 10

#[BOX]
#[SETUP] NID 0
#[XYWH] 227 318 44 19
#[FLAGBITON] C_BIT_ABSOLUTE
#[COLOR] 65 128 173
#[CLUSTER] 10

#[EDITBOX]
#[SETUP] PACKAGE_DAY C_TYPE_INTEGER
#[XYWH] 231 318 40 19
#[FONT] OCR_EXT_16
#[MAXINTEGER] 50
#[MAXLEN] 3
#[INTEGER] 1
#[FGCOLOR] 0 255 0 GREEN
#[CLUSTER] 10
#[FLAGBITON] C_BIT_ABSOLUTE
#[CURSOR] CRSR_TEXT

#[BUTTON]
#[SETUP] PAK_DAY_DEC C_TYPE_NORMAL 323 49
#[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL BID_NUM_LEFT_OFF
#[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
#[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP
#[HELPTEXT] HELP_DEC_TIME
#[FLAGBITON] C_BIT_ABSOLUTE
#[CURSOR] CRSR_F16_ON
#[CLUSTER] 10

#[BUTTON]
#[SETUP] PAK_DAY_INC C_TYPE_NORMAL 336 49
#[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL BID_NUM_RIGHT_OFF
#[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
#[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP
#[HELPTEXT] HELP_INC_TIME
#[CURSOR] CRSR_F16_ON
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 10

#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_TIME
#[XY] 213 362
#[FGCOLOR] 65 128 173
#[FONT] BANK_GOTHIC_16
#[FLAGBITON] C_BIT_RIGHT
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 11
