#UI BMS 4.38 update, December 2023, by Kolbe

#End of TE window (Shows points if victory conditions are set)

#Determining which item to use:
#
#Only ONE team in mission:
#TAC_SUCCESS: player scores > Points for Victory
#TAC_FAILURE: player scores < Points for Victory
#
#More than one team in mission:
#TAC_DECISIVE_WIN: ONLY player's team scores > Points for Victory
#TAC_MARGINAL_WIN: More than one team scores > Points for Victory, player's team has most points
#TAC_DRAW: More than one team scores > Points for Victory, player's team is tied with highest score
#TAC_DEFEAT: Player's team scores: Points for Victory, but another team has higher score
#TAC_MAJOR_DEFEAT: Another team has scored > Points for Victory, player's team hasn't
#TAC_STALEMATE: No team scores > Points for Victory before time runs out.
#
#Cluster 100 = Win
#Cluster 200 = Lose
#Cluster 300 = tie (not set yet)

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] TAC_END_WIN C_TYPE_EXCLUSIVE 600 500
[XY] 220 150
[RANGES] 0 0 1920 1080 1920 1080
[FONT] OCR_EXT_16
[GROUP] 32019
[DRAGH] 47
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 300 175 273 305 3 "Teams"
#[CLIENTAREA] 2 2 316 22 1 "Titlebar"


##################
#BACKGROUND IMAGES
##################

[TILE]
[SETUP] NID 0 BG_MAIN_BRIGHT
[XYWH] 0 0 600 48
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[BITMAP]
#[SETUP] NID 0 POINTS
[SETUP] NID 0 BASEBG
[XY] 0 50
#[CLIENT] 1

#BGs based on result -> currently unused
[BITMAP]
[SETUP] NID 0 TAC_WIN_TGA
[XY] 5 28
[CLUSTER] 100
[FLAGBITON] C_BIT_INVISIBLE

[BITMAP]
[SETUP] NID 0 TAC_NOT_WIN_TGA
[XY] 5 28
[CLUSTER] 200
[FLAGBITON] C_BIT_INVISIBLE

[BITMAP]
[SETUP] NID 0 TAC_TIE_TGA
[XY] 5 28
[CLUSTER] 300


##################
#WINDOW BOXES
##################
[BOX]
[SETUP] NID,0
[XYWH] 0 0 599 499
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE 

[BOX]
[SETUP] NID,0
[XYWH] 1 1 597 497
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE 


##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 2 48 596 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

##################
#HEADER TEXT
##################
[LISTBOX]
[SETUP] TAC_WIN_TITLE 0
[XY] 300 24
#[XYWH] 4 0 300 24
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_26
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER
[ADDITEM] TAC_SUCCESS C_TYPE_ITEM TXT_SUCCESS
[ITEMUSERDATA] TAC_SUCCESS C_STATE_0 100
[ITEMUSERDATA] TAC_SUCCESS C_STATE_1 200
[ITEMUSERDATA] TAC_SUCCESS C_STATE_2 300
[ADDITEM] TAC_DECISIVE_WIN C_TYPE_ITEM TXT_DECISIVE_VICTORY
[ITEMUSERDATA] TAC_DECISIVE_WIN C_STATE_0 100
[ITEMUSERDATA] TAC_DECISIVE_WIN C_STATE_1 200
[ITEMUSERDATA] TAC_DECISIVE_WIN C_STATE_2 300
[ADDITEM] TAC_MARGINAL_WIN C_TYPE_ITEM TXT_VICTORY
[ITEMUSERDATA] TAC_MARGINAL_WIN C_STATE_0 100
[ITEMUSERDATA] TAC_MARGINAL_WIN C_STATE_1 200
[ITEMUSERDATA] TAC_MARGINAL_WIN C_STATE_2 300
[ADDITEM] TAC_DRAW C_TYPE_ITEM TXT_TIE
[ITEMUSERDATA] TAC_DRAW C_STATE_0 100
[ITEMUSERDATA] TAC_DRAW C_STATE_1 200
[ITEMUSERDATA] TAC_DRAW C_STATE_2 300
[ADDITEM] TAC_DEFEAT C_TYPE_ITEM TXT_DEFEAT
[ITEMUSERDATA] TAC_DEFEAT C_STATE_0 200
[ITEMUSERDATA] TAC_DEFEAT C_STATE_1 100
[ITEMUSERDATA] TAC_DEFEAT C_STATE_2 300
[ADDITEM] TAC_MAJOR_DEFEAT C_TYPE_ITEM TXT_MAJOR_DEFEAT
[ITEMUSERDATA] TAC_MAJOR_DEFEAT C_STATE_0 200
[ITEMUSERDATA] TAC_MAJOR_DEFEAT C_STATE_1 100
[ITEMUSERDATA] TAC_MAJOR_DEFEAT C_STATE_2 300
[ADDITEM] TAC_STALEMATE C_TYPE_ITEM TXT_STALEMATE
[ITEMUSERDATA] TAC_STALEMATE C_STATE_0 200
[ITEMUSERDATA] TAC_STALEMATE C_STATE_1 100
[ITEMUSERDATA] TAC_STALEMATE C_STATE_2 300
[ADDITEM] TAC_FAILURE C_TYPE_ITEM TXT_STALEMATE
[ITEMUSERDATA] TAC_FAILURE C_STATE_0 200
[ITEMUSERDATA] TAC_FAILURE C_STATE_1 100
[ITEMUSERDATA] TAC_FAILURE C_STATE_2 300
[FLAGBITOFF] C_BIT_ENABLED


##################
#CURRENTLY UNUSED
##################
#[BUTTON]
#[SETUP] RESTORE C_TYPE_NORMAL, 28 446
#[IMAGES] BID_COMMS_LARGE_UP, BID_COMMS_LARGE_DOWN, NULL, BID_DFILE_3R
#[LABELALL] TXT_RESTORE
#[FONT] BANK_GOTHIC_20
#[UPCOLOR] 191 191 191
#[DOWNCOLOR] 0 255 0 GREEN
#[DISCOLOR] 102 102 102
#[TEXTOFFSET] C_STATE_UP 0 -1
#[TEXTOFFSET] C_STATE_DOWN -1 0
#[GROUP] 32019
#[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
#[FLAGBITOFF] C_BIT_ENABLED

##################
#EXIT MISSION
##################
[BUTTON]
[SETUP] TAC_EXIT C_TYPE_NORMAL, 30 430
[IMAGES] BTN_190_40_BRIGHT, BTN_190_40_BRIGHT, NULL, BTN_190_40_BRIGHT
[LABELALL] TXT_EXIT_MISSION
[FONT] BANK_GOTHIC_20
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[GROUP] 3000
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN


##################
#EXIT BUTTON
##################
[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 540 2
[IMAGES] CLOSE_BTN CLOSE_BTN NULL CLOSE_BTN
[GROUP] 32019
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP


##################
#TIME LIMIT
##################
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_TIME_LIMIT
[XY] 445 61
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 455 61 118 20
[PERCENT] 10
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID 0
[XYWH] 455 61 118 20
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE

[CLOCK]
[SETUP] TIME_LIMIT 0
[XY] 457 63
[USEDAY]
[NORMCOLOR] 0 255 0 GREEN
[SELCOLOR] 255 255 0 YELLOW
[FONT] OCR_EXT_16
[SEP0] TXT_CLOCK_DAY_SEP
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[CLIENT] 1
[FLAGBITON] C_BIT_ABSOLUTE
[HELPTEXT] HELP_TIME_LIMIT


##################
#REQ PTS
##################
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_POINTS_REQ_VICTORY
[XY] 445 94
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 484 94 89 20
[PERCENT] 10
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE

[BOX] "Points Required box"
[SETUP] NID 0
[XYWH] 484 94 89 20
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE

[EDITBOX]
[SETUP] PTS_REQ_VICTORY C_TYPE_INTEGER
[XYWH] 486 96 85 18
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 7
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_TEXT
[FLAGBITOFF] C_BIT_ENABLED


##################
#RESULTS TABLE
##################
####Headlines & Box
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_TEAMS
#[XY] 0 70
[XY] 300 150
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_CURRENT_PTS
#[XY] 183 70
[XY] 483 150
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE

[BOX] "Team client"
[SETUP] NID 0
#[XYWH] 0 94 273 132
[XYWH] 300 171 273 305
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "Team Field divider"
[SETUP] NID 0
[XYWH] 476 171 1 305
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE

##################
#TEAMS
##################

#####Team 1
[BOX] "Team 1 color"
[SETUP] COLOR_1 0
[XYWH] 5 3 59 36
[COLOR] 0 185 255
[CLIENT] 3
[CLUSTER] 1

[LINE] "Team divider"
[SETUP] NID 0
[XYWH] 0 43 273 1
[CLIENT] 3
[COLOR] 255 255 255

[EDITBOX]
[SETUP] TEAM_01 C_TYPE_TEXT
[XYWH] 72 12 90 16
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 12
[STRING] TXT_TEAM_BLUE
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_SELECTABLE
[CLIENT] 3
[CURSOR] CRSR_TEXT
[CLUSTER] 1

[BITMAP]
[SETUP] FLAG_1
[XY] 8 6
[CLIENT] 3
[CLUSTER] 1

[EDITBOX]
[SETUP] CURRENT_PTS_01 C_TYPE_INTEGER
[XYWH] 200 12 90 16
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 12
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[CLIENT] 3
[CURSOR] CRSR_TEXT
[CLUSTER] 1


#####Team 2
[BOX] "Team 2 color"
[SETUP] COLOR_2 0
[XYWH] 5 46 59 36
[COLOR] 255 71 71
[CLIENT] 3
[CLUSTER] 2

[BOX] "Team divider"
[SETUP] NID 0
[XYWH] 0 86 273 0
[CLIENT] 3
[COLOR] 255 255 255
[CLUSTER] 1

[EDITBOX]
[SETUP] TEAM_02 C_TYPE_TEXT
[XYWH] 72 55 90 16
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 12
[STRING] TXT_TEAM_RED
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_SELECTABLE
[CLIENT] 3
[CURSOR] CRSR_TEXT
[CLUSTER] 2

[BITMAP]
[SETUP] FLAG_2
[XY] 8 49
[CLIENT] 3
[CLUSTER] 2

[EDITBOX]
[SETUP] CURRENT_PTS_02 C_TYPE_INTEGER
[XYWH] 200 55 90 16
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 12
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[CLIENT] 3
[CLUSTER] 2


#####Team 3
[LINE] "Team divider"
[SETUP] NID 0
[XYWH] 0 129 273 1
[CLIENT] 3
[COLOR] 255 255 255
[CLUSTER] 2

[BOX] "Team 3 color"
[SETUP] COLOR_3 0
[XYWH] 5 89 59 36
[COLOR] 28 239 0
[CLIENT] 3
[CLUSTER] 3

[EDITBOX]
[SETUP] TEAM_03 C_TYPE_TEXT
[XYWH] 72 98 90 16
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 12
[STRING] TXT_TEAM_GREEN
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_SELECTABLE
[CLIENT] 3
[CURSOR] CRSR_TEXT
[CLUSTER] 3

[BITMAP]
[SETUP] FLAG_3
[XY] 8 92
[CLIENT] 3
[CLUSTER] 3

[EDITBOX]
[SETUP] CURRENT_PTS_03 C_TYPE_INTEGER
[XYWH] 200 98 90 16
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 12
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[CLIENT] 3
[CURSOR] MOUSE_IBEAM
[CLUSTER] 3


#####Team 4
[LINE] "Team divider"
[SETUP] NID 0
[XYWH] 0 172 273 1
[CLIENT] 3
[COLOR] 255 255 255
[CLUSTER] 3

[BOX] "Team 4 color"
[SETUP] COLOR_4 0
[XYWH] 5 132 59 36
[COLOR] 255 168 0
[CLIENT] 3
[CLUSTER] 4

[EDITBOX]
[SETUP] TEAM_04 C_TYPE_TEXT
[XYWH] 72 141 90 16
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 12
[STRING] TXT_TEAM_ORANGE
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_SELECTABLE
[CLIENT] 3
[CURSOR] CRSR_TEXT
[CLUSTER] 4

[BITMAP]
[SETUP] FLAG_4
[XY] 8 135
[CLIENT] 3
[CLUSTER] 4

[EDITBOX]
[SETUP] CURRENT_PTS_04 C_TYPE_INTEGER
[XYWH] 200 141 90 16
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 12
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[CLIENT] 3
[CURSOR] MOUSE_IBEAM
[CLUSTER] 4


#####Team 5
[LINE] "Team divider"
[SETUP] NID 0
[XYWH] 0 215 273 1
[CLIENT] 3
[COLOR] 255 255 255
[CLUSTER] 4

[BOX] "Team 5 color"
[SETUP] COLOR_5 0
[XYWH] 5 175 59 36
[COLOR] 255 255 0 YELLOW
[CLIENT] 3
[CLUSTER] 5

[EDITBOX]
[SETUP] TEAM_05 C_TYPE_TEXT
[XYWH] 72 184 90 16
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 12
[STRING] TXT_TEAM_YELLOW
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_SELECTABLE
[CLIENT] 3
[CURSOR] CRSR_TEXT
[CLUSTER] 5

[BITMAP]
[SETUP] FLAG_5
[XY] 8 178
[CLIENT] 3
[CLUSTER] 5

[EDITBOX]
[SETUP] CURRENT_PTS_05 C_TYPE_INTEGER
[XYWH] 200 184 90 16
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 12
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[CLIENT] 3
[CURSOR] MOUSE_IBEAM
[CLUSTER] 5


#####Team 6
[LINE] "Team divider"
[SETUP] NID 0
[XYWH] 0 258 273 1
[CLIENT] 3
[COLOR] 255 255 255
[CLUSTER] 5

[BOX] "Team 6 color"
[SETUP] COLOR_6 0
[XYWH] 5 218 59 36
[COLOR] 255 10 255
[CLIENT] 3
[CLUSTER] 6

[EDITBOX]
[SETUP] TEAM_06 C_TYPE_TEXT
[XYWH] 72 227 90 16
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 12
[STRING] TXT_TEAM_PINK
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_SELECTABLE
[CLIENT] 3
[CLUSTER] 6
[CURSOR] CRSR_TEXT

[BITMAP]
[SETUP] FLAG_6
[XY] 8 221
[CLIENT] 3
[CLUSTER] 6

[EDITBOX]
[SETUP] CURRENT_PTS_06 C_TYPE_INTEGER
[XYWH] 200 227 90 16
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 12
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[CLIENT] 3
[CLUSTER] 6
[CURSOR] MOUSE_IBEAM


#####Team 7
[BOX] "Team 7 color"
[SETUP] COLOR_7 0
[XYWH] 5 261 59 36
[COLOR] 222 188 222
[CLIENT] 3
[CLUSTER] 7

[LINE] "Team divider"
[SETUP] NID 0
[XYWH] 0 301 273 1
[CLIENT] 3
[COLOR] 255 255 255
[CLUSTER] 7

[EDITBOX]
[SETUP] TEAM_07 C_TYPE_TEXT
[XYWH] 72 270 90 16
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 12
[STRING] TXT_TEAM_GREY
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_SELECTABLE
[CLIENT] 3
[CLUSTER] 7
[CURSOR] CRSR_TEXT

[BITMAP]
[SETUP] FLAG_7
[XY] 8 264
[CLIENT] 3
[CLUSTER] 7

[EDITBOX]
[SETUP] CURRENT_PTS_07 C_TYPE_INTEGER
[XYWH] 200 270 90 16
#[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[MAXLEN] 12
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[CLIENT] 3
[CLUSTER] 7
[CURSOR] MOUSE_IBEAM


##################
#SCROLLBAR
##################
[SCROLLBAR] "Team scroll"
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 294 94 13 132
[CLIENT] 3
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 42