#UI BMS 4.38 update, December 2023, by Kolbe

#Apperently unused?

#UI BMS4, created by Revientor and Naldo (2009)
#Right-click on the TE map, and you get this window.

[POPUPMENU]
[SETUP] TAC_POP C_TYPE_EXCLUSIVE POP_SUBMENU BID_DROPORB
[NORMCOLOR] 230 230 230
[SELCOLOR] 230 230 230
[DISCOLOR] 100 100 100
[BARCOLOR] 0
[BGCOLOR] 49 49 49
[BORDERCOLOR] 0
[OPAQUE] 85
[FONT] OCR_EXT_12

[ADDITEM] MID_RECON C_TYPE_ITEM TXT_RECON 0
[ADDITEM] MID_ADD_FLIGHT C_TYPE_ITEM TXT_ADD_FLIGHT
[ADDITEM] MID_ADD_PACKAGE C_TYPE_ITEM TXT_ADD_PACKAGE 0
[ADDITEM] MID_ADD_BATTALION C_TYPE_ITEM TXT_ADD_BATTALION 0
[ADDITEM] MID_ADD_NAVAL_UNIT C_TYPE_ITEM TXT_ADD_TASK_FORCE 0
[ADDITEM] MID_SEP_1 C_TYPE_NOTHING TXT_SPACE 0
[ADDITEM] MID_LEG_INSTALLATIONS C_TYPE_MENU TXT_INSTALLATIONS 0
[ADDITEM] MID_LEG_AIR C_TYPE_MENU TXT_AIRUNITS 0
[ADDITEM] MID_LEG_UNIT C_TYPE_MENU TXT_GROUNDUNITS 0
[ADDITEM] MID_SHOW_PACKAGES C_TYPE_TOGGLE TXT_SHOW_PACKAGES 0
[ADDITEM] MID_SHOW_VC C_TYPE_TOGGLE TXT_SHOW_VC 0
[ADDITEM] MID_LEG_NAMES C_TYPE_TOGGLE TXT_NAMES 0
[ADDITEM] MID_LEG_CIRCLES C_TYPE_TOGGLE TXT_THREATCIRCLES 0
[ADDITEM] MID_LEG_BULLSEYE C_TYPE_TOGGLE TXT_BULLSEYE 0
[ADDITEM] MID_LEG_DOGHOUSE C_TYPE_TOGGLE TXT_DOGHOUSE 0

[ADDITEM] MID_LEG_FILTER C_TYPE_MENU TXT_FILTERING MID_LEG_INSTALLATIONS
[ADDITEM] MID_FILT_LOW C_TYPE_RADIO TXT_LOW MID_LEG_FILTER
[RADIOGROUP] MID_FILT_LOW 45
[STATE] MID_FILT_LOW 1
[ADDITEM] MID_FILT_MEDIUM C_TYPE_RADIO TXT_MEDIUM MID_LEG_FILTER
[RADIOGROUP] MID_FILT_MEDIUM 45
[ADDITEM] MID_FILT_HIGH C_TYPE_RADIO TXT_HIGH MID_LEG_FILTER
[RADIOGROUP] MID_FILT_HIGH 45

[ADDITEM] MID_INST_AF C_TYPE_TOGGLE TXT_AIRFIELDS MID_LEG_INSTALLATIONS
[STATE] MID_INST_AF 1
[ADDITEM] MID_INST_AD C_TYPE_TOGGLE TXT_AIRDEFENSES MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_ARMY C_TYPE_TOGGLE TXT_ARMY MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_CCC C_TYPE_TOGGLE TXT_CCC MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_POLITICAL C_TYPE_TOGGLE TXT_POLITICAL MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_INFRA C_TYPE_TOGGLE TXT_INFRASTRUCTURE MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_LOG C_TYPE_TOGGLE TXT_LOGISTICS MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_WARPROD C_TYPE_TOGGLE TXT_WARPRODUCTION MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_NAV C_TYPE_TOGGLE TXT_NAVBEACON MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_OTHER C_TYPE_TOGGLE TXT_OTHER MID_LEG_INSTALLATIONS

[ADDITEM] MID_UNITS_COMBAT C_TYPE_TOGGLE TXT_COMBAT MID_LEG_UNIT
[STATE] MID_UNITS_COMBAT 1
[ADDITEM] MID_UNITS_AD C_TYPE_TOGGLE TXT_AIRDEFENSE MID_LEG_UNIT
[STATE] MID_UNITS_AD 1
[ADDITEM] MID_UNITS_ARTILLERY C_TYPE_TOGGLE TXT_ARTILLERY MID_LEG_UNIT
[STATE] MID_UNITS_ARTILLERY 1
[ADDITEM] MID_UNITS_SUPPORT C_TYPE_TOGGLE TXT_SUPPORT MID_LEG_UNIT
[STATE] MID_UNITS_SUPPORT 1

[ADDITEM] MID_SQUADRONS C_TYPE_TOGGLE TXT_SQUADRONS MID_LEG_AIR
[STATE] MID_SQUADRONS 1
[ADDITEM] MID_UNITS_SQUAD_FIGHTER C_TYPE_TOGGLE TXT_FIGTHER MID_LEG_AIR
[STATE] MID_UNITS_SQUAD_FIGHTER 1
#[ADDITEM] MID_UNITS_SQUAD_FIGHTBOMB C_TYPE_TOGGLE TXT_FGTRBMBR MID_LEG_AIR"
[ADDITEM] MID_UNITS_SQUAD_ATTACK C_TYPE_TOGGLE TXT_ATTACK MID_LEG_AIR
[STATE] MID_UNITS_SQUAD_ATTACK 1
[ADDITEM] MID_UNITS_SQUAD_BOMBER C_TYPE_TOGGLE TXT_BOMBER MID_LEG_AIR
[STATE] MID_UNITS_SQUAD_BOMBER 1
[ADDITEM] MID_UNITS_SQUAD_SUPPORT C_TYPE_TOGGLE TXT_SUPPORT MID_LEG_AIR
[STATE] MID_UNITS_SQUAD_SUPPORT 1
[ADDITEM] MID_UNITS_SQUAD_HELI C_TYPE_TOGGLE TXT_HELICOPTER MID_LEG_AIR
[STATE] MID_UNITS_SQUAD_HELI 1
[ADDITEM] MID_UNITS_SQUAD_UNKNOWN C_TYPE_TOGGLE TXT_UNKNOWN MID_LEG_AIR
[STATE] MID_UNITS_SQUAD_UNKNOWN 1
