#UI BMS 4.38 update, February 2024, by Kolbe 

#Not Used, Toolbar to be changed in Cp_Tool
#This controls the toolbar at the bottom of the campaign screen after you are in the campaign module.


[WINDOW]
[SETUP] CP_MISSION_TOOLBAR C_TYPE_NORMAL 518 74
[RANGES] 0 0 1024 768 518 74
[XY] 154 526
[GROUP] 6100
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 19 39 518
[PERCENT] 30
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] CAMP_OOB_BUTTON, C_TYPE_NORMAL, 168 10
[IMAGES] OOB_UP, OOB_DOWN, NULL, OOB_DISABLED
[BUTTONANIM] C_STATE_MOUSE OOB_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 7009
[CLUSTER] 2
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] ATO_BUTTON C_TYPE_NORMAL 207 1
[IMAGES] ATO_UP ATO_DOWN NULL ATO_DISABLED
[BUTTONANIM] C_STATE_MOUSE ATO_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7001
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] BRIEF_BUTTON C_TYPE_NORMAL 290 1
[IMAGES] BRIEFING_UP BRIEFING_DOWN NULL BRIEFING_DISABLED
[BUTTONANIM] C_STATE_MOUSE BRIEF_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7000
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] MUNITIONS_BUTTON C_TYPE_NORMAL 121 1
[IMAGES] SQUAD_UP SQUAD_DOWN NULL SQUAD_DISABLED
[BUTTONANIM] C_STATE_MOUSE SQUAD_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7005
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] FLIGHT_PLAN_BUTTON C_TYPE_NORMAL 351 1
[IMAGES] FLIGHTPLAN_UP FLIGHTPLAN_DOWN NULL FLIGHTPLAN_DISABLED
[BUTTONANIM] C_STATE_MOUSE FLTPLAN_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7003
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] CAMP_HISTORY_BUTTON, C_TYPE_NORMAL, 74 3
[IMAGES] HISTORY_UP, HISTORY_DOWN, NULL, HISTORY_DISABLED
[BUTTONANIM] C_STATE_MOUSE HISTORY_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[GROUP] 6203
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CLUSTER] 2
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] FORCE_LEVELS_BUTTON, C_TYPE_NORMAL, 333 0
[IMAGES] FORCE_UP, FORCE_DOWN, NULL, FORCE_DISABLED
[BUTTONANIM] C_STATE_MOUSE FORCEL_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6205
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CLUSTER] 2
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] SQUADRON_BUTTON, C_TYPE_NORMAL, 466 1
[IMAGES] SQUAD_UP, SQUAD_DOWN, NULL, SQUAD_DISABLED
[BUTTONANIM] C_STATE_MOUSE SQUAD_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7005
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[CLUSTER] 2
[FLAGBITON] C_BIT_INVISIBLE
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] CAMP_ACMI_CTRL,C_TYPE_NORMAL,0,0
[XYWH] 438 2 83 69
[IMAGES] BID_ACMI_UP BID_ACMI_DOWN NULL NULL
[BUTTONANIM] C_STATE_MOUSE ACMI_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[GROUP] 200000
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] SINGLE_FLY_CTRL C_TYPE_NORMAL
[XY] 513 1
[BUTTONIMAGE] C_STATE_0 BID_FLY_UP
[BUTTONIMAGE] C_STATE_1 BID_FLY_DOWN
[BUTTONIMAGE] C_STATE_DISABLED BID_3FLY_DIS
[BUTTONANIM] C_STATE_MOUSE SINGLE_FLY_ANIM C_TYPE_LOOP 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[SOUNDBITE] FLY_USED C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] COMMS_FLY_CTRL C_TYPE_NORMAL
[XY] 513 1
[BUTTONIMAGE] C_STATE_0 BID_3FLY_UP
[BUTTONIMAGE] C_STATE_1 BID_3FLY_DOWN
[BUTTONIMAGE] C_STATE_DISABLED BID_3FLY_DIS
[BUTTONANIM] C_STATE_MOUSE MULTI_FLY_ANIM C_TYPE_PINGPONG 1
[FLAGBITOFF] C_BIT_MOUSEOVER
[SOUNDBITE] FLY_USED C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON
