#UI BMS 4.38 update, April 2023, by Kolbe

#This is the Main Menu in the TE Editor Window.

#It contains:
#- TE Builder
#- Victory Conditions
#- Teams
#- Save
#- Restore
#- Tact. Reference
#- Exit

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] TAC_EDIT_SCREEN C_TYPE_EXCLUSIVE 1920 1080
[XY] 0 0
[RANGES] 0 0 1920 1080 1920 1080
[GROUP] 3900
[FLAGBITON] C_BIT_CANTMOVE
[DEPTH] 3


[TILE]
[SETUP] NID 0 BG_MAIN_BRIGHT
[XYWH] 0 0 1920 48
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[BITMAP]
[SETUP] NID C_STATE_DOWN BG_TE_BUILDER
[XY] 0 47

##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 0 47 1920 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#TE BUILDER BTN 
##################
[BUTTON]
[SETUP] BUILDER_MAIN_CTRL C_TYPE_NORMAL 25 4
[BUTTONIMAGE] C_STATE_0 BTN_190_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_190_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_190_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_190_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TE_BUILDER
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 230 230 230
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 3200
[SOUNDBITE] SND_GAMES, C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON
[USERDATA] 100 1
[USERDATA] 101 2
[USERDATA] 102 3
[USERDATA] 103 4
[USERDATA] 104 5
[USERDATA] 105 6


##################
#VC BTN 
##################
[BUTTON]
[SETUP] VC_MAIN_CTRL C_TYPE_NORMAL 215 4
[BUTTONIMAGE] C_STATE_0 BTN_270_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_270_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_270_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_270_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_VC
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 230 230 230
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 3400
[SOUNDBITE] SND_GAMES, C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON
[USERDATA] 100 2
[USERDATA] 101 5
[USERDATA] 200 1
[USERDATA] 201 3
[USERDATA] 202 4
[USERDATA] 203 6


##################
#TEAMS BTN 
##################
[BUTTON]
[SETUP] TEAMS_MAIN_CTRL C_TYPE_NORMAL 485 4
[BUTTONIMAGE] C_STATE_0 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_130_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TEAMS
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 230 230 230
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 3800
[SOUNDBITE] SND_GAMES, C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON
[USERDATA] 100 5
[USERDATA] 200 1
[USERDATA] 201 2
[USERDATA] 202 3
[USERDATA] 203 4
[USERDATA] 204 6


##################
#V SEPERATOR LINE
##################

[LINE]
[SETUP] NID 0
[XYWH] 644 4 2 44
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230


##################
#SAVE BTN 
##################
[BUTTON]
[SETUP] TAC_SAVE_CTRL C_TYPE_NORMAL 675 4
[BUTTONIMAGE] C_STATE_0 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_130_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_130_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SAVE
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 230 230 230
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON
[GROUP] 2021


##################
#RESTORE BTN 
##################
[BUTTON]
[SETUP] TAC_RESTORE_CTRL C_TYPE_NORMAL 805 4
[BUTTONIMAGE] C_STATE_0 BTN_155_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_155_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_155_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_155_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_RESTORE
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 230 230 230
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON
[GROUP] 2022


##################
#V SEPERATOR LINE
##################

[LINE]
[SETUP] NID 0
[XYWH] 989 4 2 44
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230


##################
#TAC REF BTN 
##################
[BUTTON]
[SETUP] TACREF_CTRL C_TYPE_NORMAL 1020 4
[BUTTONIMAGE] C_STATE_0 BTN_300_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_300_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_300_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_300_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TACREF_LOWERCASE
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 230 230 230
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 10000
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON


##################
#V SEPERATOR LINE
##################

[LINE]
[SETUP] NID 0
[XYWH] 1349 4 2 44
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230


##################
#EXIT BTN 
##################
[BUTTON]
[SETUP] TAC_EXIT C_TYPE_NORMAL 1870 2
[BUTTONIMAGE] C_STATE_0 CLOSE_BTN
[BUTTONIMAGE] C_STATE_1 CLOSE_BTN
[BUTTONIMAGE] C_STATE_2 CLOSE_BTN
[BUTTONIMAGE] C_STATE_3 CLOSE_BTN
[SOUNDBITE] SND_EXIT_GAME C_TYPE_LMOUSEDOWN
[GROUP] 3900
[CURSOR] CRSR_F16_ON


##################
#CURRENTLY UNUSED
##################
#[BUTTON]
#[SETUP] ACMI_CTRL C_TYPE_NORMAL 921 23
#[HOTSPOT] 0 0 0
#[BUTTONIMAGE] C_STATE_0 ACMI_LABEL_WH
#[BUTTONIMAGE] C_STATE_1 ACMI_LABEL_WH
#[BUTTONIMAGE] C_STATE_2 ACMI_LABEL_BLU
#[BUTTONIMAGE] C_STATE_3 ACMI_LABEL_BLU
#[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
#[FLAGBITON] C_BIT_VCENTER
#[GROUP] 200000
#[CURSOR] CRSR_F16_ON

[BUTTON]
#[SETUP] LB_MAIN_CTRL C_TYPE_NORMAL 1015 23
#[HOTSPOT] 0 0 0
#[BUTTONIMAGE] C_STATE_0 MBUIL_LOGBOOK
#[BUTTONIMAGE] C_STATE_1 MBUIL_LOGBOOK
#[BUTTONIMAGE] C_STATE_2 MBUIL_LOGBOOK
#[BUTTONIMAGE] C_STATE_3 MBUIL_LOGBOOK
#[GROUP] 5000
#[FLAGBITON] C_BIT_VCENTER
#[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
#[CURSOR] CRSR_F16_ON

# [BUTTON]
# [SETUP] CO_MAIN_CTRL C_TYPE_NORMAL 1591 23
# #[HOTSPOT] 0 0 0
# [BUTTONIMAGE] C_STATE_0 MBUIL_COMM
# [BUTTONIMAGE] C_STATE_1 MBUIL_COMM
# #[BUTTONIMAGE] C_STATE_2 MBUIL_COMM
# #[BUTTONIMAGE] C_STATE_3 MBUIL_COMM
# [GROUP] 6000
# [SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
# [FLAGBITON] C_BIT_VCENTER
# [USERDATA] C_STATE_0 6000
# [USERDATA] C_STATE_1 6001
# [CURSOR] CRSR_F16_ON

#[BUTTON]
#[SETUP] SP_MAIN_CTRL C_TYPE_NORMAL 1513 23
#[HOTSPOT] -5 -5 5 5
#[BUTTONIMAGE] C_STATE_0 MBUIL_SETUP
#[BUTTONIMAGE] C_STATE_1 MBUIL_SETUP
#[BUTTONIMAGE] C_STATE_2 MBUIL_SETUP
#[BUTTONIMAGE] C_STATE_3 MBUIL_SETUP
#[FLAGBITON] C_BIT_VCENTER
#[GROUP] 8000
#[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
#[CURSOR] CRSR_F16_ON