#UI BMS 4.38 update, December 2023, by Kolbe

#This is the toolbar at the bottom of the TE Editor Window.

#It contains:
#- Briefing
#- Flight Plan
#- ATO
#- Loadout
#- OOB
#- VC

#currently unused - Replayced by toolbar (left side) in Tac_Eair.

[WINDOW]
[SETUP] TAC_EDIT_TOOLBAR C_TYPE_NORMAL 0 0
[RANGES] 0 0 0 0 0 0
[XY] 0 560
[GROUP] 3900
[FLAGBITON] C_BIT_CANTMOVE
[DEPTH] 4

[BUTTON]
[SETUP] BRIEF_BUTTON C_TYPE_NORMAL 7 107
[IMAGES] FMAP_REV_BRIEFING FMAP_REV_BRIEFING_PSH NULL FMAP_REV_BRIEFING
#[IMAGES] BRIEFING_UP BRIEFING_DOWN NULL BRIEFING_DISABLED
#[BUTTONANIM] C_STATE_MOUSE BRIEF_ANIM C_TYPE_PINGPONG 1
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7000
#[SOUNDBITE] SND_ICON_BRIEF C_TYPE_LMOUSEDOWN
#[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
#[FLAGBITOFF] C_BIT_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_BRIEF_ICON

[BUTTON]
[SETUP] ATO_BUTTON C_TYPE_NORMAL 7 175
[IMAGES] FMAP_REV_ATO FMAP_REV_ATO_PSH NULL FMAP_REV_ATO
#[IMAGES] ATO_UP ATO_DOWN NULL ATO_DISABLED
#[BUTTONANIM] C_STATE_MOUSE ATO_ANIM C_TYPE_PINGPONG 1
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7001
#[SOUNDBITE] SND_ICON_ATO C_TYPE_LMOUSEDOWN
#[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
#[FLAGBITOFF] C_BIT_MOUSEOVER
[HELPTEXT] HELP_ATO_ICON

[BUTTON]
[SETUP] FLIGHT_PLAN_BUTTON C_TYPE_NORMAL 7 73
[IMAGES] FMAP_REV_PLAN FMAP_REV_PLAN_PSH NULL FMAP_REV_PLAN
#[IMAGES] FLIGHTPLAN_UP FLIGHTPLAN_DOWN NULL FLIGHTPLAN_DISABLED
#[BUTTONANIM] C_STATE_MOUSE FLTPLAN_ANIM C_TYPE_PINGPONG 1
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7003
#[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
#[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
#[FLAGBITOFF] C_BIT_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLIGHT_PLAN_ICON

[BUTTON]
[SETUP] MUNITIONS_BUTTON C_TYPE_NORMAL 7 39
[IMAGES] FMAP_REV_SQUAD FMAP_REV_SQUAD_PSH NULL FMAP_REV_SQUAD
#[IMAGES] SQUAD_UP SQUAD_DOWN NULL SQUAD_DISABLED
#[BUTTONANIM] C_STATE_MOUSE SQUAD_ANIM C_TYPE_PINGPONG 1
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 7005
#[SOUNDBITE] SND_OVER_MUNITIONS C_TYPE_LMOUSEDOWN
#[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
#[FLAGBITOFF] C_BIT_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_MUNITIONS_ICON

[BUTTON]
[SETUP] OOB_BUTTON, C_TYPE_NORMAL, 7 141
[IMAGES] FMAP_REV_OOB, FMAP_REV_OOB_PSH, NULL, FMAP_REV_OOB
#[IMAGES] OOB_UP, OOB_DOWN, NULL, OOB_DISABLED
#[BUTTONANIM] C_STATE_MOUSE OOB_ANIM C_TYPE_PINGPONG 1
[FLAGBITON] C_BIT_ABSOLUTE
#[SOUNDBITE] SND_ICON_OOB C_TYPE_LMOUSEDOWN
#[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[GROUP] 7009
#[FLAGBITOFF] C_BIT_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_OOB_ICON

#[BUTTON]
#[SETUP] VC_BUTTON, C_TYPE_NORMAL, 174 3
#[IMAGES] HISTORY_UP, HISTORY_DOWN, NULL, HISTORY_DISABLED
#[BUTTONANIM] C_STATE_MOUSE HISTORY_ANIM C_TYPE_PINGPONG 1
#[GROUP] 3400
#[FLAGBITON] C_BIT_ABSOLUTE
#[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
#[FLAGBITOFF] C_BIT_MOUSEOVER
#[CURSOR] CRSR_F16_ON
#[CLUSTER] 6
#[HELPTEXT] HELP_VICTORY_CONDITIONS"