#UI BMS 4.38 update, December 2023, by Kolbe

#Shows the ADD FLIGHT window in TE Editor and TE PLay.

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] TAC_FLIGHT_WIN C_TYPE_EXCLUSIVE 600 500
[XY] "centralized" 
[RANGES] 0 0 1920 1080 1920 1080
#[CLIENTAREA] 16 36 400 225 2 "List box text clipper"
[CLIENTAREA] 46 86 500 425 2 "List box text clipper"
[GROUP] 3275
[DRAGH] 47
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 412 22 1 "Titlebar"

##################
#BACKGROUND IMAGES
##################

[TILE]
[SETUP] NID 0 BG_MAIN_BRIGHT
[XYWH] 0 0 600 48
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TILE]
[SETUP] NID 0 BG_ADD_FLIGHT
[XYWH] 0 50 600 450
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL


##################
#WINDOW BOXES
##################
[BOX]
[SETUP] NID,0
[XYWH] 0 0 599 499
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE 

[BOX]
[SETUP] NID,0
[XYWH] 1 1 597 497
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE 


##################
#HEADER TEXT
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ADD_FLIGHT_UC
[XY] 300 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER

##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 2 48 596 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

###########################################

##################
#DROPDOWN LISTS
##################

####AIRCRAFT
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AIRCRAFT
[XY] 115 0
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[CLIENT] 2
[FLAGBITON] C_BIT_RIGHT

[LINE]
[SETUP] NID 0
[XYWH] 119 0 390 19
[COLOR] 130 130 130
[CLIENT] 2

[LISTBOX]
[SETUP] TAC_AIRCRAFT_TYPE 0
[XYWH] 119 0 384 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[SCROLLITEMCOUNT] 40
[DROPDOWN] BID_DROPDOWN_WHITE
#[BGIMAGE] ADDFLYLIST1
[CLIENT] 2
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16




####ROLE
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_ROLE
[XY] 115 25
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[CLIENT] 2
[FLAGBITON] C_BIT_RIGHT

[LINE]
[SETUP] NID 0
[XYWH] 119 27 390 19
[COLOR] 130 130 130
[CLIENT] 2

[LISTBOX]
[SETUP] TAC_ROLE 0
[SORTED] 1
[XYWH] 119 27 384 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[SCROLLITEMCOUNT] 40
[DROPDOWN] BID_DROPDOWN_WHITE
#[BGIMAGE] ADDFLYLIST2
[CLIENT] 2
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16


####FLIGHT SIZE
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SIZE
[XY] 115 50
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[CLIENT] 2
[FLAGBITON] C_BIT_RIGHT

[LINE]
[SETUP] NID 0
[XYWH] 119 52 390 19
[COLOR] 130 130 130
[CLIENT] 2

[LISTBOX]
[SETUP] TAC_FLIGHT_SIZE 0
[XYWH] 119 52 384 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[DROPDOWN] BID_DROPDOWN_WHITE
#[BGIMAGE] ADDFLYLIST3
[CLIENT] 2
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16
[ADDITEM] 1 C_TYPE_ITEM TXT_ONE
[ADDITEM] 2 C_TYPE_ITEM TXT_TWO
[ADDITEM] 3 C_TYPE_ITEM TXT_THREE
[ADDITEM] 4 C_TYPE_ITEM TXT_FOUR
[VALUE] 2


####SQUADRON LIST
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SQUADRON
[XY] 115 75
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[CLIENT] 2
[FLAGBITON] C_BIT_RIGHT

[LINE]
[SETUP] NID 0
[XYWH] 119 77 390 19
[COLOR] 130 130 130
[CLIENT] 2

[LISTBOX]
[SETUP] TAC_SQUADRON_LIST 0
[XYWH] 119 77 384 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[SCROLLITEMCOUNT] 40
[DROPDOWN] BID_DROPDOWN_WHITE
#[BGIMAGE] ADDFLYLIST4
[CLIENT] 2
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16


#####AIRBASE LIST
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AIRBASE
[XY] 115 100
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[CLIENT] 2
[FLAGBITON] C_BIT_RIGHT

[LINE]
[SETUP] NID 0
[XYWH] 119 102 390 19
[COLOR] 130 130 130
[CLIENT] 2

[LISTBOX]
[SETUP] TAC_AIRBASE_LIST 0
[SORTED] 0 # Biker r13105 30/08/2020: Removed automatic sorting from the TAC_AIRBASE_LIST, this will be done in code, so we have first air bases, then airstrips, carriers and finally army bases.
[XYWH] 119 102 384 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[SCROLLITEMCOUNT] 40
[DROPDOWN] BID_DROPDOWN_WHITE
#[BGIMAGE] ADDFLYLIST5
[CLIENT] 2
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16


####TARGET LIST
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_TARGET
[XY] 115 125
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[CLIENT] 2
[FLAGBITON] C_BIT_RIGHT

[LINE]
[SETUP] NID 0
[XYWH] 119 127 390 19
[COLOR] 130 130 130
[CLIENT] 2

[LISTBOX]
[SETUP] TARGET_LIST 0
[XYWH] 119 127 384 20
[SORTED] 1
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[SCROLLITEMCOUNT] 40
[CLIENT] 2
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16


#####PILOT SKILL
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SKILL
[XY] 115 150
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[CLIENT] 2
[FLAGBITON] C_BIT_RIGHT

[LINE]
[SETUP] NID 0
[XYWH] 119 152 390 19
[COLOR] 130 130 130
[CLIENT] 2

[LISTBOX]
[SETUP] PILOT_SKILL 0
[XYWH] 119 152 384 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
#[BGIMAGE] ADDFLYLIST7
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CLIENT] 2
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16
[ADDITEM] C_STATE_5 C_TYPE_ITEM TXT_ACE
[ADDITEM] C_STATE_4 C_TYPE_ITEM TXT_VETERAN
[ADDITEM] C_STATE_3 C_TYPE_ITEM TXT_ROOKIE
[ADDITEM] C_STATE_2 C_TYPE_ITEM TXT_CADET
[ADDITEM] C_STATE_1 C_TYPE_ITEM TXT_RECRUIT


####START AT
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_START_AT
[XY] 115 175
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[CLIENT] 2
[FLAGBITON] C_BIT_RIGHT

[LINE]
[SETUP] NID 0
[XYWH] 119 177 390 19
[COLOR] 130 130 130
[CLIENT] 2

[LISTBOX]
[SETUP] START_AT_LIST 0
[XYWH] 119 177 384 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
#[BGIMAGE] ADDFLYLIST8
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[CLIENT] 2
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16
[ADDITEM] C_STATE_1 C_TYPE_ITEM TXT_TAKEOFF
[ADDITEM] C_STATE_2 C_TYPE_ITEM TXT_ENROUTE
[ADDITEM] C_STATE_3 C_TYPE_ITEM TXT_INGRESS
[ADDITEM] C_STATE_4 C_TYPE_ITEM TXT_TARGET


###########################################

##################
#CURRENTLY UNUSED
##################

#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_APPEARS
#[XY] 100 176
#[FGCOLOR] 230 230 230
#[FONT] BANK_GOTHIC_20
#[CLIENT] 2
#[FLAGBITON] C_BIT_RIGHT

#[LINE]
#[SETUP] NID 0
#[XYWH] 104 176 187 16
#[COLOR] 16 24 41
#[CLIENT] 2

#[LISTBOX] NEED EXE EDIT
#[SETUP] APPEAR_PERCENTAGE 0
#[XYWH] 104 176 187 15
#[NORMCOLOR] 230 230 230
#[SELCOLOR] 0 255 0 GREEN
#[FONT] OCR_EXT_16
#[DROPDOWN] BID_DROPDOWN_WHITE
#[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
#[CLIENT] 2
#[SOUNDBITE] SND_MENU C_STATE_DOWN
#[CURSOR] CRSR_LIST_F16
#[ADDITEM] C_STATE_1 C_TYPE_ITEM TXT_ALWAYS
#[ADDITEM] C_STATE_2 C_TYPE_ITEM TXT_75PERCENT
#[ADDITEM] C_STATE_3 C_TYPE_ITEM TXT_50PERCENT
#[ADDITEM] C_STATE_4 C_TYPE_ITEM TXT_25PERCENT
#[ADDITEM] C_STATE_5 C_TYPE_ITEM TXT_5PERCENT

#[BUTTON] NEED EXE EDIT
#[SETUP] AI_ONLY_FLAG, C_TYPE_TOGGLE 140 203
#[IMAGES] BID_CHK1_OFF BID_CHK1_ON NULL NULL
#[SOUNDBITE] SND_RADIO C_STATE_DOWN
#[FONT] HAETTEN_16
#[CLIENT] 2
#[FLAGBITON] C_BIT_LEFT
#[LABELALL] TXT_AI_ONLY
#[TEXTCOLOR] C_STATE_0 65 128 173
#[TEXTCOLOR] C_STATE_1 65 128 173
#[TEXTCOLOR] C_STATE_DISABLED 65 65 65
#[TEXTOFFSET] C_STATE_0 -50 0
#[TEXTOFFSET] C_STATE_1 -50 0
#[TEXTOFFSET] C_STATE_DISABLED -50 0
#[CURSOR] CRSR_F16_ON


###########################################

##################
#EXIT BUTTON
##################
[BUTTON]
[SETUP] CANCEL_FLIGHT, C_TYPE_NORMAL, 540 2
[IMAGES] CLOSE_BTN, CLOSE_BTN, NULL, CLOSE_BTN
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 3275
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_ESCAPE

##################
#OK BUTTON
##################
[BUTTON]
[SETUP] OK_FLIGHT C_TYPE_NORMAL, 435 450
[IMAGES] BTN_155_40_BRIGHT, BTN_155_40_BRIGHT, NULL, BTN_155_40_BRIGHT
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 3275
[CURSOR] CRSR_F16_ON
