#UI BMS 4.38 update, February 2023, by Kolbe

#This is the Instand Action Debriefing window
#It contains
#- Header
#- Exit button
#- Background image
#- Seperator Lines
#- Event, Kills, Used Wpns, Bonus, Score sections


##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] IA_DBRF_WIN C_TYPE_EXCLUSIVE 900 900
[XY] "centralized"
#[RANGES] 0 0 1920 1080 900 900
[CLIENTAREA] 35 100 400 780 1 "events"
[CLIENTAREA] 465 100 400 340 2 "hits"
[CLIENTAREA] 465 510 400 220 3 "weapons fired"
[CLIENTAREA] 2 2 890 46 4 "title"
[GROUP] 1100
[DRAGH] 47
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT

##################
#BACKGROUND IMAGE
##################
[BITMAP]
[SETUP] NID C_STATE_DOWN BG_INSTANT_ACTION_DEBRIEFING

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 0 0 900 47
[PERCENT] 30
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_TRANSLUCENT

##################
#HEADER TEXT
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_DEBRIEF_TITLE
[XY] 450 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER


##################
#EXIT BUTTON
##################
[BUTTON]
[SETUP] CLOSE_WINDOW,C_TYPE_NORMAL,837 4
[IMAGES] CLOSE_BTN CLOSE_BTN NULL NULL
[GROUP] 1100
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON


##################
#HEADER LINE
##################
[LINE]
[SETUP] NID 0
[XYWH] 0 48 900 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

##################
#WIN BOXES
##################
[BOX]
[SETUP] NID,0
[XYWH] 0 0 899 899
[COLOR] 255 255 255

[BOX]
[SETUP] NID,0
[XYWH] 1 1 897 897
[COLOR] 255 255 255

##################
#EVENTS SECTION
##################
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_EVENTS_COLON
[XY] 25 65
[FGCOLOR] 255,255,255 WHITE
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 30 100 405 780
[PERCENT] 30
[COLOR]	75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[SCROLLBAR]
[SETUP] NID,C_TYPE_VERTICAL
[XYWH] 435 100 13 780
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 1
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 16

##################
#V SEPERATOR LINE
##################
[LINE]
[SETUP] NID 0
[XYWH] 450 60 1 830
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230 GREY


##################
#KILLS SECTION
##################
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_KILLS_COLON
[XY] 475 65
[FGCOLOR] 255,255,255 WHITE
#[FONT] BANK_GOTHIC_20
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 465 100 400 340
[PERCENT] 30
[COLOR]	75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[SCROLLBAR]
[SETUP] NID,C_TYPE_VERTICAL
[XYWH] 412 77 13 134
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 2
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON

##################
#H RESULTS LINE
##################
[LINE]
[SETUP] NID 0
[XYWH] 460 453 430 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230 GREY


##################
#USED WPNS SECTION
##################
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_WEAPONS_RELEASED_COLON
[XY] 475 470
[FGCOLOR] 255,255,255 WHITE
#[FONT] BANK_GOTHIC_20
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 465 510 400 220
[PERCENT] 30
[COLOR]	75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[SCROLLBAR]
[SETUP] NID, C_TYPE_VERTICAL
[XYWH] 407 218 13 74
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 3
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON

##################
#H BONUS LINE
##################
[LINE]
[SETUP] NID 0
[XYWH] 460 735 430 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230 GREY


##################
#BONUS HEADER
##################
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_BONUS_COLON
[XYWH] 740 750 54 15
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT
[FONT] BANK_GOTHIC_24
[FGCOLOR] 255 255 255 WHITE

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 760 750 105 50
[COLOR]	75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

##################
#BONUS
##################
[TEXT]
[SETUP] IA_DBRF_BONUS_FIELD C_TYPE_RIGHT
[SETTEXT] TXT_ZERO
[XY] 850 750
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] HAETTEN_24
[FLAGBITON] C_BIT_RIGHT
[FGCOLOR] 0 255 0 GREEN GREEN


##################
#REALISM HEADER
##################
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_REALISM_MULTIPLIER_COLON
[XY] 740 775
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_RIGHT
[FGCOLOR] 255 255 255 WHITE

##################
#REALISM
##################
[TEXT]
[SETUP] REALISM_MULTIPLIER C_TYPE_RIGHT
[SETTEXT] TXT_ZERO
[XY] 850 775
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] HAETTEN_24
[FLAGBITON] C_BIT_RIGHT
[FGCOLOR] 0 255 0 GREEN GREEN


##################
#H SCORE LINE
##################
[LINE]
[SETUP] NID 0
[XYWH] 460 820 430 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230 GREY


##################
#SCORE HEADER
##################
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_SCORE_COLON
[XY] 475 850
[FGCOLOR] 255,255,255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_24

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 760 846 105 30
[COLOR]	75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

##################
#SCORE
##################
[TEXT]
[SETUP] IA_DBRF_SCORE_FIELD C_TYPE_RIGHT
[SETTEXT] TXT_ZERO
[XY] 850 846
[FGCOLOR] 0,255,0 GREEN
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT
[FONT] HAETTEN_24