#UI BMS 4.38 update, February 2023, by Kolbe

#This is the Instand Action Highscore Window
#It contains
#- Header
#- Exit button
#- Background image
#- IA Score


##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] IA_HS_WIN C_TYPE_EXCLUSIVE 300 200
[XY] "centralized"
#[RANGES] 0 0 1024 768 280 169
[GROUP] 1200
[DRAGH] 47
[FLAGBITON] C_BIT_DRAGABLE
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 250 44 1 "Titlebar"
[CLIENTAREA] 20 140 260 30 2


##################
#BACKGROUND IMAGE
##################
[TILE]
[SETUP] NID 0 BASEBG
[XYWH] 0 0 1660 1023
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 0 300 47
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE


##################
#HEADER TEXT
##################
[TEXT]
[SETUP] NID C_TYPE_CENTER
[SETTEXT] TXT_IA_HISCORE
[XY] 10 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_VCENTER


##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 0 48 1660 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#WIN BOXES
##################
[BOX]
[SETUP] NID,0
[XYWH] 0 0 299 199
[COLOR] 255 255 255

[BOX]
[SETUP] NID,0
[XYWH] 1 1 297 197
[COLOR] 255 255 255


##################
#SCORE HEADER
##################
[TEXT]
[SETUP] NID,NULL
[SETTEXT] TXT_SCORE_COLON
[RECT] 0 0 0 0
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_24
[ID] IA_HS_LABEL
[XY] 145 80
[FLAGBITON] C_BIT_RIGHT


##################
#SCORE
##################
[TEXT]
[SETUP] IA_HS_FIELD,C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY,NULL
[RECT] 0 0 0 0
[FGCOLOR] 0 255 0 GREEN
[BGCOLOR] 0 0 0
[FONT] HAETTEN_24
[ID] IA_HS_FIELD
[XY] 155, 78
[FLAGBITON] C_BIT_LEFT


##################
#PILOT CALLSIGN BOX
##################
[BOX]
[SETUP] NID 0
[XYWH] 10 130 280 50
[COLOR] 230 230 230


##################
#PILOT CALLSIGN EDIT
##################
[EDITBOX]
[SETUP] IA_HS_NAME_EDIT,C_TYPE_TEXT
[XYWH] 0 0 242 30
[MAXLEN] 19
[FONT] BANK_GOTHIC_24
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[BGCOLOR] 0 63 30 DARK GREEN
[FLAGBITON] C_BIT_VCENTER
[CURSOR] CRSR_TEXT
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[CLIENT] 2


##################
#EXIT BUTTON
##################
[BUTTON]
[SETUP] CLOSE_WINDOW,C_TYPE_NORMAL,250,4
[IMAGES] CLOSE_BTN CLOSE_BTN NULL NULL
[ID] CLOSE_WINDOW
[TYPE] C_TYPE_NORMAL
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[GROUP] 1200
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_CLOSE
