#UI BMS 4.38 update, February 2023, by Kolbe

#This is the Instand Action Sierra Hotel part
#It contains
#- Sierra Hotel header
#- 12 High Score rows: Pilot Name - Score


##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] IA_SH_WIN C_TYPE_NORMAL 344 350
[XY] 1360 165
#[RANGES] 0 0 1024 768 344 271
[GROUP] 1000
[FLAGBITON] C_BIT_CANTMOVE
#[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE
[CLIENTAREA] 8 0 321 350 1
[DEPTH] 1

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 0 344 34
[COLOR] 107 132 140
[FLAGBITON] C_BIT_ABSOLUTE

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 34 344 350
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE


##################
#SIERRA HOTEL HEADER
##################
[TEXT] 
[SETUP] NID, 0
[SETTEXT] TXT_SIERRAHOTEL
[XY] 0 0
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_24


##################
#HEADER LINE
##################
[LINE]
[SETUP] NID 0
[XYWH] 0 32 344 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230 GREY


##################
#1ST LINE (PILOT NAME - SCORE)
##################
[TEXT] 
[SETUP] TEXT_1, C_TYPE_RIGHT
[FIXEDWIDTH] 40
[SETTEXT] TXT_SPACE
[XY] 182 50
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 1

[TEXT] 
[SETUP] TEXT_2, C_TYPE_RIGHT
[FIXEDWIDTH] 15
[SETTEXT] TXT_SPACE
[XY] 312 50
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT


##################
#2ND LINE (PILOT NAME - SCORE)
##################
[TEXT] 
[SETUP] TEXT_3, C_TYPE_RIGHT
[FIXEDWIDTH] 40
[SETTEXT] TXT_SPACE
[XY] 182 75
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 1

[TEXT] 
[SETUP] TEXT_4, C_TYPE_RIGHT
[FIXEDWIDTH] 15
[SETTEXT] TXT_SPACE
[XY] 312 75
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT


##################
#3RD LINE (PILOT NAME - SCORE)
##################
[TEXT] 
[SETUP] TEXT_5, C_TYPE_RIGHT
[FIXEDWIDTH] 40
[SETTEXT] TXT_SPACE
[XY] 182 100
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 1

[TEXT] 
[SETUP] TEXT_6, C_TYPE_RIGHT
[FIXEDWIDTH] 15
[SETTEXT] TXT_SPACE
[XY] 312 100
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT


##################
#4TH LINE (PILOT NAME - SCORE)
##################
[TEXT] 
[SETUP] TEXT_7, C_TYPE_RIGHT
[FIXEDWIDTH] 40
[SETTEXT] TXT_SPACE
[XY] 182 125
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 1

[TEXT] 
[SETUP] TEXT_8, C_TYPE_RIGHT
[FIXEDWIDTH] 15
[SETTEXT] TXT_SPACE
[XY] 312 125
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT


##################
#5TH LINE (PILOT NAME - SCORE)
##################
[TEXT] 
[SETUP] TEXT_9, C_TYPE_RIGHT
[FIXEDWIDTH] 40
[SETTEXT] TXT_SPACE
[XY] 182 150
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 1

[TEXT] 
[SETUP] TEXT_10, C_TYPE_RIGHT
[FIXEDWIDTH] 15
[SETTEXT] TXT_SPACE
[XY] 312 150
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT


##################
#6TH LINE (PILOT NAME - SCORE)
##################
[TEXT] 
[SETUP] TEXT_11, C_TYPE_RIGHT
[FIXEDWIDTH] 40
[SETTEXT] TXT_SPACE
[XY] 182 175
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 1

[TEXT] 
[SETUP] TEXT_12, C_TYPE_RIGHT
[FIXEDWIDTH] 15
[SETTEXT] TXT_SPACE
[XY] 312 175
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT


##################
#7TH LINE (PILOT NAME - SCORE)
##################
[TEXT] 
[SETUP] TEXT_13, C_TYPE_RIGHT
[FIXEDWIDTH] 40
[SETTEXT] TXT_SPACE
[XY] 182 200
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 1

[TEXT] 
[SETUP] TEXT_14, C_TYPE_RIGHT
[FIXEDWIDTH] 15
[SETTEXT] TXT_SPACE
[XY] 312 200
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT


##################
#8TH LINE (PILOT NAME - SCORE)
##################
[TEXT] 
[SETUP] TEXT_15, C_TYPE_RIGHT
[FIXEDWIDTH] 40
[SETTEXT] TXT_SPACE
[XY] 182 225
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 1

[TEXT] 
[SETUP] TEXT_16, C_TYPE_RIGHT
[FIXEDWIDTH] 15
[SETTEXT] TXT_SPACE
[XY] 312 225
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT


##################
#9TH LINE (PILOT NAME - SCORE)
##################
[TEXT] 
[SETUP] TEXT_17, C_TYPE_RIGHT
[FIXEDWIDTH] 40
[SETTEXT] TXT_SPACE
[XY] 182 250
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 1

[TEXT] 
[SETUP] TEXT_18, C_TYPE_RIGHT
[FIXEDWIDTH] 15
[SETTEXT] TXT_SPACE
[XY] 312 250
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT


##################
#10TH LINE (PILOT NAME - SCORE)
##################
[TEXT] 
[SETUP] TEXT_19, C_TYPE_RIGHT
[FIXEDWIDTH] 40
[SETTEXT] TXT_SPACE
[XY] 182 275
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 1

[TEXT] 
[SETUP] TEXT_20, C_TYPE_RIGHT
[FIXEDWIDTH] 15
[SETTEXT] TXT_SPACE
[XY] 312 275
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT


##################
#11TH LINE (PILOT NAME - SCORE)
##################
[TEXT] 
[SETUP] TEXT_21, C_TYPE_RIGHT
[FIXEDWIDTH] 40
[SETTEXT] TXT_SPACE
[XY] 182 300
[FGCOLOR] 200 240 250 
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 1

[TEXT] 
[SETUP] TEXT_22, C_TYPE_RIGHT
[FIXEDWIDTH] 15
[SETTEXT] TXT_SPACE
[XY] 312 300
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT


##################
#12TH LINE (PILOT NAME - SCORE)
##################
[TEXT] 
[SETUP] TEXT_23, C_TYPE_RIGHT
[FIXEDWIDTH] 40
[SETTEXT] TXT_SPACE
[XY] 182 325
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 1

[TEXT] 
[SETUP] TEXT_24, C_TYPE_RIGHT
[FIXEDWIDTH] 15
[SETTEXT] TXT_SPACE
[XY] 312 325
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT


[TEXT] 
[SETUP] TEXT_24, C_TYPE_RIGHT
[FIXEDWIDTH] 40
[SETTEXT] TXT_SPACE
[XY] 182 350
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 1

[TEXT] 
[SETUP] TEXT_25, C_TYPE_RIGHT
[FIXEDWIDTH] 15
[SETTEXT] TXT_SPACE
[XY] 312 350
[FGCOLOR] 200 240 250 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_RIGHT