#UI BMS 4.38 update, February 2023, by Kolbe

#This is the Instand Action Setting part
#It contains
#- Mission type settings
#- AI Level
#- Air defense settings


##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] IA_SETTINGS_WIN C_TYPE_NORMAL 300 500
[XY] 320 165
#[RANGES] 0 0 1024 768 268 375
[GROUP] 1000
[FLAGBITON] C_BIT_CANTMOVE
# [FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE
[DEPTH] 1


##################
#MISSION HEADER
##################
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_MISSION
[XY] 9 0
[FGCOLOR] 230 230 230 WHITE
[FONT] BANK_GOTHIC_24


##################
#FIGHTERSWEEP
##################
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_FIGHTERSWEEP
[XY] 37,26
[FGCOLOR] 200 240 250 BLUE
[FONT] BANK_GOTHIC_20

[LINE] NID SWEEP H
[SETUP] NID,0
[XYWH] 37,48,194,1
[COLOR] 230 230 230 BLUE

[LINE] NID SWEEP V
[SETUP] NID,0
[XYWH] 230,40,1,8
[COLOR] 230 230 230 BLUE

[BUTTON]
[SETUP] IA_MIS_FTR_CTRL, C_TYPE_RADIO,214,27
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[GROUP] 1000
[SOUNDBITE] A_A_USED C_STATE_DOWN
[CURSOR] CRSR_F16_ON


##################
#MOVING MUD
##################
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_MOVINGMUD
[XY] 37,58
[FGCOLOR] 200 240 250 BLUE
[FONT] BANK_GOTHIC_20

[LINE] MUD H
[SETUP] NID,0
[XYWH] 37,80,194,1
[COLOR] 230 230 230 BLUE

[LINE] MUD V
[SETUP] NID,0
[XYWH] 230,72,1,8
[COLOR] 230 230 230 BLUE

[BUTTON]
[SETUP] IA_MIS_MUD_CTRL, C_TYPE_RADIO,214,59
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[GROUP] 1000
[SOUNDBITE] A_G_USED C_STATE_DOWN
[CURSOR] CRSR_F16_ON


##################
#WAVE HEADER
##################
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_WAVE
[FGCOLOR] 230 230 230 WHITE
[XY] 9 120
[FONT] BANK_GOTHIC_24


##################
#RECRUIT
##################
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_RECRUIT
[XY] 37,146
[FGCOLOR] 200 240 250 
[FONT] BANK_GOTHIC_20

[LINE]
[SETUP] NID,0
[XYWH] 37,168,194,1
[COLOR] 230 230 230 BLUE

[LINE]
[SETUP] NID,0
[XYWH] 230,160,1,8
[COLOR] 230 230 230 BLUE

[BUTTON]
[SETUP] IA_LVL_NOVICE_CTRL, C_TYPE_RADIO,214,147
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[GROUP] 2000
[STATE] 1
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[CURSOR] CRSR_F16_ON


##################
#CADET
##################
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_CADET
[XY] 37,178
[FGCOLOR] 200 240 250 BLUE
[FONT] BANK_GOTHIC_20

[LINE]
[SETUP] NID,0
[XYWH] 37,200,194,1
[COLOR] 230 230 230 BLUE

[LINE]
[SETUP] NID,0
[XYWH] 230,192,1,8
[COLOR] 230 230 230 BLUE

[BUTTON]
[SETUP] IA_LVL_CADET_CTRL, C_TYPE_RADIO,214,179
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[GROUP] 2000
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[CURSOR] CRSR_F16_ON


##################
#ROOKIE
##################
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_ROOKIE
[XY] 37,210
[FGCOLOR] 200 240 250 BLUE
[FONT] BANK_GOTHIC_20

[LINE]
[SETUP] NID,0
[XYWH] 37,232,194,1
[COLOR] 230 230 230 BLUE

[LINE]
[SETUP] NID,0
[XYWH] 230,224,1,8
[COLOR] 230 230 230 BLUE

[BUTTON]
[SETUP] IA_LVL_ROOKIE_CTRL, C_TYPE_RADIO,214,211
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[GROUP] 2000
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[CURSOR] CRSR_F16_ON


##################
#VETERAN
##################
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_VETERAN
[XY] 37,242
[FGCOLOR] 200 240 250 BLUE
[FONT] BANK_GOTHIC_20

[LINE]
[SETUP] NID,0
[XYWH] 37,264,194,1
[COLOR] 230 230 230 BLUE

[LINE]
[SETUP] NID,0
[XYWH] 230,256,1,8
[COLOR] 230 230 230 BLUE

[BUTTON]
[SETUP] IA_LVL_VETERAN_CTRL, C_TYPE_RADIO,214,243
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[GROUP] 2000
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[CURSOR] CRSR_F16_ON


##################
#ACE
##################
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_ACE
[XY] 37,274
[FGCOLOR] 200 240 250 BLUE
[FONT] BANK_GOTHIC_20

[LINE]
[SETUP] NID,0
[XYWH] 37,296,194,1
[COLOR] 230 230 230 BLUE

[LINE]
[SETUP] NID,0
[XYWH] 230,288,1,8
[COLOR] 230 230 230 BLUE

[BUTTON]
[SETUP] IA_LVL_ACE_CTRL, C_TYPE_RADIO,214,275
[IMAGES] BID_CHK2_OFF,BID_CHK2_ON,NULL,NULL
[GROUP] 2000
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[CURSOR] CRSR_F16_ON


##################
#AIRDEFENSES HEADER
##################
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_AIRDEFENSES
[FGCOLOR] 230 230 230 WHITE
[XY] 9 336
[FONT] BANK_GOTHIC_24


##################
#SAMS
##################
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_SAMS
[XY] 37,362
[FGCOLOR] 200 240 250 BLUE
[FONT] BANK_GOTHIC_20

[LINE]
[SETUP] NID,0
[XYWH] 37,384,194,1
[COLOR] 230 230 230 BLUE

[LINE]
[SETUP] NID,0
[XYWH] 230,376,1,8
[COLOR] 230 230 230 BLUE

[BUTTON]
[SETUP] IA_AD_SAMS_CTRL, C_TYPE_TOGGLE,214,363
[IMAGES] BID_CHK2_OFF,BID_ORANGE_CHK2_ON,NULL,NULL
[STATE] 1
[GROUP] 3000
[SOUNDBITE] SND_SAMS_ON C_STATE_DOWN
[CURSOR] CRSR_F16_ON


##################
#AAA
##################
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_AAA
[XY] 37,394
[FGCOLOR] 200 240 250 BLUE
[FONT] BANK_GOTHIC_20

[LINE]
[SETUP] NID,0
[XYWH] 37,416,194,1
[COLOR] 230 230 230 BLUE

[LINE]
[SETUP] NID,0
[XYWH] 230,408,1,8
[COLOR] 230 230 230 BLUE

[BUTTON]
[SETUP] IA_AD_AAA_CTRL, C_TYPE_TOGGLE,214,395
[IMAGES] BID_CHK2_OFF,BID_ORANGE_CHK2_ON,NULL,NULL
[STATE] 1
[GROUP] 3001
[SOUNDBITE] SND_AAA_ON C_STATE_DOWN
[CURSOR] CRSR_F16_ON


