#UI BMS4, created by Revientor and Naldo (2009)
#Debriefing text from Instant Action flights
#Instant Action-> Debriefing-> Negative score

IA1 IAD3E#Buffoonery is never a pretty sight when associated with flying.
IA1 IAD2E#Not everyone is cut out to be a fighter jock.
IA1 IAD1E#That was quite a Charlie Foxtrot.
#Instant Action-> Debriefing-> Low score
IA2 IAD5E#That was a real goat rope.
IA2 IAD4E#You know, the airlines are hiring.
#Instant Action-> Debriefing-> Medium score
IA3 IAD7E#Not too bad.
IA3 IAD6E#Hey, you might just be getting the hang of this.
#Instant Action-> Debriefing-> Excellent score
IA4 IAD8E#Nice shootin', Tex.
#Instant Action-> Debriefing-> Top 12-8
IA5 IAD9E#He shoots, he scores.
#Instant Action-> Debriefing-> Top 7-3
IA6 IAD12E#A good fighter jock has one outstanding trait - aggressiveness - and boy do you got it.
IA6 IAD11E#Alright, you made the grade.
IA6 IAD10E#Sierra Hotel.
#Instant Action-> Debriefing-> Second best
IA7 IAD13E#Always a bridesmaid, never a bride.
#Instant Action-> Debriefing-> High score
IA8 IAD15E#The undisputed ace of the base.
IA8 IAD14E#Fight to fly, fly to fight, and fight to win.