#UI BMS 4.38 update, April 2023, by Kolbe

#This is the Dogfight Debriefing window
#It contains
#- Header
#- Exit button
#- Background image
#- Seperator Lines
#- Event, Pilot, Team and Furball Score sections


##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] DF_DBRF_WIN C_TYPE_EXCLUSIVE 850 570
[XY] "centralized"
#[RANGES] 0 0 1920 1080 636 337
[CLIENTAREA] 24 90 450 445 1 "Actions"
[CLIENTAREA] 540 90 250 100 2 "Teams Score"
[CLIENTAREA] 540 225 250 310 3 "Pilot Scores"
[CLIENTAREA] 540 90 250 450 4 "Furball Score"
[CLIENTAREA] 2 2 482 22 5 "TitleStrip"
[GROUP] 2100
[DRAGH] 47
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_DRAGABLE
#[FLAGBITON] C_BIT_TRANSLUCENT


##################
#BACKGROUND IMAGE
##################
[BITMAP]
[SETUP] NID C_STATE_DOWN BG_DOGFIGHT_DEBRIEFING

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 0 0 850 47
#[PERCENT] 30
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

##################
#HEADER TEXT
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_DEBRIEF_TITLE
[XY] 450 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER


##################
#EXIT BUTTON
##################
[BUTTON]
[SETUP] DF_CLOSE_WINDOW,C_TYPE_NORMAL,790 4
[IMAGES] CLOSE_BTN CLOSE_BTN NULL NULL
[GROUP] 2100
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON


##################
#HEADER LINE
##################
[LINE]
[SETUP] NID 0
[XYWH] 0 48 850 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

##################
#WIN BOXES
##################
[BOX]
[SETUP] NID,0
[XYWH] 0 0 849 569
[COLOR] 255 255 255

[BOX]
[SETUP] NID,0
[XYWH] 1 1 847 567
[COLOR] 255 255 255

##################
#V SEPERATOR LINE
##################
[LINE]
[SETUP] NID 0
[XYWH] 500 60 1 500
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230 GREY


##################
#EVENTS SECTION
##################
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_EVENTS_COLON
[XYWH] 25 55 169 11
[FGCOLOR] 255 255 255 WHITE
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 19 85 460 455
[PERCENT] 30
[COLOR] 107 132 140
[FLAGBITON] C_BIT_ABSOLUTE

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 460 90 13 445
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL_WHITE
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 1
[INCREMENT] 16
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON


##################
#TEAM SCORE / FURBALL
##################
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_SCORE_COLON
[XY] 540 55
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_24
[CLUSTER] 200

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 535 85 260 455
[PERCENT] 30
[COLOR] 107 132 140
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_TEAM_SCORE_COLON
[XY] 540 55
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_24
[CLUSTER] 100

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 535 85 260 100
[PERCENT] 30
[COLOR] 107 132 140
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 100

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 825 90 13 450
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL_WHITE
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 4
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 16


##################
#PILOT SCORE SECTION
##################
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_PILOTSCORES_COLON
[XY] 540 195
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_24
[CLUSTER] 100

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 535 220 260 320
[COLOR] 107 132 140
[FLAGBITON] C_BIT_ABSOLUTE 
#[FLAGBITON] C_BIT_TRANSLUCENT
[CLUSTER] 100

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 825 225 13 310
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL_WHITE
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 3
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 16

