#UI BMS 4.38 update, March 2023, by Kolbe

#This is the Dogfight Main window setup
#It contains
#- Header
#- Exit button
#- Background image
#- Main Menu buttons


##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] DGFT_MAIN_SCREEN C_TYPE_EXCLUSIVE 1920 1080
[XY] 0 0
#[RANGES] 260 0 1920 1080 1920 1080
[GROUP] 2020
[FLAGBITON] C_BIT_CANTMOVE
[DEPTH] 2


##################
#BACKGROUND IMAGE
##################

[TILE]
[SETUP] NID 0 BG_DOGFIGHT_PLAY
[XYWH] 0 0 1920 1080
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 0 0 1920 47
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

##################
#BACKGROUND SET
##################
[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 70 90 524 710
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE


##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 0 48 1920 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#MAIN MENU BUTTONS 
##################

###SAVE
[BUTTON]
[SETUP] DGFT_SAVE_CTRL C_TYPE_NORMAL 25 4
[BUTTONIMAGE] C_STATE_0 BTN_155_40_DARK
[BUTTONIMAGE] C_STATE_1 BTN_155_40_DARK
[BUTTONIMAGE] C_STATE_2 BTN_155_40_DARK
[BUTTONIMAGE] C_STATE_3 BTN_155_40_DARK
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SAVE
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[GROUP] 2021

###LOGBOOK
[BUTTON]
[SETUP] LB_MAIN_CTRL C_TYPE_NORMAL 205 4
[BUTTONIMAGE] C_STATE_0 BTN_155_40_DARK
[BUTTONIMAGE] C_STATE_1 BTN_155_40_DARK
[BUTTONIMAGE] C_STATE_2 BTN_155_40_DARK
[BUTTONIMAGE] C_STATE_3 BTN_155_40_DARK
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_LOWERCASE_LOGBOOK
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 5000
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON

###ACMI
[BUTTON]
[SETUP] ACMI_CTRL C_TYPE_NORMAL 385 4
[BUTTONIMAGE] C_STATE_0 BTN_155_40_DARK
[BUTTONIMAGE] C_STATE_1 BTN_155_40_DARK
[BUTTONIMAGE] C_STATE_2 BTN_155_40_DARK
[BUTTONIMAGE] C_STATE_3 BTN_155_40_DARK
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_ACMI_TITLE
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[GROUP] 200000
[CURSOR] CRSR_F16_ON

###TACREF
[BUTTON]
[SETUP] TACREF_CTRL C_TYPE_NORMAL 565 4
[BUTTONIMAGE] C_STATE_0 BTN_270_40_DARK
[BUTTONIMAGE] C_STATE_1 BTN_270_40_DARK
[BUTTONIMAGE] C_STATE_2 BTN_270_40_DARK
[BUTTONIMAGE] C_STATE_3 BTN_270_40_DARK
[GROUP] 10000
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TACREF_LOWERCASE
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON

#MULTIPLAYER
[BUTTON]
[SETUP] CO_MAIN_CTRL C_TYPE_NORMAL 860 4
[BUTTONIMAGE] C_STATE_0 BTN_190_40_DARK
[BUTTONIMAGE] C_STATE_1 BTN_190_40_DARK
[BUTTONIMAGE] C_STATE_2 BTN_190_40_DARK
[BUTTONIMAGE] C_STATE_3 BTN_190_40_DARK
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_MULTIPLAYER
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 6000
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[USERDATA] C_STATE_0 6000
[USERDATA] C_STATE_1 6001
[CURSOR] CRSR_F16_ON

###SETUP
[BUTTON]
[SETUP] SP_MAIN_CTRL C_TYPE_NORMAL 1074 4
[BUTTONIMAGE] C_STATE_0 BTN_155_40_DARK
[BUTTONIMAGE] C_STATE_1 BTN_155_40_DARK
[BUTTONIMAGE] C_STATE_2 BTN_155_40_DARK
[BUTTONIMAGE] C_STATE_3 BTN_155_40_DARK
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_GRAPHICS_ADVANCED_SETUP
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 8000
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON

#EXIT
[BUTTON]
[SETUP] DGFT_EXIT_CTRL C_TYPE_NORMAL 1860 2
[BUTTONIMAGE] C_STATE_0 CLOSE_BTN
[BUTTONIMAGE] C_STATE_1 CLOSE_BTN
[BUTTONIMAGE] C_STATE_2 CLOSE_BTN
[BUTTONIMAGE] C_STATE_3 CLOSE_BTN
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[FLAGBITON] C_BIT_ABSOLUTE
[TEXTCOLOR] 0 191 201 202
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 2020
[CURSOR] CRSR_F16_ON

