#UI BMS 4.38 update, March 2023, by Kolbe

#This is the Instand Action Header
#It contains
#- Header
#- Exit button
#- Background image
#- Seperator Line (vertical between settings -> Sierra Hotel)


[WINDOW]
[SETUP] COMMLINK_WIN C_TYPE_EXCLUSIVE 640 400
[XY] "centralized"
[RANGES] 0 0 1024 768 640 400
[CLIENTAREA] 175 105 290 140 1
[FONT] OCR_EXT_14
[GROUP] 19600
[DRAGH] 47
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 636 45 2 "Titlebar"


##################
#BACKGROUND IMAGES
##################
[TILE]
[SETUP] NID 0 BG_COMMLINK
[XYWH] 0 0 1660 1023
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 0 0 1660 47
[PERCENT] 15
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_TRANSLUCENT


##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 0 48 640 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#WIN BOXES
##################
[BOX]
[SETUP] NID,0
[XYWH] 0 0 639 399
[COLOR] 255 255 255

[BOX]
[SETUP] NID,0
[XYWH] 1 1 637 397
[COLOR] 255 255 255


##################
#HEADER TEXT
##################
[TEXT]
[SETUP] TITLE_LABEL C_TYPE_CENTER
[XY] 320 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[BGCOLOR] 0 63 30 
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER


##################
#COMMLINK MESSAGE
##################
[TEXT]
[SETUP] COMMLINK_MESSAGE C_TYPE_LEFT
[XY] 145 70
[W] 280
[CLIENT] 1
[FGCOLOR] 230 230 230 
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_WORDWRAP
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER

##################
#CANCEL BUTTON
##################
[BUTTON]
[SETUP] ALERT_CANCEL, C_TYPE_NORMAL, 450 320
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, BTN_155_40_DARK
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_24
[UPCOLOR] 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[FLAGBITOFF C_BIT_ENABLED
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_RETURN
[GROUP] 19600


##################
#EXIT BUTTON - hidden
##################
#by purpose outside the window to allow Esc key
#to work w/o displaying the CLOSE_BTN
[BUTTON]
[SETUP] CLOSE_WINDOW C_TYPE_NORMAL 680 2
[IMAGES] CLOSE_BTN CLOSE_BTN NULL NULL
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[GROUP] 19600
[CURSOR] CRSR_F16_ON
[FLAGBITON] C_BIT_ABSOLUTE