#UI BMS 4.38 update, February 2023, by Kolbe

#This is the Exit Screen
#It contains
#- Credits
#- Exit / Back Buttons
#- Scrollbar
#

##################
#MAIN WINDOW SETUP
##################
[WINDOW]
[SETUP] EXIT_WIN C_TYPE_EXCLUSIVE 1920 1080
[XY] 0 0
[RANGES] 0 0 1920 1080 1920 1080
[CLIENTAREA] 755 0 410 1080 1
[FONT] OCR_EXT_14
[GROUP] 19500
[CLIENTAREA] 755 0 410 1080 2 "Titlebar"

##################
#BACKGROUND IMAGE
##################
[BITMAP]
[SETUP] NID 0 EXIT_BACKGROUND
[XY] 0 0
[FLAGBITON] C_BIT_ABSOLUTE


##################
#OK BUTTON
##################
[BUTTON]
[SETUP] ALERT_OK C_TYPE_NORMAL, 286 64
[XY] 0 928
[IMAGES] EXIT_OK_BTN, EXIT_OK_BTN, NULL, EXIT_OK_BTN
[LABELALL] TXT_EXIT
[FONT] OCR_A_56
[TEXTCOLOR] 0 255 0
[TEXTOFFSET] C_STATE_UP 50 0
[TEXTOFFSET] C_STATE_DOWN 50 0
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEDOWN
[GROUP] 19500
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_FILE C_STATE_DOWN
[HOTKEY] DIK_RETURN


##################
#BACK BUTTON
##################
[BUTTON]
[SETUP] ALERT_CANCEL, C_TYPE_NORMAL, 286 64
[XY] 0 998
[IMAGES] EXIT_BACK_BTN, EXIT_BACK_BTN, NULL, EXIT_BACK_BTN
[FLAGBITON] C_BIT_LEFT
[LABELALL] TXT_BACK
[FONT] OCR_A_56
[TEXTCOLOR] 152 152 152
[TEXTOFFSET] C_STATE_UP 50 0
[TEXTOFFSET] C_STATE_DOWN 50 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 19500
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_FILE C_STATE_DOWN
[HOTKEY] DIK_ESCAPE


##################
#SCROLLBAR
##################
[SCROLLBAR]
[SETUP] NID,C_TYPE_VERTICAL
[XYWH] 1 0 15 1080
[CLIENT] 1
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 100
[SLIDERIMAGE] BID_SCROLL2
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 32 32 32
[FLAGBITON] C_BIT_INVISIBLE
[INCREMENT] 12
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON