#UI BMS4 - Used for General Information to Player

[WINDOW]
[SETUP] INFO_POPUP C_TYPE_EXCLUSIVE 300 200
[XY] "centralized" 
[RANGES] 0 0 1024 768 300 200
[FONT] OCR_EXT_14
[DRAGH] 25
[GROUP] 19504
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 13 36 274 125 1
[CLIENTAREA] 2 2 296 22 2

[TILE]
[SETUP] NID 0 WRNLACK
[XYWH] 0 0 300 200
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TEXT]
[SETUP] MODAL_TITLE C_TYPE_LEFT
[XY] 4 0
[FONT] OCR_EXT_24
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] ALERT_OK C_TYPE_NORMAL, 100 155
[IMAGES] WRNBUT2, WRNBUT2, NULL, WRNBUT2
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_16
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 19504
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_RETURN