#UI BMS 4.38 update, February 2023, by Kolbe

#This is the Main Screen
#It contains
#- Main Menu on the left side:
#- - IA | DF | TE | CP | MP | TR | LB | ACMI | THEATER | SETUP | EXIT


##################
#MAIN WINDOW SETUP
##################
[WINDOW]
[SETUP] UI_MAIN_SCREEN C_TYPE_NORMAL 1920 1080
[XY] 0 0
[RANGES] 0 0 1920 1080 1920 1080
[GROUP] 100
[FLAGBITON] C_BIT_CANTMOVE
#[FLAGBITON] C_BIT_TRANSLUCENT
[DEPTH] 1


##################
#BACKGROUND IMAGE
##################
[BITMAP]
[SETUP] NID C_STATE_DOWN MAIN_SCRN


##################
#THEATER NAME
##################
[TILE]
[SETUP] NID 0 KoreaKTO
[XYWH] 801 1029 350 49
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL


##################
#4.0 ANIM NOT USED
##################
#[ANIM]
#[SETUP] NID C_TYPE_LOOP FALCON40_ROTATE
#[XY] 334 30
#[DIRECTION] 1


##################
#INSTANT ACTION
##################
# X, Y+32
[BUTTON]
[SETUP] IA_MAIN_CTRL C_TYPE_RADIO 46 60
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 MAIN_IA
[BUTTONIMAGE] C_STATE_1 MAIN_IA
[BUTTONIMAGE] C_STATE_2 MAIN_IA
[BUTTONIMAGE] C_STATE_3 MAIN_IA
[FLAGBITON] C_BIT_VCENTER
[GROUP] 1000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON


##################
#DOGFIGHT
##################
[BUTTON]
[SETUP] DF_MAIN_CTRL C_TYPE_RADIO 46 144
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 MAIN_DGFT
[BUTTONIMAGE] C_STATE_1 MAIN_DGFT
[BUTTONIMAGE] C_STATE_2 MAIN_DGFT
[BUTTONIMAGE] C_STATE_3 MAIN_DGFT
[FLAGBITON] C_BIT_VCENTER
[GROUP] 2000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON


##################
#TACTICAL ENGAGEMENT
##################
[BUTTON]
[SETUP] TE_MAIN_CTRL C_TYPE_RADIO 46 233
#[HOTSPOT]-5 -5 5 5
[BUTTONIMAGE] C_STATE_0 MAIN_TE
[BUTTONIMAGE] C_STATE_1 MAIN_TE
[BUTTONIMAGE] C_STATE_2 MAIN_TE
[BUTTONIMAGE] C_STATE_3 MAIN_TE
[FLAGBITON] C_BIT_VCENTER
[GROUP] 3000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON


##################
#CAMPAIGN
##################
[BUTTON]
[SETUP] CP_MAIN_CTRL C_TYPE_RADIO 46 322
#[HOTSPOT] -5 -5 5 5
[BUTTONIMAGE] C_STATE_0 MAIN_CAMP
[BUTTONIMAGE] C_STATE_1 MAIN_CAMP
[BUTTONIMAGE] C_STATE_2 MAIN_CAMP
[BUTTONIMAGE] C_STATE_3 MAIN_CAMP
[FLAGBITON] C_BIT_VCENTER
[GROUP] 4000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON


##################
#TACTICAL REFERENCE
##################
[BUTTON]
[SETUP] TACREF_CTRL C_TYPE_NORMAL 46 503
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 MAIN_TR
[BUTTONIMAGE] C_STATE_1 MAIN_TR
[BUTTONIMAGE] C_STATE_2 MAIN_TR
[BUTTONIMAGE] C_STATE_3 MAIN_TR
[GROUP] 10000
[FLAGBITON] C_BIT_VCENTER
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON


##################
#LOGBOOK
##################
[BUTTON]
[SETUP] LB_MAIN_CTRL C_TYPE_NORMAL 46 603
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 MAIN_LOGBOOK
[BUTTONIMAGE] C_STATE_1 MAIN_LOGBOOK
[BUTTONIMAGE] C_STATE_2 MAIN_LOGBOOK
[BUTTONIMAGE] C_STATE_3 MAIN_LOGBOOK
[FLAGBITON] C_BIT_VCENTER
[GROUP] 5000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON


##################
#ACMI
##################
[BUTTON]
[SETUP] ACMI_CTRL C_TYPE_NORMAL 46 703
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 MAIN_ACMI
[BUTTONIMAGE] C_STATE_1 MAIN_ACMI
[BUTTONIMAGE] C_STATE_2 MAIN_ACMI
[BUTTONIMAGE] C_STATE_3 MAIN_ACMI
[FLAGBITON] C_BIT_VCENTER
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[GROUP] 200000
[CURSOR] CRSR_F16_ON


##################
#MULTIPLAYER
##################
[BUTTON]
[SETUP] CO_MAIN_CTRL C_TYPE_NORMAL 46 410
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 MAIN_COMMS
[BUTTONIMAGE] C_STATE_1 MAIN_COMMS
[BUTTONIMAGE] C_STATE_2 MAIN_COMMS
[BUTTONIMAGE] C_STATE_3 MAIN_COMMS
[FLAGBITON] C_BIT_VCENTER
[GROUP] 6000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[USERDATA] C_STATE_0 6000
[USERDATA] C_STATE_1 6001
[CURSOR] CRSR_F16_ON


##################
#THEATER
##################
[BUTTON]
[SETUP] UI_THEATER_BUTTON C_TYPE_RADIO 46 787
#[HOTSPOT] -5 -5 5 5
[BUTTONIMAGE] C_STATE_0 MAIN_THEATER
[BUTTONIMAGE] C_STATE_1 MAIN_THEATER
[BUTTONIMAGE] C_STATE_2 MAIN_THEATER
[BUTTONIMAGE] C_STATE_3 MAIN_THEATER
[FLAGBITON] C_BIT_VCENTER
[GROUP] 8000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON


##################
#SETUP
##################
[BUTTON]
[SETUP] SP_MAIN_CTRL C_TYPE_RADIO 46 884
#[HOTSPOT] -5 -5 5 5
[BUTTONIMAGE] C_STATE_0 MAIN_SETUP
[BUTTONIMAGE] C_STATE_1 MAIN_SETUP
[BUTTONIMAGE] C_STATE_2 MAIN_SETUP
[BUTTONIMAGE] C_STATE_3 MAIN_SETUP
[FLAGBITON] C_BIT_VCENTER
[GROUP] 8000
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_GAMES C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON


##################
#EXIT
##################
[BUTTON]
[SETUP] EXIT_CTRL C_TYPE_NORMAL 0 960
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 MAIN_EXIT
[BUTTONIMAGE] C_STATE_1 MAIN_EXIT
[BUTTONIMAGE] C_STATE_2 MAIN_EXIT
[BUTTONIMAGE] C_STATE_3 MAIN_EXIT
[FLAGBITON] C_BIT_VCENTER
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEDOWN
[GROUP] 9000
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_ESCAPE


#DONT DELETRE THIS BUTTON (DEV FUCTIONS)
#[BUTTON]
#[SETUP] SAVE_FONT_CTRL C_TYPE_NORMAL 17 46
#[FONT] HAETTEN_16
#[BUTTONTEXT] C_STATE_0 FONTED_TXT_SAVE_FONT
#[UPCOLOR] 0 0 0
#[FLAGBITON] C_BIT_ABSOLUTE