#UI BMS 4.38 update, March 2023, by Kolbe

#This is the Theater selection content
#It contains
#- Theater List
#- Theater description field
#- add theater btn.
#- theater logo
#- load 7 cancel options


##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] UI_THEATER_WINDOW C_TYPE_NORMAL 1920 1023
[XY] 0 0
#[RANGES] 0 0 1920 1080 1920 1080
[CLIENTAREA] 316 601 236 297 1
[FONT] OCR_EXT_14
[FLAGBITON] C_BIT_CANTMOVE
[GROUP] 3203
#[FLAGBITON] C_BIT_TRANSLUCENT
[DEPTH] 5

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 260 0 1660 47
[COLOR] 107 132 140
[FLAGBITON] C_BIT_ABSOLUTE 

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 0 0 260 1023
[COLOR] 107 132 140
[FLAGBITON] C_BIT_ABSOLUTE 

[LINE]
[SETUP] NID 0
[XYWH] 258 0 2 1023
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 255 255 255

##################
#BACKGROUND IMAGES
##################

[BITMAP]
[SETUP] NID,C_STATE_DOWN, BG_THEATER_SEL
[XYWH] 260 0 1660 1023
[TYPE] C_STATE_DOWN


##################
#HEADER TEXT
##################
[TEXT]
[SETUP] NID C_TYPE_CENTER
[SETTEXT] TXT_THEATER_SELECTION
[XY] 1060 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER


##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 260 48 1660 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

##################
#NOTE
##################
[TEXT]
[SETUP] NID C_TYPE_CENTER
[SETTEXT] TXT_THEATER_SELECTION_NOTE
[XY] 360 70
[FONT] BANK_GOTHIC_20
[FGCOLOR] 255 0 0
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_VCENTER


##################
#EXIT BUTTON
##################
[BUTTON]
[SETUP] CANCEL,C_TYPE_NORMAL,1860,2
[IMAGES] CLOSE_BTN CLOSE_BTN NULL NULL
[TYPE] C_TYPE_NORMAL
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[GROUP] 8000
[CURSOR] CRSR_F16_ON


##################
#OK BUTTON
##################
[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 510 930
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK NULL BTN_155_40_DARK
[GROUP] 500
[FONT] BANK_GOTHIC_24
[CLUSTER] 8001
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_OK
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[CURSOR] CRSR_F16_ON


##################
#ADD NEW BUTTON
##################
[BUTTON]
[SETUP] UI_NEW_THEATER , C_TYPE_NORMAL, 310 930
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK NULL BTN_155_40_DARK
[GROUP] 3000
[FONT] BANK_GOTHIC_24
[LABELALL] TXT_NEW_THEATER
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[CURSOR] CRSR_F16_ON


##################
#THEATER SELECTION BOX
##################
[BOX]
[SETUP] NID 0
[XYWH] 310 600 242 300
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED

[BOX]
[SETUP] NID 0
[XYWH] 309 599 244 302
[COLOR] 0 0 0 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED

[TREELIST]
[SETUP] FILELIST_TREE
[FONT] OCR_EXT_24
[XY] 5 3
[CLIENT] 1
[XOFFSET] 0
[YOFFSET] 17
[CLUSTER] 3001
[CURSOR] CRSR_F16_ON

[SCROLLBAR]
[SETUP] UI_THEATER_SCROLL C_TYPE_VERTICAL
[XYWH] 297 600 13 300
[CLIENT] 1
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
#[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 12


##################
#DESCRIPTION BOX
##################
[BOX]
[SETUP] NID 0
[XYWH] 780 800 244 108
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED

[BOX]
[SETUP] NID 0
[XYWH] 779 799 246 110
[COLOR] 0 0 0 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED

[TEXT]
[SETUP] UI_THEATER_DESC
[MAXLEN] 200
[SETTEXT] TXT_SPACE
[XYWH] 786 804 232 100
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] OCR_EXT_16
[FGCOLOR] 200 240 250
[FLAGBITON] C_BIT_WORDWRAP


##################
#CONNECTION LINES
##################
[LINE]
[SETUP] NID 0
[XYWH] 553 830 228 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[LINE]
[SETUP] NID 0
[XYWH] 1025 860 235 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230


##################
#THEATER PICTURE
##################
[BUTTON]
[SETUP] UI_THEATER_IMAGE C_TYPE_CUSTOM
[XY] 1260 600
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_MOUSEOVER

[BOX]
[SETUP] NID 0
[XYWH] 1260 600 300 375
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED

