#UI BMS 4.38 update, April 2023, by Kolbe

#This is the "Missions" header at the top menue of the TE Play Window when it is selected (green font).

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] TAC_MISS_HEADER C_TYPE_NORMAL 190 40
[XY] 25 4
[RANGES] 0 0 300 47 300 47
[GROUP] 3300
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT

##################
#TE PLAY - MISSION HEADER SELECTED
##################
#[BUTTON]
#[SETUP] TAC_MISS_MAIN_CTRL C_TYPE_NORMAL 0 0
#[BUTTONIMAGE] C_STATE_0 BTN_190_40_TRANSPARENT
#[BUTTONIMAGE] C_STATE_1 BTN_190_40_TRANSPARENT
#[BUTTONIMAGE] C_STATE_2 BTN_190_40_TRANSPARENT
#[BUTTONIMAGE] C_STATE_3 BTN_190_40_TRANSPARENT
#[FLAGBITON] C_BIT_ABSOLUTE
#[LABELALL] TXT_MISSION_SCHEDULE
#[FONT] BANK_GOTHIC_24
#[TEXTCOLOR] 0 0 255 0
#[TEXTCOLOR] 1 230 230 230
#[TEXTCOLOR] C_STATE_DISABLED 191 201 202
#[GROUP] 3200
#[SOUNDBITE] SND_GAMES, C_TYPE_LMOUSEDOWN
#[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
#[CURSOR] CRSR_F16_ON
#[USERDATA] 100 1
#[USERDATA] 101 2
#[USERDATA] 102 3
#[USERDATA] 103 4
#[USERDATA] 104 5
#[USERDATA] 105 6
