#UI BMS 4.38 update, December 2023, by Kolbe

#This window contains the ATO Frag Order in the TE Play Window. 

#- Mission file name
#- mission frag order
#- callsign selected flight
#- 1 to 4 flight slot selection
#- other flight / package info about selected flight

##################
#WINDOW SETUP
##################
[WINDOW]
#[SETUP] TAC_AIRCRAFT C_TYPE_NORMAL 400 807
[SETUP] TAC_AIRCRAFT C_TYPE_NORMAL 408 750
#[RANGES] 8 101 282 632 282 607
[RANGES] 0 0 1920 1080 1920 1080
[XY] 0 330
#[CLIENTAREA] 14 67 245 234 0
[CLIENTAREA] 75 67 245 233 0
[GROUP] 3300
[FONT] HAETTEN_18
[FLAGBITON] C_BIT_CANTMOVE
[DEPTH] 4

[TILE]
[SETUP] NID 0 BASEBG
[XYWH] 0 0 509 1007
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

##################
#Mission File Name
##################
[LINE]
[SETUP] NID 0
[XYWH] 10 0 385 24
[COLOR] 0 0 0
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] TAC_MISS_TITLE C_TYPE_TEXT,0
[XYWH] 14 0 275 16
[MAXLEN] 25
[STRING] TXT_NEW_MISSION
[FLAGBITON] C_BIT_TRANSLUCENT
[FGCOLOR] 255 255 255 WHITE
[CURSORCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_ENABLED
[HELPTEXT] HELP_ENGAGEMENT_NAME

##### not sure what that is tbh, apperently not used / supported any longer
#[LISTBOX]
#[SETUP] TAC_TYPE 0
#[XYWH] 120 27 149 16
#[NORMCOLOR] 230 230 230
#[SELCOLOR] 0 255 0 GREEN
#[FONT] BANK_GOTHIC_16
#[DROPDOWN] BID_DROPDOWN
#[FLAGBITON] C_BIT_ABSOLUTE
#[ADDITEM] TYPE_CONTINUOUS C_TYPE_ITEM TXT_ENGAGEMENT
#[ADDITEM] TYPE_SINGLE C_TYPE_ITEM TXT_SINGLE_SORTIE
#[ADDITEM] TYPE_TRAINING C_TYPE_ITEM TXT_TRAINING
#[FLAGBITOFF] C_BIT_ENABLED
#[HELPTEXT] HELP_ENGAGEMENT_TYPE

##################
#Frag Order
##################

##### header
[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_F16_MISSIONS_COLON
[XY] 72 27
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE

##### not sure what that is
[TEXT]
[SETUP] TEAM_NAME 0
[XYWH] 180 27 149 16
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[HELPTEXT] HELP_TEAM_NAME

##### Box frame
[BOX]
[SETUP] NID, 0
[XYWH] 72 67 249 238
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE

##### headline buttons: Priority
[BUTTON]
[SETUP] SORT_PRIORITY, C_TYPE_NORMAL, 73 48
[IMAGES] BID_MISSCHED_18, BID_MISSCHED_18_LIT, NULL, BID_MISSCHED_18
[FONT] HAETTEN_18
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[TEXTCOLOR] C_STATE_0 100 100 100
[TEXTCOLOR] C_STATE_1 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[LABELALL] TXT_P
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_MISSION_PRIORITY

##### headline buttons: T/O Time
[BUTTON]
[SETUP] SORT_TAKEOFF, C_TYPE_NORMAL, 91 48
[IMAGES] BID_MISSCHED_55, BID_MISSCHED_55_LIT, NULL, BID_MISSCHED_55
[FONT] HAETTEN_18
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[TEXTCOLOR] C_STATE_0 100 100 100
[TEXTCOLOR] C_STATE_1 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[LABELALL] TXT_TAKEOFF
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_TAKEOFF_TIME

##### headline buttons: Role
[BUTTON]
[SETUP] SORT_ROLE, C_TYPE_NORMAL, 146 48
[IMAGES] BID_MISSCHED_55, BID_MISSCHED_55_LIT, NULL, BID_MISSCHED_55
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FONT] HAETTEN_18
[FLAGBITON] C_BIT_ABSOLUTE
[TEXTCOLOR] C_STATE_0 100 100 100
[TEXTCOLOR] C_STATE_1 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[LABELALL] TXT_ROLE
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLIGHT_ROLE

##### headline buttons: PKG number
[BUTTON]
[SETUP] SORT_PACKAGE, C_TYPE_NORMAL, 201 48
[IMAGES] BID_MISSCHED_65, BID_MISSCHED_65_LIT, NULL, BID_MISSCHED_65
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FONT] HAETTEN_18
[FLAGBITON] C_BIT_ABSOLUTE
[TEXTCOLOR] C_STATE_0 100 100 100
[TEXTCOLOR] C_STATE_1 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[LABELALL] TXT_PACKAGE
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_PACKAGE_NUMBER

##### headline buttons: Status
[BUTTON]
[SETUP] SORT_STATUS, C_TYPE_NORMAL, 266 48
[IMAGES] BID_MISSCHED_55, BID_MISSCHED_55_LIT, NULL, BID_MISSCHED_55
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FONT] HAETTEN_18
[FLAGBITON] C_BIT_ABSOLUTE
[TEXTCOLOR] C_STATE_0 100 100 100
[TEXTCOLOR] C_STATE_1 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[LABELALL] TXT_STATUS
[CURSOR] CRSR_F16_ON

##### scrollbar
[SCROLLBAR]
[SETUP] NID,C_TYPE_VERTICAL
[FLAGBITON] C_BIT_ABSOLUTE
[XYWH] 323 67 14 239
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 65 128 173
[CLIENT] 0
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[HELPTEXT] HELP_MISSION_STATUS
[INCREMENT] 16

##### not sure what that is
[TEXT]
[SETUP] CB_MISS_TITLE,0
[SETTEXT] TXT_EMPTY
[XY] 80 0
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE

##### frag order treelist / Mission List
[TREELIST]
[SETUP] MISSION_LIST_TREE 0
[CLIENT] 0
[FONT] HAETTEN_18
[YOFFSET] 16
[USERDATA] C_STATE_0 21 "Time X position"
[USERDATA] C_STATE_1 73 "Mission Type X position"
[USERDATA] C_STATE_2 150 "Package ID X position"
[USERDATA] C_STATE_3 200 "Status X position"
[USERDATA] C_STATE_4 0 "Mission priority X position"
[FLAGBITON] C_BIT_ENABLED
[CURSOR] CRSR_F16_ON
[HELPTEXT] TAC_MISSIONS

##################
#Flight Seats
##################

##### SELECTED FLIGHT CALLSIGN

[TEXT]
[SETUP] FLIGHT_LABEL C_TYPE_CENTER
[SETTEXT] TXT_EMPTY
[XY] 197 307
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[CLUSTER] 5

##### Single Ship
[BUTTON]
[SETUP] CB_1_1, C_TYPE_NORMAL, 180 398
[IMAGES] BID_MISS_F16_YELLOW, BID_MISS_F16_YELLOW_PLAYER, NULL, BID_MISS_F16_DISABLED
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[LABELFLAGBITON] C_BIT_BOTTOM
[FLAGBITON] C_BIT_INVISIBLE
[FONT] HAETTEN_18
[CLUSTER] 1
[TEXTCOLOR] C_STATE_0 200 200 200
[TEXTCOLOR] C_STATE_1 200 200 200
[LABELALL] TXT_EMPTY
[CURSOR] CRSR_F16_ON

##### Two Ship
[BUTTON]
[SETUP] CB_2_1, C_TYPE_NORMAL, 219 374
[IMAGES] BID_MISS_F16_YELLOW, BID_MISS_F16_YELLOW_PLAYER, NULL, BID_MISS_F16_DISABLED
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[LABELFLAGBITON] C_BIT_BOTTOM
[FONT] HAETTEN_14
[CLUSTER] 2
[TEXTCOLOR] C_STATE_0 200 200 200
[TEXTCOLOR] C_STATE_1 200 200 200
[LABELALL] TXT_EMPTY
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLIGHT_LEAD

[BUTTON]
[SETUP] CB_2_2, C_TYPE_NORMAL, 143 424
[IMAGES] BID_MISS_F16_YELLOW, BID_MISS_F16_YELLOW_PLAYER, NULL, BID_MISS_F16_DISABLED
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[LABELFLAGBITON] C_BIT_BOTTOM
[FONT] HAETTEN_14
[CLUSTER] 2
[TEXTCOLOR] C_STATE_0 200 200 200
[TEXTCOLOR] C_STATE_1 200 200 200
[LABELALL] TXT_EMPTY
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLIGHT_TWO

##### Three Ship
[BUTTON]
[SETUP] CB_3_1, C_TYPE_NORMAL, 180 368
[IMAGES] BID_MISS_F16_YELLOW, BID_MISS_F16_YELLOW_PLAYER, NULL, BID_MISS_F16_DISABLED
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[LABELFLAGBITON] C_BIT_BOTTOM
[FONT] HAETTEN_14
[CLUSTER] 3
[TEXTCOLOR] C_STATE_0 200 200 200
[TEXTCOLOR] C_STATE_1 200 200 200
[LABELALL] TXT_EMPTY
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLIGHT_LEAD

[BUTTON]
[SETUP] CB_3_2, C_TYPE_NORMAL, 106 418
[IMAGES] BID_MISS_F16_YELLOW, BID_MISS_F16_YELLOW_PLAYER, NULL, BID_MISS_F16_DISABLED
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[LABELFLAGBITON] C_BIT_BOTTOM
[FONT] HAETTEN_14
[CLUSTER] 3
[TEXTCOLOR] C_STATE_0 200 200 200
[TEXTCOLOR] C_STATE_1 200 200 200
[LABELALL] TXT_EMPTY
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLIGHT_TWO

[BUTTON]
[SETUP] CB_3_3, C_TYPE_NORMAL, 256 418
[IMAGES] BID_MISS_F16_GREEN, BID_MISS_F16_GREEN_PLAYER, NULL, BID_MISS_F16_DISABLED
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[LABELFLAGBITON] C_BIT_BOTTOM
[FONT] HAETTEN_14
[CLUSTER] 3
[TEXTCOLOR] C_STATE_0 200 200 200
[TEXTCOLOR] C_STATE_1 200 200 200
[LABELALL] TXT_EMPTY
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLIGHT_THREE

##### Four Ship
[BUTTON]
[SETUP] CB_4_1, C_TYPE_NORMAL, 180 348
[IMAGES] BID_MISS_F16_YELLOW, BID_MISS_F16_YELLOW_PLAYER, NULL, BID_MISS_F16_DISABLED
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[LABELFLAGBITON] C_BIT_BOTTOM
[FONT] HAETTEN_14
[CLUSTER] 4
[TEXTCOLOR] C_STATE_0 200 200 200
[TEXTCOLOR] C_STATE_1 200 200 200
[LABELALL] TXT_EMPTY
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLIGHT_LEAD

[BUTTON]
[SETUP] CB_4_2, C_TYPE_NORMAL, 106 398
[IMAGES] BID_MISS_F16_YELLOW, BID_MISS_F16_YELLOW_PLAYER, NULL, BID_MISS_F16_DISABLED
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[LABELFLAGBITON] C_BIT_BOTTOM
[FONT] HAETTEN_14
[CLUSTER] 4
[TEXTCOLOR] C_STATE_0 200 200 200
[TEXTCOLOR] C_STATE_1 200 200 200
[LABELALL] TXT_EMPTY
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLIGHT_TWO

[BUTTON]
[SETUP] CB_4_3, C_TYPE_NORMAL, 256 398
[IMAGES] BID_MISS_F16_GREEN, BID_MISS_F16_GREEN_PLAYER, NULL, BID_MISS_F16_DISABLED
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[LABELFLAGBITON] C_BIT_BOTTOM
[FONT] HAETTEN_14
[CLUSTER] 4
[TEXTCOLOR] C_STATE_0 200 200 200
[TEXTCOLOR] C_STATE_1 200 200 200
[LABELALL] TXT_EMPTY
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLIGHT_ELEMENT_LEAD

[BUTTON]
[SETUP] CB_4_4, C_TYPE_NORMAL, 184 455
[IMAGES] BID_MISS_F16_GREEN, BID_MISS_F16_GREEN_PLAYER, NULL, BID_MISS_F16_DISABLED
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_INVISIBLE
[LABELFLAGBITON] C_BIT_BOTTOM
[FONT] HAETTEN_14
[CLUSTER] 4
[TEXTCOLOR] C_STATE_0 200 200 200
[TEXTCOLOR] C_STATE_1 200 200 200
[LABELALL] TXT_EMPTY
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLIGHT_FOUR

#################
#MISSION / TOT / TGT
#################

#####MISSION - Inactivated: Do not display the mission type but the target location so it has been moved on the TGT line - (Dee-Jay 28/02/2018)

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PKG_TASK
[XY] 176 534
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT

[TEXT]
[SETUP] MISSION_FIELD 0
[SETTEXT] TXT_SPACE
[XY] 183 534
[FGCOLOR] 200 240 250
[FONT] HAETTEN_18
[FLAGBITON] C_BIT_ABSOLUTE

#####TARGET - TARGET wasn't showing the actual target of the selected flight but the target location of the first flight ever created in the TE (Bug?!) - (Dee-Jay 28/02/2018)

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PKG_TGT
[XY] 176 558
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT

[TEXT]
[SETUP] TGT_FIELD 0
#[SETUP] MISSION_FIELD 0
[SETTEXT] TXT_SPACE
[XY] 183 558
[FGCOLOR] 200 240 250
[FONT] HAETTEN_18
[FLAGBITON] C_BIT_ABSOLUTE

#####TOT

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_FLT_TOT
[XY] 176 582
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT

[TEXT]
[SETUP] TOT_FIELD 0
[SETTEXT] TXT_SPACE
[XY] 183 582
[FGCOLOR] 200 240 250
[FONT] HAETTEN_18
[FLAGBITON] C_BIT_ABSOLUTE
[HELPTEXT] HELP_TOT

