#UI BMS4, created by Revientor and Naldo (2009)
#
# 600 50 shift for everything
 

#UI BMS4.38 update, December 2023, by Kolbe

#This controls the challenge level window when you start a new
#campaign (clicking on the 'callenge Rating' setting
#It contains
#- setting the challenge rating
#- Campaign name
#- defined difficulty level
#- squadron information
#- Campaign description


##################
#WINDOW SETUP
##################
[WINDOW] GAME PANEL
[SETUP] CHALLENGE_WIN C_TYPE_NORMAL 900 700
[RANGES] 0 0 1920 1080 900 700
[XY] "centralized"
[GROUP] 4005
[DRAGH] 47
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
#apperently not used
[CLIENTAREA] 123 36 170 19 2 "Save file name"
#Start Generated Stuff - apperently not used
[CLIENTAREA] 2 2 308 22 1

#Activate cluster 10 when starting a new campaign
#Deactivate cluster 10 when loading a saved campaign


##################
#BACKGROUND IMAGES
##################
#[TILE]
#[SETUP] NID 0 BG_MAIN_BRIGHT
#[XYWH] 0 0 900 48
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_HORIZONTAL

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 0 900 48
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

#[TILE]
#[SETUP] NID 0 BG_CHALLENGE_RATING
#[XYWH] 0 48 900 650
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_HORIZONTAL

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 48 900 650
[COLOR] 107 132 140
[FLAGBITON] C_BIT_ABSOLUTE

##################
#WINDOW BOXES
##################
[BOX]
[SETUP] NID,0
[XYWH] 0 0 899 699
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID,0
[XYWH] 1 1 897 697
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE
 

##################
#HEADER LINE
##################
[LINE]
[SETUP] NID 0
[XYWH] 0 48 900 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#HEADER TEXT
##################
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_CHALLENGERATING_TITLE
[XY] 450 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER
 
#End generated stuff


##################
#CHALLENGE RATING
##################
[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 260 70 380 26
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_OVERALL_RATING
[XY] 440 72
[CLIENT] 0
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_RIGHT

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 460 73 140 20
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX]
[SETUP] CHALLENGE_LIST 0
[XYWH] 460 72 140 20
[CLIENT] 0
[NORMCOLOR] 230 230 230
[SELCOLOR] 255 255 0 YELLOW
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[ADDITEM] ACE_LEVEL C_TYPE_ITEM TXT_ACE
[ADDITEM] VETERAN_LEVEL C_TYPE_ITEM TXT_VETERAN
[ADDITEM] ROOKIE_LEVEL C_TYPE_ITEM TXT_ROOKIE
[ADDITEM] CADET_LEVEL C_TYPE_ITEM TXT_CADET
[ADDITEM] RECRUIT_LEVEL C_TYPE_ITEM TXT_RECRUIT
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN


##################
#PILOT SKILL
##################
[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 260 110 380 85
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_ENEMY_SKILL_LVL
[XY] 450 110
[CLIENT] 0
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
#[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_HCENTER

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PILOTSKILL
[XY] 280 140
[CLIENT] 0
[FONT] HAETTEN_18
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 400 141 140 20
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX]
[SETUP] PILOT_SKILL 0
[XYWH] 400 140 140 20
[CLIENT] 0
[NORMCOLOR] 230 230 230 GREEN
[SELCOLOR] 255 255 0 YELLOW
[FONT] HAETTEN_18
[DROPDOWN] BID_DROPDOWN_WHITE
[ADDITEM] ACE_LEVEL C_TYPE_ITEM TXT_ACE
[ADDITEM] VETERAN_LEVEL C_TYPE_ITEM TXT_VETERAN
[ADDITEM] ROOKIE_LEVEL C_TYPE_ITEM TXT_ROOKIE
[ADDITEM] CADET_LEVEL C_TYPE_ITEM TXT_CADET
[ADDITEM] RECRUIT_LEVEL C_TYPE_ITEM TXT_RECRUIT
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN


##################
#ADA SKILL
##################
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SAM_AAASKILL
[XY] 280 170
[CLIENT] 0
[FONT] HAETTEN_18
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 400 171 140 20
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX]
[SETUP] SAM_SKILL 0
[XYWH] 400 170 140 20
[CLIENT] 0
[NORMCOLOR] 230 230 230
[SELCOLOR] 255 255 0 YELLOW
[FONT] HAETTEN_18
[DROPDOWN] BID_DROPDOWN_WHITE
[ADDITEM] ACE_LEVEL C_TYPE_ITEM TXT_ACE
[ADDITEM] VETERAN_LEVEL C_TYPE_ITEM TXT_VETERAN
[ADDITEM] ROOKIE_LEVEL C_TYPE_ITEM TXT_ROOKIE
[ADDITEM] CADET_LEVEL C_TYPE_ITEM TXT_CADET
[ADDITEM] RECRUIT_LEVEL C_TYPE_ITEM TXT_RECRUIT
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN
  

##################
#FORCE RATIOS
##################
[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 260 210 380 250
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_FORCERATIO
[XY] 450 210
[CLIENT] 0
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
#[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_HCENTER

[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_FORCESIDE
[XY] 450 230
[CLIENT] 0
[FONT] BANK_GOTHIC_20
[FGCOLOR] 180 180 180
#[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_HCENTER

#####AIR FORCES
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AIRFORCES
[XY] 280 260
[CLIENT] 0
[FONT] HAETTEN_18
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
 
[BOX]
[SETUP] NID, 0
#[XYWH] 80 363 154 0
[XYWH] 270 293 360 0
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 255 255 255 WHITE
 
[SLIDER]
[SETUP] BAR_1_SCROLL,C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
#[XYWH] 88 358 138 13
[XYWH] 278 288 344 13
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[STEPS] 4
[SOUNDBITE] SND_SLIDER C_STATE_DOWN
[CLUSTER] 10
 
[BOX]
[SETUP] NID 0
#[XYWH] 93 352 2 2
[XYWH] 283 282 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 365 282 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 448 282 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 531 282 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 614 282 2 2
[COLOR] 255 255 255 WHITE


#####AIR DEFENSES
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AIRDEFENSES
[XY] 280 310
[CLIENT] 0
[FONT] HAETTEN_18
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
 
[BOX]
[SETUP] NID, 0
#[XYWH] 80 363 154 0
[XYWH] 270 343 360 0
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 255 255 255 WHITE
 
[SLIDER]
[SETUP] BAR_2_SCROLL,C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
#[XYWH] 88 358 138 13
[XYWH] 278 338 344 13
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[STEPS] 4
[SOUNDBITE] SND_SLIDER C_STATE_DOWN
[CLUSTER] 10
 
[BOX]
[SETUP] NID 0
#[XYWH] 93 352 2 2
[XYWH] 283 332 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 365 332 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 448 332 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 531 332 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 614 332 2 2
[COLOR] 255 255 255 WHITE
 
#####GROUND FORCES
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_GROUNDFORCES
[XY] 280 360
[CLIENT] 0
[FONT] HAETTEN_18
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
 
[BOX]
[SETUP] NID, 0
#[XYWH] 80 363 154 0
[XYWH] 270 393 360 0
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 255 255 255 WHITE
 
[SLIDER]
[SETUP] BAR_3_SCROLL,C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
#[XYWH] 88 358 138 13
[XYWH] 278 388 344 13
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[STEPS] 4
[SOUNDBITE] SND_SLIDER C_STATE_DOWN
[CLUSTER] 10
 
[BOX]
[SETUP] NID 0
#[XYWH] 93 352 2 2
[XYWH] 283 382 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 365 382 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 448 382 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 531 382 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 614 382 2 2
[COLOR] 255 255 255 WHITE
 
#####NAVAL FORCES
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_NAVALFORCES
[XY] 280 410
[CLIENT] 0
[FONT] HAETTEN_18
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT
 
[BOX]
[SETUP] NID, 0
#[XYWH] 80 363 154 0
[XYWH] 270 443 360 0
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 255 255 255 WHITE
 
[SLIDER]
[SETUP] BAR_4_SCROLL,C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL_WHITE
#[XYWH] 88 358 138 13
[XYWH] 278 438 344 13
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[STEPS] 4
[SOUNDBITE] SND_SLIDER C_STATE_DOWN
[CLUSTER] 10
 
[BOX]
[SETUP] NID 0
#[XYWH] 93 352 2 2
[XYWH] 283 432 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 365 432 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 448 432 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 531 432 2 2
[COLOR] 255 255 255 WHITE
 
[BOX]
[SETUP] NID 0
[XYWH] 614 432 2 2
[COLOR] 255 255 255 WHITE
 
 
##################
#BUTTONS
##################
[BUTTON]
[SETUP] CHALL_CANCEL, C_TYPE_NORMAL, 10 640
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, BTN_155_40_DARK
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_CANCEL
[FONT] BANK_GOTHIC_24
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 4005
[CURSOR] CRSR_F16_ON
 
[BUTTON]
[SETUP] CHALL_OK, C_TYPE_NORMAL, 735 640
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, BTN_155_40_DARK
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_OK
[FONT] BANK_GOTHIC_24
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 4005
[CURSOR] CRSR_F16_ON
 
[BUTTON]
[SETUP] CLOSE_WINDOW, C_TYPE_NORMAL, 860 2
[IMAGES] CLOSE_BTN CLOSE_BTN NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 4005
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON