#UI BMS 4.38 update, December 2023, by Kolbe

#This is the Campaign Select header.
#It contains
#- Header
#- Exit button
#- Background image


##################
#WINDOW SETUP
##################
[WINDOW] CAMPAIGN SELECT HEADER
[SETUP] CS_HEADER_WIN C_TYPE_NORMAL 1660 1023
[XY] 260 0
#[RANGES] 0 0 1024 768 349 30
[GROUP] 4000
[FLAGBITON] C_BIT_CANTMOVE
[DEPTH] 4

##################
#BACKGROUND IMAGE
##################
[TILE]
[SETUP] NID 0 BG_CAMP_SEL
[XYWH] 0 0 1660 1023
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 0 0 1660 47
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

#[FILL] 
#[SETUP] NID 0 BASEBG
#[XYWH] 0 47 1660 976
#[COLOR] 107 132 140
#[FLAGBITON] C_BIT_ABSOLUTE


##################
#HEADER TEXT
##################
[TEXT]
[SETUP] NID C_TYPE_CENTER
[SETTEXT] TXT_CAMPAIGN_CAPITAL
[XY] 800 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER


##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 0 48 1660 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#EXIT BUTTON
##################
[BUTTON]
[SETUP] SELECT_CLOSE_WINDOW,C_TYPE_NORMAL,1600,2
[IMAGES] CLOSE_BTN CLOSE_BTN NULL NULL
[TYPE] C_TYPE_NORMAL
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[GROUP] 4000
[CURSOR] CRSR_F16_ON
