#UI BMS4.38 update, December 2023, by Kolbe

#This sets up the right part of the campaign selection window.
#It contains
#- setting the challenge rating
#- Campaign name
#- defined difficulty level
#- squadron information
#- Campaign description
#
#Note:
#If the information about max. campaign days, stalemate or difficulty
#level should not be displayed, look at the comments below what to do.

##################
#MAIN WINDOW SETUP
##################

[WINDOW] CS PUA
[SETUP] CS_PUA_WIN, C_TYPE_NORMAL, 700 840
[RANGES] 0 0 1024 768 700 840
#[XY] 1100 138
[XY] 960 50
#First clientarea: Header stuff & squadron infos
#[CLIENTAREA] 3 4 510 600 0
[CLIENTAREA] 3 4 650 600 0
#Second clientarea: Campaign description
#[CLIENTAREA] 11 440 490 155 1
[CLIENTAREA] 11 90 700 155 1
[GROUP] 4050
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT
[DEPTH] 4

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 441 700 400
[COLOR] 107 132 140
[FLAGBITON] C_BIT_ABSOLUTE

######
#HEADLINE STUFF
######

######Black background for the headline row
[LINE]
[SETUP] NID 0
[XYWH] 0 27 650 35
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 0 0 0

######Text String "Difficulty level"
#Comment this out if not needed
[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 450 25 200 20
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_CAMP_DIFFICULTY
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230

######Campaign name
[EDITBOX]
[SETUP] TITLE_LABEL C_TYPE_FILENAME
[XYWH] 10 32 470 23
[MAXLEN] 18
[STRING] TXT_EMPTY
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_24
[FGCOLOR] 250 250 250
[CURSOR] CRSR_TEXT
[FLAGBITOFF] C_BIT_ENABLED
[CURSORCOLOR] 230 230 230

######Challenge Level
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_CHALLENGELEVEL
[XY] 124 420
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_20
[FGCOLOR] 0 0 0
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_LEFT

[BUTTON]
[SETUP] SET_CHALLENGE, C_TYPE_CUSTOM, 499 420
[WH] 70 18
[GROUP] 4005
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_LEFT
[BUTTONTEXT] C_STATE_4 TXT_ACE
[BUTTONTEXT] C_STATE_3 TXT_VETERAN
[BUTTONTEXT] C_STATE_2 TXT_ROOKIE
[BUTTONTEXT] C_STATE_1 TXT_CADET
[BUTTONTEXT] C_STATE_0 TXT_RECRUIT
[BUTTONCOLOR] C_STATE_0 0 255 0
[BUTTONCOLOR] C_STATE_1 0 255 0
[BUTTONCOLOR] C_STATE_2 0 255 0
[BUTTONCOLOR] C_STATE_3 0 255 0
[BUTTONCOLOR] C_STATE_4 0 255 0
[HELPTEXT] HELP_RATING_BUTTON
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_USELINE
[FLAGBITON] C_BIT_RIGHT

##################
#SQUADRON INFO BOX
##################

######Airbase Name
[TEXT]
[SETUP] AIRBASE_NAME C_TYPE_CENTER
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_EMPTY
[XYWH] 595 490 250 45
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] HAETTEN_18
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_HCENTER

######Squadron Name
[TEXT]
[SETUP] SQUAD_NAME C_TYPE_CENTER
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_EMPTY
[XYWH] 595 515 250 45
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] HAETTEN_18
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_HCENTER

######Squadron Patch
[BITMAP]
[SETUP] PATCH 0 PATCH_TGA
[XY] 595 595
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER

######Squadron Strength
[TEXT]
[SETUP] STATUS_FIELD C_TYPE_CENTER
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_EMPTY
[XYWH] 595 650 250 45
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] HAETTEN_18
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_HCENTER

######Speciality
[TEXT]
[SETUP] SPEC_FIELD C_TYPE_CENTER
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_EMPTY
[XYWH] 595 675 250 45
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] HAETTEN_18
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_HCENTER

######################
#SCENARIO DESCRIPTIONS
######################

######Background box with Situation and Campaign infos
# [FILL]
# [SETUP] NID C_TYPE_VERTICAL
# [XYWH] 0 420 500 175
# [PERCENT] 20
# [FLAGBITON] C_BIT_TRANSLUCENT
# [FLAGBITON] C_BIT_ABSOLUTE

#Horizontal line
#Comment this out if not needed
[LINE]
[SETUP] NID 0
#[XYWH] 10 579 480 1
[XYWH] 0 229 650 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

#Max. Campaign days: phrase
#defined in lcktxtrc.irc
#Comment this out if not needed
[TEXT]
[SETUP] NID C_TYPE_CENTER
#[XYWH] 10 576 490 15
[XYWH] 10 226 490 15
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_CAMP_MAX_DURATION
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230

#Stalemate (days of no activity): phrase
#defined in lcktxtrc.irc
#Comment this out if not needed
[TEXT]
[SETUP] NID C_TYPE_CENTER
#[XYWH] 210 576 490 15
[XYWH] 250 226 490 15
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_CAMP_STALEMATE
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230

######Situation
[TEXT]
[SETUP] NID C_TYPE_LEFT
[SETTEXT] TXT_SITUATION
#[XY] 11 420
[XY] 11 70
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_20
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_LEFT

[TEXT]
[SETUP] SIT_FIELD C_TYPE_RIGHT
[SETTEXT] TXT_EMPTY
#[XY] 330 420
[XY] 200 72
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[FLAGBITON] C_BIT_RIGHT
[FLAGBITON] C_BIT_ABSOLUTE


######Description Scenario 1
#Note: Just the first scenario has comments.
#Line 1
[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 0 630 145
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_1_LINE_1
[CLIENT] 1
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 1

#Line 2
[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 30 630 145
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_1_LINE_2
[CLIENT] 1
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 1

#Line 3
[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 60 630 145
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_1_LINE_3
[CLIENT] 1
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 1

#Line 4
[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 90 630 145
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_1_LINE_4
[CLIENT] 1
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 1

#Difficulty level (top right)
#Comment this out if not needed
[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 450 40 200 20
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_1_CAMP_DIFF
[CLIENT] 0
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 1

#Campaign end (days)
#Comment this out if not needed
[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 195 140 630 15
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_1_CAMP_END
[CLIENT] 1
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 1

#Stalemate (days)
#Comment this out if not needed
[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 605 140 640 15
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_1_CAMP_STALE
[CLIENT] 1
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 1

######Description Scenario 2
[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 0 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_2_LINE_1
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 2
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 30 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_2_LINE_2
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 2
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 60 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_2_LINE_3
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 2
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 90 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_2_LINE_4
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 2
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 450 40 200 20
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_2_CAMP_DIFF
[CLIENT] 0
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 2

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 195 140 630 15
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_2_CAMP_END
[CLIENT] 1
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 2

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 605 140 640 15
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_2_CAMP_STALE
[CLIENT] 1
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 2

######Description Scenario 3
[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 0 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_3_LINE_1
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 3
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 30 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_3_LINE_2
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 3
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 60 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_3_LINE_3
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 3
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 90 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_3_LINE_4
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 3
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 450 40 200 20
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_3_CAMP_DIFF
[CLIENT] 0
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 3

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 195 140 630 15
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_3_CAMP_END
[CLIENT] 1
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 3

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 605 140 640 15
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_3_CAMP_STALE
[CLIENT] 1
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 3

######Description Scenario 4
[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 0 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_4_LINE_1
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 4
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 30 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_4_LINE_2
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 4
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 60 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_4_LINE_3
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 4
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 90 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_4_LINE_4
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 4
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 450 40 200 20
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_4_CAMP_DIFF
[CLIENT] 0
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 4

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 195 140 630 15
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_4_CAMP_END
[CLIENT] 1
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 4

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 605 140 640 15
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_4_CAMP_STALE
[CLIENT] 1
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 4

######Description Scenario 5
[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 0 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_5_LINE_1
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 5
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 30 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_5_LINE_2
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 5
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 60 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_5_LINE_3
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 5
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 90 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_5_LINE_4
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 5
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 450 40 200 20
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_5_CAMP_DIFF
[CLIENT] 0
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 5

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 195 140 630 15
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_5_CAMP_END
[CLIENT] 1
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 5

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 605 140 640 15
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_5_CAMP_STALE
[CLIENT] 1
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 5

######Description Scenario 6
[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 0 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_6_LINE_1
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 6
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 30 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_6_LINE_2
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 6
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 60 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_6_LINE_3
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 6
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 0 90 630 145
[CLIENT] 1
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_6_LINE_4
[FONT] OCR_EXT_14
[FGCOLOR] 230 230 230
[CLUSTER] 6
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 450 40 200 20
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_6_CAMP_DIFF
[CLIENT] 0
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 6

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 195 140 630 15
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_6_CAMP_END
[CLIENT] 1
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 6

[TEXT]
[SETUP] NID C_TYPE_CENTER
[XYWH] 605 140 640 15
[FLAGBITON] C_BIT_WORDWRAP
[SETTEXT] TXT_SC_6_CAMP_STALE
[CLIENT] 1
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 255
[CLUSTER] 6


#########
#OBSOLETE
#########

#Top left
#[LINE]
#[SETUP] NID 0
#[XYWH] 9 159 15 1
#[FLAGBITON] C_BIT_ABSOLUTE
#[COLOR] 65 128 173

#Top left
#[LINE]
#[SETUP] NID 0
#[XYWH] 9 159 1 15
#[CLIENT] 1
#[COLOR] 65 128 173
#[FLAGBITON] C_BIT_ABSOLUTE

#Top right
#[LINE]
#[SETUP] NID 0
#[XYWH] 182 159 15 1
#[FLAGBITON] C_BIT_ABSOLUTE
#[COLOR] 65 128 173

#Top right
#[LINE]
#[SETUP] NID 0
#[XYWH] 197 159 1 15
#[FLAGBITON] C_BIT_ABSOLUTE
#[COLOR] 65 128 173

#Bottom left
#[LINE]
#[SETUP] NID 0
#[XYWH] 9 262 15 1
#[FLAGBITON] C_BIT_ABSOLUTE
#[COLOR] 65 128 173

#Bottom left
#[LINE]
#[SETUP] NID 0
#[XYWH] 9 247 1 15
#[FLAGBITON] C_BIT_ABSOLUTE
#[COLOR] 65 128 173

#Bottom right
#[LINE]
#[SETUP] NID 0
#[XYWH] 182 262 16 1
#[FLAGBITON] C_BIT_ABSOLUTE
#[COLOR] 65 128 173

#Bottom right
#[LINE]
#[SETUP] NID 0
#[XYWH] 197 247 1 15
#[FLAGBITON] C_BIT_ABSOLUTE
#[COLOR] 65 128 173