#UI BMS4.38 update, December 2023, by Kolbe
#
#This sets up the bottom part (Toolbar) of the campaign selection window.
#- Help button
#- SP and MP Commit buttons

##################
#WINDOW SETUP
##################

[WINDOW] CS TOOL BAR
[SETUP] CS_TOOLBAR_WIN C_TYPE_NORMAL 380 83
[RANGES] 0 0 1024 768 380 83
[XY] 1470 900
[GROUP] 4000
[FLAGBITON] C_BIT_CANTMOVE
#[FLAGBITON] C_BIT_TRANSLUCENT
[DEPTH] 4


##################
#BACKGROUND 
##################
[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 0 0 380 83
[COLOR] 22 53 70
[FLAGBITON] C_BIT_ABSOLUTE 

[BOX]
[SETUP] NID 0
[XYWH] 0 0 379 82
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_ENABLED


##################
#COMMIT BUTTONS
##################
######SP Commit button
[BUTTON]
[SETUP] SINGLE_COMMIT_CTRL,C_TYPE_NORMAL
[XYWH] 200 9 143 73
[BUTTONIMAGE] C_STATE_0 TAKE_OFF_BUTTON_SP
[BUTTONIMAGE] C_STATE_1 TAKE_OFF_BUTTON_SP
[BUTTONIMAGE] C_STATE_DISABLED TAKE_OFF_BUTTON_SP
[GROUP] 4000
[SOUNDBITE] SND_CAMP_OVER C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] TXT_ACCEPT

######MP Commit button
[BUTTON]
[SETUP] COMMS_COMMIT_CTRL,C_TYPE_NORMAL
[XYWH] 200 9 143 73
[BUTTONIMAGE] C_STATE_0 TAKE_OFF_BUTTON_MP
[BUTTONIMAGE] C_STATE_1 TAKE_OFF_BUTTON_MP
[BUTTONIMAGE] C_STATE_DISABLED TAKE_OFF_BUTTON_MP
[GROUP] 4000
[SOUNDBITE] SND_CAMP_OVER C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] TXT_ACCEPT

##################
#HELP BUTTON
##################
[BUTTON]
[SETUP] UI_HELP_GUIDE C_TYPE_NORMAL
[XYWH] 50 12 60 60
[GROUP] 40004
[BUTTONIMAGE] C_STATE_0 HELP_BTN
[BUTTONIMAGE] C_STATE_1 HELP_BTN
[BUTTONIMAGE] C_STATE_DISABLED HELP_BTN
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_HELP