#UI BMS4.38 update, December 2023, by Kolbe
#
#This sets up the clock and the squadrons tree list in the CampSel window.
#It contains
#- Clock, Frame
#
#Note:
#The squadrons tree list is tied to this windows position.
#This is hardcoded and can't be changed by data edits.

##################
#MAIN WINDOW SETUP
##################

[WINDOW]
[SETUP] CS_SUA_WIN C_TYPE_NORMAL 520 390
#[XY] 960 138
[XY] 960 500
[RANGES] 0 0 1024 768 520 390
[GROUP] 4050
[FLAGBITON] C_BIT_CANTMOVE
#[FLAGBITON] C_BIT_TRANSLUCENT
[FONT] HAETTEN_14
[DEPTH] 4

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 0 520 390
[COLOR] 107 132 140
[FLAGBITON] C_BIT_ABSOLUTE

##################
#CLOCK SETUP
##################
######Frame of the top row box
[BOX]
[SETUP] NID 0
[XYWH] 125 5 374 23
[COLOR] 230 230 230 

######Text day
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_DAY
[XY] 179 6
[FONT] BANK_GOTHIC_20
[FGCOLOR] 255 255 255 WHITE
[FLAGBITON] C_BIT_RIGHT

######Clock setup
[CLOCK]
[SETUP] TIME_ID 0
[XY] 174 6
[NORMCOLOR] 255 255 255 WHITE
[SELCOLOR] 255 255 255 WHITE
[FONT] BANK_GOTHIC_20
[USEDAY]
[SEP0] TXT_CLOCK_DAY_SEP
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[FLAGBITOFF] C_BIT_ENABLED

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_ZULU_TIME
[XY] 324 9
[FONT] BANK_GOTHIC_16
[FGCOLOR] 255 255 255 WHITE

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_PARENTHESE_IN
[XY] 344 7
[FONT] BANK_GOTHIC_20
[FGCOLOR] 235 235 235

[CLOCK]
[SETUP] TIME_ID_LOCAL 0
[XY] 354 7
[NORMCOLOR] 235 235 235
[SELCOLOR] 235 235 235
[FONT] BANK_GOTHIC_20
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[FLAGBITOFF] C_BIT_ENABLED

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_LOCAL_TIME
[XY] 464 10
[FONT] BANK_GOTHIC_16
[FGCOLOR] 235 235 235

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_PARENTHESE_OUT
[XY] 489 7
[FONT] BANK_GOTHIC_20
[FGCOLOR] 235 235 235
