#UI BMS 4.38 update, April 2023, by Kolbe

#This is the "Victory Conditions" header at the top menue of the 
#TE Play and Editor Window when it is selected (green font).

##################
#WINDOW SETUP
##################
[WINDOW]
[SETUP] TAC_VC_HEADER C_TYPE_NORMAL 270 40
[XY] 215 4
[RANGES] 0 0 300 47 300 47
[GROUP] 3400
[FLAGBITON] C_BIT_CANTMOVE
[DEPTH] 4
[FLAGBITON] C_BIT_TRANSLUCENT

##################
#TE EDITOR & PLAY - VICTORY CONDITION HEADER SELECTED
##################
[BUTTON]
[SETUP] VC_MAIN_CTRL C_TYPE_NORMAL 0 0
[BUTTONIMAGE] C_STATE_0 BTN_270_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_1 BTN_270_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_2 BTN_270_40_TRANSPARENT
[BUTTONIMAGE] C_STATE_3 BTN_270_40_TRANSPARENT
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_VC
[FONT] BANK_GOTHIC_24
[TEXTCOLOR] 0 0 255 0
[TEXTCOLOR] 1 230 230 230
[TEXTCOLOR] C_STATE_DISABLED 191 201 202
[GROUP] 3400
[SOUNDBITE] SND_GAMES, C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON
[USERDATA] 100 2
[USERDATA] 101 5
[USERDATA] 200 1
[USERDATA] 201 3
[USERDATA] 202 4
[USERDATA] 203 6