#UI BMS 4.38 update, May 2023, by Kolbe

#This controls the Victory Conditions  in the TE Edit window.

It contains:
#- Settings
#- Team Results
#- Victory Conditions List
#- Map
#- Buttons

#Note: The editing options (e.g. edit times, add victory condition etc.) are not available
#when in TE Play window.

##################
#WINDOW SETUP
##################
[WINDOW]
#[SETUP] TAC_VC_WIN C_TYPE_NORMAL 1800 980
#[XY] 75 100
[SETUP] TAC_VC_WIN C_TYPE_NORMAL 1920 1032
[XY] 0 50
[RANGES] 264 155 630 479 630 479
[CLIENTAREA] 1225 170 600 600 0 "Map (ALWAYS)"
[CLIENTAREA] 75 100 630 479 1 "Full window, apperently not used"
[CLIENTAREA] 275 605 846 403 2 "Victory Conditions"
[CLIENTAREA] 83 159 325 302 3 "Teams"
[FONT] OCR_EXT_16
[FLAGBITON] C_BIT_CANTMOVE
#[FLAGBITON] C_BIT_TRANSLUCENT
[DEPTH] 14
[GROUP] 3400
[OPENCLIENTMENU] 0 MAP_POP


#####  Background image
[TILE]
[SETUP] NID 0 BG_TE_BUILDER
[XYWH] 0 0 1920 1080
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL


#########################################################

##################
#SETTINGS
##################

# Header

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_SETTINGS
[XY] 683 300
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE


#MISSION TYPE

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_MISSION_TYPE
[XY] 683 350
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE

[LINE]
[SETUP] NID 0
[XYWH] 839 370 170 1
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[LINE]
[SETUP] NID 0
[XYWH] 1009 363 1 8
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[LISTBOX]
[SETUP] TAC_TYPE 0
[XYWH] 839 350 170 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 255 255 0 YELLOW
[FONT] BANK_GOTHIC_20
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] TYPE_CONTINUOUS C_TYPE_ITEM TXT_ENGAGEMENT
[ADDITEM] TYPE_SINGLE C_TYPE_ITEM TXT_SINGLE_SORTIE
[HELPTEXT] HELP_ENGAGEMENT_TYPE


#START TIME

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_START_TIME
[XY] 683 390
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 839 389 169 20
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID 0
[XYWH] 839 389 169 20
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[CLOCK]
[SETUP] START_TIME 0
[USEDAY]
[XY] 845 391
[NORMCOLOR] 0 255 0 GREEN
[SELCOLOR] 255 255 0 YELLOW
[FONT] OCR_EXT_16
[SEP0] TXT_CLOCK_DAY_SEP
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[CLIENT] 1
[FLAGBITON] C_BIT_ABSOLUTE
[HELPTEXT] HELP_START_TIME

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_ZULU_TIME
[XY] 963 391
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 0 GREEN
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] START_TIME_DEC C_TYPE_NORMAL 980 394
[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL BID_NUM_LEFT_OFF
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP
[HELPTEXT] HELP_DEC_TIME
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[USERDATA] 0 START_TIME
[USERDATA] 1 -1
[CLUSTER] 100

[BUTTON]
[SETUP] START_TIME_INC C_TYPE_NORMAL 993 394
[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL BID_NUM_RIGHT_OFF
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP
[HELPTEXT] HELP_INC_TIME
[CURSOR] CRSR_F16_ON
[FLAGBITON] C_BIT_ABSOLUTE
[USERDATA] 0 START_TIME
[USERDATA] 1 1
[CLUSTER] 100


#TIME LIMIT

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_TIME_LIMIT
[XY] 683 430
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 839 429 169 20
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID 0
[XYWH] 839 429 169 20
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[CLOCK]
[SETUP] TIME_LIMIT 0
[XY] 845 431
[USEDAY]
[NORMCOLOR] 0 255 0 GREEN
[SELCOLOR] 255 255 0 YELLOW
[FONT] OCR_EXT_16
[SEP0] TXT_CLOCK_DAY_SEP
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[CLIENT] 1
[FLAGBITON] C_BIT_ABSOLUTE
[HELPTEXT] HELP_TIME_LIMIT

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_ZULU_TIME
[XY] 963 431
[FONT] OCR_EXT_16
[FGCOLOR] 0 255 0 GREEN
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] TIME_LIMIT_DEC C_TYPE_NORMAL 980 434
[IMAGES] BID_NUM_LEFT_OFF BID_NUM_LEFT_ON NULL BID_NUM_LEFT_OFF
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP
[HELPTEXT] HELP_DEC_TIME
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[USERDATA] 0 TIME_LIMIT
[USERDATA] 1 -1
[CLUSTER] 100

[BUTTON]
[SETUP] TIME_LIMIT_INC C_TYPE_NORMAL 993 434
[IMAGES] BID_NUM_RIGHT_OFF BID_NUM_RIGHT_ON NULL BID_NUM_RIGHT_OFF
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP
[HELPTEXT] HELP_INC_TIME
[CURSOR] CRSR_F16_ON
[FLAGBITON] C_BIT_ABSOLUTE
[USERDATA] 0 TIME_LIMIT
[USERDATA] 1 1
[CLUSTER] 100


#POINTS

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_POINTS_REQ_VICTORY
[XY] 683 470
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 943 469 65 20
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[BOX] "Points Required box"
[SETUP] NID 0
[XYWH] 943 469 65 20
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[EDITBOX]
[SETUP] PTS_REQ_VICTORY C_TYPE_INTEGER
[XYWH] 945 471 56 17
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 6
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_TEXT
[CLUSTER] 200


#########################################################

##################
#TEAMS
##################

#Header

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_TEAMRESULTS
[XY] 83 100
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE


#Column header Teams

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_TEAMS
[XY] 83 140
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE


#Column header Points

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_CURRENT_PTS
[XY] 315 140
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE


#Box

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 83 159 325 301
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[BOX] "Team client"
[SETUP] NID 0
[XYWH] 83 159 325 301
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "Team Field divider"
[SETUP] NID 0
[XYWH] 297 159 1 301
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE

[SCROLLBAR] "Team scroll"
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 345 179 13 132
[CLIENT] 3
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 43

#########################################################

#Team 1

[BOX] "Team 1 color"
[SETUP] COLOR_1 0
[XYWH] 5 3 59 36
[COLOR] 0 0 0
[CLIENT] 3
[CLUSTER] 1

[LINE] "Team divider"
[SETUP] NID 0
[XYWH] 0 43 325 1
[CLIENT] 3
[COLOR] 230 230 230

[EDITBOX]
[SETUP] TEAM_01 C_TYPE_TEXT
[XYWH] 72 12 90 16
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[STRING] TXT_TEAM_BLUE
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_SELECTABLE
[CLIENT] 3
[CURSOR] CRSR_TEXT
[CLUSTER] 1

[BITMAP]
[SETUP] FLAG_1
[XY] 8 6
[CLIENT] 3
[CLUSTER] 1

[EDITBOX]
[SETUP] CURRENT_PTS_01 C_TYPE_INTEGER
[XYWH] 210 12 90 16
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 3
[CURSOR] CRSR_TEXT
[CLUSTER] 1

#########################################################

#Team 2

[BOX] "Team 2 color"
[SETUP] COLOR_2 0
[XYWH] 5 46 59 36
[COLOR] 255 71 71
[CLIENT] 3
[CLUSTER] 2

[BOX] "Team divider"
[SETUP] NID 0
[XYWH] 0 86 325 0
[CLIENT] 3
[COLOR] 230 230 230
[CLUSTER] 1

[EDITBOX]
[SETUP] TEAM_02 C_TYPE_TEXT
[XYWH] 72 55 90 16
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[STRING] TXT_TEAM_RED
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_SELECTABLE
[CLIENT] 3
[CURSOR] CRSR_TEXT
[CLUSTER] 2

[BITMAP]
[SETUP] FLAG_2
[XY] 8 49
[CLIENT] 3
[CLUSTER] 2

[EDITBOX]
[SETUP] CURRENT_PTS_02 C_TYPE_INTEGER
[XYWH] 210 55 90 16
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 3
[CLUSTER] 2

#########################################################

#Team 3

[LINE] "Team divider"
[SETUP] NID 0
[XYWH] 0 129 325 1
[CLIENT] 3
[COLOR] 230 230 230
[CLUSTER] 2

[BOX] "Team 3 color"
[SETUP] COLOR_3 0
[XYWH] 5 89 59 36
[COLOR] 230 230 230
[CLIENT] 3
[CLUSTER] 3

[EDITBOX]
[SETUP] TEAM_03 C_TYPE_TEXT
[XYWH] 72 98 90 16
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[STRING] TXT_TEAM_GREEN
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_SELECTABLE
[CLIENT] 3
[CURSOR] CRSR_TEXT
[CLUSTER] 3

[BITMAP]
[SETUP] FLAG_3
[XY] 8 92
[CLIENT] 3
[CLUSTER] 3

[EDITBOX]
[SETUP] CURRENT_PTS_03 C_TYPE_INTEGER
[XYWH] 210 98 90 16
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 3
[CURSOR] MOUSE_IBEAM
[CLUSTER] 3

#########################################################

#Team 4

[LINE] "Team divider"
[SETUP] NID 0
[XYWH] 0 172 325 1
[CLIENT] 3
[COLOR] 230 230 230
[CLUSTER] 3

[BOX] "Team 4 color"
[SETUP] COLOR_4 0
[XYWH] 5 132 59 36
[COLOR] 230 230 230
[CLIENT] 3
[CLUSTER] 4

[EDITBOX]
[SETUP] TEAM_04 C_TYPE_TEXT
[XYWH] 72 141 90 16
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[STRING] TXT_TEAM_ORANGE
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_SELECTABLE
[CLIENT] 3
[CURSOR] CRSR_TEXT
[CLUSTER] 4

[BITMAP]
[SETUP] FLAG_4
[XY] 8 135
[CLIENT] 3
[CLUSTER] 4

[EDITBOX]
[SETUP] CURRENT_PTS_04 C_TYPE_INTEGER
[XYWH] 210 141 90 16
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 3
[CURSOR] MOUSE_IBEAM
[CLUSTER] 4

#########################################################

#Team 5

[LINE] "Team divider"
[SETUP] NID 0
[XYWH] 0 215 325 1
[CLIENT] 3
[COLOR] 230 230 230
[CLUSTER] 4

[BOX] "Team 5 color"
[SETUP] COLOR_5 0
[XYWH] 5 175 59 36
[COLOR] 230 230 230
[CLIENT] 3
[CLUSTER] 5

[EDITBOX]
[SETUP] TEAM_05 C_TYPE_TEXT
[XYWH] 72 184 90 16
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[STRING] TXT_TEAM_YELLOW
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_SELECTABLE
[CLIENT] 3
[CURSOR] CRSR_TEXT
[CLUSTER] 5

[BITMAP]
[SETUP] FLAG_5
[XY] 8 178
[CLIENT] 3
[CLUSTER] 5

[EDITBOX]
[SETUP] CURRENT_PTS_05 C_TYPE_INTEGER
[XYWH] 210 184 90 16
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 3
[CURSOR] MOUSE_IBEAM
[CLUSTER] 5

#########################################################

#Team 6

[LINE] "Team divider"
[SETUP] NID 0
[XYWH] 0 258 325 1
[CLIENT] 3
[COLOR] 230 230 230
[CLUSTER] 5

[BOX] "Team 6 color"
[SETUP] COLOR_6 0
[XYWH] 5 218 59 36
[COLOR] 230 230 230
[CLIENT] 3
[CLUSTER] 6

[EDITBOX]
[SETUP] TEAM_06 C_TYPE_TEXT
[XYWH] 72 227 90 16
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[STRING] TXT_TEAM_PINK
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_SELECTABLE
[CLIENT] 3
[CLUSTER] 6
[CURSOR] CRSR_TEXT

[BITMAP]
[SETUP] FLAG_6
[XY] 8 221
[CLIENT] 3
[CLUSTER] 6

[EDITBOX]
[SETUP] CURRENT_PTS_06 C_TYPE_INTEGER
[XYWH] 210 227 90 16
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 3
[CLUSTER] 6
[CURSOR] MOUSE_IBEAM

#########################################################

#Team 7

[BOX] "Team 7 color"
[SETUP] COLOR_7 0
[XYWH] 5 261 59 36
[COLOR] 222 188 222
[CLIENT] 3
[CLUSTER] 7

[LINE] "Team divider"
[SETUP] NID 0
[XYWH] 0 301 325 1
[CLIENT] 3
[COLOR] 230 230 230
[CLUSTER] 7

[EDITBOX]
[SETUP] TEAM_07 C_TYPE_TEXT
[XYWH] 72 270 90 16
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[STRING] TXT_TEAM_GREY
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_SELECTABLE
[CLIENT] 3
[CLUSTER] 7
[CURSOR] CRSR_TEXT

[BITMAP]
[SETUP] FLAG_7
[XY] 8 264
[CLIENT] 3
[CLUSTER] 7

[EDITBOX]
[SETUP] CURRENT_PTS_07 C_TYPE_INTEGER
[XYWH] 210 270 90 16
[BGCOLOR] 0 63 30 DARK GREEN
[MAXLEN] 12
[MAXINTEGER] 999999
[INTEGER] 0
[FGCOLOR] 0 255 0 GREEN
[CURSORCOLOR] 230 230 230
[FONT] OCR_EXT_16
[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_RIGHT
[CLIENT] 3
[CLUSTER] 7
[CURSOR] MOUSE_IBEAM

#########################################################

#Team 8

#[BOX] "Team 8 color"
#[SETUP] COLOR_8 0
#[XYWH] 5 304 59 36
#[COLOR] 178 113 55
#[CLIENT] 3
#[CLUSTER] 8

#[EDITBOX]
#[SETUP] TEAM_08 C_TYPE_TEXT
#[XYWH] 72 313 90 16
#[BGCOLOR] 0 63 30 DARK GREEN
#[MAXLEN] 12
#[STRING] TXT_TEAM_BROWN
#[FGCOLOR] 0 255 0 GREEN
#[CURSORCOLOR] 230 230 230
#[FONT] OCR_EXT_16
#[FLAGBITOFF] C_BIT_ENABLED
#[FLAGBITON] C_BIT_SELECTABLE
#[CLIENT] 3
#[CLUSTER] 8
#[CURSOR] CRSR_TEXT

#[BITMAP]
#[SETUP] FLAG_8
#[XY] 8 307
#[CLIENT] 3
#[CLUSTER] 8

#[EDITBOX]
#[SETUP] CURRENT_PTS_08 C_TYPE_INTEGER
#[XYWH] 210 313 90 16
#[BGCOLOR] 0 63 30 DARK GREEN
#[MAXLEN] 12
#[MAXINTEGER] 9999999
#[INTEGER] 0
#[FGCOLOR] 0 255 0 GREEN
#[CURSORCOLOR] 230 230 230
#[FONT] OCR_EXT_16
#[FLAGBITOFF] C_BIT_ENABLED
[FLAGBITON] C_BIT_RIGHT
#[CLIENT] 3
#[CLUSTER] 8
#[CURSOR] MOUSE_IBEAM


#End of team list

#########################################################

##################
#Victory Conditions
##################

#LIST HEADLINES

[BUTTON]
[SETUP] SORT_VC_NUMBER, C_TYPE_NORMAL, 275 580
[IMAGES] BTN_VC_NUMBER_UP, BTN_VC_NUMBER_DOWN, NULL, BTN_VC_NUMBER_UP
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[TEXTCOLOR] C_STATE_0 100 100 100
[TEXTCOLOR] C_STATE_1 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[LABELALL] TXT_#
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SORT_#

[BUTTON]
[SETUP] SORT_VC_TEAM, C_TYPE_NORMAL, 311 580
[IMAGES] BTN_VC_TEAM_UP, BTN_VC_TEAM_DOWN, NULL, BTN_VC_TEAM_UP
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[TEXTCOLOR] C_STATE_0 100 100 100
[TEXTCOLOR] C_STATE_1 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[LABELALL] TXT_TEAM
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SORT_TEAM

[BUTTON]
[SETUP] SORT_VC_TYPE, C_TYPE_NORMAL, 441 580
[IMAGES] BTN_VC_VC_UP, BTN_VC_VC_DOWN, NULL, BTN_VC_VC_UP
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[TEXTCOLOR] C_STATE_0 100 100 100
[TEXTCOLOR] C_STATE_1 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[LABELALL] TXT_VC
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SORT_VC_TYPE

[BUTTON]
[SETUP] SORT_VC_POINTS, C_TYPE_NORMAL, 1041 580
[IMAGES] BTN_VC_POINTS_UP, BTN_VC_POINTS_DOWN, NULL, BTN_VC_POINTS_UP
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE
[TEXTCOLOR] C_STATE_0 100 100 100
[TEXTCOLOR] C_STATE_1 230 230 230
[DOWNCOLOR] 0 255 0 GREEN
[LABELALL] TXT_POINTS
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_SORT_POINTS


#VC BOX

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 275 605 846 403
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[BOX] "VC Box"
[SETUP] NID 0
[XYWH] 275 605 846 403
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE

[SCROLLBAR] "VC Scroll"
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 1135 605 13 403
[FLAGBITON] C_BIT_ABSOLUTE
[CLIENT] 2
[SLIDERIMAGE] BID_SCROLL_WHITE
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 17

[TEXT]
[SETUP] VC_HELP_MESSAGE 0
[SETTEXT] TXT_MUI
[XY] 275 550
[FGCOLOR] 230 0 0
[FONT] OCR_EXT_24
[FLAGBITON] C_BIT_ABSOLUTE


[TREELIST]
[SETUP] VC_TREE
[FONT] OCR_EXT_16
[XY] 1 3
[CLIENT] 2
[USERDATA] 0 34 "Number x (right justified)"
[USERDATA] 1 35 "Team ListBox x"
[USERDATA] 11 129 "Team ListBox width"
[USERDATA] 2 166 "Action ListBox x"
[USERDATA] 12 100 "Action ListBox width"
[USERDATA] 3 269 "Target Button x"
[USERDATA] 4 526 "Parameter's ListBox x"
[USERDATA] 14 60 "Parameter's ListBox width"
[USERDATA] 5 764 "Points EditBox x"
[USERDATA] 15 78 "Points EditBox width"
[CLUSTER] 200
[CURSOR] CRSR_F16_ON


##################
#Buttons
##################

[BUTTON]
[SETUP] NEW_VC, C_TYPE_NORMAL, 83 600
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, BTN_155_40_DARK
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_NEW
[FONT] BANK_GOTHIC_24
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 3200
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_NEW
[CLUSTER] 100

[BUTTON]
[SETUP] TAC_DELETE_VC, C_TYPE_NORMAL, 83 670
[IMAGES] BTN_155_40_DARK, BTN_155_40_DARK, NULL, BTN_155_40_DARK
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_DELETE
[FONT] BANK_GOTHIC_24
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[GROUP] 19500
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_DELETE
[CLUSTER] 100


##################
#MAP
##################

[TEXT]
[SETUP] NID 0
[SETTEXT] TXT_MAP_CAPITAL
[XY] 1225 127
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_24
[FLAGBITON] C_BIT_ABSOLUTE

[FILL]
[SETUP] NID, 0
[XYWH] 1223 168 604 604
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] TAC_ZOOM_OUT,C_TYPE_NORMAL, 1190 226
[IMAGES] BID_MAP_MIN BID_MAP_MIN_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 3700
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_MAP_ZOOM_OUT
[SOUNDBITE] SND_MAP_ZOOM_OUT C_STATE_DOWN

[BUTTON]
[SETUP] TAC_ZOOM_IN,C_TYPE_NORMAL, 1190 256
[IMAGES] BID_MAP_PLUS BID_MAP_PLUS_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 3700
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_MAP_ZOOM_IN
[SOUNDBITE] SND_MAP_ZOOM_IN C_STATE_DOWN