[WINDOW] ENTITY SELECTION LIST WINDOW
[SETUP] ENTITY_HEADER_WIN C_TYPE_NORMAL 282 316
[XY] 28 178
[RANGES] 0 0 1024 768 299 30
[GROUP] 8008

[BITMAP]
[SETUP] NID, 0, DF_SETTINGS_BMP

[EDITBOX]
[SETUP] ENTITY_HEADER_WIN C_TYPE_TEXT
[XY] 18 7 308 23
[MAXLEN] 18
[CLIENT] 0
[FONT] OCR_EXT_16
[FGCOLOR] 255 255 255 WHITE
[FLAGBITOFF] C_BIT_ENABLED
[CURSORCOLOR] 230 230 230
[CURSOR] MOUSE_IBEAM

[TEXT]
[SETUP] ENTITY_SELECTION_1 C_TYPE_TEXT
[SETTEXT] TXT_SPACE
[CLIENT] 0
[FONT] BANK_GOTHIC_16
[FGCOLOR] 81 160 217 LIGHT BLUE

[TEXT]
[SETUP] ENTITY_SELECTION_2 C_TYPE_TEXT
[SETTEXT] TXT_SPACE
[CLIENT] 0
[FONT] BANK_GOTHIC_16
[FGCOLOR] 81 160 217 LIGHT BLUE

[TEXT]
[SETUP] ENTITY_SELECTION_3 C_TYPE_TEXT
[SETTEXT] TXT_SPACE
[CLIENT] 0
[FONT] BANK_GOTHIC_16
[FGCOLOR] 81 160 217 LIGHT BLUE

[TEXT]
[SETUP] ENTITY_SELECTION_4 C_TYPE_TEXT
[SETTEXT] TXT_SPACE
[CLIENT] 0
[FONT] BANK_GOTHIC_16
[FGCOLOR] 81 160 217 LIGHT BLUE

[TEXT]
[SETUP] ENTITY_SELECTION_5 C_TYPE_TEXT
[SETTEXT] TXT_SPACE
[CLIENT] 0
[FONT] BANK_GOTHIC_16
[FGCOLOR] 81 160 217 LIGHT BLUE

[TEXT]
[SETUP] ENTITY_SELECTION_6 C_TYPE_TEXT
[SETTEXT] TXT_SPACE
[CLIENT] 0
[FONT] BANK_GOTHIC_16
[FGCOLOR] 81 160 217 LIGHT BLUE

[TEXT]
[SETUP] ENTITY_SELECTION_7 C_TYPE_TEXT
[SETTEXT] TXT_SPACE
[CLIENT] 0
[FONT] BANK_GOTHIC_16
[FGCOLOR] 81 160 217 LIGHT BLUE

[TEXT]
[SETUP] ENTITY_SELECTION_8 C_TYPE_TEXT
[SETTEXT] TXT_SPACE
[CLIENT] 0
[FONT] BANK_GOTHIC_16
[FGCOLOR] 81 160 217 LIGHT BLUE

[TEXT]
[SETUP] ENTITY_SELECTION_9 C_TYPE_TEXT
[SETTEXT] TXT_SPACE
[CLIENT] 0
[FONT] BANK_GOTHIC_16
[FGCOLOR] 81 160 217 LIGHT BLUE

[TEXT]
[SETUP] ENTITY_SELECTION_10 C_TYPE_TEXT
[SETTEXT] TXT_SPACE
[CLIENT] 0
[FONT] BANK_GOTHIC_16
[FGCOLOR] 81 160 217 LIGHT BLUE

[TEXT]
[SETUP] ENTITY_SELECTION_11 C_TYPE_TEXT
[SETTEXT] TXT_SPACE
[CLIENT] 0
[FONT] BANK_GOTHIC_16
[FGCOLOR] 81 160 217 LIGHT BLUE

[TEXT]
[SETUP] ENTITY_SELECTION_12 C_TYPE_TEXT
[SETTEXT] TXT_SPACE
[CLIENT] 0
[FONT] BANK_GOTHIC_16
[FGCOLOR] 81 160 217 LIGHT BLUE

[TEXT]
[SETUP] ENTITY_SELECTION_13 C_TYPE_TEXT
[SETTEXT] TXT_SPACE
[CLIENT] 0
[FONT] BANK_GOTHIC_16
[FGCOLOR] 81 160 217 LIGHT BLUE

[TEXT]
[SETUP] ENTITY_SELECTION_14 C_TYPE_TEXT
[SETTEXT] TXT_SPACE
[CLIENT] 0
[FONT] BANK_GOTHIC_16
[FGCOLOR] 81 160 217 LIGHT BLUE

[BUTTON] CLOSE
[SETUP] CLOSE_WINDOW,C_TYPE_NORMAL,264,9
[IMAGES] BID_CLOSE BID_CLOSE NULL NULL
[ID] CLOSE_WINDOW
[TYPE] C_TYPE_NORMAL
[GROUP] 8008
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP

