#UI BMS 4.38 update, March 2023, by Kolbe

#This is the Tactical Reference

###########################################
#                 NOTES                   #
###########################################
#
# The Code supports now 7 main categories with
# 9 sub categories each. For now just 6 main
# categories are used.

###########################################
#            TACREF SETUP                 #
###########################################

[WINDOW]
[SETUP] TAC_REF_WIN C_TYPE_EXCLUSIVE 1400 970
[XY] "centralized"
[RANGES] 0 0 1400 970 1400 970
[CLIENTAREA] 500 200 880 580 0 "Model client"
[CLIENTAREA] 14 215 440 560 1 "Specifications client"
[CLIENTAREA] 600 800 780 157 2 "Description client"
[CLIENTAREA] 20 800 382 150 3 "Picture client"
#[CLIENTAREA] 2 2 1596 45 4 "Header"
[FONT] OCR_EXT_16
[GROUP] 10000
[DRAGH] 47
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT

##################
#BACKGROUND IMAGES
##################

[TILE]
[SETUP] NID 0 BASEBG
[XYWH] 0 0 1400 970
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 0 1400 48
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE


##################
#HEADER TEXT
##################
[TEXT]
[SETUP] NID C_TYPE_CENTER
[SETTEXT] TXT_TACREF
[XY] 800 24
[FONT] BANK_GOTHIC_26
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HCENTER
[FLAGBITON] C_BIT_VCENTER


##################
#HEADER LINE 
##################
[LINE]
[SETUP] NID 0
[XYWH] 0 48 1600 2
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY


##################
#EXIT BUTTON
##################
[BUTTON]
[SETUP] CLOSE_WINDOW,C_TYPE_NORMAL, 1340 2
[IMAGES] CLOSE_BTN CLOSE_BTN NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[GROUP] 10000
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_CLOSE


##################
#LINES
##################

[LINE]
[SETUP] NID 0
[XYWH] 480 200 1 590
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[LINE]
[SETUP] NID 0
[XYWH] 20 790 450 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[LINE]
[SETUP] NID 0
[XYWH] 490 790 900 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230


##################
#WINDOW BOXES
##################
[BOX]
[SETUP] NID,0
[XYWH] 0 0 1399 969
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID,0
[XYWH] 1 1 1397 967
[COLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE


###########################################
#          MAIN CATEGORYS                 #
###########################################

####   VEHICLES   ###

####   AIR   ###
[BUTTON]
[SETUP] TR_AIR, C_TYPE_RADIO, 15 55
[IMAGES] BTN_TACREF_AIRCRAFT, BTN_TACREF_AIRCRAFT, NULL, NULL
[STATE] 1
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_AIR
[TEXTOFFSET] C_STATE_UP 0 -28
[TEXTOFFSET] C_STATE_DOWN 0 -28
[FONT] BANK_GOTHIC_20
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 8100 "Enable"
[USERDATA] C_STATE_1 8200 "Disable the rest"
[USERDATA] C_STATE_2 8300
[USERDATA] C_STATE_3 8400
[USERDATA] C_STATE_4 8500
[USERDATA] C_STATE_5 8600
[CURSOR] CRSR_F16_ON

####   LAND   ###
[BUTTON]
[SETUP] TR_LAND, C_TYPE_RADIO, 190 55
[IMAGES] BTN_TACREF_VEHICLES, BTN_TACREF_VEHICLES, NULL, NULL
[STATE] 0
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_LAND
[TEXTOFFSET] C_STATE_UP 0 -28
[TEXTOFFSET] C_STATE_DOWN 0 -28
[FONT] BANK_GOTHIC_20
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 8200 "Enable"
[USERDATA] C_STATE_1 8100 "Disable the rest"
[USERDATA] C_STATE_2 8300
[USERDATA] C_STATE_3 8400
[USERDATA] C_STATE_4 8500
[USERDATA] C_STATE_5 8600
[CURSOR] CRSR_F16_ON

####   SEA   ###
[BUTTON]
[SETUP] TR_SEA, C_TYPE_RADIO, 365 55
[IMAGES] BTN_TACREF_VESSELS, BTN_TACREF_VESSELS, NULL, NULL
[STATE] 0
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_SEA
[TEXTOFFSET] C_STATE_UP 0 -28
[TEXTOFFSET] C_STATE_DOWN 0 -28
[FONT] BANK_GOTHIC_20
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 8300 "Enable"
[USERDATA] C_STATE_1 8100 "Disable the rest"
[USERDATA] C_STATE_2 8200
[USERDATA] C_STATE_3 8400
[USERDATA] C_STATE_4 8500
[USERDATA] C_STATE_5 8600
[CURSOR] CRSR_F16_ON

####   MUNITIONS & STORES   ###

####   MISSILES   ###
[BUTTON]
[SETUP] TR_MISSILE, C_TYPE_RADIO, 540 55
[IMAGES] BTN_TACREF_MISSILES, BTN_TACREF_MISSILES, NULL, NULL
[STATE] 0
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_MISSILES
[TEXTOFFSET] C_STATE_UP 0 -28
[TEXTOFFSET] C_STATE_DOWN 0 -28
[FONT] BANK_GOTHIC_20
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 8400 "Enable"
[USERDATA] C_STATE_1 8100 "Disable the rest"
[USERDATA] C_STATE_2 8200
[USERDATA] C_STATE_3 8300
[USERDATA] C_STATE_4 8500
[USERDATA] C_STATE_5 8600
[CURSOR] CRSR_F16_ON

####   BOMBS   ###
[BUTTON]
[SETUP] TR_BOMB, C_TYPE_RADIO, 715 55
[IMAGES] BTN_TACREF_BOMBS, BTN_TACREF_BOMBS, NULL, NULL
[STATE] 0
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_BOMBS
[TEXTOFFSET] C_STATE_UP 0 -28
[TEXTOFFSET] C_STATE_DOWN 0 -28
[FONT] BANK_GOTHIC_20
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 8500 "Enable"
[USERDATA] C_STATE_1 8100 "Disable the rest"
[USERDATA] C_STATE_2 8200
[USERDATA] C_STATE_3 8300
[USERDATA] C_STATE_4 8400
[USERDATA] C_STATE_5 8600
[CURSOR] CRSR_F16_ON

####   STORES   ###
[BUTTON]
[SETUP] TR_STORES, C_TYPE_RADIO, 890 55
[IMAGES] BTN_TACREF_STORES, BTN_TACREF_STORES, NULL, NULL
[STATE] 0
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_STORES
[TEXTOFFSET] C_STATE_UP 0 -28
[TEXTOFFSET] C_STATE_DOWN 0 -28
[FONT] BANK_GOTHIC_20
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 8600 "Enable"
[USERDATA] C_STATE_1 8100 "Disable the rest"
[USERDATA] C_STATE_2 8200
[USERDATA] C_STATE_3 8300
[USERDATA] C_STATE_4 8400
[USERDATA] C_STATE_5 8500
[CURSOR] CRSR_F16_ON

###########################################
#          SUB CATEGORYS                  #
###########################################

####   AIR   #############################################

####   AIR   -   FIGHTERS   ###
[BUTTON]
[SETUP] TR_AIR_FIGHTER, C_TYPE_RADIO, 15 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 1
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_FIGHTERS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8100
[CURSOR] CRSR_F16_ON

####   AIR   -   MULTI-ROLE   ###
[BUTTON]
[SETUP] TR_AIR_MULTI, C_TYPE_RADIO, 190 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_MULTIROLE
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8100
[CURSOR] CRSR_F16_ON

####   AIR   -   ATTACK   ###
[BUTTON]
[SETUP] TR_AIR_ATTACK, C_TYPE_RADIO, 365 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_ATTACK
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8100
[CURSOR] CRSR_F16_ON

####   AIR   -   BOMBERS   ###
[BUTTON]
[SETUP] TR_AIR_BOMBER, C_TYPE_RADIO, 540 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_BOMBERS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8100
[CURSOR] CRSR_F16_ON

####   AIR   -   HELICOPTERS   ###
[BUTTON]
[SETUP] TR_AIR_HELI, C_TYPE_RADIO, 715 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_HELICOPTERS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8100
[CURSOR] CRSR_F16_ON

####   AIR   -   C3ISREW   ###
[BUTTON]
[SETUP] TR_AIR_C3ISREW, C_TYPE_RADIO, 890 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_C3ISREW
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8100
[CURSOR] CRSR_F16_ON

####   AIR   -   SUPPORT   ###
[BUTTON]
[SETUP] TR_AIR_SUPPORT, C_TYPE_RADIO, 1065 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SUPPORT
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8100
[CURSOR] CRSR_F16_ON

####   LAND   #############################################

####   LAND   -   TANKS   ###
[BUTTON]
[SETUP] TR_LAND_TANK, C_TYPE_RADIO, 15 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 1
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TANKS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8200
[CURSOR] CRSR_F16_ON

####   LAND   -   IFV   ###
[BUTTON]
[SETUP] TR_LAND_IFV, C_TYPE_RADIO, 190 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_IFV
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8200
[CURSOR] CRSR_F16_ON

####   LAND   -   ARTILLERY   ###
[BUTTON]
[SETUP] TR_LAND_ARTILLERY, C_TYPE_RADIO, 365 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_ARTILLERY
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8200
[CURSOR] CRSR_F16_ON

####   LAND   -   SAM   ###
[BUTTON]
[SETUP] TR_LAND_SAM, C_TYPE_RADIO, 540 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SAMS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8200
[CURSOR] CRSR_F16_ON

####   LAND   -   AAA   ###
[BUTTON]
[SETUP] TR_LAND_AAA, C_TYPE_RADIO, 715 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_AAAS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8200
[CURSOR] CRSR_F16_ON

####   LAND   -   RDR   ###
[BUTTON]
[SETUP] TR_LAND_RDR, C_TYPE_RADIO, 890 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_RDR
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8200
[CURSOR] CRSR_F16_ON

####   LAND   -   SUPPORT   ###
[BUTTON]
[SETUP] TR_LAND_SUPPORT, C_TYPE_RADIO, 1065 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SUPPORT
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8200
[CURSOR] CRSR_F16_ON

####   SEA   #############################################

####   SEA   -   CARRIER   ###
[BUTTON]
[SETUP] TR_SEA_CARRIER, C_TYPE_RADIO, 15 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 1
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_CARRIERS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8300
[CURSOR] CRSR_F16_ON

####   SEA   -   CRUISER   ###
[BUTTON]
[SETUP] TR_SEA_CRUISER, C_TYPE_RADIO, 190 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_CRUISERS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8300
[CURSOR] CRSR_F16_ON

####   SEA   -   FRIGATE   ###
[BUTTON]
[SETUP] TR_SEA_FRIGATE, C_TYPE_RADIO, 365 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_FRIGATES
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8300
[CURSOR] CRSR_F16_ON

####   SEA   -   DESTROYER   ###
[BUTTON]
[SETUP] TR_SEA_DESTROYER, C_TYPE_RADIO, 540 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_DESTROYERS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8300
[CURSOR] CRSR_F16_ON

####   SEA   -   SUB   ###
[BUTTON]
[SETUP] TR_SEA_SUB, C_TYPE_RADIO, 715 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_SUBMARINES
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8300
[CURSOR] CRSR_F16_ON

####   SEA   -   OTHER   ###
[BUTTON]
[SETUP] TR_SEA_OTHER, C_TYPE_RADIO, 890 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_OTHER
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8300
[CURSOR] CRSR_F16_ON

####   SEA   -   SUPPORT   ###
[BUTTON]
[SETUP] TR_SEA_SUPPORT, C_TYPE_RADIO, 1065 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SUPPORT
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8300
[CURSOR] CRSR_F16_ON

####   MISSILE   #############################################

####   MISSILE   -   AAIR   ###
[BUTTON]
[SETUP] TR_MISSILE_AAIR, C_TYPE_RADIO, 15 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 1
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_AAIR
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8400
[CURSOR] CRSR_F16_ON

####   MISSILE   -   AARDR   ###
[BUTTON]
[SETUP] TR_MISSILE_AARDR, C_TYPE_RADIO, 190 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_AARDR
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8400
[CURSOR] CRSR_F16_ON

####   MISSILE   -   ASM   ###
[BUTTON]
[SETUP] TR_MISSILE_ASM, C_TYPE_RADIO, 365 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_ASM
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8400
[CURSOR] CRSR_F16_ON

####   MISSILE   -   ARM   ###
[BUTTON]
[SETUP] TR_MISSILE_ARM, C_TYPE_RADIO, 540 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_ARM
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8400
[CURSOR] CRSR_F16_ON

####   MISSILE   -   AGM   ###
[BUTTON]
[SETUP] TR_MISSILE_AGM, C_TYPE_RADIO, 715 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_AGM
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8400
[CURSOR] CRSR_F16_ON

####   MISSILE   -   SAM   ###
[BUTTON]
[SETUP] TR_MISSILE_SAM, C_TYPE_RADIO, 890 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_SAM
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8400
[CURSOR] CRSR_F16_ON

####   MISSILE   -   SSM   ###
[BUTTON]
[SETUP] TR_MISSILE_SSM, C_TYPE_RADIO, 1065 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_SSM
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8400
[CURSOR] CRSR_F16_ON

####   BOMB   #############################################

####   BOMB   -   GP   ###
[BUTTON]
[SETUP] TR_BOMB_GP, C_TYPE_RADIO, 15 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 1
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_GP
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8500
[CURSOR] CRSR_F16_ON

####   BOMB   -   LGB   ###
[BUTTON]
[SETUP] TR_BOMB_LGB, C_TYPE_RADIO, 190 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_LGB
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8500
[CURSOR] CRSR_F16_ON

####   BOMB   -   GPS   ###
[BUTTON]
[SETUP] TR_BOMB_GPS, C_TYPE_RADIO, 365 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_GPS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8500
[CURSOR] CRSR_F16_ON

####   BOMB   -   CBU   ###
[BUTTON]
[SETUP] TR_BOMB_CBU, C_TYPE_RADIO, 540 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_CBU
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8500
[CURSOR] CRSR_F16_ON

####   BOMB   -   INCENDIARY   ###
[BUTTON]
[SETUP] TR_BOMB_INCENDIARY, C_TYPE_RADIO, 715 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_INCENDIARY
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8500
[CURSOR] CRSR_F16_ON

####   BOMB   -   ANTIRWY   ###
[BUTTON]
[SETUP] TR_BOMB_ANTIRWY, C_TYPE_RADIO, 890 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TR_ANTIRWY
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8500
[CURSOR] CRSR_F16_ON

####   BOMB   -   OTHER   ###
[BUTTON]
[SETUP] TR_BOMB_OTHER, C_TYPE_RADIO, 1065 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_OTHER
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8500
[CURSOR] CRSR_F16_ON

####   STORES   #############################################

####   STORES   -   FUEL   ###
[BUTTON]
[SETUP] TR_STORES_FUEL, C_TYPE_RADIO, 15 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 1
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_FUEL_TANKS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8600
[CURSOR] CRSR_F16_ON

####   STORES   -   RECON   ###
[BUTTON]
[SETUP] TR_STORES_RECON, C_TYPE_RADIO, 190 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_RECON_PODS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8600
[CURSOR] CRSR_F16_ON

####   STORES   -   ECM   ###
[BUTTON]
[SETUP] TR_STORES_ECM, C_TYPE_RADIO, 365 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_ECM_PODS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8600
[CURSOR] CRSR_F16_ON

####   STORES   -   CM   ###
[BUTTON]
[SETUP] TR_STORES_CM, C_TYPE_RADIO, 540 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_CM_PODS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8600
[CURSOR] CRSR_F16_ON

####   STORES   -   TGT   ###
[BUTTON]
[SETUP] TR_STORES_TGT, C_TYPE_RADIO, 715 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_TGT_PODS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8600
[CURSOR] CRSR_F16_ON

####   STORES   -   LAUNCHER   ###
[BUTTON]
[SETUP] TR_STORES_LAUNCHER, C_TYPE_RADIO, 890 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_ROCKET_PODS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8600
[CURSOR] CRSR_F16_ON

####   STORES   -   OTHER   ###
[BUTTON]
[SETUP] TR_STORES_OTHER, C_TYPE_RADIO, 1065 150
[IMAGES] BTN_TACREF_SUB, BTN_TACREF_SUB, NULL, NULL
[STATE] 0
[GROUP] 200
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_OTHER_PODS
[FONT] OCR_EXT_16
[TEXTCOLOR] 0 191 191 191
[TEXTCOLOR] 1 0 255 0
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[TEXTOFFSET] C_STATE_UP 0 0
[TEXTOFFSET] C_STATE_DOWN 0 0
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8600
[CURSOR] CRSR_F16_ON


###########################################
#          ENTITY LISTBOX                 #
###########################################

[LISTBOX]
[SETUP] ENTITY_LIST 0
[XYWH] 14 186 448 25
[NORMCOLOR] 230 230 230 WHITE
[SELCOLOR] 230 230 230 WHITE
[FONT] OCR_EXT_24
[DROPDOWN] BID_DROPDOWN_WHITE
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL
[ADDITEM] ENTITY_ID C_TYPE_ITEM TXT_EMPTY
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN
[SCROLLITEMCOUNT] 40

[LINE]
[SETUP] NID 0
[XYWH] 16 212 448 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 230 230 230

[SCROLLBAR]
[SETUP] NID, C_TYPE_VERTICAL
[XYWH] 464 217 13 557
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL_WHITE
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 180 180 180
[CLIENT] 1
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 48

##################
#BACKGROUND IMAGE
##################
#Note: FILL doesn't work correctly as the tile constantly flashes.
#[TILE]
#[SETUP] NID 0 BASEBG
#[XYWH] 14 215 447 560
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_HORIZONTAL

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 14 215 447 560
#[PERCENT] 30
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE

[TREELIST]
[SETUP] STAT_TREE
[XY] 3 3
[CLIENT] 1
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[FONT] OCR_EXT_16
[XOFFSET] 21
[YOFFSET] 17
[CURSOR] CRSR_F16_ON


###########################################
#         DESCRIPTION SCROLLBAR          #
###########################################

[SCROLLBAR]
[SETUP] NID, C_TYPE_VERTICAL
[XYWH] 1382 802 13 152
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL_WHITE
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 180 180 180
[CLIENT] 2
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 16

#Note: FILL doesn't work correctly as the tile constantly flashes when scrolling.
[TILE]
[SETUP] NID 0 BASEBG
[XYWH] 600 800 780 157
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_HORIZONTAL

[TREELIST]
[SETUP] DESC_TREE
[XY] 3 1
[CLIENT] 2
[FONT] HAETTEN_18
[XOFFSET] 0
[YOFFSET] 17


###########################################
#         MODEL CLIENT BACKGROUND         #
###########################################

#Note: FILL doesn't work correctly as the tile constantly flashes.
#[TILE]
#[SETUP] NID 0 BASEBG
#[XYWH] 500 200 880 580
#[COLOR] 75 92 98
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_HORIZONTAL

[FILL] 
[SETUP] NID 0 BASEBG 
[XYWH] 500 200 880 580
[COLOR] 75 92 98
[FLAGBITON] C_BIT_ABSOLUTE


###########################################
#          PANNER & ZOOMER                #
###########################################

[PANNER]
[SETUP] TACREF_ZOOMER,C_TYPE_DRAGY
[XY] 1268 126
[DEADZONE] 15 12 17 7
[PANIMAGE] 0 NH_ARROWS_DESELECTED
[PANIMAGE] 1 NH_ARROWS_DESELECTED
[PANIMAGE] 2 NH_ARROWS_FORWARDS
[PANIMAGE] 3 NH_ARROWS_BACKWARDS
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_VDRAG
[HELPTEXT] HELP_ZOOM
[SOUNDBITE] SND_ARROWS C_STATE_DOWN

[PANNER]
[SETUP] TACREF_PANNER, C_TYPE_DRAGXY
[XY] 1318 117
[DEADZONE] 20 20 10 10
[PANIMAGE] 0 BLUE_PAN_CENTER
[PANIMAGE] 1 BLUE_PAN_CENTER
[PANIMAGE] 3 BLUE_PAN_TDC
[PANIMAGE] 4 BLUE_PAN_315
[PANIMAGE] 6 BLUE_PAN_270
[PANIMAGE] 9 BLUE_PAN_225
[PANIMAGE] 8 BLUE_PAN_180
[PANIMAGE] 7 BLUE_PAN_135
[PANIMAGE] 5 BLUE_PAN_90
[PANIMAGE] 2 BLUE_PAN_45
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_DRAG
[HELPTEXT] HELP_ROTATE_PANNER
[SOUNDBITE] SND_ARROWS C_STATE_DOWN


###########################################
#                   OTHER                 #
###########################################

[BUTTON]
[SETUP] ENTITY_PIC C_TYPE_CUSTOM
#[XY] 560 685
[XY] 20 800
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_MOUSEOVER
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE

[BITMAP] "Picture goes here"
[SETUP] TACREF_PICTURE_SPOT 0 NULL
[CLIENT] 3

[BITMAP] "Control which is replaced with the ROTATING MODEL control"
[SETUP] TACREF_SCAB_CTRL 0 NULL
[CLIENT] 0

###########################################
#            RWR CONTROLS                 #
###########################################
[LINE] "RWR list backdrop"
[SETUP] NID, 0
[XYWH]  380 800 160 20
[COLOR] 100 100 100 DARK GREY
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX]
[SETUP] RWR_LIST 0
[XYWH] 380 800 160 20
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN_WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] RWR_ENTRY C_TYPE_ITEM  TXT_NO_RADAR
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN
[ADDSCROLLBAR] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON BID_SCROLL

[BITMAP]
[SETUP] NID 0 RWR_SCOPE
[XY] 427 825
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON] "Lock icon"
[SETUP] LOCK_ICON, C_TYPE_CUSTOM 450 820
#[HOTSPOT] 0 0 40 40
[BUTTONIMAGE] C_STATE_0 SYM_NONE
[BUTTONIMAGE] C_STATE_1 SYM_UNKNOWN
[BUTTONIMAGE] C_STATE_2 SYM_ADVANCED_INTERCEPTOR
[BUTTONIMAGE] C_STATE_3 SYM_BASIC_INTERCEPTOR
[BUTTONIMAGE] C_STATE_4 SYM_ACTIVE_MISSILE
[BUTTONIMAGE] C_STATE_5 SYM_HAWK
[BUTTONIMAGE] C_STATE_6 SYM_PATRIOT
[BUTTONIMAGE] C_STATE_7 SYM_SA2
[BUTTONIMAGE] C_STATE_8 SYM_SA3
[BUTTONIMAGE] C_STATE_9 SYM_SA4
[BUTTONIMAGE] C_STATE_10 SYM_SA5
[BUTTONIMAGE] C_STATE_11 SYM_SA6
[BUTTONIMAGE] C_STATE_12 SYM_SA8
[BUTTONIMAGE] C_STATE_13 SYM_SA9
[BUTTONIMAGE] C_STATE_14 SYM_SA10
[BUTTONIMAGE] C_STATE_15 SYM_SA13
[BUTTONIMAGE] C_STATE_16 SYM_AAA
[BUTTONIMAGE] C_STATE_17 SYM_SEARCH
[BUTTONIMAGE] C_STATE_18 SYM_NAVAL
[BUTTONIMAGE] C_STATE_19 SYM_CHAPARAL
[BUTTONIMAGE] C_STATE_20 SYM_SA15
[BUTTONIMAGE] C_STATE_21 SYM_NIKE
[FLAGBITON] C_BIT_ABSOLUTE
[HELPTEXT] HELP_LOCK_ICON
[FLAGBITOFF] C_BIT_MOUSEOVER
#[LABELFLAGBITON] C_BIT_BOTTOM
#[LABEL] C_STATE_0  TEST_SYM_NONE
#[LABEL] C_STATE_1  TEST_SYM_UNKNOWN
#[LABEL] C_STATE_2  TEST_SYM_ADVANCED_INTERCEPTOR
#[LABEL] C_STATE_3  TEST_SYM_BASIC_INTERCEPTOR
#[LABEL] C_STATE_4  TEST_SYM_ACTIVE_MISSILE
#[LABEL] C_STATE_5  TEST_SYM_HAWK
#[LABEL] C_STATE_6  TEST_SYM_PATRIOT
#[LABEL] C_STATE_7  TEST_SYM_SA2
#[LABEL] C_STATE_8  TEST_SYM_SA3
#[LABEL] C_STATE_9  TEST_SYM_SA4
#[LABEL] C_STATE_10  TEST_SYM_SA5
#[LABEL] C_STATE_11  TEST_SYM_SA6
#[LABEL] C_STATE_12  TEST_SYM_SA8
#[LABEL] C_STATE_13  TEST_SYM_SA9
#[LABEL] C_STATE_14  TEST_SYM_SA10
#[LABEL] C_STATE_15  TEST_SYM_SA13
#[LABEL] C_STATE_16  TEST_SYM_AAA
#[LABEL] C_STATE_17  TEST_SYM_SEARCH
#[LABEL] C_STATE_18  TEST_SYM_NAVAL
#[LABEL] C_STATE_19  TEST_SYM_CHAPARAL
#[LABEL] C_STATE_20  TEST_SYM_SA15
#[LABEL] C_STATE_21  TEST_SYM_NIKE

[BUTTON]
[SETUP] PLAY_LOCK_TONE, C_TYPE_TOGGLE 450 900
[BUTTONIMAGE] C_STATE_0 LOCK_SOUND_UP
[BUTTONIMAGE] C_STATE_1 LOCK_SOUND_DOWN
[BUTTONIMAGE] C_STATE_DISABLED LOCK_SOUND_UP
#[LABELALL] TXT_RWR_TONE
#[LABELFLAGBITON] C_BIT_TOP
#[LABELFLAGBITON] C_BIT_HCENTER
[TEXTOFFSET] C_STATE_UP    0 -20
[TEXTCOLOR]  C_STATE_UP	230 230 230
[TEXTOFFSET] C_STATE_DOWN  0 -20
[TEXTCOLOR]  C_STATE_DOWN	0 255 0
[TEXTOFFSET] C_STATE_DISABLED  0 -20
[TEXTCOLOR]  C_STATE_DISABLED	120 120 120
[FONT] OCR_EXT_14
[UPCOLOR] 191 191 191
[DOWNCOLOR] 0 255 0 GREEN
[DISCOLOR] 102 102 102
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON